<div class="outer_container">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" >
        <header class="opsheader">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand"><img [src]="imageBaseLink + 'img/ops_logo.png'"></a>
                    </div>
                </div>
            </nav>
        </header>
        <section class="container-fluid ops_signup2">
            <div class="container">
                <div class="row ops_signup_step2">
                    <div class="step2_main_heading text-center">Select Your Profile type</div>
                    <div class="step2_main_heading2 text-center">You can select any one or all types, based on your profiles.</div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="step2_selection small_pen" *ngFor="let artist of artistType; let i=index" >
                                    <label for="{{'check'+i}}">
                                        <input type="checkbox" [attr.id]="'check'+i" [value]="artist.name" (change)="onChange(artist.name, artist.typeName, $event.target.checked)">
                                        <div class="reg_profile_types">
                                            <div class="reg_step2_box">
                                            <img [src]="artist.image" class="img-responsive margin_t_16">
                                                <div class="step2_heading">{{artist.name}}</div>
                                                <div class="step2_txt">{{artist.description}}</div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="ops_checkbox_lg">
                                <p class="small_w100-clb">Click continue to add your skills.</p>
                                <button [className]="'btn btn-network btn-sm'" [type]="'submit'" [disabled]="!activateSubmitBtn" [ngClass]="{'active-btn': activateSubmitBtn}" >CONTINUE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>