<div class="col-md-12 reg_add_skills_sec">
  <div class="row">
      <h3 class="col-md-9">Channels to follow</h3>
      <div class="col-md-3">
          <p class="pull-right">
              <a href="">
                  <i class="fa fa-angle-left faicon" aria-hidden="true"></i>
              </a>
              <a href="">
                  <i class="fa fa-angle-right faicon" aria-hidden="true"></i>
              </a>
          </p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let channel of ChannelFollow; let i=index">
      <div class="reg_add_skills_channel">
          <div class="reg_channel_img">
              <img [src]="channel.conver_image">
          </div>
          <div class="reg_channel_contant">
              <h3>{{channel.handle_name}}</h3>
              <div class="reg_channel_contant_img">
                  <img [src]="channel.owner_image" class="img-circle img-responsive">
              </div>
              <h4>{{channel.owner_name}}</h4>
          </div>
          <hr>
          <div class="reg_channel_contant">
              <button type="button" class="btn btn-xs btn-primary btn-plus">
                  <span class="btn-label-follow">
                      <i class="fa fa-check" aria-hidden="true"></i>
                  </span> Following
              </button>
              <p class="pull-right">{{channel.followers}}</p>
          </div>
      </div>
    </div>
  </div>
</div>






