<div class="container about-sub-block">
  <div class="row">
    <div class="col-md-12 col-sm-12 padding_0">
      <div class="panel-group">
        <div class="panel panel-default ops_about">
          <div class="panel-heading home_tabs">
            <ul class="nav nav-tabs">
              <li><a [routerLink]="['bio']" routerLinkActive="active">bio</a></li>
              <li><a [routerLink]="['work']" routerLinkActive="active">work</a></li>
              <li><a [routerLink]="['awards']" routerLinkActive="active">awards</a></li>
              <li><a [routerLink]="['education']" routerLinkActive="active">education</a></li>
              <li><a [routerLink]="['contact']" routerLinkActive="active">contact</a></li>
            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
