<!-- opportunity card -->
<div class="c-card">
    <div class="c-card__project p-l-r-16 p-t-16">
        <img [src]="baseUrl + 'img/svg/audition.svg'" class="c-card__project--icon">
        <span class="m-l-8">{{ opportunity?.opportunityType | firstCharCaps }}</span>
    </div>
    <div class="c-card__body">
        <div class="c-text_lg">{{ opportunity?.opportunityRole }}</div>
        <div *ngIf="opportunity?.organization" class="c-text_sm p-t-b-16 color-grey-dark">{{ opportunity?.organization }}</div>
        <div *ngIf="!opportunity?.organization" class="c-text_sm p-t-b-16 color-grey-dark">&nbsp;</div>
    </div>
    <div class="c-card__location p-b-16 with_border_bottom">
        <img [src]="baseUrl + 'img/svg/ico_location2.svg'">
        <p class="c-card__location--text">{{ opportunity?.location }}</p>
    </div>
    <div routerLink="{{ '/profile/u/' + opportunity?.ownerUsername }}" class="c-card__opportunity__user with_border_bottom">
        <a class="c-user__avatar c-avatar--feed">
            <img class="c-user__image" [src]="baseUrl + opportunity?.ownerImage">
        </a>
        <a class="c-card__opportunity__username">{{ opportunity?.ownerUsername }}</a>
    </div>
    <div class="c-card__links">
        <div class="c-links">
            <div class="c-links__comments">
                <img [src]="baseUrl + 'img/svg/ico_share-02.svg'" class="c-links__image">
            </div>
            <div class="c-links__actions">
                <a routerLink="/opportunity/view/{{ opportunity?.opportunityId }}" class="c-card__opportunity--view">View</a>
            </div>
        </div>
    </div>
</div>
<!-- // opportunity card -->