<div class="tab-content">
<div id="search_channel" class="tab-pane fade in active">
    <div class="row pro_channel2">

        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="channel-avatar-full">
                            <img src="/assets/img/pro_block.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img2">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block2.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img3">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                            <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                        </div>
                        <div class="pro_channel-thumb">
                            <img src="/assets/img/avatar.jpg">
                            <p>Tobias Van Schneider</p>
                        </div>
                        <div class="pro_channel_count">
                            <span><img src="/assets/img/svg/ico_follower.svg"> 705</span>
                            <span><img src="/assets/img/svg/ico_post.svg"> 705</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="channel-avatar-full">
                            <img src="/assets/img/pro_block.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img2">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block2.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img3">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <h3 class="feed-heading float-left">How to Fly A Private Jet on Your Next Trip</h3>
                            <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                        </div>
                        <div class="pro_channel-thumb">
                            <img src="/assets/img/avatar.jpg">
                            <p>Tobias Van Schneider</p>
                        </div>
                        <div class="pro_channel_count">
                            <span><img src="/assets/img/svg/ico_follower.svg"> 705</span>
                            <span><img src="/assets/img/svg/ico_post.svg"> 705</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="channel-avatar-full">
                            <img src="/assets/img/pro_block.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img2">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block2.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img3">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                            <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                        </div>
                        <div class="pro_channel-thumb">
                            <img src="/assets/img/avatar.jpg">
                            <p>Tobias Van Schneider</p>
                        </div>
                        <div class="pro_channel_count">
                            <span><img src="/assets/img/svg/ico_follower.svg"> 705</span>
                            <span><img src="/assets/img/svg/ico_post.svg"> 705</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="channel-avatar-full">
                            <img src="/assets/img/pro_block.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img2">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block2.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img3">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                            <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                        </div>
                        <div class="pro_channel-thumb">
                            <img src="/assets/img/avatar.jpg">
                            <p>Tobias Van Schneider</p>
                        </div>
                        <div class="pro_channel_count">
                            <span><img src="/assets/img/svg/ico_follower.svg"> 705</span>
                            <span><img src="/assets/img/svg/ico_post.svg"> 705</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="channel-avatar-full">
                            <img src="/assets/img/pro_block.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img2">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block2.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img3">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <h3 class="feed-heading float-left">Virginia Travel For Kids </h3>
                            <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                        </div>
                        <div class="pro_channel-thumb">
                            <img src="/assets/img/avatar.jpg">
                            <p>Tobias Van Schneider</p>
                        </div>
                        <div class="pro_channel_count">
                            <span><img src="/assets/img/svg/ico_follower.svg"> 705</span>
                            <span><img src="/assets/img/svg/ico_post.svg"> 705</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="channel-avatar-full">
                            <img src="/assets/img/pro_block.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img2">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block2.jpg">
                        </figure>
                    </div>
                    <div class="col-md-6 col-sm-6 pro_channel_img3">
                        <figure class="channel-avatar-helf">
                            <img src="/assets/img/pro_block3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <h3 class="feed-heading float-left">Travelagent India</h3>
                            <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                        </div>
                        <div class="pro_channel-thumb">
                            <img src="/assets/img/avatar.jpg">
                            <p>Tobias Van Schneider</p>
                        </div>
                        <div class="pro_channel_count">
                            <span><img src="/assets/img/svg/ico_follower.svg"> 705</span>
                            <span><img src="/assets/img/svg/ico_post.svg"> 705</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
 </div>
