@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_helpers.scss';
// channel list 

.org-channel-show-block{
	width: 100%;
	float: left;
}
.org-channel-show__thumb{
  width: 40px;
  height: 40px;
//   background: url(./../img/interest.jpg) no-repeat;
  background-size: cover;
  float: left;
  border-radius: 3px;
  overflow: hidden;
}
.org-channel-show__name{
	float: left;
}
.letter_space{
	letter-spacing: 1px;
}

