<app-navigation></app-navigation>
<app-org-coverblock></app-org-coverblock>


<!-- img modal popup -->
<div id="imgModal" class="modal fade media_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <span class="pop-close pop-close--mt">
          <a href="" data-dismiss="modal"><img src="https://d33wubrfki0l68.cloudfront.net/e85a9c443cca11a2d6a6aca634490f2f2e6bdc55/44c4b/img/svg/ico_close-38.svg" alt=""></a>
        </span>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-8 media_left with_border_right">
                        <div class="media_img_block">
                            <figure class="avatar_media_img">
                                <img src="img/art_img.jpg">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 media_right">
                        <div class="media_img_content">
                            <ul class="width100">
                                <li class="list_style_none">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float-left">
                                            <figure class="avatar_media_user">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item float-left">
                                            <div class="media_name">Tobias Van Schneider</div>
                                            <div class="media_sub_head">Color and Hues <span class="media_time">10:09 PM 3 JUL, 2017</span></div>
                                        </li>
                                        <li class="list-inline-item media_user_icons">
                                            <a href=""><img src="img/svg/ico_edit.svg"></a>
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                <img src="img/svg/ico_options.svg">
                                            </a>
                                                <ul class="dropdown-menu report_block_drop">
                                                    <li>
                                                        <a href="#" data-toggle="modal" data-target="#reportmodal">Report</a>
                                                    </li>
                                                </ul>

                                        </li>
                                    </ul>
                                </li>
                                <li class="list_style_none float-left">
                                    <div class="media_detail_block">
                                        <h2 class="ops_heading">Counting Your Chicken Before The Hatch</h2>
                                        <p class="ops_subheading">
                                            As soon as Computerized Tomography or CT scans became accessible in the 1970s, they reformed the practice of neurology. They did the scans by transmitting <span class="text-theme">#x-ray</span> streams all the way through the head at diffrent positions and accumulating. <span class="text-theme pull-right">More..</span>
                                        </p>
                                        <button type="button" class="btn btn-tag btn-sm">web</button>
                                        <button type="button" class="btn btn-tag btn-sm">webdesign</button>
                                        <button type="button" class="btn btn-tag btn-sm">ui/ux</button>
                                        <button type="button" class="btn btn-tag btn-sm">typography</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="media_like_count">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_lik.svg"></a>
                                    <div class="like_count">108</div>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_comment.svg"></a>
                                    <div class="like_count">10</div>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href=""><img src="img/svg/ico_share-02.svg"></a>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href="" data-toggle="modal" data-target="#add_to_channel"><img src="img/svg/ico_addtochannel.svg"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comment_input fill_grey">
                            <ul class="msg_to_list list_style_none">
                                <li class="with_border_bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float_left">
                                            <figure class="avatar_media_user2">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item msg_to_input">
                                            <div class="form_group">
                                                <input class="form_input" type="text" required="">
                                                <span class="form_highlight"></span>
                                                <span class="form_bar"></span>
                                                <label>Comment Here</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comments_section" id="ops_scrollbar">
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">-</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">--</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">--<span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">---.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">--</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">-<span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">------</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>
                            </ul>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //img modal popup -->
<!-- video modal popup -->
<div id="videoModal" class="modal fade media_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <span class="pop-close pop-close--mt">
          <a href="" data-dismiss="modal"><img src="https://d33wubrfki0l68.cloudfront.net/e85a9c443cca11a2d6a6aca634490f2f2e6bdc55/44c4b/img/svg/ico_close-38.svg" alt=""></a>
        </span>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-8 media_left with_border_right">
                        <div class="media_img_block">
                            <figure class="avatar_media_img">
                                <video controls="">
                                    <source src="video/dance.mp4" type="video/mp4">
                                </video>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 media_right">
                        <div class="media_img_content">
                            <ul class="width100">
                                <li class="list_style_none">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float-left">
                                            <figure class="avatar_media_user">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item float-left">
                                            <div class="media_name">Tobias Van Schneider</div>
                                            <div class="media_sub_head">Color and Hues <span class="media_time">10:09 PM 3 JUL, 2017</span></div>
                                        </li>
                                        <li class="list-inline-item media_user_icons">
                                            <a href=""><img src="img/svg/ico_edit.svg"></a>
                                            <a href=""><img src="img/svg/ico_options.svg"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list_style_none float-left">
                                    <div class="media_detail_block">
                                        <h2 class="ops_heading">Counting Your Chicken Before The Hatch</h2>
                                        <p class="ops_subheading">
                                            As soon as Computerized Tomography or CT scans became accessible in the 1970s, they reformed the practice of neurology. They did the scans by transmitting <span class="text-theme">#x-ray</span> streams all the way through the head at diffrent positions and accumulating. <span class="text-theme pull-right">More..</span>
                                        </p>
                                        <button type="button" class="btn btn-tag btn-sm">web</button>
                                        <button type="button" class="btn btn-tag btn-sm">webdesign</button>
                                        <button type="button" class="btn btn-tag btn-sm">ui/ux</button>
                                        <button type="button" class="btn btn-tag btn-sm">typography</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="media_like_count">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_lik.svg"></a>
                                    <div class="like_count">108</div>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_comment.svg"></a>
                                    <div class="like_count">10</div>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href=""><img src="img/svg/ico_share-02.svg"></a>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href="" data-toggle="modal" data-target="#add_to_channel"><img src="img/svg/ico_addtochannel.svg"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comment_input fill_grey">
                            <ul class="msg_to_list list_style_none">
                                <li class="with_border_bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float_left">
                                            <figure class="avatar_media_user2">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item msg_to_input">
                                            <div class="form_group">
                                                <input class="form_input" type="text" required="">
                                                <span class="form_highlight"></span>
                                                <span class="form_bar"></span>
                                                <label>Comment Here</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comments_section" id="ops_scrollbar">
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">As soon as computerized tomography or CT scans became accessible in the 1970s.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">Lorem Ipsum is simply dummy text</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>
                            </ul>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //video modal popup -->
<!-- audio modal popup -->
<div id="audioModal" class="modal fade media_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <span class="pop-close pop-close--mt">
          <a href="" data-dismiss="modal"><img src="https://d33wubrfki0l68.cloudfront.net/e85a9c443cca11a2d6a6aca634490f2f2e6bdc55/44c4b/img/svg/ico_close-38.svg" alt=""></a>
        </span>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-8 media_left with_border_right">
                        <div class="media_img_block">
                            <figure class="avatar_media_img">
                                <img src="img/audio.jpg">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 media_right">
                        <div class="media_img_content">
                            <ul class="width100">
                                <li class="list_style_none">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float-left">
                                            <figure class="avatar_media_user">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item float-left">
                                            <div class="media_name">Tobias Van Schneider</div>
                                            <div class="media_sub_head">Color and Hues <span class="media_time">10:09 PM 3 JUL, 2017</span></div>
                                        </li>
                                        <li class="list-inline-item media_user_icons">
                                            <a href=""><img src="img/svg/ico_edit.svg"></a>
                                            <a href=""><img src="img/svg/ico_options.svg"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list_style_none float-left">
                                    <div class="media_detail_block">
                                        <h2 class="ops_heading">Counting Your Chicken Before The Hatch</h2>
                                        <p class="ops_subheading">
                                            As soon as Computerized Tomography or CT scans became accessible in the 1970s, they reformed the practice of neurology. They did the scans by transmitting <span class="text-theme">#x-ray</span> streams all the way through the head at diffrent positions and accumulating. <span class="text-theme pull-right">More..</span>
                                        </p>
                                        <button type="button" class="btn btn-tag btn-sm">web</button>
                                        <button type="button" class="btn btn-tag btn-sm">webdesign</button>
                                        <button type="button" class="btn btn-tag btn-sm">ui/ux</button>
                                        <button type="button" class="btn btn-tag btn-sm">typography</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="media_like_count">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_lik.svg"></a>
                                    <div class="like_count">108</div>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_comment.svg"></a>
                                    <div class="like_count">10</div>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href=""><img src="img/svg/ico_share-02.svg"></a>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href="" data-toggle="modal" data-target="#add_to_channel"><img src="img/svg/ico_addtochannel.svg"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comment_input fill_grey">
                            <ul class="msg_to_list list_style_none">
                                <li class="with_border_bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float_left">
                                            <figure class="avatar_media_user2">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item msg_to_input">
                                            <div class="form_group">
                                                <input class="form_input" type="text" required="">
                                                <span class="form_highlight"></span>
                                                <span class="form_bar"></span>
                                                <label>Comment Here</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comments_section" id="ops_scrollbar">
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">As soon as computerized tomography or CT scans became accessible in the 1970s.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">Lorem Ipsum is simply dummy text</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>
                            </ul>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //audio modal popup -->
<!-- Article modal popup -->
<div id="articleModal" class="modal fade media_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <span class="pop-close pop-close--mt">
          <a href="" data-dismiss="modal"><img src="https://d33wubrfki0l68.cloudfront.net/e85a9c443cca11a2d6a6aca634490f2f2e6bdc55/44c4b/img/svg/ico_close-38.svg" alt=""></a>
        </span>
        <!-- Modal content-->
        <div class="modal-content article_modal_content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-8 media_left with_border_right">
                        <div class="media_article_block">
                            <div class="article_heading">Where does it come from?</div>
                            <div class="article_details">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                            <div class="avatar_article_img">
                                <img src="img/article.jpg">
                            </div>
                            <div class="article_details">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</div>
                            <div class="article_heading">The standard Lorem Ipsum passage, used since the 1500s</div>
                            <div class="article_details">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br><br>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 media_right">
                        <div class="media_img_content">
                            <ul class="width100">
                                <li class="list_style_none">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float-left">
                                            <figure class="avatar_media_user">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item float-left">
                                            <div class="media_name">Tobias Van Schneider</div>
                                            <div class="media_sub_head">Color and Hues <span class="media_time">10:09 PM 3 JUL, 2017</span></div>
                                        </li>
                                        <li class="list-inline-item media_user_icons">
                                            <a href=""><img src="img/svg/ico_edit.svg"></a>
                                            <a href=""><img src="img/svg/ico_options.svg"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list_style_none float-left width100 margin_t_16">
                                    <div class="media_detail_block">
                                        <button type="button" class="btn btn-tag btn-sm">web</button>
                                        <button type="button" class="btn btn-tag btn-sm">webdesign</button>
                                        <button type="button" class="btn btn-tag btn-sm">ui/ux</button>
                                        <button type="button" class="btn btn-tag btn-sm">typography</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="media_like_count">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_lik.svg"></a>
                                    <div class="like_count">108</div>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><img src="img/svg/ico_comment.svg"></a>
                                    <div class="like_count">10</div>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href=""><img src="img/svg/ico_share-02.svg"></a>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <a href="" data-toggle="modal" data-target="#add_to_channel"><img src="img/svg/ico_addtochannel.svg"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comment_input fill_grey">
                            <ul class="msg_to_list list_style_none">
                                <li class="with_border_bottom">
                                    <ul class="list-inline">
                                        <li class="list-inline-item float_left">
                                            <figure class="avatar_media_user2">
                                                <img src="img/avatar.jpg">
                                            </figure>
                                        </li>
                                        <li class="list-inline-item msg_to_input">
                                            <div class="form_group">
                                                <input class="form_input" type="text" required="">
                                                <span class="form_highlight"></span>
                                                <span class="form_bar"></span>
                                                <label>Comment Here</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="media_comments_section">
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">As soon as computerized tomography or CT scans became accessible in the 1970s.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                            </ul>
                        </div>
                        <div class="media_img_comments with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item float_left">
                                <figure class="avatar_media_user2">
                                    <img src="img/avatar.jpg">
                                </figure>
                                </li>
                                <li class="list-inline-item">
                                    <div class="head_name">Zane Lowe</div>
                                </li>
                                <li class="list-inline-item pull-right padding_0">
                                    <div class="comm_post_time">10:09 PM <span>
                                        <a href=""><img src="img/svg/ico_options.svg"></a></span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline media_comments_block">
                                <li class="list-inline-item">Lorem Ipsum is simply dummy text</li>
                            </ul>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- //Article modal popup -->


<!-- media report pop -->
<div class="modal fade" id="reportmodal" role="dialog">
    <!-- report confirm -->
    <div class="modal-dialog modal-lg " id="report_thank">
        <!-- Modal content-->
        <div class="modal-content report_container">
            <div class="report_pop_head with_border_bottom">
              <h3>Report</h3>
              <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
              <span class="search_close">
                  <a href="" data-dismiss="modal"><img src="img/svg/ico_close-38.svg" alt=""></a>
              </span>
            </div>
            <div class="report_content_sec">
              <div class="msg_report_container">
                <p class="msg_report_txt">Thanks for letting us know</p>
                <p>You will no longer be able to see the post.</p>
              </div>
            </div>
            <div class="report_bottom">
                <div class="text-center">
                  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" >Okey</button>
                </div>
            </div>
        </div>
    </div>
    <!-- report confirm end -->
    <div class="modal-dialog modal-lg" id="report_1">
        <!-- Modal content-->
        <div class="modal-content report_container">
            <div class="report_pop_head with_border_bottom">
                <h3>Report</h3>
                <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
                <span class="search_close">
                    <a href="" data-dismiss="modal"><img src="img/svg/ico_close-38.svg" alt=""></a>
                </span>
            </div>
            <div class="report_content_sec">
                <p>
                  Help us understand the problem.
                </p>
                <ul>
                    <li>
                        <div class="ops_radio_sm">
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Not marked as adult content </div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Drug advocacy</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Child pornography</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Violence or extremism </div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Copyright violation</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Trademark violation</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Others</div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="report_bottom">
                <div class="text-center">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" onclick="nextClicked()" >Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
