<app-navigation></app-navigation>
<app-org-coverblock></app-org-coverblock>

<!-- media report pop -->
<div class="modal fade" id="reportmodal" role="dialog">
    <!-- report confirm -->
    <div class="modal-dialog modal-lg " id="report_thank">
        <!-- Modal content-->
        <div class="modal-content report_container">
            <div class="report_pop_head with_border_bottom">
                <h3>Report</h3>
                <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
                <span class="search_close">
                  <a href="" data-dismiss="modal"><img src="{{ imageBaseLink }}img/svg/ico_close-38.svg" alt=""></a>
              </span>
            </div>
            <div class="report_content_sec">
                <div class="msg_report_container">
                    <p class="msg_report_txt">Thanks for letting us know</p>
                    <p>You will no longer be able to see the post.</p>
                </div>
            </div>
            <div class="report_bottom">
                <div class="text-center">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Okey</button>
                </div>
            </div>
        </div>
    </div>
    <!-- report confirm end -->
    <div class="modal-dialog modal-lg" id="report_1">
        <!-- Modal content-->
        <div class="modal-content report_container">
            <div class="report_pop_head with_border_bottom">
                <h3>Report</h3>
                <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
                <span class="search_close">
                    <a href="" data-dismiss="modal"><img src="{{ imageBaseLink }}img/svg/ico_close-38.svg" alt=""></a>
                </span>
            </div>
            <div class="report_content_sec">
                <p>
                    Help us understand the problem.
                </p>
                <ul>
                    <li>
                        <div class="ops_radio_sm">
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Not marked as adult content </div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Drug advocacy</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Child pornography</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Violence or extremism </div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Copyright violation</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Trademark violation</div>
                            </label>
                            <label class="col-md-12">
                                <input name="demo" type="radio"><span></span>
                                <div class="radio-text">Others</div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="report_bottom">
                <div class="text-center">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" onclick="nextClicked()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>