<section class="obj-log_reg ng-scope" >
	<div class="container">
        <div class="row form_container">
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_none">
        		<!-- login left -->
                <div class="login_left">
        			<div class="logo">
						<h1>Logo</h1>
					</div><!-- logo end div -->
					<div class="discription_area">
        				<h1>Lorem Ipsium</h1>
        				<p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
							sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam
        				</p>
        			</div>
        			<div class="create_acc">
        				<p>Don't have an account? <a href="#registration">Sign up Here</a></p>
        			</div>
        		</div>
                <!-- login left end -->
        	</div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_none">
                <form class="login_right ng-pristine ng-invalid ng-invalid-required" name="forgotPass" novalidate="">
                <h2>Forgot Password</h2>
                <!-- validation comments display -->

                <!-- validation comments display end -->
                <label><input type="text" name="email" value="" placeholder="Email" required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"></label>
                <label class="ng-hide"><p style="color: red">* Email is required.</p></label>
                <label><input type="submit" name="" style="height: auto;" value="Send">&nbsp;<!-- ngIf: checkingCredentials --></label>
                </form><!-- login right end -->
            </div>
        </div>
	</div>
</section>
