<div class="bookmark">
    <div class="bookmark__media">
        <div class="bookmark__media__img">
            <!-- <img src="https://ops-v2-2.netlify.com/assets/demo/e2.jpg" alt=""> -->
        </div>
    </div>
    <div class="bookmark__info">
        <div class="bookmark-info__media-type">
            <div class="bookmark-media-type__label">Event
                <div class="bookmark-delet">
                    <div class="bookmark-delet__icon">
                        <img src="https://ops-v2-2.netlify.com/assets/svg/ico_close-38.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="bookmark-info__discription">
                <div class="c-text_lg f-w_600">
                    Why read motivational sayings? For motivation! 
                    <div class="o-bookmarkevent__detail">
                        <div class="o-bookmarkevent__date">
                            <img src="https://ops-v2-2.netlify.com/assets/svg/calendar.svg" class="o-bookmarkevent__detail--img"> 
                            30, Dec, 2018
                        </div>
                        <div class="o-bookmarkevent__address">
                            <img src="https://ops-v2-2.netlify.com/assets/svg/ico_location2.svg" class="o-bookmarkevent__detail--img"> Bengaluru, India
                        </div>
                    </div>
                </div>
            </div>
            <div class="bookmark-info__post-detail">
                <div class="bookmark-post-detail__user-info">
                    <a href="profile_others.html" class="bookmark-user-link">
                        <div class="bookmark-user-info__prof-pic">
                            <img src="https://ops-v2-2.netlify.com/assets/demo/avatar.jpg" alt="">
                        </div>
                        <div class="bookmark-user-info__user-name">
                            Alfred Adkins
                        </div>
                    </a>
                </div>
            </div>
            <div class="bookmark-info__action">
                <a href="#" class="bookmark-info__view-link">
                    View
                </a>
            </div>
        </div>
    </div>
</div>