<app-navigation></app-navigation>
<section class="bookmark-sec">
  <div class="container p-0">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="bookmark-title">
        <div class="bookmark-title__icon">
          <img src="https://ops-v2-2.netlify.com/assets/svg/bookmarkpage.svg" alt="">
        </div>
        <div class="bookmark-title__name">Bookmark
          <a class="bookmark-filter"><img src="https://ops-v2-2.netlify.com/assets/svg/fiter.svg" alt=""></a>
        </div>
      </div>
      <div id="bookmark-tabs" class="bookmark-tabs">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a routerLink="all" aria-expanded="true">All <div class="o-bookmark__count"></div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="image" aria-expanded="false">Images <div class="o-bookmark__count"></div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="video" aria-expanded="false">Video <div class="o-bookmark__count"></div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="audio" aria-expanded="false">Audio <div class="o-bookmark__count"></div></a>
          </li>
          <!-- <li routerLinkActive="active">
                        <a routerLink="" aria-expanded="false">Blog <div class="o-bookmark__count"></div></a>
                    </li> -->
          <li routerLinkActive="active">
            <a routerLink="opportunity" aria-expanded="false">Opportunity <div class="o-bookmark__count"></div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="event" aria-expanded="false">Events <div class="o-bookmark__count"></div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="profile" aria-expanded="false">Profile <div class="o-bookmark__count"></div></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="tab-content">
        <div class="tab-pane fade active in">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
