<h2>{{channelData?.ownerName}}</h2>

<!-- <div class="{{className}} ops_channel_card">
  <div class="col-md-12 col-sm-12 ops_channel_block">
    <div class="row">
      <div class="col-md-12 col-sm-12 ops_channel_top">
        <a [routerLink]="['/channel', channelData?.spotfeedId]">
          <div *ngFor="let item of channelData?.media | slice:0:3; let i=index" class="channel_avatar_full sec__{{ i}}">
            <img *ngIf="checkFileType(item.repoPath, 'Image')" src="{{ 'http://d206s58i653k1q.cloudfront.net/'  + item.repoPath }}">
            <app-videplayer *ngIf="checkFileType(item.repoPath, 'Video')" src="{{ 'http://d206s58i653k1q.cloudfront.net/' + item.repoPath }}"></app-videplayer>
          </div>
        </a>
      </div>

      <div class="col-md-12 col-sm-12 pro_channel_cont">
          <div class="channel_name">
            <a [routerLink]="['/channel', channelData?.spotfeedId]">
              <h3 class="channel_heading float-left">{{channelData?.spotfeedName}}</h3>
            </a>
              <span>
            <a ><img class="float-right" src="/assets/img/svg/ico_options.svg"></a>
          </span>
          </div>
          <div class="channel-thumb">
              <img src="{{ 'http://d206s58i653k1q.cloudfront.net/' + channelData?.ownerImage }}">
              <p>{{channelData?.ownerName}}</p>
          </div>
          <div class="channel_count">
              <span><img src="/assets/img/svg/ico_follower.svg"> {{channelData?.followersCount}}</span>
              <span><img src="/assets/img/svg/ico_post.svg">{{channelData?.mediaCount}}</span>
              
          </div>
      </div>
    </div>
  </div>
</div> -->
