@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_feed-card.scss';
// channel header block style  ----------------------------------------
.c-channel__heading {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    &:hover {
        color: #000;
    }
}

// channel media block style  ----------------------------------------
.c-channel__media {
    width: 100%;
}

.c-channel__sec {
    width: 50%;
    float: left;
}

.c-channel__left {
    width: 98%;
    height: 122px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    background-size: cover;
    background-position: inherit;
}

.c-channel__right1 {
    width: 100%;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    background-size: cover;
    background-position: inherit;
}

.c-channel__right2 {
    width: 100%;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    background: #f8f8f8;
    background-size: cover;
    background-position: inherit;
}

// channel footer block style ------------------------------
.c-links__post {
    color: #929292;
    font-size: 11px;
    line-height: 18px;
    margin-right: 8px;
}


.c-followers {
    width: 50%;
    display: flex;
    margin-top: 8px;
    float: left;
}

.c-followers__img {
    height: 25px;
    width: 25px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.c-followers__count {
    color: #929292;
    font-size: 11px;
    line-height: 28px;
    display: inline-block;
    margin-left: 8px;
}

.c-channel__btn {
    width: 50%;
    float: left;
    margin-top: 10px;
}

img.c-card__image{
    width: 100%;
}

.c-channel__btn{
    width: 50%;
    float: left;
    margin-top: 10px;
}

.width24{
    width: 24px;
}

// -------------------------


// .c-card {
//   width: 100%;
//   height: auto;
//   float: left;
//   border-radius: 3px;
//   box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
//   background-color: #ffffff;
//   overflow: hidden;
//   padding: 0;
//   // margin-bottom: 25px;
// }

// .c-card--feed {
//   width: 25%;
//   height: auto;
//   float: left;
//   padding: 8px;
// }

// // feed card media block style ----------------------------
// .c-audio__media {
//   width: 94%;
//   height: 256px;
//   overflow: hidden;
//   margin: 0 8px;
//   position: relative;
//   border-radius: 3px;
// }

// .c-audio__image {
//   width: 100%;
// }

// .c-audio__icons {
//   width: 100%;
//   position: absolute;
//   top: 110px;
//   text-align: center
// }

// .c-audio__action {
//   vertical-align: middle;
//   margin: 0 16px;
//   filter: drop-shadow(0px 0px 3px #222);
// }

// // feed card body block style ------------------------------------
// .c-card__body {
//   width: 100%;
//   float: left;
//   clear: both;
//   padding: 16px;
//   position: relative;
// }

// .c-card__heading {
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 1.36;
//   text-align: left;
//   margin: 0;
//   padding: 0;
//   color: #333;
//   text-transform: uppercase;
//   &:hover {
//     color: #333;
//   }
// }

// .c-card__desc {
//   font-size: 12px;
//   font-weight: 600;
//   color: #979797;
// }

// .c-card__options {
//   position: absolute;
//   top: 10px;
//   right: 0px;
//   margin: 10px;
//   line-height: 0px;
//   width: 14px;
//   background: #ffffff;
// }

// //feed card footer (links) block style --------------------------
// .c-card__links {
//   width: 100%;
//   float: left;
//   padding: 16px;
//   border-top: 1px solid #EFEFEF;
// }

// .c-links {
//   font-size: 12px;
//   font-weight: 600;
//   text-align: left;
//   color: #333333;
//   line-height: 17px;
// }

// .c-links__spots {
//   display: inline;
//   float: left;
//   margin-right: 24px;
//   cursor: pointer;
// }

// .c-links__image {
//   width: 14px;
//   float: left;
// }

// .c-links__count {
//   float: left;
//   margin-top: -2px;
//   margin-left: 6px;
// }

// .c-links__comments {
//   display: inline;
//   float: left;
//   margin-right: 24px;
//   cursor: pointer;
// }

// .c-links__actions {
//   text-align: right;
// }

// .c-action__image {
//   width: 14px;
//   margin-left: 8px;
// }

// //feed card status block style --------------------------
// .c-user__status {
//   color: #333;
//   font-size: 18px;
//   font-weight: 600;
//   line-height: 31px;
// }

// // card user block ------------------
// .c-card__user {
//   margin-top: 16px;
// }

// .c-user__avatar {
//   display: inline-block;
//   vertical-align: middle;
//   overflow: hidden;
//   position: relative;
//   box-sizing: border-box;
//   background: #f8f8f8;
//   cursor: pointer;
//   border-radius: 50px;
//   float: left;
// }

// .c-avatar--feed {
//   width: 24px;
//   height: 24px;
// }

// .c-user__image {
//   width: 100%
// }

// .c-user__name {
//   font-size: 14px;
//   font-weight: 600;
//   text-align: left;
//   color: #000;
//   margin-left: 8px;
//   margin-top: 2px;
//   float: left;
//   cursor: pointer;
//   &:hover {
//     color: #000;
//   }
// }

// .c-user__channel {
//   font-size: 12px;
//   font-weight: 600;
//   color: #979797;
//   display: block;
//   margin-left: 32px;
//   clear: both;
//   cursor: pointer;
//   &:hover {
//     color: #979797;
//   }
// }

// .c-card__image {
//   width: 100%;
//   vertical-align: middle;
//   outline: none;
// }

// // channel header block style  ----------------------------------------
// .c-channel__heading {
//   color: #333333;
//   font-size: 16px;
//   font-weight: 600;
//   line-height: 19px;
//   &:hover {
//     color: #000;
//   }
// }

// // channel media block style  ----------------------------------------
// .c-channel__media {
//   width: 100%;
// }

// .c-channel__sec {
//   width: 50%;
//   float: left;
// }

// .c-channel__left {
//   width: 98%;
//   height: 122px;
//   display: inline-block;
//   vertical-align: middle;
//   overflow: hidden;
//   position: relative;
//   box-sizing: border-box;
//   background: #f8f8f8;
// }

// .c-channel__right1 {
//   width: 100%;
//   height: 60px;
//   display: inline-block;
//   vertical-align: middle;
//   overflow: hidden;
//   position: relative;
//   box-sizing: border-box;
//   background: #f8f8f8;
// }

// .c-channel__right2 {
//   width: 100%;
//   height: 60px;
//   display: inline-block;
//   vertical-align: middle;
//   overflow: hidden;
//   position: relative;
//   box-sizing: border-box;
//   margin-top: 2px;
//   background: #f8f8f8;
// }

// // channel footer block style ------------------------------
// .c-links__post {
//   color: #979797;
//   font-size: 12px;
//   line-height: 17px;
//   font-weight: 600;
//   margin-right: 8px;
// }

// .c-channel__btn {
//   margin-top: 8px;
// }

// // -------------------------

// .btn-normal {
//   color: #ffffff;
//   background-color: #c1c1c1;
//   border-color: #c1c1c1;
// }


// .btn-following {
//   font-weight: 500;
//   font-size: 12px;
//   border-radius: 3px;
// }

// .btn-follow {
//   padding: 0px 9px 0px 1px;
//   font-weight: 500;
//   font-size: 12px;
//   border-radius: 3px;
// }

// .dropdown-menu.c-channel-option {
//   right: 0;
//   left: auto;
//   top: 95%;
// }
