@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_feed-card.scss';
// channel header block style  ----------------------------------------
.c-channel__heading {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    &:hover {
        color: #000;
    }
}

// channel media block style  ----------------------------------------
.c-channel__media {
    width: 100%;
}

.c-channel__sec {
    width: 50%;
    float: left;
}

.c-channel__left {
    width: 98%;
    height: 122px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    background-size: cover;
    background-position: inherit;
}

.c-channel__right1 {
    width: 100%;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    background-size: cover;
    background-position: inherit;
}

.c-channel__right2 {
    width: 100%;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    background: #f8f8f8;
    background-size: cover;
    background-position: inherit;
}

// channel footer block style ------------------------------
.c-links__post {
    color: #929292;
    font-size: 11px;
    line-height: 18px;
    margin-right: 8px;
}


.c-followers {
    width: 50%;
    display: flex;
    margin-top: 8px;
    float: left;
}

.c-followers__img {
    height: 25px;
    width: 25px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.c-followers__count {
    color: #929292;
    font-size: 11px;
    line-height: 28px;
    display: inline-block;
    margin-left: 8px;
}

.c-channel__btn {
    width: 50%;
    float: left;
    margin-top: 10px;
}

img.c-card__image{
    width: 100%;
}

.c-channel__btn{
    width: 50%;
    float: left;
    margin-top: 10px;
}

.width24{
    width: 24px;
}
