<div class="c-card m-t-8">
    <div class="c-status--block">
        <div class="c-card__user margin_none">
            <div class="c-user">
                <a *ngIf = "!mediaData?.isOwner">
                    <a class="c-user__avatar c-avatar--status" [routerLink]="'/profile/u/' + mediaData?.ownerUserName">
                        <img class="c-user__image" [src]="userImage">
                    </a>
                    <a [routerLink]="'/profile/u/' + mediaData?.ownerUserName" class="c-user__name c-user--align">{{ mediaData?.ownerName | truncate:[200, '...'] }}</a>
                    <a [routerLink]="'/channel/' + mediaData?.channelId" class="c-user__channel2 c-user__channel-align">{{ mediaData?.channelName }}</a>
                </a>
                <a  *ngIf = "mediaData?.isOwner">
                    <a routerLink="/profile" class="c-user__avatar c-avatar--status">
                        <img class="c-user__image" [src]="userImage">
                    </a>
                    <a routerLink="/profile" class="c-user__name c-user--align">{{ mediaData?.ownerName | truncate:[40, '...'] }}</a>
                    <a [routerLink]="'/channel/' + mediaData?.channelId" class="c-user__channel2 c-user__channel-align">{{ mediaData?.channelName }}</a>
                </a>
            </div>
        </div>
        <div class="pull-right dropdown c-dropdown" appDropdown>
            <div class="c-post__time">{{ mediaData?.createdDate | utcDate | date:'d MMM h:m a'}}</div>
            <a>
                <img *ngIf="mediaData?.access === 1" [src]="imageLink + 'img/svg/ico_private.svg'" class="c-status__options">
                <!-- <img [src]="imageLink + 'img/svg/ico_public.svg'" *ngIf="mediaData?.access === 0" class="c-status__options"> -->
            </a>
            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" appDropdownOpen>
                    <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-status__options">
            </span>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="mediaData?.isOwner">
                <li>
                    <a (click)="onContentEdit($event)">Edit</a>
                </li>
                <li>
                    <a (click)="onContentDelete($event)">Delete</a>
                </li>
            </ul>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="!mediaData?.isOwner">
                <li>
                    <a (click)="reportModalOpen(mediaData.id)" data-toggle="modal" data-target="#reportmodal">Report</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-status--block" *ngIf="mediaData?.description && mediaData?.mtype === 'status' ">
        <div class="c-user__status">
            {{ mediaData?.description }}
        </div>
    </div>
    <div class="c-feed__img-status" *ngIf="checkFileType(mediaData?.repopath, 'Video') || checkFileType(mediaData?.repopath, 'Audio') || checkFileType(mediaData?.repopath, 'Image')">
        {{ mediaData?.description | truncate:[200, '...']}}
    </div>
    <div class="c-feed__img2" *ngIf="checkFileType(mediaData?.repopath, 'Video') || checkFileType(mediaData?.repopath, 'Audio') || checkFileType(mediaData?.repopath, 'Image')">
        <!-- <img [src]="imageLink + mediaData?.thumbNails?.large" class="img-responsive"> -->
        <!-- <app-audioplayer class="audio" *ngIf="checkFileType(mediaData?.repopath, 'Audio')" src="{{ imageLink + mediaData?.repopath }}"></app-audioplayer>
        <img *ngIf="checkFileType(mediaData?.repopath, 'Image')" src="{{ imageLink + mediaData?.repopath }}" class="img-responsive">
        <app-videplayer [play]="'true'" *ngIf="checkFileType(mediaData?.repopath, 'Video')" class="{{ imageLink + mediaData?.repopath }}" src="{{ imageLink +  mediaData?.repopath }}"></app-videplayer> -->
        <a [routerLink]="['', { outlets: { media : ['media', mediaData?.id] } }]">
            <img [src]="imageLink + mediaData?.thumbNails?.large" class="img-responsive" [class.c-feed__adult-blur]="mediaData?.isNsfw">
            <div class="c-feed__adult" id="c-feed__adult-hide" *ngIf="mediaData?.isNsfw">
                <div class="c-feed__adult-text">
                    <div>Graphic content ahead. Viewer's discretion is advised.</div>
                    <a href="javascript:void(0)" class="c-feed__adult-a" id="feedRemove">see this post</a>
                </div>
            </div>
        </a>
        <span *ngIf="checkFileType(mediaData?.repopath, 'Audio')">
            <img [src]="imageLink + 'img/svg/ico_volume3.svg'" class="c-card__icon">
        </span>
        <span *ngIf="checkFileType(mediaData?.repopath, 'Video')">
         <img [src]="imageLink + 'img/svg/ico_video.svg'" class="c-card__icon">
        </span>
        <span *ngIf="checkFileType(mediaData?.repopath, 'Image')">
            <img [src]="imageLink + 'img/svg/ico_image.svg'" class="c-card__icon">
        </span>
    </div>
    <div class="c-status--block">
        <div class="c-links">
            <div class="c-links__spots" (click)="spotMedia(mediaData?.id)">
                <img *ngIf="following" [src]="imageLink + 'img/svg/spot_icon.svg'" class="c-links__image">
                <img *ngIf="!following" [src]="imageLink + 'img/svg/spot_icon_default.svg'" class="c-links__image">
                <span class="c-links__count">{{ followingCount }}</span>
            </div>
            <div  *ngIf="mediaData?.description && mediaData?.mtype === 'status' " class="c-links__comments">
                <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
                <span class="c-links__count">{{ commentCount }}</span>
            </div>
            <div  *ngIf="checkFileType(mediaData?.repopath, 'Video') || checkFileType(mediaData?.repopath, 'Audio') || checkFileType(mediaData?.repopath, 'Image')" class="c-links__comments" [routerLink]="['', { outlets: { media : ['media', mediaData?.id] } }]">
                <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
                <span class="c-links__count">{{ commentCount }}</span>
            </div>
            <div class="c-links__actions">
                <span class="c-links__add">
                    <a>
                        <img [src]="imageLink + 'img/svg/ico_addtochannel.svg'" class="c-action__image">
                    </a>
                </span>
                <span class="c-links__add dropdown c-dropdown" appDropdown>
                    <a appDropdownOpen>
                        <img [src]="imageLink + 'img/svg/ico_share-02.svg'" class="c-action__image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right o-share__profile2 p-16">
                        <div class="c-text_md">Share this Profile</div>
                        <!-- <div class="c-invite--search m-0">
                            <form class="fill-grey-light">
                                <div class="c-form__group c-form--sm c-form--noeffect c-form__faded--sm">
                                    <input class="c-form__input p-l-24" required="" type="text">
                                    <label class="p-l-16">Input with icon</label>
                                    <span>
                                        <img [src]="imageLink + 'img/svg/ico_search.svg'" class="c-form__input--lefticon">
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="o-share__recent m-t-b-16">Recent Contacts</div>
                        <div class="c-invite__block">
                            <a class="c-user__avatar c-avatar--status">
                                <img src="https://ops-v2.netlify.com/assets/demo/new/avatar.png" class="o-share__avatar">
                            </a>
                            <a class="c-text_md c-invite--user">Seth Chevz1</a>
                        </div>
                        <div class="c-invite__block">
                            <a class="c-user__avatar c-avatar--status">
                                <img src="https://ops-v2.netlify.com/assets/demo/new/avatar.png" class="o-share__avatar">
                            </a>
                            <a class="c-text_md c-invite--user">Seth Chevz2</a>
                        </div>
                        <div class="c-invite__block">
                            <a class="c-user__avatar c-avatar--status">
                                <img src="https://ops-v2.netlify.com/assets/demo/new/avatar.png" class="o-share__avatar">
                            </a>
                            <a class="c-text_md c-invite--user">Seth Chevz3</a>
                        </div>
                        <div class="c-invite__block">
                            <a class="c-user__avatar c-avatar--status">
                                <img src="https://ops-v2.netlify.com/assets/demo/new/avatar.png" class="o-share__avatar">
                            </a>
                            <a class="c-text_md c-invite--user">Seth Chevz4</a>
                        </div> -->

                        <div class="o-share__social">
                            <div class="o-share__social-icon p-l-0" shareButton="google" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img src="https://ops-v2.netlify.com/assets/svg/googleplus.svg">
                            </div>
                            <div class="o-share__social-icon" shareButton="twitter" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img src="https://ops-v2.netlify.com/assets/svg/twitter.svg">
                            </div>
                            <div class="o-share__social-icon" [shareButton]="'facebook'" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img src="https://ops-v2.netlify.com/assets/svg/facebook.svg">
                            </div>
                            <div class="o-share__social-icon p-r-0" shareButton="twitter" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img src="https://ops-v2.netlify.com/assets/svg/envelope.svg">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <app-comment [mediaId]="mediaId" [commentsType]="'media-list'" [comments]="comments" [mediaType]="mediaType"  [commentCount]="commentCount"></app-comment>
</div>

<app-modal [modalTitle]="''" [blocking]='false' modalId='reportPopUp'>
    <app-report-popoup [reportQues]="questions" [reportContentId]="reportId" [reportType]="reportType" (onclose)= "closeReport()" ></app-report-popoup>
</app-modal>