<div class="c-card m-t-16">
    <div class="c-status--block">
        <div class="c-card__user margin_none">
            <div class="c-user">
                <a routerLink="/profile/u/{{ mediaData?.ownerUserName }}">
                    <a class="c-user__avatar c-avatar--status">
                        <img class="c-user__image" [src]="userImage">
                    </a>
                    <a class="c-user__name c-user--align">{{ mediaData?.ownerName }}</a>
                    <a class="c-user__channel c-user__channel-align">{{ mediaData?.channelName }}</a>
                </a>
            </div>
        </div>
        <div class="pull-right dropdown c-dropdown" appDropdown>
            <div class="c-post__time">{{ mediaData?.createdDate | utcDate | date:'d MMM h:m a'}}</div>
            <a>
                <img *ngIf="mediaData?.access === 1" src="/asset/img/svg/ico_private.svg" alt="" class="c-status__options">
                <img *ngIf="mediaData?.access === 0" src="/assets/img/svg/ico_public.svg" alt="" class="c-status__options">
            </a>
            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" appDropdownOpen *ngIf="mediaData?.isOwner">
                    <img src="/assets/img/svg/ico_options.svg" class="c-status__options">
            </span>
            <ul class="dropdown-menu dropdown-menu-right" *ngIf="mediaData?.isOwner">
                <li>
                    <a (click)="onContentEdit($event)">Edit</a>
                </li>
                <li>
                    <a (click)="onContentDelete($event)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-status--block" *ngIf="mediaData?.description && mediaData?.mtype === 'status' ">
        <div class="c-user__status">
            {{ mediaData?.description }}
        </div>
    </div>
    <div class="c-feed__img-status" *ngIf="checkFileType(mediaData?.repopath, 'Video') || checkFileType(mediaData?.repopath, 'Audio') || checkFileType(mediaData?.repopath, 'Image')">
        {{ mediaData?.description }}
    </div>
    <div class="c-feed__img" *ngIf="checkFileType(mediaData?.repopath, 'Video') || checkFileType(mediaData?.repopath, 'Audio') || checkFileType(mediaData?.repopath, 'Image')">
        <app-audioplayer class="audio" *ngIf="checkFileType(mediaData?.repopath, 'Audio')" src="{{ imageLink + mediaData?.repopath }}"></app-audioplayer>
        <img *ngIf="checkFileType(mediaData?.repopath, 'Image')" src="{{ imageLink + mediaData?.repopath }}" class="img-responsive">
        <app-videplayer [play]="'true'" *ngIf="checkFileType(mediaData?.repopath, 'Video')" class="{{ imageLink + mediaData?.repopath }}" src="{{ imageLink +  mediaData?.repopath }}"></app-videplayer>
    </div>
    <div class="c-status--block">
        <div class="c-links">
            <div class="c-links__spots" (click)="spotMedia(mediaData?.id)">
                <img *ngIf="following" src="/assets/img/svg/spot_icon.svg" class="c-links__image">
                <img *ngIf="!following" src="/assets/img/svg/spot_icon_default.svg" class="c-links__image">
                <span class="c-links__count">{{ followingCount }}</span>
            </div>
            <div class="c-links__comments">
                <img src="/assets/img/svg/ico_comment.svg" class="c-links__image">
                <span class="c-links__count">{{ commentCount }}</span>
            </div>
            <div class="c-links__actions">
                <span class="c-links__add">
                    <a>
                        <img src="/assets/img/svg/ico_addtochannel.svg" class="c-action__image">
                    </a>
                    </span>
                <span class="c-links__share">
                    <a>
                        <img src="/assets/img/svg/ico_share-02.svg" class="c-action__image">
                    </a>
                    </span>
            </div>
        </div>
    </div>
    <app-comment [mediaId]="mediaId" [comments]="comments" [mediaType]="mediaType" (submitComment)="sbComment($event)"></app-comment>
    <!-- <div class="c-post__comment fill-grey-light p-l-r-16">
            <div class="c-post__comment--left">
                <a class="c-user__avatar c-avatar--status2">
                    <img class="c-user__image" src="/assets/img/avatar.jpg">
                </a>
            </div>
            <div class="c-post__comment--right p-l-0">
                <a class="c-post__commenter">Tobias Van12</a>
                <div class="c-post__comment_text" id="edit-text-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                </div>
                <div class="c-post__comment--time">07:39 PM</div>
            </div>
            <div class="dropdown c-dropdown c-dropdown__options m-r-24">
                <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <img src="/assets/img/svg/ico_options.svg" class="c-options--img">
                </span>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a onclick="editComments(1)">Edit</a>
                    </li>
                    <li>
                        <a href="#">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="c-post__comment p-t-0">
            <div class="c-post__comment--left m-t-16">
                <a class="c-user__avatar c-avatar--status2">
                    <img class="c-user__image" src="/assets/img/avatar.jpg">
                </a>
            </div>
            <div class="c-post__comment--right c-mediamodal__input p-l-0">
                <div class="c-form__group c-form--noeffect m-b-0">
                    <form>
                        <input class="c-form__input with_border_none" required="" type="text">
                        <span class="c-form__highlight"></span>
                        <label>Comment here</label>
                    </form>
                </div>
            </div>
        </div> -->
</div>