<section class="reg_steps">
        <div class="container">

            <!-- registraion middle container -->
            <div class="row reg_middle_container">
            <!-- left section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_left_section">
                    <!-- progress bar -->
                    <div class="row reg_progress_bar">
                        <div class="col-xs-4 reg_progress_bar_step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="bs-wizard-dot">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 reg_progress_bar_step active">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="bs-wizard-dot"></div>
                        </div>
                        <div class="col-xs-4 reg_progress_bar_step disabled">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="bs-wizard-dot"></div>
                        </div>
                    </div>
                    <!-- //progress bar -->

                    <div class="row reg_step2">
                        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="step2_selection col-md-12">
                                        <input type="checkbox" value="performing artist" formControlName="artCheckbox">
                                        <div class="reg_profile_types">
                                            <div class="reg_step2_box">
                                                <h3><font><font>performing artist</font></font></h3>
                                                <hr>
                                                <p><font><font>Lorem ipsum dolor sit amet, consectetur adipiscing elit</font></font></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="step2_selection col-md-12">
                                        <input type="checkbox" value="It Performing Artist" formControlName="artCheckbox">
                                        <div class="reg_profile_types">
                                            <div class="reg_step2_box">
                                                <h3><font><font>It Performing Artist</font></font></h3>
                                                <hr>
                                                <p><font><font>Lorem ipsum dolor sit amet, consectetur adipiscing elit</font></font></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="step2_selection col-md-12">
                                        <input type="checkbox" value="Art Lover" formControlName="artCheckbox">
                                        <div class="reg_profile_types">
                                            <div class="reg_step2_box">
                                                <h3><font><font>Art Lover</font></font></h3>
                                                <hr>
                                                <p><font><font>Lorem ipsum dolor sit amet, consectetur adipiscing elit</font></font></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="step2_selection col-md-12">
                                        <input type="checkbox" value="Are you study" formControlName="study">><span></span><font><font>Are you study?
                                    </font></font></label>
                                </div>
                                <div class="row">
                                    <label class="text-center col-md-12">
                                      <button>Click </button>
                                        <a class="button_tranparent_red"><font><font>Sign Up</font></font></a>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <!-- //left section -->
                <!-- Registration Right Section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_right_section">
                    <div class="reg_right_section_text">

                    <div class="reg_steps_logo">
                        <a href="index.html">
                            <img src="img/logo.png" alt="One Page Spotlight">
                        </a>
                    </div>

                        <h3 class="text-center"><strong><font><font>Select your profile type</font></font></strong></h3>
                        <div class="reg_graph">
                            <div class="reg_circle"></div>
                            <div class="reg_rectangle"></div>
                        </div>
                        <p><font><font>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod long-and vitality, so that the labor expended. </font><font>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod long-and vitality, so that the labor expended.</font></font></p>
                    </div>
                </div>
                <!-- registration right section -->
            </div>
            <!-- //registraion middle container -->
        </div>
    </section>
