<app-navigation-logo></app-navigation-logo>
<section class="ops_reset_password">
    <div class="container">
        <!-- registraion middle container -->

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="c-h3 c-text-regular text-center">How do you want to reset your password?</div>
                <p class="check_phone_text">We found the following information associated with your account.</p>
                <form class="check_mail"  [formGroup]="resetForm" (ngSubmit)="submitForm(resetForm.value)" #myform="ngForm">
                <div class="c-form__group c-radio__sm">
                    <label class="text-left">
                    <label class="gender_single c-text_sm text-left">
                            <input type="radio" name="typePassword" value="mobile" formControlName="typePassword"><span></span> Text a code to my phone number ending with {{ forgotP.fp_user_options.phone }}                        
                    </label><br><br>
                    <label class="gender_single c-text_sm">
                        <input type="radio" name="typePassword" value="mail"  formControlName="typePassword"><span></span> Email a link to <strong>{{forgotP.fp_user_options.email }}</strong>                        
                    </label>                        
                    </label>
                </div>
                <div class="text-center m-t-24">
                    <button class="btn btn-primary btn-md" type="submit">CONTINUE</button>
                </div>
                </form>
            </div>
        </div>
        <!-- //registraion middle container -->
    </div>
</section>
<app-footer></app-footer>
