<section class="ops_reset_password">
    <div class="container">
        <!-- registraion middle container -->
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p class="text-center ops_reset_logo"><img src="/assets/img/logo_black.svg" alt="One Page Spotlight"></p>
            <h2 class="text-center">How do you want to reset your password?</h2>
            <p class="check_phone_text">We found the following information associated with your account.</p>
            <form class="check_mail" [formGroup]="resetForm" (ngSubmit)="submitForm(resetForm.value)" #myform="ngForm">
              <div class="form_group ops_radio_sm">
                  <label>
                      <label class="gender_single">
                          <input type="radio" name="typePassword" value="mobile" formControlName="typePassword"><span></span> Text a code to my phone ending in <strong>15</strong>
                      </label><br><br>
                      <label class="gender_single">
                          <input type="radio" name="typePassword" value="mail"  formControlName="typePassword"><span></span> Email a link to <strong>din***********@g****.com</strong>
                      </label>
                  </label>
              </div>
              <div class="text-center">
                  <app-button [className]="'btn-default btn-sm'" [type]="'submit'">CONTINUE</app-button>
              </div>
            </form>
          </div>
      </div>
        <!-- //registraion middle container -->
    </div>
</section>