<form #createFrlFrm="ngForm" [formGroup]="freelanceFrm" (ngSubmit)="submitFreelanceForm(freelanceFrm.value)">
  <!-- <p class="c-text_lg color-grey-dark m-t-16">Freelance.</p> -->
  <div id="05" class="tab-pane">
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
        FREELANCE DETAILS
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Title</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="freelanceTitle" class="c-form__input" type="text" placeholder="Name of your project">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Name of your project</label> -->
              </div>
              <p *ngIf="freelanceFrm.controls['freelanceTitle'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">Title is required!</p>
          </div>
      </div>
      <!-- Title end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Description</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm">
                  <!-- <textarea formControlName="freelanceDescription" class="c-textarea__block c-textarea--style" placeholder="Tell us more about your project"></textarea> -->
                  <quill-editor [modules]="quillModules" [style]="{height: '250px'}" class="quill-editor" [placeholder]="''" formControlName="freelanceDescription"></quill-editor>
              </div>
              <p *ngIf="freelanceFrm.controls['freelanceDescription'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">Description is required!</p>
          </div>
      </div>
      <!-- Description end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Industry</div>
          </div>
          <div class="col-md-6 p-0">
              <div class="c-form__group m-t-0">
                  <select formControlName="freelanceIndustry" class="c-form-control p-l-0">
                      <option value="">Select</option>
                      <option *ngFor="let category of industryList" [value]="category.name">
                          {{ category.name }}
                      </option>
                  </select>
              </div>
              <p *ngIf="freelanceFrm.controls['freelanceIndustry'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">Industry is required!</p>
          </div>
      </div>
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Location</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="freelanceLocation" class="c-form__input" type="text" placeholder="Eg: Locality, City, Country">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Locality, City, Country</label> -->
              </div>
              <p *ngIf="freelanceFrm.controls['freelanceLocation'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">Location is required!</p>
          </div>
      </div>
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Payment</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-radio__sm m-t-8">
              <label class="col-md-2 p-0">
                  <input formControlName="freelancePaymentMethod" value="Fixed" type="radio" class="c-form__bar2" checked="">
                  <span></span>
                  <div class="c-radio--label c-text_md color-grey-dark">Fixed</div>
              </label>
              <label class="col-md-2 p-0">
                  <input formControlName="freelancePaymentMethod" value="Hourly" type="radio" class="c-form__bar2">
                  <span></span>
                  <div class="c-radio--label c-text_md color-grey-dark">Hourly</div>
              </label>
              </div>
              <p *ngIf="freelanceFrm.controls['freelancePaymentMethod'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">This is required!</p>
          </div>
      </div>
      <!-- How do you want to pay end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Engagement</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-radio__sm m-t-8">
                  <label class="col-md-2 p-0">
                      <input formControlName="freelanceEngagement" value="Remote" type="radio" class="c-form__bar2" checked="">
                      <span></span>
                      <div class="c-radio--label c-text_md color-grey-dark">Remote</div>
                  </label>
                  <label class="col-md-2 p-0">
                      <input formControlName="freelanceEngagement" value="Office" type="radio" class="c-form__bar2">
                      <span></span>
                      <div class="c-radio--label c-text_md color-grey-dark">Office</div>
                  </label>
              </div>
              <p *ngIf="freelanceFrm.controls['freelanceEngagement'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">This is required!</p>
          </div>
      </div>
      <!-- Engagement end -->
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
          Candidate details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Skills</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="freelanceSkills" class="c-form__input" type="text" placeholder="Eg: #UIdesign #photoshop #sketch">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: #UIdesign #photoshop #sketch</label> -->
              </div>
              <p *ngIf="freelanceFrm.controls['freelanceSkills'].errors?.required && createFrlFrm.submitted" class="c-form__validation error">Skills are required!</p>
          </div>
      </div>
      <!-- Skills end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Attach File</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="o-oppo-form__file-type">
                  <input class="o-oppo-file" type="file" accept="image/*" (change)="fileSelectedAction($event)" multiple>
                  <p *ngIf="!uploadingFile" class="c-text_sm o-oppo-file__text">upload<br>image</p>
                  <img *ngIf="uploadingFile" [src]="baseUrl + 'img/search-preloader.gif'" class="opp-prel-image" alt="">
                  <img *ngIf="uploadedFile" [src]="uploadedFileSrc" class="opp-prev-image" alt="">
              </div>
              <div *ngFor="let fileName of freelanceAttachments" class="o-oppo-form__img-show"
                [ngStyle]="{'background-image': 'url(' + baseUrl + fileName + ')',
                'background-size': 'cover',
                'background-position': 'center'}">
                <span class="o-oppo-img-close" title="Remove">
                    <a (click)="removeAttachedMedia(fileName)"><img [src]="baseUrl + 'v2/svg/ico_create-close.svg'"></a>
                </span>
              </div>
          </div>
      </div>
      <!-- file attach end -->
      <div class="o-oppo-form__single">
        <div class="col-md-3 p-0"></div>
        <div class="col-md-9 p-0">
            <p *ngIf="_oppDetails?.formType === 'create'" class="c-text_sm color-grey-dark m-t-24">By clicking 'Create', you are agreeing to the <a (click)="termsAction('show')" class="text-theme">Terms &amp; Conditions.</a> and the <a (click)="termsAction('show')" class="text-theme">Privacy policy</a>.</p>
            <button *ngIf="_oppDetails?.formType === 'create'" type="submit" [disabled]="oppSubmitting || uploadingFile" class="btn btn-primary btn-md m-t-16 m-b-16">Create</button>
            <button *ngIf="_oppDetails?.formType === 'edit'" type="submit" [disabled]="oppSubmitting || uploadingFile" class="btn btn-primary btn-md m-t-16 m-b-16">Update</button>
            <button *ngIf="_oppDetails?.formType === 'edit'" type="button" class="btn btn-default btn-md m-l-8" (click)="cancelUpdate()">Cancel</button>
        </div>
      </div>
      <!-- btn end -->
  </div>
</form>

<!-- Terms Modal -->
<app-modal-new #termsPopup [closeOnEscape]="true" [closeOnOutsideClick]="true" modalClass="reg_step1_otp modal-term-policy">
    <modal-content>
    <div class="in db" id="termsandcondition">
        <div class="modal-dialog modal-lg terms_and_condition">
            <!-- Modal content-->
            <div class="modal-content modal-container">
                <div class="modal-header with_border_none">
                    <button type="button" class="close" data-dismiss="modal" (click)="termsAction('hide')">x</button>
                </div>
                <app-terms-and-conditions-content></app-terms-and-conditions-content>
            </div>
        </div>
    </div>
    </modal-content>
</app-modal-new>
<!-- Terms Modal -->