<div class="col-md-3 p-l-r-8 m-t-16" *ngIf="!loader">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__opportunity">
            <a [routerLink]="['/communities', data?.communityId]">
                <img [src]="data?.coverImage ? imageLink + data?.coverImage : 'https://ops-v2.netlify.com/assets/demo/new/s16.jpg'" class="c-card__image">
            </a>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body c-card__opportunity-head">
            <div class="c-text__lg color-grey-darker cursor-pointer" [routerLink]="['/communities', data?.communityId]">
                {{ data?.title }}
            </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-comm__followers">
                <div class="c-followers__img " *ngFor="let member of data?.memberImages | slice:0:3; let index = index" [class.m-l--8]="index !== 0">
                    <img class="c-user__image cursor-pointer" routerLink="/profile/u/{{ member?.profileUsername }}" [src]="imageLink + member">
                </div>
                <p class="c-followers__count" *ngIf="data?.member_count > 3"> + {{ (data?.member_count) - 3}} member</p>
                <a (click)="joinCommunity(data?.communityId)" class="c-card__Communities--link" *ngIf="!data?.isOwner && !data?.isMember">Join</a>
                <a href="javascript:void(0);" class="c-card__Communities--link" *ngIf="!data?.isOwner && data?.isMember" [class.color-grey-dark]="data?.isMember">Joined</a>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
</div>

<div class="col-md-3 p-l-r-8 m-t-16" *ngIf="loader">
    <div class="c-card c-card-pre">
        <div class="c-card__opportunity c-bg__effect">
        </div>
        <div class="c-card__body c-card__opportunity-head">
            <div class="c-text__lg color-grey-darker">
                <div class="pl_block100"></div>
                <div class="pl_block60"></div>
            </div>
        </div>
        <div class="c-card__links p-t-0">
            <div class="c-comm__followers">
                <div class="c-followers__img">
                </div>
                <div class="c-followers__img m-l--8">
                </div>
                <div class="c-followers__img m-l--8">
                </div>
                <div class="c-followers__count">
                    <div class="c-card__followblank"></div>
                </div>
            </div>
        </div>
    </div>
</div>