<div class="col-md-3 p-l-r-8 m-t-16">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__opportunity">
            <a href="">
                <img src="https://ops-v2.netlify.com/assets/demo/new/s16.jpg" alt="" class="c-card__image">
            </a>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
            <div class="c-text__lg color-grey-darker">
                Impact of Extrinsic Motivation On Instrinsic Motivation
            </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-comm__followers">
                <div class="c-followers__img">
                    <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar2.jpg">
                </div>
                <div class="c-followers__img m-l--8">
                    <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar2.jpg">
                </div>
                <div class="c-followers__img m-l--8">
                    <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar2.jpg">
                </div>
                <p class="c-followers__count">+78 Members</p>
                <a href="javascript:void(0);" class="c-card__Communities--link">Join</a>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
</div>