<div class="col-md-3 p-l-r-8 m-t-16">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__opportunity">
            <a href="">
                <img src="https://ops-v2.netlify.com/assets/demo/new/s16.jpg" alt="" class="c-card__image">
            </a>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
            <div class="c-text__lg color-grey-darker">
                {{ data?.title }}
            </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-comm__followers">
                <div class="c-followers__img" *ngFor="let member of data?.memberList">
                    <img class="c-user__image" [src]="imageLink + member?.profileImage">
                </div>
                <p class="c-followers__count">+ {{ data?.memberCount}} member</p>
                <a href="javascript:void(0);" class="c-card__Communities--link">Join</a>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
</div>