<div class="modal-dialog modal-lg">
    <div class="modal-header">
        <button (click)="closeViewMedia()" type="button" class="close" data-dismiss="modal">×</button>
    </div>
  <div class="view-port-modal-content">
      <div class="modal-body p-0">
          <div class="col-md-7 c-portmodal__imgblock">
            <app-videoplayer [showControls]="'true'" *ngIf="checkFileType(viewMediaDetails?.mediaRepoPath, 'Video')" [src]="baseImageUrl + viewMediaDetails?.mediaRepoPath" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';"></app-videoplayer>
            <img *ngIf="checkFileType(viewMediaDetails?.mediaRepoPath, 'Image')" [src]="baseImageUrl + viewMediaDetails?.mediaRepoPath" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';" class="c-portmodal__img">
            <app-audioplayer *ngIf="checkFileType(viewMediaDetails?.mediaRepoPath, 'Audio')" [src]="baseImageUrl + viewMediaDetails?.mediaRepoPath" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';"></app-audioplayer>
          </div>
          <div class="col-md-5">
              <div class="c-portmodal__text">{{ viewMediaDetails?.mediaDescription }}</div>
              <div class="c-portmodal__text2">
                  <div class="pull-right"><a (click)="openMedia()">View on One Page Spotlight <img src="https://ops-v2.netlify.com/assets/svg/arrow.svg"></a></div>
              </div>
          </div>
      </div>
  </div>
</div>
