<app-navigation></app-navigation>
<section>
  <div class="container channel_inner outer_header" *ngIf="(tagState$ | async).channel_detail?.channelName && !pageLoading">
    <!---  section  -->
    <div class="row">
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="ops_h1">{{(tagState$ | async).channel_detail?.channelName}}</div>
                </li>
                <!--<li class="list-inline-item">
                    <button type="button" class="btn btn-xs btn-normal btn-following">
                        FOLLOWING
                    </button>
                </li>-->
            </ul>
            <div class="channel_inner_type">
              <span *ngIf="!(tagState$ | async).channel_detail?.accessSeetings.access" class="public_channel">Public Channel</span>
              <span *ngIf="(tagState$ | async).channel_detail?.accessSeetings.access" class="public_channel">Private Channel</span>
                <ul class="list-inline pro_nav_icon">
                    <li class="list-line-item">
                        <a (click)="pinEditFormPopup()"  aria-expanded="true">
                            <img src="/assets/img/svg/ico_options.svg">
                        </a>
                        <ul class="dropdown-menu report_block_drop">
                            <li>
                                <a href="#">Pin to Quick acess</a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="(tagState$ | async).channel_detail?.isOwner" class="list-line-item">
                      <a [routerLink]="['', { outlets: { media : ['channel', (tagState$ | async).channel_detail?.channelId, 'edit' ] } } ]">
                        <img src="/assets/img/svg/ico_edit.svg">
                      </a>
                    </li>
                </ul>
            </div>
            <div class="ops_heading2 spot_in_toptext">{{ (tagState$ | async).channel_detail?.description }}</div>
        </div>
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item pull-right">
                    <div class="spot_in_follow"><strong>{{ (tagState$ | async).channel_detail?.followersCount }}</strong> Followers</div>
                    <div class="spot_in_follow"><strong>{{ (tagState$ | async).channel_detail?.spotCount }}</strong>Post</div>
                </li>
            </ul>
            <div class="col-sm-12 spot_in_icons">
                <div class="overlap_thumb">
                    <span class="over1_thumb" *ngFor="let media of (tagState$ | async).channel_detail?.contributorProfile | slice:0:3">
                      <img src="{{ imageLink + media.profileImage}}">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- follow channels -->
    <div class="row channel_inner_block">
      <div class="col-md-12 channe__media">
        <div class="row">
          <!--<div *ngIf="userMedia.user_posts_loading">
            <div class="msg__loading">
              <div class="loader">Loading...</div>
            </div>
          </div>-->
          <masonry>
            <masonry-brick class="col-md-3" *ngFor="let media of (tagState$ | async).channel_detail?.media; let i = index">
                <app-post-card  (postDelete)="deletePost(media)" (onClick)="mediaOpenPopup(media.id)" [mediaData]="media"></app-post-card>
            </masonry-brick>
          </masonry>
        </div>
      </div>
    </div>
  </div>
  <!--<div *ngIf="channel?.channel_detail" class="outer_header not_found" [ngClass]="!channel_loading ? '  not_found__add' : ''">
    <h2>Channel Not Found</h2>
  </div>-->
</section>

<div *ngIf="pageLoading === true">
  <div class="sticky">
    <div class="loader">Loading...</div>
  </div>
</div>
