<app-navigation></app-navigation>
<section>
  <div class="container channel_inner outer_header" *ngIf="(tagState$ | async).channel_detail?.channelName && !pageLoading">
    <!---  section  -->
    <div class="row">
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="ops_h1">{{(tagState$ | async).channel_detail?.channelName}}</div>
                </li>
                <!--<li class="list-inline-item">
                    <button type="button" class="btn btn-xs btn-normal btn-following">
                        FOLLOWING
                    </button>
                </li>-->
            </ul>
            <div class="channel_inner_type"><span *ngIf="!(tagState$ | async).channel_detail?.accessSeetings.access" class="public_channel">Public Channel</span><span *ngIf="(tagState$ | async).channel_detail?.accessSeetings.access" class="public_channel">Private Channel</span>
                <ul class="list-inline pro_nav_icon">
                    <li class="list-line-item">
                        <a (click)="pineditFormPopup"  aria-expanded="true">
                            <img src="/assets/img/svg/ico_options.svg">
                        </a>
                        <ul class="dropdown-menu report_block_drop">
                            <li>
                                <a href="#">Pin to Quick acess</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-line-item">
                        <a (click)="editPopup(channel.channel_detail)" data-toggle="modal" data-target="#edit_channel_pop">
                            <img src="/assets/img/svg/ico_edit.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ops_heading2 spot_in_toptext">{{ (tagState$ | async).channel_detail?.description }}</div>
        </div>
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item pull-right">
                    <div class="spot_in_follow"><strong>{{ (tagState$ | async).channel_detail?.followersCount }}</strong> Followers</div>
                    <div class="spot_in_follow"><strong>{{ (tagState$ | async).channel_detail?.spotCount }}</strong> Post</div>
                </li>
            </ul>
            <div class="col-sm-12 spot_in_icons">
                <div class="overlap_thumb">
                    <span class="over1_thumb" *ngFor="let media of (tagState$ | async).channel_detail?.media | unique">
                      <img src="{{ imageLink + media.ownerImage }}">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- follow channels -->
    <div class="row channel_inner_block">
      <div class="col-md-12 channe__media">
        <div class="row">
          <!--<div *ngIf="userMedia.user_posts_loading">
            <div class="msg__loading">
              <div class="loader">Loading...</div>
            </div>
          </div>-->
          <masonry>
            <masonry-brick class="col-md-3" *ngFor="let media of (tagState$ | async).channel_detail?.media; let i = index">
                <app-post-card  (onClick)="mediaOpenPopup(media.id)" [mediaData]="media"></app-post-card>
            </masonry-brick>
          </masonry>
        </div>
      </div>
    </div>
  </div>
  <!--<div *ngIf="channel?.channel_detail" class="outer_header not_found" [ngClass]="!channel_loading ? '  not_found__add' : ''">
    <h2>Channel Not Found</h2>
  </div>-->
</section>


<!-- edit channel pop -->

<app-modal [modalTitle]="''" [blocking]='false' modalId='editform'>
  <form [formGroup]="editForm" novalidate #myform="ngForm" (submit)= "educationSubmit(editForm.value)">
    <div id="edit_channel_container">
        <div class="modal-content edit-channel_main">
            <!-- <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div> -->
            <div class="edit-channel_head">
                <div class="col-md-6 padding_none">
                    <h2>Edit Channel</h2>
                </div>
            </div>
            <div class="edit-channel_sec_block">
                <div id="basic_info" class="edit-channel_content_block show" style="display: none;">
                    <div class="editarea">
                        <div class="form_group">
                            <input class="form_input" required type="text" formControlName="name">
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Name</label>
                        </div>
                        <div class="form_group">
                            <textarea class="form_input form_textarea" name="" formControlName="bio"></textarea>
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Bio</label>
                        </div>
                        <div class="form_group">
                            <input class="form_input" required="" type="text">
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Skills</label>
                            <button type="button" class="btn btn-tag btn-sm">TAGS</button>
                        </div>
                        <div class="form_group">
                            <select class="form-control" id="sel1" formControlName="bio">
                                <option value="0">Public</option>
                                <option>Private</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <select class="form-control" id="sel1">
                                <option>Industry</option>
                               <option>Dance</option>
                               <option>Music</option>
                               <option>Theatre</option>
                               <option>Cinema</option>
                               <option>Graphics</option>
                               <option>Fashion</option>
                               <option>Television.</option>
                               <option>Fine Arts</option>
                               <option>Photography</option>
                                <option>Production</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <input class="form_input" required="" type="text" value="">
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Add People</label>
                        </div>
                        <div class="search_result_block">
                            <div class="result_list_main">
                                <div class="result_pro_img">
                                    <img src="img/avatar2.jpg" alt="">
                                </div>
                                <div class="result_name">
                                    <p>Zane Lowe </p>
                                </div>
                                <div class="remove_btn text-right">
                                    <button type="button" class="btn btn-network btn-sm">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- edit profile content block end -->
            </div>
            <div class="edit_channel_footer">
                <div class="col-md-6 padding_none text-left">
                  <app-button [className]="'btn-network btn-sm'" [type]="'button'">Delete</app-button>
                </div>
                <div class="col-md-6 padding_none text-right">
                    <app-button [className]="'btn-default btn-sm'" [type]="'button'" (click) = "closePopup()">Cancel</app-button>
                    <app-button [className]="'btn-primary btn-sm'" [type]="'button'" (click) = "closeForm()">Save</app-button>
                </div>
            </div>
            <!-- edit profile head end -->

        </div>
    </div>
  </form>
</app-modal>


<div *ngIf="pageLoading === true">
  <div class="sticky">
    <div class="loader">Loading...</div>
  </div>
</div>
