.o-cover-upload{
    width: 887px;
    height: 480px;
    background: #fff;
    margin: 40px auto;
}
.o-cover-upload__head{
    width: 100%;
    padding: 16px 24px;
    float: left;
}
.o-cover-head--heading{
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.o-cover-upload__media{
    width: 100%;
    float: left;
}
.o-cover-media__image{
    width: 100%;
    height: 362px;
    float: left;
    background: #F3F5F7;
}
.o-cover-media__browse{
    width: 100%;
    padding: 24px;
    text-align: center;
    float: left;
}
.o-cover-upload-footer{
    width: 100%;
    float: left;
    border-top: 1px solid rgba(102,45,145,0.1);
    padding: 16px 24px;
    p{
        width: 40%;
        float: left;
    }
}
.o-cover-footer__btn{
    width: 50%;
    float: right;
    text-align: right;
}
.o-cover-btn__mod{
    margin-left: 16px;
}
// .cover_change_drop::before{
//     width: 11px;
//     height: 11px;
//     content: ' ';
//     position: absolute;
//     background: #fff;
//     left: -6px;
//     top: 4px;
//     -ms-transform: rotate(46deg);
//     -webkit-transform: rotate(46deg);
//     transform: rotate(46deg);
// }


.o-profile-upload{
    width: 482px;
    height: 526px;
    background: #fff;
    margin: 40px auto;
}


.pop-close{
    float: right;
    width: 12px;
    height: 12px;
    img {
        width: 12px;
        height: 12px;
    }
}
.pop-close--mt{
    position: absolute;
    top: -38px;
    right: 0;
    z-index: 1;
}

.o-cover-media__browse{
    width: 100%;
    padding: 10px;
    text-align: center;
    float: left;
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        &:hover{
            color: #ff7b84;
            background-color: #ffffff;
            border-color: #ff7b84;
        }
    }
    .btn-network {
        color: #ff7b84;
        background-color: #ffffff;
        border-color: #ff7b84;
        text-transform: uppercase;
        padding: 6px 18px;
        font-size: 14px;
        line-height: 1.0;
        border-radius: 3px;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color: #ff7b84;
            background-color: #ffffff;
            border-color: #ff7b84;
        }
    }
}

// img-cropper {
//   canvas{
//     margin-top: 0rem!important;
//   }
// }

:host ::ng-deep canvas {
       margin-top: 0rem!important;
}