<app-modal [modalTitle]="'Change Profile Image'" [closeHidden]="true" (onClose)="isClosed($event)" [blocking]='false' [open]="true"
  modalId='ChangeProfile' class="media__modal" size="tiny__profile_upload">
  <div id="profile-upload">
    <div class="o-profile-upload">
      <div class="o-cover-upload__head">
        <h2 class="o-cover-head--heading">Change Profile Image
          <span class="pop-close">
            <a (click)="isClosed($event)">
              <img [src]="baseUrl + 'img/svg/ico_close-38.svg'" alt="">
            </a>
          </span>
        </h2>
      </div>
      <div class="o-cover-upload__media">
        <!-- <img-cropper #cropper class="o-cover-media__image" [image]="data" [settings]="cropperSettings"></img-cropper> -->
        <image-cropper 
          class="o-cover-media__image"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          format="png"
          (imageCroppedBase64)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>
        <img [src]="croppedImage" *ngIf="!hidePreview" class="preview-image" />
        <div *ngIf="stateProfile?.profile_img_upload_loading">
          <div class="sticky sticky__top">
            <div class="loader">Loading...</div>
          </div>
        </div>
        <div class="o-cover-media__browse">
          <div class="upload-btn-wrapper">
            <button class="btn btn-network btn-sm text_uppercase">Browse</button>
            <input type="file" accept="image/*" name="myfile" (change)="fileChangeEvent($event)" />
          </div>
        </div>
      </div>
      <div class="o-cover-upload-footer">
        <!--<p class="p_text">Successfully updated</p>-->
        <div class="o-cover-footer__btn">
          <button type="button" (click)="isClosed($event)" class="btn btn-network btn-sm text_uppercase">Cancel</button>
          <button type="button" (click)="saveImageClick()" class="btn btn-primary btn-sm"> &nbsp; Save &nbsp; </button>
        </div>
      </div>
    </div>
  </div>
</app-modal>
