<app-navigation></app-navigation>

<section class="o-explore-top-sec">
  <div class="container">
      <div class="o-explore-post-by m-t-32">
        <div class="o-explore-post__info m-r-8">
          <span class="c-text_sm color-white">Posted by @zanelowe</span>
        </div>
        <div class="o-explore-post__avatar">
          <img src="/assets/img/new/avatar.png" alt="">
        </div>
      </div>
  </div>
</section>

<section class="o-explore-catagory-sec">
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l01.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l02.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l03.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l04.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l05.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l06.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l07.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l08.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l07.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
  <div class="o-explore-catagory-block m-r-8">
    <div class="o-explore-catagory__thumb">
      <img src="/assets/img/new/l08.jpg" alt="">
    </div>
    <div class="o-explore-catagory__title c-text_sm p-l-8">
      Music
    </div>
  </div>
</section>

<section class="o-explore-content-sec">
  <div class="container p-0">
    <div class="col-md-6 p-l-0">
      <h6 class="c-text_lg f-w_600">For you</h6>
      <p class="c-text_sm color-grey-dark">Spotfeeds Based on your interest and skills</p>
      <div class="o-explore-main fill-white m-t-8 p-8">
        <div class="o-explore-card-left" style="background: url(img/new/s02.jpg); background-size: cover; background-position: center;">
          <div class="o-explore-img-title c-text_lg color-white">
            Bollywood hits
          </div>
        </div><!-- left-card end -->
        <div class="o-explore-card-right">
          <div class="o-explore-card m-l-8">
            <div class="o-explore-card__media" style="background: url(img/new/s03.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
          <div class="o-explore-card m-l-8">
            <div class="o-explore-card__media" style="background: url(img/new/s06.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
          <div class="o-explore-card m-l-8 m-t-8">
            <div class="o-explore-card__media" style="background: url(img/new/s05.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
          <div class="o-explore-card m-l-8 m-t-8">
            <div class="o-explore-card__media" style="background: url(img/new/s07.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
        </div><!-- right-card end -->
      </div>
    </div>
    <div class="col-md-6 p-l-0">
      <h6 class="c-text_lg f-w_600">Recommended</h6>
      <p class="c-text_sm color-grey-dark">Handpicked spotfeeds for you</p>
      <div class="o-explore-main fill-white m-t-8 p-8">
        <div class="o-explore-card-left" style="background: url(img/new/s01.jpg); background-size: cover; background-position: center;">
          <div class="o-explore-img-title c-text_lg color-white">
            Bollywood hits
          </div>
        </div><!-- left-card end -->
        <div class="o-explore-card-right">
          <div class="o-explore-card m-l-8">
            <div class="o-explore-card__media" style="background: url(img/new/s02.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
          <div class="o-explore-card m-l-8">
            <div class="o-explore-card__media" style="background: url(img/new/s04.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
          <div class="o-explore-card m-l-8 m-t-8">
            <div class="o-explore-card__media" style="background: url(img/new/s08.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
          <div class="o-explore-card m-l-8 m-t-8">
            <div class="o-explore-card__media" style="background: url(img/new/s09.jpg); background-size: cover; background-position: center;">
              
            </div>
            <div class="o-explore-img-title--sm c-text_sm color-white">
              A R Rahmans
            </div>
          </div>
        </div><!-- right-card end -->
      </div>
    </div>
  </div>
</section>

<section class="o-explore-catagory-main m-t-24">
  <div class="container p-0">
    <h6 class="c-text_lg f-w_600">Dance <span class="c-text_lg float_right m-r-16">More</span></h6>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s03.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s06.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s05.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s07.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s03.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s06.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s05.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s07.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
  </div>
</section><!-- dance end -->

<section class="o-explore-catagory-main m-t-24">
  <div class="container p-0">
    <h6 class="c-text_lg f-w_600">Music <span class="c-text_lg float_right m-r-16">More</span></h6>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/l01.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/l02.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/l03.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/l04.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/l05.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/l06.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s01.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s02.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
  </div>
</section><!-- music end -->

<section class="o-explore-catagory-main m-t-24">
  <div class="container p-0">
    <h6 class="c-text_lg f-w_600">Photography <span class="c-text_lg float_right m-r-16">More</span></h6>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s07.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s08.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s09.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s10.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s11.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s12.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s13.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s14.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
  </div>
</section><!-- photography end -->

<section class="o-explore-catagory-main m-t-24 m-b-32">
  <div class="container p-0">
    <h6 class="c-text_lg f-w_600">Art <span class="c-text_lg float_right m-r-16">More</span></h6>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s03.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s06.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s05.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s07.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s03.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s06.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s05.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
    <div class="o-explore-card m-r-16 m-t-8">
      <div class="o-explore-card__media" style="background: url(img/new/s07.jpg); background-size: cover; background-position: center;">
        
      </div>
      <div class="o-explore-img-title--sm c-text_sm color-white">
        A R Rahmans
      </div>
    </div>
  </div>
</section><!-- photography end -->

<app-footer></app-footer>