/* ------------------------- explore style --------------------------- */

.o-explore-top-sec{
    width: 100%;
    height: 300px;
    background-color: #fff;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(102,45,145,0.1);
    background: url(/assets/img/explore.jpg) center no-repeat;
    background-size: cover;
    margin-top: 30px;
}
.o-explore-post-by{
    float: right;
}
.o-explore-post__avatar{
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.69);
    img{
        width: 100%;
    }
}
.o-explore-post__info{
    float: left;
    text-shadow: 0 2px 4px rgba(0,0,0,0.69);
}

// content area

.o-explore-content-sec{
    width: 100%;
    float: left;
    margin-top: 24px;
}
.o-explore-main{
    width: 100%;
    float: left;
    border-radius: 5px;	
    box-shadow: 0 3px 15px 0 rgba(102,45,145,0.17);
    min-height: 282px;
}
.o-explore-card-left{
    width: 276px;
    height: 266px;
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
.o-explore-card-right{
    width: 276px;
    height: 266px;
    float: left;
    overflow: hidden;
}
.o-explore-img-title{
    height: 72px;	
    width: 100%;	
    border-radius: 3px;	
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items:flex-end;
    padding: 0px 0px 16px 16px;
}

// card

.o-explore-card{
    width: 130px;
    height: 129px;
    float: left;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    float: left;
}
.o-explore-card__media{
    width: 100%;
    height: 129px;
}
.o-explore-img-title--sm{
    height: 46px;	
    width: 100%;	
    border-radius: 3px;	
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items:flex-end;
    padding: 0px 0px 8px 8px;
}

// catagory

.o-explore-catagory-sec{
    width: 100%;
    float: left;
    background: linear-gradient(139.48deg, #FF7B84 0%, #F7D022 100%);
    padding:24px 8px;
    display: flex;
    justify-conten:center;
}
.o-explore-catagory-block{
    width:137px;
    height: 56px;
    float: left;
    padding:8px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 4px 9px 0 rgba(97,53,129,0.21);
}
.o-explore-catagory__thumb{
    width: 40px;
    height: 40px;
    border-radius: 2px;
    overflow: hidden;
    float: left;
    img{
        width: 100%;
    }
}
.o-explore-catagory__title{
    height: 40px;
    display: flex;
    align-items:center;
    float: left;
}

// catagory main

.o-explore-catagory-main{
    width: 100%;
    float: left;
}