ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.col-sm-3 img {
  width: 100%;
}

.artists .col-sm-3 img {
  width: 150px;
  border-radius: 75px;
}

.row .card {
  padding: 20px 0;
}
