<app-navigation></app-navigation>

<section class="o-explore-top-block">
  <div class="explore-category">
    <ngu-carousel [inputs]="exploreSlider">
      <ngu-item NguCarouselItem class="" *ngFor="let spotfeed of spotfeeds">
          <a href="#">
            <div class="o-explore-category-block">
              <div class="o-explore-category__overlay">
                <div class="c-text_lg color-white">{{ spotfeed }}</div>
              </div>
            </div>
          </a>
      </ngu-item>
      <button NguCarouselPrev class='leftRs'>&lt;</button>
      <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
  </div>
</section>

<section class="o-explore-content-block">
  <div class="container">
    <div class="o-home-tab-sec c-ops__tabs m-t-8">
      <div class="col-md-12 p-0">
        <ul class="nav nav-tabs">
          <li class="active">
            <a [routerLink]="['post']" aria-expanded="true">Posts</a>
          </li>
          <li>
            <a [routerLink]="['channel']" aria-expanded="false">Channel</a>
          </li>
          <li>
            <a [routerLink]="['profile']" aria-expanded="false">People</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 p-0">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>