<div class="container create_channel_main">
    <div class="row">
        <div class="create_channel_container">
            <div class="create_channel__head with_border_bottom">
                <h3 class="heading_3 text-black capitalize">Create Channel</h3>
                <span class="search_close">
                    <a href="javascript:hideCreatechannel()"><img src="http://d33wubrfki0l68.cloudfront.net/e85a9c443cca11a2d6a6aca634490f2f2e6bdc55/44c4b/img/svg/ico_close-38.svg" alt=""></a>
                </span>
            </div><!-- create channel head -->
            <div class="create_channel__content">
                <h2 class="heading_2">What is your channel about?</h2>
                <ul>
                    <li>
                        <a href="javascript:showCreatechannelform()">
                            <div class="channel_ico">
                                <img src="http://d33wubrfki0l68.cloudfront.net/f2366be80960584f4c4d6529f4ba75f75bed14d6/c563f/img/illu-all@4x.png" alt="">
                            </div>
                            <div class="channel_title_and_short_det">
                                <h3>A collection of all media type</h3>
                                <p>Make a collection of Photo,Audio,Video and Blog</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="channel_ico">
                            <img src="http://d33wubrfki0l68.cloudfront.net/526f4cd5b68d0ce27bed7c31650349673cdf9734/7391d/img/illu-image@4x.png" alt="">
                        </div>
                        <div class="channel_title_and_short_det">
                            <h3>Photo Album</h3>
                            <p>Make an album of images</p>
                        </div>
                    </li>
                    <li>
                        <div class="channel_ico">
                            <img src="http://d33wubrfki0l68.cloudfront.net/9cfe36b2330d254d9d98a07c35906e5472c8fdc3/7bb7b/img/illu-audio@4x.png" alt="">
                        </div>
                        <div class="channel_title_and_short_det">
                            <h3>Audio Playlist</h3>
                            <p>Create a playlist of your favourite Audio, Podcast etc.</p>
                        </div>
                    </li>
                    <li>
                        <div class="channel_ico">
                            <img src="http://d33wubrfki0l68.cloudfront.net/f554c7b812b555afa0a28e574e41334b4f308f31/82e90/img/illu-video@4x.png" alt="">
                        </div>
                        <div class="channel_title_and_short_det">
                            <h3>video Library</h3>
                            <p>Make a library of videos</p>
                        </div>
                    </li>
                    <li>
                        <div class="channel_ico">
                            <img src="http://d33wubrfki0l68.cloudfront.net/623255b3fa225e1f096363dfad79e63bc5c7bdac/377c3/img/illu-blog@4x.png" alt="">
                        </div>
                        <div class="channel_title_and_short_det">
                            <h3>Publications</h3>
                            <p>Make a collection of Blogs</p>
                        </div>
                    </li>
                </ul>
            </div><!-- create channel content end -->
        </div><!-- create channel container end -->
    </div>
</div>