<form #createJobFrm="ngForm" [formGroup]="jobFrm" (ngSubmit)="submitJobForm(jobFrm.value)">
  <!-- <p class="c-text_lg color-grey-dark m-t-16">Jobs.</p> -->
  <div id="03" class="tab-pane">
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
          Jobs details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Role</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="jobRole" class="c-form__input" type="text" placeholder="Eg: Manager/Director">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Manager/Director</label> -->
              </div>
              <p *ngIf="jobFrm.controls['jobRole'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Role is required!</p>
          </div>
      </div>
      <!-- Role end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Description</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm">
                  <textarea formControlName="jobDescription" class="c-textarea__block c-textarea--style" placeholder="Describe about opportunity"></textarea>
              </div>
              <p *ngIf="jobFrm.controls['jobDescription'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Description is required!</p>
          </div>
      </div>
      <!-- Description end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Industry</div>
          </div>
          <div class="col-md-6 p-0">
              <div class="c-form__group m-t-0">
                  <select formControlName="jobIndustry" class="c-form-control p-l-0">
                      <option value="">Select</option>
                      <option *ngFor="let category of industryList" [value]="category.name">
                          {{ category.name }}
                      </option>
                  </select>
              </div>
              <p *ngIf="jobFrm.controls['jobIndustry'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Industry is required!</p>
          </div>
      </div>
      <!-- Description end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Experience</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                    <input formControlName="jobExperienceFrom" class="c-form__input" type="number" min="0" placeholder="Min">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                </div>
              </div>
              <div class="col-md-1">
                  <div class="c-text_md color-grey-dark p-8">to</div>
              </div>
              <div class="col-md-2 p-0">
                <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                    <input formControlName="jobExperienceTo" class="c-form__input" type="number" min="0" placeholder="Max">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                </div>
              </div>
              <div class="col-md-1">
                  <div class="c-text_md color-grey-dark p-8">years</div>
              </div>
              <p *ngIf="(jobFrm.controls['jobExperienceFrom'].errors?.required || jobFrm.controls['jobExperienceTo'].errors?.required) && createJobFrm.submitted" class="c-form__validation error">Experience fields are required!</p>
              <p *ngIf="jobFrm.controls['jobExperienceTo'].errors?.invalidExperienceRange && createJobFrm.submitted" class="c-form__validation error">Invalid experience range!</p>
          </div>
      </div>
      <!-- Experience end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Salary</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-4 p-l-0">
                  <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                      <input formControlName="jobSalaryAmount" class="c-form__input" type="text" placeholder="Salary amount">
                      <span class="c-form__highlight"></span>
                      <span class="c-form__bar"></span>
                      <!-- <label>Eg: Manager/Director</label> -->
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="c-form__group m-t-0">
                      <select formControlName="jobSalaryDuration" class="c-form-control p-l-0">
                          <option value="">Select</option>
                          <option value="Year">Year</option>
                          <option value="Month">Month</option>
                          <option value="Contract">Contract</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="c-form__group m-t-0">
                      <select formControlName="jobSalaryCurrency" class="c-form-control p-l-0">
                          <option value="">Select</option>
                          <option value="INR">INR</option>
                          <option value="DOLLAR">DOLLAR</option>
                          <option value="EURO">EURO</option>
                      </select>
                  </div>
              </div>
              <p *ngIf="(jobFrm.controls['jobSalaryAmount'].errors?.required || jobFrm.controls['jobSalaryDuration'].errors?.required || jobFrm.controls['jobSalaryCurrency'].errors?.required) && createJobFrm.submitted" class="c-form__validation error">Salary details are required!</p>
          </div>
      </div>
      <!-- Salary end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Job Type</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-4 p-0">
                  <div class="c-form__group m-t-0">
                      <select formControlName="jobDuration" class="c-form-control p-l-0">
                          <option value="">Select</option>
                          <option value="Full time">Full time</option>
                          <option value="Part time">Part time</option>
                      </select>
                  </div>
              </div>
              <p *ngIf="jobFrm.controls['jobDuration'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Duration is required!</p>
          </div>
      </div>
      <!-- Duration end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Location</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="jobLocation" class="c-form__input" type="text" placeholder="Eg: Locality, City, Country">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Locality, City, Country</label> -->
              </div>
              <p *ngIf="jobFrm.controls['jobLocation'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Location is required!</p>
          </div>
      </div>
      <!-- Location end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Includes Travel</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                  <div class="c-radio__sm p-t-8 float_left width100">
                      <label class="col-md-6 p-0 p-t-8">
                          <input formControlName="jobTravelInclusive" type="radio" value="Yes" class="c-form__bar2"><span></span>Yes
                      </label>
                      <label class="col-md-6 p-0 p-t-8">
                          <input formControlName="jobTravelInclusive" type="radio" value="No" class="c-form__bar2"><span></span>No
                      </label>
                  </div>
              </div>
              <div class="col-md-9 p-r-0">
                  <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                      <input formControlName="jobCountry" class="c-form__input" type="text" placeholder="Country">
                      <span class="c-form__highlight"></span>
                      <span class="c-form__bar"></span>
                      <!-- <label>Country</label> -->
                  </div>
              </div>
              <p *ngIf="(jobFrm.controls['jobTravelInclusive'].errors?.required || jobFrm.controls['jobCountry'].errors?.required) && createJobFrm.submitted" class="c-form__validation error">This is required!</p>
          </div>
      </div>
      <!-- Location end -->
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
          Candidate details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Skills</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="jobSkills" class="c-form__input" type="text" placeholder="Eg: #UIdesign #photoshop #sketch">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: #UIdesign #photoshop #sketch</label> -->
              </div>
              <p *ngIf="jobFrm.controls['jobSkills'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Skills are required!</p>
          </div>
      </div>
      <!-- Skills end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Education</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="jobQualifications" class="c-form__input" type="text" placeholder="Eg: Graduate">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Garduate </label> -->
              </div>
              <p *ngIf="jobFrm.controls['jobQualifications'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Qualification is required!</p>
          </div>
      </div>
      <!-- Qualifications end -->
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
          organization details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Organization Name</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="jobOrgName" class="c-form__input" type="text" placeholder="Name of the organization/company">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Name of the organization/company</label> -->
              </div>
              <p *ngIf="jobFrm.controls['jobOrgName'].errors?.required && createJobFrm.submitted" class="c-form__validation error">Organization name is required!</p>
          </div>
      </div>
      <!-- Organization Name end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Attach Files</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="o-oppo-form__file-type">
                  <input class="o-oppo-file" type="file" accept="image/*" (change)="fileSelectedAction($event)" multiple>
                  <p *ngIf="!uploadingFile" class="c-text_sm o-oppo-file__text">upload<br>image</p>
                  <img *ngIf="uploadingFile" [src]="baseUrl + 'img/search-preloader.gif'" class="opp-prel-image" alt="">
                  <img *ngIf="uploadedFile" [src]="uploadedFileSrc" class="opp-prev-image" alt="">
              </div>
              <div *ngFor="let fileName of jobAttachments" class="o-oppo-form__img-show">
                <img [src]="baseUrl + fileName" alt="">
              </div>
          </div>
      </div>
      <!-- file attach end -->
      <div class="o-oppo-form__single">
        <div class="col-md-3 p-0"></div>
        <div class="col-md-9 p-0">
            <p *ngIf="_oppDetails?.formType === 'create'" class="c-text_sm color-grey-dark m-t-24">By clicking 'Create', you are agreeing to the Terms & Conditions and the Privacy policy.</p>
            <button *ngIf="_oppDetails?.formType === 'create'" type="submit" [disabled]="oppSubmitting || uploadingFile" class="btn btn-primary btn-md m-t-16 m-b-16">Create</button>
            <button *ngIf="_oppDetails?.formType === 'edit'" type="submit" [disabled]="oppSubmitting || uploadingFile" class="btn btn-primary btn-md m-t-16 m-b-16">Update</button>
        </div>
      </div>
      <!-- btn end -->
  </div>
</form>