.large {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 200px;
}

vg-scrub-bar{
  height: 5px !important;
  background-color: #222;
}

vg-controls{
  z-index: 11000;
}

vg-scrub-bar{
  z-index: 11000;
}

.small {
  height: 50px;
}