<vg-player class="large" [ngClass]="{'small': size === 'small'}">
  <vg-controls *ngIf="type !== 'simple'">
    <vg-play-pause></vg-play-pause>
    <div *ngIf="type !== 'simple'">
      <vg-playback-button></vg-playback-button>
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    </div>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    </vg-scrub-bar>
    <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    <div *ngIf="type !== 'simple'">
      <vg-mute></vg-mute>
    </div>
  </vg-controls>
  <audio #media [vgMedia]="media" preload="auto" autoplay>
    <source [src]="src" type="audio/mp3">
  </audio>
</vg-player>
