<app-navigation></app-navigation>
<section class="o-dwc-prof-top">
    <div class="container">
        <div class="o-dwc-prof__hero-txt">
            <h6 class="c-h3 color-white">One Page Spotlight</h6>
            <h2 class="c-h1 color-white">Empowering artists to entertain and<br>inspire the world</h2>
        </div>
    </div>
</section>

<div class="o-dwc-prof-content">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8 o-dwc-prof__content">
            <h2 class="c-h2">About Us</h2>
            <p class="c-text_lg m-t-8 f-w_300">
                Artists, performing and non-performing with great talent and abilities go unnoticed without opportunities to gain exposure, collaborate with other talents
                and resources to progress in their forms of arts. Existing art communities & organizations are challenged with market value of arts, available funds and are
                geographically isolated from potential new audience.
                Having experienced the ills and difficulties in the arts & entertainment industry, we have ventured to build an ecosystem for this industry that would enable
                individuals and organizations to thrive and establish themselves.
                We are committed to empower the creative performing & non-performing artists and organizations to network, create and advance. On a single platform we
                enable intercultural, intergenerational and cross industry collaborations both locally and internationally. Our website provides a toolkit and resources for
                aspiring students, professionals & businesses in the creative community to showcase talent and monetize creative practice.
                With deep knowledge of the audience persona, we have designed, categorized and curated feeds based on channels of personal interests to provide an
                immersive experience and a transcendental entertainment to viewers and critics.
                We strive to empower artists for they in turn can entertain the whole wide world!
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="o-dwc-prof-contact">
    <div class="contianer">
        <div class="o-dwc-contact-block">
            <h2 class="m-b-24">Contact us</h2>
            <form [formGroup]="contactUs" novalidate (ngSubmit)="submitForm(contactUs.value)" #cufrom="ngForm">
                <div class="c-form__group c-form--lg m-t-8">
                    <input class="c-form__input" required="" formControlName="email" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Email</label>
                </div>
                <div class="c-form__group c-form--lg m-t-8">
                    <input class="c-form__input" required="" formControlName="subject" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Subject</label>
                </div>
                <textarea id="" rows="6" class="o-dwc-contact__textarea" value="" formControlName="message" placeholder="Message"></textarea>
                <button type="submit" class="btn btn-primary btn-lg float_right m-t-24" [disabled]="sendingLoading">Send</button>
            </form>
        </div>
    </div>
</div>