<section class="o-dwc-progress-sec m-t-50">
    <div class="container">
        <div class="o-dws-progress-block">
            <span class="c-text_md float_left m-r-8">DWC participation process completion</span>
            <div class="o-dws-progress__bar">
                <a href="" class="o-dws-progress__link" [ngClass]="{'o-dwc-progress--active': (isAuthed === true) && dataDwc?.profile_navigation_details?.DWCcompleteStatus >= 0}"></a>
                <div class="o-dws-progress__white"></div>
                <a class="o-dws-progress__link" [ngClass]="{'o-dwc-progress--active': dataDwc?.profile_navigation_details?.DWCcompleteStatus >= 1}"></a>
                <div class="o-dws-progress__white"></div>
                <a class="o-dws-progress__link" [ngClass]="{'o-dwc-progress--active': dataDwc?.profile_navigation_details?.DWCcompleteStatus >= 2}"></a>
                <div class="o-dws-progress__white"></div>
                <a class="o-dws-progress__link" [ngClass]="{'o-dwc-progress--active': dataDwc?.profile_navigation_details?.DWCcompleteStatus >= 3}"></a>
            </div>
            <div class="o-dws-progress__txt float_right">
                <a routerLink="/dwc/reg" class="o-dws-progress__link c-text_sm text-center">Sign up</a>
                <a routerLink="/dwc/reg" class="o-dws-progress__link c-text_sm text-center">Register DWC</a>
                <a routerLink="/dwc/payment" class="o-dws-progress__link c-text_sm text-center">Payment</a>
                <a [routerLink]="['/post']" [queryParams]="{ event: 'dwc' }" class="o-dws-progress__link c-text_sm text-center">Upload Media</a>
            </div>
        </div>
    </div>
</section>