<div class="bookmark">
    <div class="bookmark__info width_100">
        <div class="bookmark-info__media-type">
            <div class="bookmark-media-type__label">Opportunity
                <div class="bookmark-delet">
                    <div class="bookmark-delet__icon">
                        <img src="https://ops-v2-2.netlify.com/assets/svg/ico_close-38.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="bookmark-info__discription">
                <div class="c-text_lg f-w_600">
                    {{ oppDetails?.opportunityTitle }}
                </div>
            </div>
            <div class="bookmark-info__post-detail">
                <div class="bookmark-post-detail__user-info">
                    <a href="profile_others.html" class="bookmark-user-link">
                        <div class="bookmark-user-info__prof-pic">
                            <img src="https://ops-v2-2.netlify.com/assets/demo/avatar.jpg" alt="">
                        </div>
                        <div class="bookmark-user-info__user-name">
                                {{ oppDetails?.ownerName }}
                        </div>
                    </a>
                </div>
            </div>
            <div class="bookmark-info__action">
                <a [routerLink]="'/opportunity/view/' + oppDetails?.id" class="bookmark-info__view-link">
                    View
                </a>
            </div>
        </div>
    </div>
</div>