<section>
    <div class="container">
        <div class="o-mob-container">
            <div class="o-mob__logo">
                <img src="/assets/img/ops_logo.png">
            </div>
            <div class="o-mob__media">
                <img src="/assets/img/mob_coming.png" alt="">
            </div>
            <div class="o-mob__title">
                One Page Spotlight mobile app<br>will be launched soon. 
            </div>
            <div class="o-mob__sub-title">
                Kindly use your PC to access the<br>Website until then.
            </div>
        </div>
    </div>
</section>