<div class="container m-pad-v-15" *ngIf="!profileObject?.extra?.isImported">
  <div class="column-container m-t-b-24 m-l-r-0">
    <!-- left feed -->
    <div class="left-columns hidden-sm hidden-xs">
      <!--MY story widget start-->
      <app-my-story [currentUser]="isCurrentUser" [handle]="userHandle"></app-my-story>
      <!--MY story widget end-->
      <!-- attend event -->
      <app-event-widget [currentUser]="isCurrentUser"></app-event-widget>
    </div>
    <!-- //left feed -->
    <!-- right feed -->
    <div class="columns desktop-css p-0">
      <div class="c-ops__tabs">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a [routerLink]="['post']">Posts</a>
          </li>
          <li routerLinkActive="active">
            <a class="p-l-8" [routerLink]="['channel']">Channel</a>
          </li>
        </ul>
        <div id="home_channel" class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- tabs -->
    </div>
    <!-- //right feed -->
  </div>
</div>

<!-- <app-modal-new #deleteModal modalClass="o-comodal_main in">
  <modal-content>
    <app-confirm-box [message]="'Are you sure you want to permanently delete your story?'" [heading]="'Delete'"
      (confirmAction)="confirmation($event)" (closeModal)="closeCancelApplicationModal()"></app-confirm-box>
  </modal-content>
</app-modal-new> -->
