<div class="container m-pad-v-15" *ngIf="!profileObject?.extra?.isImported">
  <div class="column-container m-t-b-24 m-l-r-0">
    <!-- left feed -->
    <div class="left-columns hidden-sm hidden-xs">
      <!--MY story widget start-->
      <div class="m-b-16">
        <div class="o-mystory">
          <div class="o-mystory__title">
            <span class="c-text_md text_uppercase color-grey-dark f-w_600">My story</span>
          </div>
          <div class="o-mystory__media">
            <ng-container *ngFor="let list of storyList | slice:0:4; let i=index">
              <div class="o-mystory-media__one" *ngIf="i===0">
                <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
                  <img [src]="imageBaseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
                </a>
              </div>
              <div class="o-mystory-media__two" *ngIf="i===1">
                <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
                  <img [src]="imageBaseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
                </a>
              </div>
              <div class="o-mystory-media__three" *ngIf="i===2">
                <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
                  <img [src]="imageBaseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
                </a>
              </div>
              <div class="o-mystory-media__four" *ngIf="i===3">
                <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
                  <img [src]="imageBaseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
                </a>
              </div>
            </ng-container>
          </div>
          <div class="o-mystory__add" *ngIf="isCurrentUser">
            <a [routerLink]="['/post/media']" [queryParams]="{post_to: 'my_story'}" class="o-mystory-add__link">
              <div class="o-mystory-add__icon">
                <img src="{{imageBaseUrl}}img/svg/ico_create-plus.svg" alt="">
              </div>
              <div class="o-mystory-add__txt">
                Add My story
              </div>
            </a>
          </div>
        </div>
      </div>
      <!--MY story widget end-->
      <!-- attend event -->
      <div class="c-card top-stick">
        <div class="c-card__project p-l-r-16 p-t-16">
          <div class="c-text_md color-grey-dark c-text-semibold" *ngIf="isCurrentUser">
            EVENTS CREATED
          </div>
          <div class="c-text_md color-grey-dark c-text-semibold" *ngIf="!isCurrentUser">
            EVENTS RECOMMENDED
          </div>
        </div>
        <div *ngIf="eventsLoading" class="preloader">
          <div class="sticky">
            <div class="loader">Loading...</div>
          </div>
        </div>
        <ng-container *ngIf="eventState?.event_loaded">
          <div class="empty_message" *ngIf="eventList?.length === 0">
            <p>There is no event</p>
            <!-- <a [routerLink]="['/event/create']">Create Event</a> -->
          </div>
          <div class="p-16 event__block" *ngFor="let event of eventList.slice(0, 2)">
            <!-- card media (img, video & audio) -->
            <div class="c-card__event2 float_left">
              <a [routerLink]="'/event/inner/' + event?.id">
                <img [src]="imageBaseUrl + event?.imagePath[0]" alt="" class="c-card__image">
              </a>
            </div>
            <!-- //card media (img, video & audio) -->
            <div class="c-card__project p-t-8">{{event?.eventType }}</div>
            <!-- card body -->
            <div class="c-card__body p-0">
              <div class="c-text_lg">
                {{event?.title | truncate:[40, '...']}}
              </div>
              <div class="c-text_md color-grey-dark m-t-8 m-b-24">{{ event?.startDate | utcDate | date: 'dd, MMM'}} -
                {{ event?.endDate | utcDate | date: 'dd, MMM'}}</div>
            </div>
            <!-- //card body -->
          </div>
        </ng-container>
        <p class="text-center p-t-b-16" *ngIf="eventList && eventList.length > 2">
          <a [routerLink]="['/event']" class="c-text_md color-theme" *ngIf="!isCurrentUser">See All</a>
          <a [routerLink]="['/event']" [queryParams]="{ status: 'created' }" class="c-text_md color-theme" *ngIf="isCurrentUser">See
            All</a>
        </p>
      </div>
    </div>
    <!-- //left feed -->
    <!-- right feed -->
    <div class="columns desktop-css p-0">
      <div class="c-ops__tabs">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a [routerLink]="['post']">Posts</a>
          </li>
          <li routerLinkActive="active">
            <a class="p-l-8" [routerLink]="['channel']">Channel</a>
          </li>
        </ul>
        <div id="home_channel" class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- tabs -->
    </div>
    <!-- //right feed -->
  </div>
</div>

<app-modal-new #deleteModal modalClass="o-comodal_main in">
  <modal-content>
    <app-confirm-box [message]="'Are you sure you want to permanently delete your story?'" [heading]="'Delete'"
      (confirmAction)="confirmation($event)" (closeModal)="closeCancelApplicationModal()"></app-confirm-box>
  </modal-content>
</app-modal-new>
