
<div class="container">
  <!--- ---------------------------- section ----------------------------- -->
  <div class="row pro_feed">
      <!-- left feed -->
      <div class="col-md-3 col-sm-3 pro_feed-left">
        <div class="row">
            <!-- calender -->
            <div class="col-md-12 col-sm-12 pro_calender">
                
                <div class="row pro_canlender-head">
                    <h3>YOUR CALENDER</h3>
                    <!--<button type="button" class="btn btn-normal btn-xs">PLANNER</button>-->
                </div>
                <div class="blur-main">
                    <h4 class="text-center">JULY, 2017</h4>
                    <ul class="list-inline pro_canlender-date">
                        <li class="list-inline-item active">14</li>
                        <li class="list-inline-item">15</li>
                        <li class="list-inline-item">16<span class="upcoming">.</span></li>
                        <li class="list-inline-item">17<span class="upcoming">.</span></li>
                        <li class="list-inline-item">18</li>
                        <li class="list-inline-item">19</li>
                    </ul>
                    <div class="alert alert-danger">
                        <strong>10:10 AM</strong><br> Metting with Mike Creative Mint
                    </div>
                    <div class="alert alert-danger">
                        <strong>11:10 AM - 1: 30 PM</strong><br> Metting with stebe Aovi
                    </div>
                    <p class="see_more">SEE MORE</p>
                </div>
                <div class="coming_soon_txt">Coming Soon</div>
            </div>
            <!-- attend event -->
            <div class="col-md-12 col-sm-12 attend_event">
              <div class="row attend_event-head">
                  <h3>attending event</h3>
                  <!--<p class="see_more">see more</p>-->
              </div>
              <div class="blur-main">
                <div class="row attend_cont">
                    <div class="col-md-4 col-sm-12">
                        <img src="http://d33wubrfki0l68.cloudfront.net/23233487310357c73524b8c7bfdc14ac9ef3388d/d014c/img/event.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h3 class="feed-heading">DJ Night By DJ Tiesto</h3>
                        <h4 class="feed-heading">12, JUL</h4>
                        <p class="feed-sub-heading">Mohegan Sun Arena</p>
                    </div>
                </div> 
              </div>
               <div class="coming_soon_txt">Coming Soon</div>
            </div>
            <div class="col-md-12 col-sm-12 attend_event">
              <div class="row attend_event-head">
                  <h3>project</h3>
                  <!--<p class="see_more">see more</p>-->
              </div>
              <div class="blur-main">
                <div class="row attend_cont">
                    <div class="col-md-4 col-sm-12">
                        <img src="http://d33wubrfki0l68.cloudfront.net/23233487310357c73524b8c7bfdc14ac9ef3388d/d014c/img/event.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h3 class="feed-heading">Semplice- Designers portfolio system</h3>
                        <p class="feed-sub-heading">23 Collaborators</p>
                    </div>
                </div>
                </div>
               <div class="coming_soon_txt">Coming Soon</div>
            </div>
            <div class="col-md-12 col-sm-12 attend_event">
              <div class="row attend_event-head">
                  <h3>Communities</h3>
                  <!--<p class="see_more">see more</p>-->
              </div>
              <div class="blur-main">
                <div class="row attend_cont">
                    <div class="col-md-4 col-sm-12">
                        <img src="http://d33wubrfki0l68.cloudfront.net/23233487310357c73524b8c7bfdc14ac9ef3388d/d014c/img/event.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h3 class="feed-heading">DJ Night By DJ Tiesto</h3>
                        <h4 class="feed-heading">12, JUL</h4>
                        <div class="feed_thumb">
                            <span class="feedfirst_thumb"><img src="http://d33wubrfki0l68.cloudfront.net/f95ab4145735ba7a5840faf3f7e91deab3c572fd/9f033/img/opro.png" class="img-responsive"></span>
                            <span class="feedfirst_thumb"><img src="http://d33wubrfki0l68.cloudfront.net/f95ab4145735ba7a5840faf3f7e91deab3c572fd/9f033/img/opro.png" class="img-responsive"></span>
                            <span class="feedfirst_thumb"><img src="http://d33wubrfki0l68.cloudfront.net/f95ab4145735ba7a5840faf3f7e91deab3c572fd/9f033/img/opro.png" class="img-responsive"></span>                          
                        </div>
                        <p class="feed-sub-heading">+ 23 Members</p>
                    </div>
                </div>
                </div>
                <div class="coming_soon_txt">Coming Soon</div>
            </div>
        </div>
      </div>
      <!-- //left feed -->
      <!-- right feed -->
      <div class="col-md-9 col-sm-9 pro_feed-right">
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="quick_access">
                  <h2 class="feed-heading">
                    Quick Access
                  </h2>
                  <app-quick-access *ngFor="let quickAccess of userQuickAccess.userQuickAccess; let i = index" [quickAccessData]="quickAccess"></app-quick-access>
              </div>
            </div>
        </div>
        <!-- tabs -->
        <div class="row">
            <div class="col-md-12 col-sm-12 profile_page">
                <div class="home_tabs">
                    <ul class="nav nav-tabs">
                      <li><a [routerLink]="['channel']" routerLinkActive="active">Channel</a></li>
                      <li><a [routerLink]="['post']" routerLinkActive="active">Posts</a></li>
                    </ul>
                    <div class="row pro_channel2">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- tabs -->
      </div>
      <!-- //right feed -->
  </div>
</div>