<div class="c-post__comment " *ngIf="commentsListType === 'media-popup'">
  <div class="c-post__comment--left">
    <a class="c-user__avatar c-avatar--status2">
      <img class="c-user__image" [src]="imageLink + commentData?.ownerImage">
    </a>
  </div>
  <div class="c-post__comment--right p-l-8">
    <div class="c-post__comment_text-mpop">
        <a class="c-post__commenter">{{ commentData?.ownerName }}</a>
        <read-more
            [maxLength]=150
            [isEdit]="isEdit"
            [text]="messageText"
            (cancelEdit)="onCancelEdit()"
            class="c-post__comment_text-inline break-word"
            (contentEdited)="saveContentUpdate($event)"></read-more>
    </div>
    <div class="c-post__comment--time">{{ (commentData?.updatedDate ? commentData?.updatedDate : commentData?.createdDate) | utcDate | date: 'hh:mm:ss a' }}</div>
  </div>
  <div class="dropdown c-dropdown c-dropdown__options m-r-16" appDropdown *ngIf="commentData?.isOwner">
      <span class="dropdown-toggle" appDropdownOpen>
          <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-options--img">
      </span>
      <ul class="dropdown-menu dropdown-menu-right">
          <li>
              <a (click)="onContentEdit($event)">Edit</a>
          </li>
          <li>
              <a (click)="onContentDelete($event)">Delete</a>
          </li>
      </ul>
  </div>

    <div class="dropdown c-dropdown c-dropdown__options m-r-16" appDropdown *ngIf="!commentData?.isOwner">
        <span class="dropdown-toggle" appDropdownOpen>
            <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-options--img">
        </span>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a (click)="reportModalOpen(commentData.commentsId)">Report</a>
            </li>
        </ul>
    </div>
</div>


<div class="c-post__comment  fill-grey-light p-l-r-24" *ngIf="commentsListType !== 'media-popup'">
    <div class="c-post__comment--left">
        <a class="c-user__avatar c-avatar--status5">
            <img class="c-user__image" [src]="(commentData?.ownerImage !== '') ? imageLink + commentData?.ownerImage : imageLink + 'avatars/user-avatar-male.png'">
        </a>
    </div>
    <div class="c-post__comment--right p-l-0">
        <div class="c-post__comment_text">
            <a class="c-post__commenter">{{ commentData?.ownerName }}</a>
            <read-more
                [maxLength]=150
                [isEdit]="isEdit"
                [text]="messageText"
                (cancelEdit)="onCancelEdit()"
                class="c-post__comment_text-inline"
                (contentEdited)="saveContentUpdate($event)"></read-more>
        </div>
        <div class="c-post__comment--time">{{ (commentData?.updatedDate ? commentData?.updatedDate : commentData?.createdDate)  | utcDate | date:'d MMM h:m a' }}</div>
    </div>
    <div class="dropdown c-dropdown c-dropdown__options m-r-24" appDropdown *ngIf="commentData?.isOwner">
        <span class="dropdown-toggle" appDropdownOpen >
            <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-options--img">
        </span>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a (click)="onContentEdit($event)">Edit</a>
            </li>
            <li>
                <a (click)="onContentDelete($event)">Delete</a>
            </li>
        </ul>
    </div>
    <div class="dropdown c-dropdown c-dropdown__options m-r-16" appDropdown *ngIf="!commentData?.isOwner">
        <span class="dropdown-toggle" appDropdownOpen>
            <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-options--img">
        </span>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a (click)="reportModalOpen(commentData.commentsId)">Report</a>
              </li>
        </ul>
    </div>
</div>

<app-modal-new #reportModal modalClass="modal-report__popup">
    <modal-content>
      <app-report-popoup [reportContentId]="reportId" [reportType]="'comment'" (onclose)="reportModal.close()"></app-report-popoup>
    </modal-content>
</app-modal-new>