@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_helpers.scss';
@import './src/assets/scss/components/_feed-card.scss';
@import './src/assets/scss/components/_dropdowns.scss';
@import './src/assets/scss/components/_cards.scss';
@import '~sass-mq/_mq.scss';

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// comments block -----------------------------
.c-post__comment {
  padding: 16px 24px;
  @include clearfix;
  position: relative;
}

.c-post__comment {
    padding: 8px 16px;
    @include clearfix;
    position: relative;
    clear: both;
}

.c-post--unread {
    background-color: #F5F5F5;
}

.c-post__comment--time {
    color: #c1c1c1;
    font-size: 11px;
    line-height: 18px;
    margin-top: 3px;
    padding-right: 8px;
}

.c-post__commenter {
    color: #333333;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
    float: left;
    padding-right: 10px;
    &:hover {
        color: #333;
    }
}

.c-post__comment_text-mpop {
    color: #929292;
    font-size: 11px;
    line-height: 18px;
    margin-left: 0;
    display: block;
}

.c-post__input {
    width: 90%;
    float: left;
    margin-left: 8px;
}

.c-post--unread {
  background-color: #F5F5F5;
}

.c-post__comment--time {
  color: #979797;
  font-size: 10px;
  line-height: 17px;
  margin-top: 3px;
  padding-right: 8px;
}


.c-post__comment_text {
  color: #333333;
  font-size: 12px;
  line-height: 21px;
  margin-left: 46px;
}

.c-post__input {
  width: 90%;
  float: left;
  margin-left: 8px;
}

.form__bottom--0 {
  margin-bottom: 0px;
  .form_input:focus~label,
  .form_input:valid~label {
    display: none;
  }
}

// post with comments block style -----------------------------------
.c-avatar--status {
  width: 34px;
  height: 34px;
}

.c-avatar--artist {
  width: 90px;
  height: 90px;
}

.c-user--align {
  margin-left: 16px; // margin-top: 8px;
}

.c-user__channel-align {
  margin-top: 20px;
  position: absolute;
  margin-left: 50px;
}

.c-status--block {
  width: 100%;
  float: left;
  clear: both;
  padding: 16px 24px;
  position: relative;
}

.c-post__time {
  float: left;
  color: #979797;
  font-size: 12px;
  line-height: 17px; // margin-right: 8px;
  margin-top: 8px;
}

.c-status__options {
  width: 14px;
  float: left;
  margin-top: 9px;
  margin-left: 8px;
}


// feed card body block style ------------------------------------
.c-card__body {
  width: 100%;
  float: left;
  clear: both;
  padding: 16px;
  position: relative;
}

.c-card__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #333;
  text-transform: uppercase;
  &:hover {
    color: #333;
  }
}

.c-card__desc {
  font-size: 12px;
  font-weight: 600;
  color: #979797;
}

.c-card__options {
  position: absolute;
  top: 10px;
  right: 0px;
  margin: 10px;
  line-height: 0px;
  width: 14px; // background: #ffffff;
}

.c-user__image {
  width: 100%
}

// card user block ------------------
.c-card__user {
  margin-top: 16px;
}

.c-user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 50px;
  float: left;
}

.c-avatar--feed {
  width: 24px;
  height: 24px;
}

.c-user__image {
  width: 100%
}

.c-user__name {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #000;
  margin-left: 8px;
  margin-top: 2px;
  float: left;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}

.c-user__channel {
  font-size: 12px;
  font-weight: 600;
  color: #979797;
  display: block;
  margin-left: 32px;
  clear: both;
  cursor: pointer;
  &:hover {
    color: #979797;
  }
}

// channel dropdown
.c-channel-option{
    position: absolute;
    top: 36px;
    right: 16px;
    padding: 0px;
    left: inherit;
    // border:none;
    overflow: hidden;
}
.c-channel-option a{
    background: transparent;
}

.c-avatar--status2 {
    width: 24px;
    height: 24px;
}


// comments block -----------------------------
.c-post__comment--left {
    width: 7%;
    float: left;
    @include mq($from: $mobile_sm, $until: $mobile_lg){
      width: auto;
    }
}

.c-post__comment--right {
    width: 90%;
    float: left;
    @include mq($from: $mobile_sm, $until: $mobile_lg){
      padding-left: 10px !important;
    }
}

.c-post__comment__blank {
    height: 49vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #808080;
    font-weight: 300;
    line-height: 24px;
}

.c-post__comment {
    padding: 8px 16px;
    @include clearfix;
    position: relative;
    clear: both;
}

.c-post--unread {
    background-color: #F5F5F5;
}

.c-post__comment--time {
    color: #c1c1c1;
    font-size: 11px;
    line-height: 18px;
    margin-top: 3px;
    padding-right: 8px;
}

.c-post__commenter {
    color: #333333;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
    float: left;
    padding-right: 5px;
    &:hover {
        color: #333;
    }
}

.c-post__comment_text {
    color: #929292;
    font-size: 11px;
    line-height: 18px;
    margin-left: 0;
    display: flow-root;
}

.c-post__input {
    width: 90%;
    float: left;
    margin-left: 8px;
}

.form__bottom--0 {
    margin-bottom: 0px;
    .form_input:focus~label,
    .form_input:valid~label {
        display: none;
    }
}

.c-post__commenter-mpop{
  margin-left: 0px;
}
.c-options--img{
    width: 10px;
    cursor: pointer;
}

.c-post__comment_text-inline{
  display: inline;
  word-break: break-all;
}

.c-contenteditable {
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
    border-bottom: 1px solid #c1c1c1;
    color:#000000;
}

.c-post__commenter{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

#contentEdit{
  border-bottom: 1px solid;
  display: inline;
}