<div class="c-post__comment " *ngIf="commentsListType === 'media-popup'">
  <div class="c-post__comment--left">
    <a class="c-user__avatar c-avatar--status2">
      <img class="c-user__image" [src]="imageLink + commentData?.ownerImage">
    </a>
  </div>
  <div class="c-post__comment--right p-l-8">
    <a class="c-post__commenter c-post__commenter-mpop" (click)="navigate()">{{ commentData?.ownerName }}</a>
    <div class="c-post__comment_text-mpop">
        <read-more class="c-post__comment_text-inline" [text]="messageText" [maxLength]=150 *ngIf="!isEdit"> </read-more>
        <!-- <div class="c-post__comment_text-inline" *ngIf="!isEdit"> {{ messageText }} </div> -->
        <div contenteditable="true" *ngIf="isEdit" [textContent]="messageText" [(ngModel)]="messageText" name="messageText" class="c-post__comment_text c-contenteditable" ngDefaultControl (keyup.enter)="onContentSaved()" (input)="messageText=$event.target.textContent">

        </div>
      <!--<input type="text" class="c-post__comment_text c-contenteditable" *ngIf="isEdit" [(ngModel)]="messageText" (keyup.enter)="onContentSaved()" value="{{ commentData?.comment }}">-->
    </div>
    <div class="c-post__comment--time">{{ (commentData?.updatedDate ? commentData?.updatedDate : commentData?.createdDate) | utcDate | date: 'hh:mm:ss a' }}</div>
  </div>
  <div class="dropdown c-dropdown c-dropdown__options m-r-16" appDropdown *ngIf="commentData?.isOwner">
      <span class="dropdown-toggle" appDropdownOpen>
          <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-options--img">
      </span>
      <ul class="dropdown-menu dropdown-menu-right">
          <li>
              <a (click)="onContentEdit($event)">Edit</a>
          </li>
          <li>
              <a (click)="onContentDelete($event)">Delete</a>
          </li>
      </ul>
  </div>
</div>


<div class="c-post__comment  fill-grey-light p-l-r-24" *ngIf="commentsListType !== 'media-popup'">
    <div class="c-post__comment--left">
        <a class="c-user__avatar c-avatar--status5">
            <img class="c-user__image" [src]="imageLink + commentData?.ownerImage">
        </a>
    </div>
    <div class="c-post__comment--right p-l-0">
        <a class="c-post__commenter">{{ commentData?.ownerName }}</a>
        <div class="c-post__comment_text">
            <read-more class="c-post__comment_text-inline" [text]="messageText" [maxLength]=150 *ngIf="!isEdit"> </read-more>
            <div contenteditable="true" *ngIf="isEdit" [textContent]="messageText" [(ngModel)]="messageText" name="messageText" class="c-post__comment_text c-contenteditable" ngDefaultControl (keyup.enter)="onContentSaved()" (input)="messageText=$event.target.textContent"></div>
        </div>
        <div class="c-post__comment--time">{{ (commentData?.updatedDate ? commentData?.updatedDate : commentData?.createdDate)  | utcDate | date:'d MMM h:m a' }}</div>
    </div>
    <div class="dropdown c-dropdown c-dropdown__options m-r-24" appDropdown *ngIf="commentData?.isOwner">
        <span class="dropdown-toggle" appDropdownOpen >
            <img [src]="imageLink + 'img/svg/ico_options.svg'" class="c-options--img">
        </span>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a (click)="onContentEdit($event)">Edit</a>
            </li>
            <li>
                <a (click)="onContentDelete($event)">Delete</a>
            </li>
        </ul>
    </div>
</div>