@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';

// industrial category

.c-spotfeed{
	width: 100%;
	margin :8px 0px;
}
.c-spotfeed-block{
	list-style:none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;  
	-webkit-flex-flow: row wrap;
	margin: 0px 15px 15px 0;
}
.c-spotfeed-block__item{// spotfeed for full width section
	float: left;
    list-style-type: none;
    margin:8px 0px 24px 35px;
}
.c-spotfeed-block__item-4{ // spotfeed for tab sections
	float: left;
    list-style-type: none;
    margin:8px 0px 8px 16px;
}
.c-spotfeed-item__single{
	width:200px;
	height: 200px;
	border-radius: 3px;	
	transition:.25s;
	overflow: hidden;
	position: relative;
	&:hover{
		background-color: rgba(102,45,145,0.9);	
		box-shadow: 0 7px 20px 0 rgba(255,123,132,0.62);
	}
}
.c-spotfeed-block__item:nth-child(5n+1){
	margin-left: 0px;
}
.c-spotfeed-block__item-4:nth-child(4n+1){
	margin-left: 0px;
}
.c-spotfeed-single__media{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	img{
		width: 100%;
	}
}
.c-spotfeed-single__content{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(255,123,132,0.57);	
	cursor: pointer;
	&:hover{
		background-color: rgba(255,123,132,0.8);	
	}
}
.c-spotfeed-content__heading{
	position: absolute;
	top: 0px;
	padding: 16px;
}
.c-spotfeed-heading--style{
	color: $white;	
	font-size: 14px;	
	font-weight: 700;
}
