<div class="c-spotfeed">
  <div class="c-spotfeed-block margin_none">
      <div class="c-spotfeed-block__item">
          <div class="c-spotfeed-item__single">
              <div class="c-spotfeed-single__media">
                  <img src="img/channel.jpg" alt="">
              </div>
              <div class="c-spotfeed-single__content">
                  <div class="c-spotfeed-content__heading">
                      <h3 class="c-spotfeed-heading--style">All</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- c-spotfeed end -->