<div class="c-spotfeed">
  <div class="c-spotfeed-block margin_none">
      <div class="c-spotfeed-block__item">
          <a class="c-spotfeed-item__single" [routerLink]="['/spotfeed', spotfeedData.spotfeedId]">
              <div class="c-spotfeed-single__media">
                  <img src="{{ spotfeedData.spotfeedImage }}" src="" alt="">
              </div>
              <div class="c-spotfeed-single__content">
                  <div class="c-spotfeed-content__heading">
                      <h3 class="c-spotfeed-heading--style">{{ spotfeedData.spotfeedName }}</h3>
                  </div>
              </div>
            </a>
      </div>
  </div>
</div><!-- c-spotfeed end -->