<div class="col-md-4 col-sm-6 ops_spotfeed_card">
  <div class="col-md-12 col-sm-12 ops_spotfeed_block">
    <div class="row">
      <div class="col-md-12 col-sm-12 spotfeed_img">
        <figure class="avatar_spotfeed_card">
            <img src="http://d33wubrfki0l68.cloudfront.net/a4ad69d317551d24c67bda3a1ed38c6e740ba123/d7eb6/img/quick3.jpg">
        </figure>
      </div>
      <div class="col-md-12 col-sm-12 ops_spotfeed_cont">
        <div class="ops_spotfeed_name">
          <div class="ops_heading">Hypnosis Myth Reality</div>
          <div class="ops_subheading">Living in the now use it to Enrich your life</div>
        </div>
      </div>
    </div>
  </div>
</div>