<!-- right home feed -->
<div class="col-md-3 col-xs-12 p-0">

    <!-- communities -->
    <div class="c-card m-t-8" >
        <div class="c-text_md p-16 color-grey-dark f-w_600 text_uppercase ltr-space">People to follow</div>
        <div class="c-follow__sec" infinite-scroll (scrolled)="onScrol($event)" [scrollWindow]="false" id="ops_scrollbar">
            <div class="c-invite__block" *ngFor="let profileItem of profiles">
                <div *ngIf="!profileItem.extra.isFollowing">
                    <a class="c-user__avatar c-avatar--status">
                        <img *ngIf="profileItem.profileImage" class="c-user__image" [src]="baseUrl + profileItem.profileImage" width="24px" />
                    </a>
                    <a class="c-text_md c-invite--user" routerLink="/profile/u/{{ profileItem?.extra?.username }}">{{ profileItem?.name | truncate:[10, '...']}}</a>
                    <div class="c-invite--btn">
                        <!-- <button type="button" (click)="followUser(profileItem)" *ngIf="!profileItem.extra.isFollowing" class="btn btn-default btn-sm" [disabled]="disableFollowForSelf(profileItem?.extra?.username)">FOLLOW</button>
                        <button type="button" (click)="unfollowUser(profileItem)" *ngIf="profileItem.extra.isFollowing" class="btn btn-default btn-sm" [disabled]="disableFollowForSelf(profileItem?.extra?.username)">UNFOLLOW</button> -->
                        <a (click)="followUser(profileItem)" *ngIf="!profileItem.extra.isFollowing" class="c-text_md color-theme f-w_600 text_uppercase">FOLLOW</a>
                        <!-- <a (click)="unfollowUser(profileItem)" *ngIf="profileItem.extra.isFollowing" class="c-text_md color-theme f-w_600 text_uppercase">UNFOLLOW</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- people to follow end -->
    <br>

    <div class="c-card">
        <div class="c-text_md padding_16 color-grey-dark f-w_600 text_uppercase ltr-space">Opportunities for you</div>
        <div class="opp_center" *ngIf="opportunities && opportunities.length === 0; else opportunities_found;">
            <p class="result-not-found">No records found!</p>
        </div>
        <ng-template #opportunities_found>
            <a routerLink="/opportunity/view/{{ opportunityDetails?.id }}" *ngFor="let opportunityDetails of opportunities">
                <div class="with_border_bottom m-b-16" *ngIf = "opportunityDetails?.opportunityType === 'audition'">
                    <div class="c-card__project p-l-r-16">
                        <img [src]="imageBaseUrl + 'img/svg/audition.svg'" class="c-card__project--icon"> 
                        <span class="m-l-8">{{opportunityDetails?.opportunityType | uppercase }}</span>
                    </div>
                    <div class="o-home-org-list__title">
                        <p class="c-text_lg">{{ opportunityDetails?.opportunityAudition?.title }}</p>
                    </div>
                    <div class="c-text_md p-l-r-16 p-t-b-8 color-grey-dark">{{ opportunityDetails?.opportunityAudition?.title }}</div>
                    <div class="c-card__location p-b-16 m-b-16">
                        <img [src]="imageBaseUrl + 'img/svg/ico_location2.svg'" class="float_left">
                        <p class="c-card__location--text float_left m-l-8">{{ opportunityDetails?.opportunityAudition?.location .lat}}</p>
                    </div>
                </div>
                <div class="with_border_bottom m-b-16" *ngIf = "opportunityDetails?.opportunityType === 'volunteer'">
                    <div class="c-card__project p-l-r-16">
                        <img [src]="imageBaseUrl + 'img/svg/volunteer.svg'" class="c-card__project--icon"> 
                        <span class="m-l-8">{{opportunityDetails?.opportunityType | uppercase }}</span>
                    </div>
                    <div class="o-home-org-list__title">
                        <p class="c-text_lg">{{ opportunityDetails?.opportunityVolunteer?.title }}</p>
                    </div>
                    <div class="c-text_md p-l-r-16 p-t-b-8 color-grey-dark">{{ opportunityDetails?.opportunityVolunteer?.title }}</div>
                    <div class="c-card__location p-b-16 m-b-16">
                        <img [src]="imageBaseUrl + 'img/svg/ico_location2.svg'" class="float_left">
                        <p class="c-card__location--text float_left m-l-8">{{ opportunityDetails?.opportunityVolunteer?.location?.lat }}</p>
                    </div>
                </div>
                <div class="with_border_bottom m-b-16" *ngIf = "opportunityDetails?.opportunityType === 'freelance'">
                    <div class="c-card__project p-l-r-16">
                        <img [src]="imageBaseUrl + 'img/svg/Freelance.svg'" class="c-card__project--icon"> 
                        <span class="m-l-8">{{opportunityDetails?.opportunityType | uppercase }}</span>
                    </div>
                    <div class="o-home-org-list__title">
                        <p class="c-text_lg">{{ opportunityDetails?.opportunityFreelance?.title }}</p>
                    </div>
                    <div class="c-text_md p-l-r-16 p-t-b-8 color-grey-dark">{{ opportunityDetails?.opportunityFreelance?.title }}</div>
                    <div class="c-card__location p-b-16 m-b-16">
                        <img [src]="imageBaseUrl + 'img/svg/ico_location2.svg'" class="float_left">
                        <p class="c-card__location--text float_left m-l-8">{{ opportunityDetails?.opportunityFreelance?.location?.lat }}</p>
                    </div>
                </div>
                <div class="with_border_bottom m-b-16" *ngIf = "opportunityDetails?.opportunityType === 'job'">
                    <div class="c-card__project p-l-r-16">
                        <img [src]="imageBaseUrl + 'img/svg/jobs.svg'" class="c-card__project--icon"> 
                        <span class="m-l-8">{{opportunityDetails?.opportunityType | uppercase }}</span>
                    </div>
                    <div class="o-home-org-list__title">
                        <p class="c-text_lg">{{ opportunityDetails?.opportunityJob?.role }}</p>
                    </div>
                    <div class="c-text_md p-l-r-16 p-t-b-8 color-grey-dark">{{ opportunityDetails?.organizationName }}</div>
                    <div class="c-card__location p-b-16 m-b-16">
                        <img [src]="imageBaseUrl + 'img/svg/ico_location2.svg'" class="float_left">
                        <p class="c-card__location--text float_left m-l-8">{{opportunityDetails?.opportunityJob?.location?.lat}}</p>
                    </div>
                </div>
                <div class="with_border_bottom m-b-16" *ngIf = "opportunityDetails?.opportunityType === 'project'">
                    <div class="c-card__project p-l-r-16">
                        <img [src]="imageBaseUrl + 'img/svg/Projects.svg'" class="c-card__project--icon"> 
                        <span class="m-l-8">{{opportunityDetails?.opportunityType | uppercase }}</span>
                    </div>
                    <div class="o-home-org-list__title">
                        <p class="c-text_lg">{{ opportunityDetails?.opportunityProject?.title }}</p>
                    </div>
                    <div class="c-text_md p-l-r-16 p-t-b-8 color-grey-dark">{{ opportunityDetails?.opportunityProject?.title }}</div>
                    <div class="c-card__location p-b-16 m-b-16">
                        <img [src]="imageBaseUrl + 'img/svg/ico_location2.svg'" class="float_left">
                        <p class="c-card__location--text float_left m-l-8">{{opportunityDetails?.opportunityProject?.location?.lat}}</p>
                    </div>
                </div>
            </a>
        </ng-template>
    </div>
</div>
<!-- //right home feed -->