<app-navigation></app-navigation>
<section class="o-community-top-block">
    <div class="container p-0">
        <div class="o-community-search m-t-32">
            <form action="">
                <input class="o-community-search__input" #searchInput="ngModel" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" type="text" placeholder="Search Communities">
                <div class="o-community-search__icon">
                    <img [src]="basePath + 'img/svg/ico_search.svg'">
                </div>
            </form>
        </div>
        <!-- search end -->
        <div class="o-community-taglist m-t-24" >
            <span class="c-skill__tags c-skill__tags" *ngFor="let tag of communityTag">{{ tag?.name }} </span>
        </div>
        <!--tag list end -->
    </div>
</section>

<section class="o-community-list-block">
    <div class="container p-0">
        <div class="o-c-tab-top-block">
            <div class="o-oppertunity-filter-sec with_border_top c-ops__tabs o-community-tabs p-t-b-16">
                <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                    <ul class="nav nav-tabs">
                        <li routerLinkActive="active"><a class="p-l-0" [routerLink]="['/communities']" [queryParams]="{ status: 'recommended' }">Recommended</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/communities']" [queryParams]="{ status: 'joined'}">Joined</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/communities']" [queryParams]="{ status: 'created'}">Created</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                    <ul class="o-filter-list-block">
                        <li class="o-filter-list__item">
                            <div class="o-filter__fil-icon">
                                <img width="17" [src]="basePath + 'img/svg/fiter.svg'" alt="">
                            </div>
                        </li>
                        <!-- filter ico end -->
                        <li class="o-filter-list__item m-r-0">
                            <a class="btn btn-primary btn-md"(click)="createForm()">Create</a>
                        </li>
                        <!-- create button end -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- filter section end -->
        <div class="tab-content" style="margin-bottom: 18px" infinite-scroll (scrolled)="onScroll($event)">
            <div id="created">
                <app-community-card *ngFor="let communities of list" [data]="communities" [loader]="false"></app-community-card>
                <div *ngIf="community_load">
                    <app-community-card  *ngFor="let number of [0,1,2,3]"   [data]="communities" [loader]="true"></app-community-card>
                </div>
                <div class="empty_message" *ngIf="list.length === 0 && !community_load">
                    <p>There is no {{status}} community</p>
                </div>
            </div>

            <!-- Created end -->
        </div>
    </div>
</section>
<div class="clearfix"></div>


<app-modal-new #communityCreateModal modalClass="modal-communities__create">
    <modal-content>
        <div class="c-text_lg text-center p-t-16">Create Community</div>
        <div class="p-32">
            <form [formGroup]="communityForm" novalidate (ngSubmit)="submitForm(communityForm.value)" #cmfrom="ngForm">
                <div class="c-form__group">
                    <input class="c-form__input" required="" formControlName="community_name" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Community Name</label>
                </div>
                <p class="c-form__validation" *ngIf="communityForm.controls['community_name'].errors?.maxlength">Maximum characters limit 50</p>
                <div class="c-form__group m-t-24">
                    <input class="c-form__input" required="" formControlName="brief" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>About Community</label>
                </div>
                <p class="c-form__validation" *ngIf="communityForm.controls['brief'].errors?.maxlength">Maximum characters limit 150</p>
                <div class="c-form__group m-t-24">
                    <select class="c-form-control" formControlName="access">
                        <option value="0">Public</option>
                        <option value="1">Private</option>
                    </select>
                </div>
                <div class="c-form__group m-t-24">
                    <select class="c-form-control" formControlName="industry" [(ngModel)]="selectedIndustry">
                        <option value="" disabled="true" [selected]="!selectedIndustry">Select Industry</option>
                        <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
                    </select>
                </div>
                <div class="row m-t-24">
                    <button type="submit" class="btn btn-primary btn-md pull-right">create</button>
                    <button type="button" class="btn btn-default btn-md pull-right m-r-16" (click)="communityCreateModal.close()">cancel</button>
                </div>
            </form>
        </div>
    </modal-content>
</app-modal-new>