<app-navigation></app-navigation>
<section class="o-community-top-block">
    <div class="container p-0">
        <div class="o-community-search m-t-32">
            <form action="">
                <input class="o-community-search__input" #searchInput="ngModel" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" type="text" placeholder="Search Communities">
                <div class="o-community-search__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" data-name="Layer 1" viewBox="0 0 74 74">
                        <defs>
                            <style>
                            .cls-1,
                            .cls-2,
                            .cls-4 {
                                fill: #929292;
                            }

                            .cls-1 {
                                clip-rule: evenodd;
                            }

                            .cls-2 {
                                fill-rule: evenodd;
                            }

                            .cls-3 {
                                clip-path: url(#clip-path);
                            }

                            .cls-5 {
                                clip-path: url(#clip-path-2);
                            }

                            .cls-6 {
                                clip-path: url(#clip-path-3);
                            }
                            </style>
                            <clipPath id="clip-path">
                                <path class="cls-1" d="M-218,46.06v-9a27,27,0,0,0-20-26V8.23a7.13,7.13,0,0,0-5.46-7.06A7,7,0,0,0-252,8v3.06a27,27,0,0,0-20,26v9a9,9,0,0,0-8.9,10.31A9.16,9.16,0,0,0-271.74,64H-254a9,9,0,0,0,9,9,9,9,0,0,0,9-9h17.74a9.16,9.16,0,0,0,9.16-7.64A9,9,0,0,0-218,46.06ZM-247,8a2,2,0,0,1,2.66-1.89,2.05,2.05,0,0,1,1.34,2v2c-.66,0-1.33-.08-2-.08s-1.34,0-2,.08Zm-20,29a22,22,0,0,1,25.28-21.71C-230.86,16.91-223,26.55-223,37.52V46h-44Zm21.91,31a4,4,0,0,1-4-4h8A4,4,0,0,1-245.09,68Zm30.91-12.15A4.1,4.1,0,0,1-218.24,59h-53.7A4.1,4.1,0,0,1-276,55.86,4,4,0,0,1-272.09,51h54A4,4,0,0,1-214.18,55.86Z" />
                            </clipPath>
                            <clipPath id="clip-path-2">
                                <path class="cls-1" d="M2149.06-3141h-43a10,10,0,0,0-10,10v8.06a10,10,0,0,0-9,10v34a10,10,0,0,0,10,10h43a10,10,0,0,0,10-10V-3087a10,10,0,0,0,9-10v-34A10,10,0,0,0,2149.06-3141ZM2097-3118h43a5,5,0,0,1,5,5v1l-27,19.8-26-19.76v-1A5,5,0,0,1,2097-3118Zm43,44h-43a5,5,0,0,1-5-5v-26.5l26,19.72,27.09-19.84v26.62A5,5,0,0,1,2140.05-3073.93Zm14-23a5,5,0,0,1-4,4.9V-3113a10,10,0,0,0-10-10h-39v-8a5,5,0,0,1,5-5h43a5,5,0,0,1,5,5Z" />
                            </clipPath>
                            <clipPath id="clip-path-3">
                                <path class="cls-1" d="M-125,1h-43a10,10,0,0,0-10,10V19a10,10,0,0,0-9,10V63a10,10,0,0,0,10,10h43a10,10,0,0,0,10-10V55a10,10,0,0,0,9-10V11A10,10,0,0,0-125,1ZM-177,24h43a5,5,0,0,1,5,5v1l-27,19.8L-182,30V29A5,5,0,0,1-177,24Zm43,44h-43a5,5,0,0,1-5-5V36.53l26,19.72L-129,36.41V63A5,5,0,0,1-134,68Zm14-23a5,5,0,0,1-4,4.9V29a10,10,0,0,0-10-10h-39V11a5,5,0,0,1,5-5h43a5,5,0,0,1,5,5Z" />
                            </clipPath>
                        </defs>
                        <title>ico</title>
                        <path class="cls-2" d="M-218,46.06v-9a27,27,0,0,0-20-26V8.23a7.13,7.13,0,0,0-5.46-7.06A7,7,0,0,0-252,8v3.06a27,27,0,0,0-20,26v9a9,9,0,0,0-8.9,10.31A9.16,9.16,0,0,0-271.74,64H-254a9,9,0,0,0,9,9,9,9,0,0,0,9-9h17.74a9.16,9.16,0,0,0,9.16-7.64A9,9,0,0,0-218,46.06ZM-247,8a2,2,0,0,1,2.66-1.89,2.05,2.05,0,0,1,1.34,2v2c-.66,0-1.33-.08-2-.08s-1.34,0-2,.08Zm-20,29a22,22,0,0,1,25.28-21.71C-230.86,16.91-223,26.55-223,37.52V46h-44Zm21.91,31a4,4,0,0,1-4-4h8A4,4,0,0,1-245.09,68Zm30.91-12.15A4.1,4.1,0,0,1-218.24,59h-53.7A4.1,4.1,0,0,1-276,55.86,4,4,0,0,1-272.09,51h54A4,4,0,0,1-214.18,55.86Z" />
                        <g class="cls-3">
                            <rect class="cls-4" x="-5628" y="-106.98" width="6497" height="6624" />
                        </g>
                        <path class="cls-2" d="M2149.06-3141h-43a10,10,0,0,0-10,10v8.06a10,10,0,0,0-9,10v34a10,10,0,0,0,10,10h43a10,10,0,0,0,10-10V-3087a10,10,0,0,0,9-10v-34A10,10,0,0,0,2149.06-3141ZM2097-3118h43a5,5,0,0,1,5,5v1l-27,19.8-26-19.76v-1A5,5,0,0,1,2097-3118Zm43,44h-43a5,5,0,0,1-5-5v-26.5l26,19.72,27.09-19.84v26.62A5,5,0,0,1,2140.05-3073.93Zm14-23a5,5,0,0,1-4,4.9V-3113a10,10,0,0,0-10-10h-39v-8a5,5,0,0,1,5-5h43a5,5,0,0,1,5,5Z" />
                        <g class="cls-5">
                            <rect class="cls-4" x="-3405.83" y="-3248.61" width="6456.88" height="6582.43" />
                        </g>
                        <path class="cls-2" d="M-125,1h-43a10,10,0,0,0-10,10V19a10,10,0,0,0-9,10V63a10,10,0,0,0,10,10h43a10,10,0,0,0,10-10V55a10,10,0,0,0,9-10V11A10,10,0,0,0-125,1ZM-177,24h43a5,5,0,0,1,5,5v1l-27,19.8L-182,30V29A5,5,0,0,1-177,24Zm43,44h-43a5,5,0,0,1-5-5V36.53l26,19.72L-129,36.41V63A5,5,0,0,1-134,68Zm14-23a5,5,0,0,1-4,4.9V29a10,10,0,0,0-10-10h-39V11a5,5,0,0,1,5-5h43a5,5,0,0,1,5,5Z" />
                        <g class="cls-6">
                            <rect class="cls-4" x="-5679.87" y="-106.65" width="6456.88" height="6582.43" />
                        </g>
                        <path class="cls-4" d="M31.5,62A30.5,30.5,0,1,1,62,31.5,30.54,30.54,0,0,1,31.5,62Zm0-56.12A25.62,25.62,0,1,0,57.12,31.5,25.65,25.65,0,0,0,31.5,5.88Z" />
                        <rect class="cls-4" x="58.86" y="47.2" width="4.88" height="28.21" transform="translate(-25.39 61.3) rotate(-45)" />
                    </svg>
                </div>
            </form>
        </div>
        <!-- search end -->
        <div class="o-community-taglist m-t-24">
            <span class="c-skill__tags c-skill__tags--font color-white">#web</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#entertainment</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#projects</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#uiux</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#artlovers</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#artdirection</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#art</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#branding</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#typography</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#webdesign</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#web</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#entertainment</span>
            <span class="c-skill__tags c-skill__tags--font color-white">#projects</span>
        </div>
        <!--tag list end -->
    </div>
</section>

<section class="o-community-list-block">
    <div class="container p-0">
        <div class="o-c-tab-top-block">
            <div class="o-oppertunity-filter-sec with_border_top c-ops__tabs o-community-tabs p-t-b-16">
                <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                    <ul class="nav nav-tabs">
                        <li routerLinkActive="active"><a class="p-l-0" [routerLink]="['/communities']" [queryParams]="{ status: 'recommended' }">Recommended</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/communities']" [queryParams]="{ status: 'joined'}">Joined</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/communities']" [queryParams]="{ status: 'created'}">Created</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 p-0">
                    <ul class="o-filter-list-block">
                        <li class="o-filter-list__item">
                            <div class="o-filter__fil-icon">
                                <img width="17" [src]="basePath + 'img/svg/fiter.svg'" alt="">
                            </div>
                        </li>
                        <!-- filter ico end -->
                        <li class="o-filter-list__item m-r-0">
                            <a class="btn btn-primary btn-md"(click)="createForm()">Create</a>
                        </li>
                        <!-- create button end -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- filter section end -->
        <div class="tab-content" style="margin-bottom: 18px">
            <div id="created">
                <app-community-card *ngFor="let communities of list" [data]="communities" [loader]="false"></app-community-card>
                <div *ngIf="community_load">
                    <app-community-card  *ngFor="let number of [0,1,2,3]"   [data]="communities" [loader]="true"></app-community-card>
                </div>
                <div class="empty_message" *ngIf="list.length === 0 && !community_load">
                    <p>There is no {{status}} community</p>
                </div>
            </div>

            <!-- Created end -->
        </div>
    </div>
</section>
<div class="clearfix"></div>


<app-modal-new #communityCreateModal modalClass="modal-communities__create">
    <modal-content>
        <div class="c-text_lg text-center p-t-16">Create Community</div>
        <div class="p-32">
            <form [formGroup]="communityForm" novalidate (ngSubmit)="submitForm(communityForm.value)" #cmfrom="ngForm">
                <div class="c-form__group">
                    <input class="c-form__input" required="" formControlName="community_name" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Community Name</label>
                </div>
                <div class="c-form__group m-t-24">
                    <input class="c-form__input" required="" formControlName="brief" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>About Community</label>
                </div>
                <div class="c-form__group m-t-24">
                    <select class="c-form-control" formControlName="access">
                        <option value="0">Public</option>
                        <option value="1">Private</option>
                    </select>
                </div>
                <div class="c-form__group m-t-24">
                    <select class="c-form-control" formControlName="industry" [(ngModel)]="selectedIndustry">
                        <option value="" disabled="true" [selected]="!selectedIndustry">Select Industry</option>
                        <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
                    </select>
                </div>
                <div class="row m-t-24">
                    <button type="submit" class="btn btn-primary btn-md pull-right">create</button>
                    <button type="button" class="btn btn-default btn-md pull-right m-r-16" (click)="communityCreateModal.close()">cancel</button>
                </div>
            </form>
        </div>
    </modal-content>
</app-modal-new>
<app-footer></app-footer>