<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav top-nav-left">
        <li class="active"><a href="javascript:void(0)">Home</a></li>
        <li><a href="javascript:void(0)">Explore</a></li>
        <li><a href="javascript:void(0)">Opportunity</a></li>
        <li><a href="javascript:void(0)">Events</a></li>
        <li><a href="javascript:void(0)">Learn</a></li>
        <li><a href="javascript:void(0)">Resources</a></li>
      </ul>
      <ul class="nav navbar-nav top-nav-right">
        <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
        <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

  <div class="container">

    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://via.placeholder.com/850x280" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="https://www.smsinger.com/images/profile-picture.jpg" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Eli Macy</h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div id="navbar" >
          <ul class="nav navbar-nav top-nav-left">
            <li class="active"><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Portfolio</a></li>
            <li><a href="javascript:void(0)">Partner</a></li>
            <li><a href="javascript:void(0)">Network</a></li>
            <li><a href="javascript:void(0)">Projects</a></li>
            <li><a href="javascript:void(0)">Communities</a></li>
          </ul>
          <ul class="nav navbar-nav top-nav-right">
            <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
            <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>

    <div class="row">
      <div class="col-sm-4">
        <!-- <p><span>896 posts</span>&nbsp;&nbsp;&nbsp;<span>896 channels</span></p>
        <div class="row">
          <div class="col-sm-4">120 followers</div>
          <div class="col-sm-4">120 followings</div>
          <div class="col-sm-4">120 spots</div>
        </div> -->
        <div class="card">
          <img class="card-img-top" style="width: 100%;" src="https://via.placeholder.com/318x180" alt="Card image cap">
          <div class="card-block">
            <div class="row">
              <div class="col-sm-4">120 followers</div>
              <div class="col-sm-4">120 followings</div>
              <div class="col-sm-4">120 spots</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p><strong>Bio</strong></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Skills</strong></p>
        <p>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">tag</span>
        </p>
      </div>
    </div>

    <hr>

    <div class="row">

      <div class="col-sm-3">

        <div class="row">

          <div id="calendar">

            <div class="month">
              <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li style="text-align:center">
                  August<br>
                  <span style="font-size:18px">2016</span>
                </li>
              </ul>
            </div>

            <ul class="weekdays">
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
              <li>Su</li>
            </ul>

            <ul class="days">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li><span class="active">10</span></li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>

          </div>

        </div>

        <div class="row">

          <div class="card">

             <p><strong>attending events</strong></p>

             <div class="card-block">
               <p class="card-text">name of the event</p>
               <p class="card-text">location</p>
               <p class="card-text"><small class="text-muted">Location</small></p>
             </div>

          </div>

        </div>

      </div>

      <div class="col-sm-9">

        <div class="row">

          <div class="col-sm-12">

            <div class="row">
              <div class="col-sm-12">
                <p><strong>quick access</strong></p>
              </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <a href="#" class="card-link">Card link</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <a href="#" class="card-link">Card link</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <a href="#" class="card-link">Card link</a>
                    </div>
                  </div>
                </div>
            </div>

          </div>

        </div>

        <hr>

        <div class="row">

          <div class="col-sm-12">

            <div class="row">
              <div class="col-sm-12">
                <p><strong>channels</strong></p>
              </div>
            </div>

            <hr>

            <div class="row">

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

            </div>

            <hr>

            <div class="row">

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

            </div>

            <hr>

            <div class="row">

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card" >

                  <div class="row">
                    <div class="col-sm-12"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                    <div class="col-sm-6"><img class="card-img-top" style="width:100%" src="http://via.placeholder.com/640x360" alt="Card image cap"></div>
                  </div>

                  <div class="card-block">
                    <h4 class="card-title"><strong>Card title</strong></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>

                  <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>

                </div>

              </div>

            </div>

            <hr>

          </div>

        </div>

      </div>

    </div>

  </div> <!-- /container -->
