<div class="c-event__card">
  <!-- card media (img, video & audio) -->
  <div class="c-card__opportunity">
      <a routerLink="{{ '/events/inner/' + eventData?.id }}" data-toggle="modal" data-target="#imgModal">
          <img src="{{ baseUrl + eventData?.event_media}}" alt="" class="c-card__image">
      </a>
  </div>
  <!-- //card media (img, video & audio) -->
  <div class="c-card__project p-l-r-16 p-t-8">{{eventData?.industry}}</div>
  <!-- card body -->
  <div class="c-card__body p-t-8">
      <div class="c-text_lg">
          {{eventData?.title}}
      </div>
      <div class="c-text_md color-grey-dark m-t-8">{{ eventData?.eventTiming?.startDate | utcDate | date: 'dd, MMM'}} - {{ eventData?.eventTiming?.endDate | utcDate | date: 'dd, MMM'}}</div>
      <div class="c-text_sm color-grey-dark m-t-16">{{ eventData?.venue?.location }}</div>
  </div>
  <!-- //card body -->
  
  <!-- card footer links -->
  <div class="c-card__links p-t-0">
      <div class="c-links">
          <!-- <div class="c-links__spots">
              <img src="img/svg/spot_icon_default.svg" class="c-links__image">
              <span class="c-links__count">705</span>
          </div> -->
          <div class="c-links__comments">
              <img src="/assets/img/svg/ico_share-02.svg" class="c-links__image">
          </div>
          <div class="c-links__actions">
              <a routerLink="{{ '/events/inner/' + eventData?.id }}"class="c-card__opportunity--view">View</a>
          </div>
      </div>
  </div>
  <!-- //card footer links -->
</div>