<div class="c-event__card">
  <!-- card media (img, video & audio) -->
  <div class="c-card__opportunity">
      <a href="" data-toggle="modal" data-target="#imgModal">
          <img src="https://ops-v2.netlify.com/img/photography8.jpg" alt="" class="c-card__image">
      </a>
  </div>
  <!-- //card media (img, video & audio) -->
  <div class="c-card__project p-l-r-16 p-t-8">Performance</div>
  <!-- card body -->
  <div class="c-card__body p-t-8">
      <div class="c-text_lg">
          Learn To Love Growth
      </div>
      <div class="c-text_md color-grey-dark m-t-8">30, Jan - 1 Jan</div>
      <div class="c-text_sm color-grey-dark m-t-16">7th Main Rd, Indiranagar, Bengaluru, Karnataka 560038</div>
  </div>
  <!-- //card body -->
  
  <!-- card footer links -->
  <div class="c-card__links p-t-0">
      <div class="c-links">
          <!-- <div class="c-links__spots">
              <img src="img/svg/spot_icon_default.svg" class="c-links__image">
              <span class="c-links__count">705</span>
          </div> -->
          <div class="c-links__comments">
              <img src="/assets/img/svg/ico_share-02.svg" class="c-links__image">
          </div>
          <div class="c-links__actions">
              <a href="events_inner.html" class="c-card__opportunity--view">View</a>
          </div>
      </div>
  </div>
  <!-- //card footer links -->
</div>