<app-navigation></app-navigation>
<section class="messages_block">
    <div class="container">
        <!-- registraion middle container -->
        <div class="row messages_block_container">
            <!-- left section -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 msg_left with_border_right">
                <ul class="msg_name_list">
                    <li class="with_border_bottom">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="msg_inbox_name">
                                    <img src="/assets/img/svg/ico_message.svg">
                                    <span>INBOX</span>
                                </div>
                            </li>
                            <li class="list-inline-item float_right">
                                <a href="javascript:void(0)" (click)="toggleView('composeMessage', null)" class="btn btn-xs btn-primary btn-follow">
                                    COMPOSE
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form>
                    <ul class="msg_name_list msg_search_block">
                        <li class="with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <div class="msg_inbox_name">
                                        <img src="/assets/img/svg/ico_search.svg">
                                        <div class="form_group ang_msg--search">
                                            <input class="form_input" [(ngModel)]="searchText" name="searchText" type="text" required="" placeholder="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="msg_name_list msg_select_action">
                        <li class="with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item msg_online float_left">
                                    <img src="/assets/img/svg/ico_lik_hover.svg" class="img-responsive">
                                </li>
                                <li class="list-inline-item">
                                    <div class="msg_friend_name">Select All</div>
                                </li>
                                <li class="list-inline-item pull-right">
                                    <div class="pull-right msg_action dropdown" appDropdown>
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" appDropdownOpen> Action <span class="caret"></span></a>
                                        <ul class="dropdown-menu" [ngClass]="{'open': this.msgNav['action'].open }">
                                            <li class="with_border_bottom">
                                                <a href="javascript:void(0)">
                                                    <img src="/assets/img/svg/ico_archive.svg">
                                                    <span>Archive</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <img src="/assets/img/svg/ico_delete.svg">
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="msg_friend_list" id="ops_scrollbar">
                        <a href="javascript:void(0)" *ngFor="let message of orderedMessageContacts">
                            <ul class="msg_name_list msg_unread fill_grey" *ngIf="message.isRead == false" (click)="toggleView('readMessage', message.handle)">
                                <li class="with_border_bottom" *ngIf="message.handle != userHandle">
                                    <ul class="list-inline">
                                        <li class="list-inline-item msg_online float_left">
                                            <img src="/assets/img/svg/ico_lik.svg" class="img-responsive">
                                        </li>
                                        <li class="list-inline-item msg_avatar float_left">
                                            <img *ngIf="message.profileImage" src="{{ baseUrl + message.profileImage }}" class="img-responsive">
                                            <img *ngIf="!message.profileImage" src="/assets/img/avatar.jpg" class="img-responsive">
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="msg_friend_name">{{message.name}}</div>
                                            <div class="msg_friend_text">{{message.latestmessage}}</div>
                                        </li>
                                        <li class="list-inline-item pull-right">
                                            <div class="pull-right msg_time">{{message.latestmessagetime | date:'medium'}}</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="msg_name_list" *ngIf="message.isRead == true" (click)="toggleView('readMessage', message.handle)">
                                <li class="with_border_bottom" *ngIf="message.handle != userHandle">
                                    <ul class="list-inline">
                                        <li class="list-inline-item msg_online float_left">
                                            <img src="/assets/img/svg/ico_lik.svg" class="img-responsive">
                                        </li>
                                        <li class="list-inline-item msg_avatar float_left">
                                            <img *ngIf="message.profileImage" src="{{ baseUrl + message.profileImage }}" class="img-responsive">
                                            <img *ngIf="!message.profileImage" src="/assets/img/avatar.jpg" class="img-responsive">
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="msg_friend_name">{{message.name}}</div>
                                            <div class="msg_friend_text">{{message.latestmessage}}</div>
                                        </li>
                                        <li class="list-inline-item pull-right">
                                            <div class="pull-right msg_time">{{message.latestmessagetime | date:'medium'}}</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </div>
                </form>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 msg_right">

                <!-- read message -->
                <div class="messageDisplay" *ngIf="this.selectedView == 'readMessage'">
                    <ul class="msg_to_list list_style_none">
                        <li class="with_border_bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <div class="msg_with" *ngIf="selectedUserHandle != userHandle">
                                        Message with <strong>{{selectedUser}}</strong>
                                    </div>
                                </li>
                                <li class="list-inline-item float_right msg_setting">
                                    <div class="dropdown pull-right" appDropdown>
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" appDropdownOpen>
                                            <img src="/assets/img/svg/ico_settings.svg" class="msg_setting_icon">
                                        </a>
                                        <ul class="dropdown-menu" [ngClass]="{'open': this.msgNav['setting'].open }">
                                            <li class="with_border_bottom">
                                                <a href="#">
                                                    <img src="/assets/img/svg/ico_archive.svg">
                                                    <span>Archive</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/assets/img/svg/ico_delete.svg">
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- message container -->
                    <div class="msg_container_block" id="ops_scrollbar">
                        <div class="msg_container" *ngFor="let message of messagesbytime ">
                            <div class="col-md-12">
                                <ul class="list-inline" *ngIf="message.to == userHandle && selectedUserHandle != userHandle">
                                    <li class="list-inline-item avatar_msg_input float_left">
                                        <img *ngIf="nonUserProfile?.profileImage" src="{{ baseUrl + nonUserProfile?.profileImage}}" class="img-responsive">
                                        <img *ngIf="!nonUserProfile?.profileImage" src="https://s3-us-west-2.amazonaws.com/ops.defaults/user-avatar-male.png" class="img-responsive">
                                    </li>
                                    <li class="list-inline-item msg_cont_block">
                                        <p class="ops_msg_aero">
                                            {{message.content}}
                                        </p>
                                        <div class="msg_sent_time">{{message.time | date:'medium'}}</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="msg_container"> -->
                            <div class="col-md-12">
                                <ul class="list-inline" *ngIf="message.by == userHandle">
                                    <li class="list-inline-item avatar_msg_input float_right">
                                        <img src="{{ baseUrl + selfProfile.profileImage}}" class="img-responsive">
                                    </li>
                                    <li class="list-inline-item msg_cont_block2">
                                        <p class="ops_msg_aero2">
                                            {{message.content}}
                                        </p>
                                        <div class="msg_sent_time2">{{message.time | date:'medium'}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--message footer input section-->
                    <form [formGroup]="messageForm" novalidate (submit)="addMessage(messageForm.value)" #myform="ngForm">
                        <!-- <p class="error_alert text-center" *ngIf ="message?.error_description">{{message?.error_description}}</p>-->
                        <div class="col-md-12 msg_footer_input">
                            <ul class="msg_to_list list_style_none">
                                <li>
                                    <ul class="list-inline">
                                        <li class="list-inline-item avatar_msg_input float_left">
                                            <img src="{{ baseUrl + selfProfile.profileImage}}" class="img-responsive padding_0">
                                        </li>
                                        <li class="list-inline-item msg_to_input">

                                            <div class="form_group">
                                                <input class="form_input" type="text" formControlName="message" [(ngModel)]="text" required="">
                                                <span class="form_highlight"></span>
                                                <span class="form_bar"></span>
                                                <label>Enter the text</label>
                                                <p class="error_alert" *ngIf="messageForm.controls['message'].errors?.required && myform.submitted">{{text}}</p>
                                            </div>

                                        </li>
                                        <li class="list-inline-item float_right">
                                            <button type="button" class="btn btn-primary btn-xs" [type]="'submit'" [disabled]="!messageForm.valid">SEND</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!-- read message -->

                <!--compose message-->
                <div class="composeMesage" *ngIf="this.selectedView == 'composeMessage'">
                    <form [formGroup]="mForm" novalidate (submit)="sentMessageToRecipient(mForm.value)" #mform="ngForm">
                        <ul class="msg_to_list list_style_none">
                            <li class="with_border_bottom">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div class="msg_to_name">
                                            <span>To :</span>
                                        </div>
                                    </li>
                                    <li class="list-inline-item msg_to_input">
                                        <div class="form_group">
                                            <!-- <a class="dropdown-toggle" data-toggle="dropdown"> -->
                                            <input class="form_input" type="text" formControlName="searchUserTerm" [(ngModel)]="composeMessage.searchUser" (keyup)="onSearch()" required="">
                                            <!-- </a> -->
                                            <ul class="dropdown-menu msg__dropdown show" *ngIf="recipientsListState">
                                                <li class="c-post__comment" *ngFor="let skill of receipientList | slice:0:5" (click)="toggleSelectSkill(skill.handle)">
                                                    <a class="c-user__avatar c-avatar--status">
                                                        <img class="c-user__image" src="{{baseUrl +skill.profileImage}}">
                                                    </a>
                                                    <a class="c-post__commenter msg_to_name2">{{skill.name}}</a>
                                                    <div class="c-post__comment_text">
                                                        {{ '@' + skill.extra.username }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-inline-item float_right msg_setting">
                                        <div class="dropdown pull-right" appDropdown>
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" appDropdownOpen>
                                                <img src="/assets/img/svg/ico_settings.svg" class="msg_setting_icon">
                                            </a>
                                            <ul class="dropdown-menu" [ngClass]="{'open': this.msgNav['setting'].open }">
                                                <li>
                                                    <a href="#">
                                                        <img src="assets/img/svg/ico_archive.svg">
                                                        <span>Archive</span>
                                                    </a>
                                                </li>
                                                <li class="with_border_bottom">
                                                    <a href="#">
                                                        <img src="/assets/img/svg/ico_delete.svg">
                                                        <span>Delete</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#reportmodal">
                                                        <span>Report</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- message footer input section -->
                        <div class="col-md-12 msg_footer_input">
                            <ul class="msg_to_list list_style_none">
                                <li>
                                    <ul class="list-inline msg__input--height">
                                        <li class="list-inline-item avatar_msg_input float_left">
                                            <img src="{{ baseUrl + selfProfile.profileImage}}" class="img-responsive padding_0">
                                        </li>
                                        <li class="list-inline-item msg_to_input">

                                            <div class="form_group">
                                                <input class="form_input" type="text" required="" [(ngModel)]="composeMessage.messageToSend" formControlName="message_term">
                                                <span class="form_highlight"></span>
                                                <span class="form_bar"></span>
                                                <label>Name of the field</label>
                                            </div>

                                        </li>
                                        <li class="list-inline-item float_right">
                                            <button type="button" class="btn btn-primary btn-xs" [type]="'submit'" [disabled]="!mForm.valid">SEND</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!--compose message ends-->

                <!-- no message -->
                <div class="msg_no_message text-center" *ngIf="this.selectedView == ''">
                    No Message Selected
                </div>
                <!-- no message -->
            </div>
        </div>
        <!-- //registraion middle container -->
    </div>
</section>