.width45 {
    width: 45%;
    float: left;
}

.float-right {
    float: right;
}

.display-inline-block {
    display: inline-block;
}

.width100 {
    width: 100%;
}

textarea {
    width: 100%;
    height: 80px;
    // resize: none;
}