<app-navigation></app-navigation>
<app-dwc-progress-bar></app-dwc-progress-bar>
<section class="o-dwc-payment-sec">
    <div class="container">
        <div class="o-dwc-payment-contianer">
            <h3 class="c-h3 m-b-24">Early bird tickets are available </h3>
            <div class="o-dwc-price-list__container">
                <h6 class="c-text_md p-t-b-8 p-l-r-16 fill-theme f-w_600 color-white text_uppercase ltr-space">Early bird Prices</h6>
                <div class="o-dwc-price__chart">
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Solo</div>
                        <div class="o-dwc-chart__count c-text_md text-center">1</div>
                        <div class="o-dwc-chart__price c-text_md color-theme">750</div>
                    </div>
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Duet</div>
                        <div class="o-dwc-chart__count c-text_md text-center">1</div>
                        <div class="o-dwc-chart__price c-text_md color-theme">750</div>
                    </div>
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Trio</div>
                        <div class="o-dwc-chart__count c-text_md text-center">0</div>
                        <div class="o-dwc-chart__price c-text_md color-theme">0</div>
                    </div>
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Group</div>
                        <div class="o-dwc-chart__count c-text_md text-center">1</div>
                        <div class="o-dwc-chart__price c-text_md color-theme">750</div>
                    </div>
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Entrance Pass</div>
                        <div class="o-dwc-chart__count c-text_md text-center">1</div>
                        <div class="o-dwc-chart__price c-text_md color-theme">2500</div>
                    </div>
                    
                </div>
                <div class="o-dwc-price__main">
                    <div class="o-dwc-pric-main__block">
                        <div class="o-dwc-price__title">
                            <div class="c-text_md color-grey-dark">Membership fee</div>
                        </div>
                        <div class="o-dwc-price__total">
                            <div class="c-text_md color-grey-dark">750</div>
                        </div>
                    </div>
                    <div class="o-dwc-pric-main__block">
                        <div class="o-dwc-price__title">
                            <div class="c-text_md color-grey-dark">Handling fee</div>
                        </div>
                        <div class="o-dwc-price__total">
                            <div class="c-text_md color-grey-dark">750</div>
                        </div>
                    </div>
                    <div class="o-dwc-pric-main__block">
                        <div class="o-dwc-price__title">
                            <div class="c-text_md ">Sub Total</div>
                        </div>
                        <div class="o-dwc-price__total">
                            <div class="c-text_md color-theme">5600</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>