<app-navigation></app-navigation>
<app-dwc-progress-bar></app-dwc-progress-bar>
<section class="o-dwc-payment-sec">
    <div class="container">
        <div class="o-dwc-payment-contianer">
            <h3 class="c-h3 m-b-24">Pricing </h3>
            <div class="o-dwc-price-list__container">
                <!--<h6 class="c-text_md p-t-b-8 p-l-r-16 fill-theme f-w_600 color-white text_uppercase ltr-space">Early bird Prices</h6>-->
                <div class="o-dwc-price__chart">
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Item</div>
                        <div class="o-dwc-chart__count c-text_md text-center">Quantity</div>
                        <div class="o-dwc-chart__price c-text_md">Price</div>
                         <div class="o-dwc-chart__price c-text_md ">Total</div>
                    </div>
                    <div class="o-dwc-price__block">
                        <div class="o-dwc-chart__title c-text_md">Tickets</div>
                        <div class="o-dwc-chart__count c-text_md text-center">{{ dataState?.dwc_payment_url?.quantity }}</div>
                        <div class="o-dwc-chart__price c-text_md">INR {{ dataState?.dwc_payment_url?.amount }}</div>
                         <div class="o-dwc-chart__price c-text_md">INR {{ dataState?.dwc_payment_url?.quantity *  dataState?.dwc_payment_url?.amount }}</div>
                    </div>
                </div>
                <div class="o-dwc-price__main">
                    <div class="o-dwc-pric-main__block">
                        <div class="o-dwc-price__title">
                            <div class="c-text_md color-grey-dark">Entry Fee</div>
                        </div>
                        <div class="o-dwc-price__total">
                            <div class="c-text_md color-grey-dark">INR {{ (dataState?.dwc_payment_url?.quantity *  dataState?.dwc_payment_url?.amount) }}</div>
                        </div>
                    </div>
                    <div class="o-dwc-pric-main__block">
                        <div class="o-dwc-price__title">
                            <div class="c-text_md color-grey-dark">GST 18%</div>
                        </div>
                        <div class="o-dwc-price__total">
                            <div class="c-text_md color-grey-dark">INR {{ ((dataState?.dwc_payment_url?.quantity *  dataState?.dwc_payment_url?.amount) * 18/100 ) }} </div>
                        </div>
                    </div>
                    <div class="o-dwc-pric-main__block">
                        <div class="o-dwc-price__title">
                            <div class="c-text_md ">Sub Total</div>
                        </div>
                        <div class="o-dwc-price__total">
                            <div class="c-text_md color-theme">INR {{ dataState?.dwc_payment_url?.quantity *  dataState?.dwc_payment_url?.amount + ((dataState?.dwc_payment_url?.quantity *  dataState?.dwc_payment_url?.amount) * 18/100 ) }}</div>
                        </div>
                    </div>
                    <button (click)="Payment(dataState?.dwc_payment_url?.Success?.payment_request?.longurl)" class="btn btn-primary btn-lg payment-button">Payment</button>
                    <!--<a href="{{ dataState?.dwc_payment_url?.payment_request?.longurl }}" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Payment"></a>-->
                </div>
                
            </div>
        </div>
    </div>
</section>