<div class="col-md-8 col-sm-8 desktop-p-r-0">
  <div class="search-results" infinite-scroll (scrolled)="onScroll($event)">
    <app-post *ngFor="let userMedia of posts; let i = index"
      (elemViewportStatus)="elemInViewportStatus($event)"
      [className]="'col-md-8'"
      (postDelete)="postDelete(userMedia)"
      [mediaData]="userMedia"
      [userData]="userData"></app-post>
  </div>

  <div *ngIf="userMedia.user_posts_loading">
    <app-post-card [className]="'c-card m-t-8 m-b-0'" [loader]=true *ngFor="let number of [0,1]"></app-post-card>
  </div>

  <div *ngIf="!userMedia.user_posts_loading && posts.length < 1 && isOwner === true" class="empty__state">
    <h4>You have no Post</h4>
    <p>You have not added any posts, click below to create your first Post!</p>
    <a class="btn-add" [routerLink]="['/post/media']">Post media</a>
  </div>

  <div *ngIf="!userMedia.user_posts_loading && posts.length < 1 && isOwner === false" class="empty__state">
    <p>User does not have any posts!</p>
  </div>
</div>
<div class="col-md-4 m-t-8">
  <div class="m-0">
    <div class="c-card">
      <div class="c-text_md p-16 color-grey-dark f-w_600 text_uppercase ltr-space">People to follow</div>
      <div class="c-follow__sec" infinite-scroll (scrolled)="onScrol($event)" [scrollWindow]="false" id="ops_scrollbar">
        <div class="c-invite__block" *ngFor="let profileItem of profiles">
          <div *ngIf="!profileItem.extra.isFollowing">
            <a class="c-user__avatar c-avatar--status">
              <img *ngIf="profileItem?.physical?.profileImages?.profileImage_medium" class="c-user__image" [src]="baseUrl + profileItem?.physical?.profileImages?.profileImage_medium"
                width="24px" />
            </a>
            <a class="c-text_md c-invite--user" [routerLink]="['/', 'profile', 'u', profileItem?.extra?.username]">{{
              profileItem?.name | truncate:[10, '...']}}</a>
            <div class="c-invite--btn">
              <!-- <button type="button" (click)="followUser(profileItem)" *ngIf="!profileItem.extra.isFollowing" class="btn btn-default btn-sm" [disabled]="disableFollowForSelf(profileItem?.extra?.username)">FOLLOW</button>
                            <button type="button" (click)="unfollowUser(profileItem)" *ngIf="profileItem.extra.isFollowing" class="btn btn-default btn-sm" [disabled]="disableFollowForSelf(profileItem?.extra?.username)">UNFOLLOW</button> -->
              <a (click)="followUser(profileItem)" *ngIf="!profileItem.extra.isFollowing" class="c-text_md color-theme f-w_600 text_uppercase">FOLLOW</a>
              <!-- <a (click)="unfollowUser(profileItem)" *ngIf="profileItem.extra.isFollowing" class="c-text_md color-theme f-w_600 text_uppercase">UNFOLLOW</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
