
// dwc

// new style

.o-dwc-top-banner{
	width: 100%;
	float: left;
	background: url(/assets/img/dwc/b1.jpg) no-repeat;
	background-size: cover;
	background-position: top left;
	height: 230px;
	margin-top: 50px;
}
.o-dwc-banner-img{
	width: 100%;
	img{
		width: 100%;
	}
}






.o-dwc-detail{
	width: 100%;
	float: left;
}

// right block

.o-dwc-banner{
	width: 100%;
	height: 200px;
	float: left;
	.c-h2{
		padding-top: 48px;
	}
}
.dwc-btn{
	padding:8px 12px;
	font-size: 11px;
	color: #FF7B84;
	font-weight: normal;
	background: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 16px;
	float: right;
	&:hover{
		color: #FF7B84;
	}
	&:focus{
		color: #FF7B84;
	}
}
.o-dwc-top-txt{
	width: 575px;
	float: left;
}
.o-dwc-top-download{
  width: 150px;
  float: right;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  background: #f3f5f7;
}
.o-dwc-pdf__icon{
	width: 50px;
	img{
		width: 100%;
	}
}
.o-dwc-pdf{
	width: 130px;
	float: right;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.dwc-share-icon{
	width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    margin-top: -1px;
	img{
		width: 16px;
	}
}
.o-dwc-share{
	margin-top: 50px;
	left:-87px;
}
.o-dwc-right-content-block{
	padding:45px 32px 32px 32px;
	.c-text_md{
		line-height: 24px;
	}
	.c-ops__tabs2 {
    // margin-top: 8px;
    border-bottom: 1px #f3f5f7 solid;
    .nav-tabs > li{
    	padding-right: 24px;
    }
    .nav-tabs > li > a {
        font-size: 13px;
        font-weight: normal;
        text-align: left;
        color: #929292;
        font-weight: 600;
        background: transparent;
        border: none;
        text-transform: uppercase;
    }
    .nav-tabs li .active a {
        color: #333;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #333;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: pointer;
        border-bottom: 2px solid #333;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 8px 0px 16px 0px;
    }
    .nav-tabs {
        border-bottom: none;
    }
	}
}
.o-dwc-right-block{
  width: 100%;
  float: left;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.o-dwc__block{
	width: 100%;
	float: left;
	padding-top: 10px;
}

// radio

.c-radio--dwc{
	font-size: 15px;
	margin-top: -2px;
}
.c-form-select--lg{
	font-size: 15px;
}



// // dwc main page style

// .o-dwc-top-tab-sec{
// 	width: 100%;
// 	height: 74px;
// 	background: linear-gradient(174.63deg, #F7D022 0%, #FF7B84 38%, #662D91 100%);
	
// }

.o-dwc-contact-form-container{
	width: 475px;
	margin:0px auto;
	padding-top: 55px;
}

.o-dwc__form{
	width: 350px;
	margin:32px auto;
}
.o-dwc-main-btn{
float: right;
}
.o-dwc-textarea{
	margin-top: 10px;
	&::placeholder{
		color:#929292;
	}
}

// main tab sec

.o-dwc-main-tab{
	width: 100%;
	float: left;
	height: 64px;
	background: linear-gradient(139.48deg, #FF7B84 0%, #662D91 100%);
	.c-ops__tabs2 {
    text-align: center;
    width: 450px;
    float: left;
    margin-top: 14px;
    .nav-tabs > li > a {
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        color: #fff;
        background: transparent;
        border: none;
        text-transform: uppercase;
    }
    .nav-tabs li .active a {
        color: #fff;
        font-weight: 600;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: pointer;
        text-shadow: 0 5px 6px rgba(51,51,51,0.39);
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 8px 12px 8px 12px;
    }
    .nav-tabs {
        border-bottom: none;
    }
	}
}

