// opportunity inner page style

.c-links__image {
  width: 24px;
  float: left;
}

.c-links__spots {
  display: inline;
  float: left;
  margin-right: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #929292;
}

.o-action-icons__link {
  padding: 4px 0px;
  float: left;
}

.c-links__count {
  float: left;
  margin-left: 6px;
  font-weight: 500;
  color: #929292;
  font-size: 11px;
  line-height: 18px;
  top: 4px;
  position: relative;
}

.o-opportunity-inner-block{
  width: 100%;
  padding-top: 3.5%;
}

.o-opportunity-post-user-detail{
	width: 100%;
}
.o-post-user__avatar{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	img{
		width: 100%;
	}
}
.o-post-user__info{
	width: 70%;
	float: left;
	padding: 8px 0px 0px 16px;
}
.o-post-user__name{
	width: 100%;
}
.o-post-user__desigination{
	width: 100%;
}

// detail sec

.o-opportunity-detail{
	width: 100%;
	background: #fff;
	min-height: 600px;
	padding: 16px 24px 32px 24px;
	border-radius: 3px;
	float: left;
}
.o-job-post__head{
	width: 100%;
	float: left;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.o-job-post__title{
	width: 100%;
	float: left;
}
.o-job-post--title-width{
	width: 90%;
	float: left;
}
// dropdown

.o-job-post__edit{
	float: right;
	margin-top: 8px;
}
.c-opsdropdown--size-job{
	max-width: 80px;
	min-width: 80px;
	padding :16px!important;
	border-radius: 3px;	
	background-color: #FFFFFF;	
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.18);
	border:none!important;
	left: -60px;
}
.o-job-edit__drop{
	padding:5px 0px!important;
}

// address

.o-job-post__address{
	width: 100%;
	float: left;
}
.o-job-post__location-icon{
	width: 16px;
	height: 16px;
	float: left;
	margin: 3px;
}

// job short det

.o-job-post__short-det{
	margin-top: 24px;
	width: 100%;
	float: left;
}
.o-job-post__det{
	float: left;
}

// actions

.o-job-post__actions{
	width: 100%;
	float: left;
}
.o-job-post__uplod-info{
	float: right;
	margin-top: 6px;
}
.o-action-icons__link{
  padding: 4px 0px;
  float: left;
}

// description

.o-job-post__description{
	width: 100%;
	float: left;
}
.btn-label-icon-opportunity{
	background: url(https://cdn.onepagespotlight.com/img/svg/add_channel_theme_color.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}

// attachment


.o-job-post__media-list{
	list-style: none;
}
.o-job-post__media-item{
	list-style-type: none;
	float: left;
	margin-right: 16px;
	border-radius: 3px;
	background: url(https://cdn.onepagespotlight.com/img/quick3.jpg) no-repeat;
	background-size: cover;
	width: 200px;
	height: 150px;
}

.o-job-post__media-action{
	width: 100%;
	float: left;
	margin-top: 24px;
}

// right block

.o-job-post-right-block{
	width: 100%;
	float: left;
	padding:16px;
	background: #fff;
	border-radius: 3px;
}

