<section class="o-opportunity-inner-block">
  <div class="container">
    <div class="col-md-9 m-t-16">
      <div class="o-opportunity-detail">
        <div class="o-job-post__head color-grey-dark">Jobs</div>
        <div class="o-job-post__title m-t-8">
          <h4 class="c-h4 o-job-post--title-width">{{ opportunity?.opportunityDetails?.title }}</h4>
          <div class="o-job-post__edit">
            <div class="dropdown">
              <span class="com-head" data-toggle="dropdown" aria-expanded="true">
                <img width="16"  src="{{ baseUrl }}img/svg/ico_options.svg">
              </span>
              <ul class="dropdown-menu c-opsdropdown--size-job">
                <li>
                  <a href="#" class="o-job-edit__drop">
                    <span class="">Edit</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="o-job-edit__drop">
                    <span class="">Delete</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- job title end -->
        <div class="o-job-post__address m-t-8">
          <span class="o-job-post__cmpny-name float_left c-text_lg color-grey-dark m-r-16">{{ opportunity?.ownerName }}</span>
          <span *ngIf="opportunity?.opportunityDetails?.location" class="o-job-post__cmpny-location float_left c-text_md color-grey-dark">
            <span class="o-job-post__location-icon">
              <img src="{{ baseUrl }}img/svg/ico_location2.svg" alt="">
            </span>
          </span>
        </div><!-- cmpny address end -->
        <div class="o-job-post__short-det">
          <span class="o-job-post__det c-text_md color-grey-dark m-r-24">
            Experience Required: <span class="color-grey-darker">{{ opportunity?.opportunityDetails?.experience?.from }}-{{ opportunity?.opportunityDetails?.experience?.to }} years</span>
          </span>
          <span *ngIf="opportunity?.opportunityDetails?.salary?.amount && opportunityDetails?.salary?.currency" class="o-job-post__det c-text_md color-grey-dark m-r-24">
            Salary : <span class="color-grey-darker">
                {{ opportunity?.opportunityDetails?.salary?.amount_from }} - {{ opportunity?.opportunityDetails?.salary?.amount_to }} {{ opportunity?.opportunityDetails?.salary?.currency }} /
                {{ opportunity?.opportunityDetails?.salary?.salaryType | firstCharCaps }}
            </span>
          </span>
          <span class="o-job-post__det c-text_md color-grey-dark m-r-24">
            Type: <span class="color-grey-darker">Full time</span>
          </span>
        </div><!-- job short det end -->
        <div class="o-job-post__actions m-t-b-24">
          <div class="o-job-post__apply float_left m-r-16">
              <button type="button" class="btn btn-primary btn-md" *ngIf="!hasApplied" (click)="applyForJob()" [disabled]="disableApplicationForSelf(opportunityDetails?.postedByUserName)" >Apply</button>
              <button type="button" class="btn btn-primary btn-md" *ngIf="hasApplied" [disabled]="hasApplied" >Applied</button>
          </div>
          <div class="o-job-post__action-icons float_left ">
            <a href="#" class="o-action-icons__link m-r-16">
              <img width="24" src="{{ baseUrl }}img/svg/ico_share-02.svg">
            </a>
          </div><!-- action icons end -->
          <div class="o-job-post__uplod-info">
            <span *ngIf="opportunity?.opportunityDetails?.count?.length > 0" class="o-job-post__det c-text_sm color-grey-dark m-l-24">
              <span class="ltr-space text_uppercase">Applicants: </span><span class="color-grey-darker">{{ opportunity?.opportunityDetails?.count }}</span>
            </span>
            <span class="o-job-post__det c-text_sm color-grey-dark m-l-24">
              <span class="ltr-space text_uppercase">Posted: </span><span class="color-grey-darker">{{ opportunity?.createdDate | utcDate | date:'d MMM hh:mm a' }}</span>
            </span>
          </div>
        </div><!-- job post actions end -->
        <div class="o-job-post__description with_border_top p-b-24">
          <h6 class="c-text_lg m-t-24">Description</h6>
          <p class="c-text_md color-grey-dark m-t-8" [innerHTML]="opportunity?.opportunityDetails?.description"></p>
          <h6 class="c-text_lg m-t-24">Expertised in</h6>
          <p class="c-text_md color-grey-dark m-t-8">
            {{ opportunity?.opportunityDetails?.skills }}
            <!-- <span *ngFor="let item of opportunityDetails?.skills; let isLast=last">
              {{ item }}{{ isLast  ? '' : ', ' }}
            </span> -->
          </p>
          <h6 class="c-text_lg m-t-24">Education</h6>
          <p class="c-text_md color-grey-dark m-t-8">
            <span *ngFor="let item of opportunityDetails?.qualification; let isLast=last">
              {{ item }}{{ isLast  ? '' : ', ' }}
            </span>
          </p>
        </div>
        <div class="o-job-post__description with_border_top">
          <!-- <h6 class="c-text_lg m-t-24 m-b-16">Attachments</h6>
          <ul class="o-job-post__media-list">
            <li class="o-job-post__media-item"></li>
            <li class="o-job-post__media-item"></li>
          </ul> -->
          <div class="o-job-post__media-action">
            <div class="o-job-post__apply float_left m-r-16">
              <button type="button" class="btn btn-primary btn-md" *ngIf="!hasApplied" (click)="applyForJob()" [disabled]="disableApplicationForSelf(opportunityDetails?.postedByUserName)" >Apply</button>
              <button type="button" class="btn btn-primary btn-md" *ngIf="hasApplied" [disabled]="hasApplied" >Applied</button>
            </div>
            <div class="o-job-post__action-icons float_left ">
              <a href="#" class="o-action-icons__link m-r-16">
                <img width="24" src="{{ baseUrl }}img/svg/ico_addtochannel.svg">
              </a>
              <a href="#" class="o-action-icons__link m-r-16">
                <img width="24" src="{{ baseUrl }}img/svg/ico_share-02.svg">
              </a>
              <a href="#" class="o-action-icons__link m-r-16">
                <img width="24" src="{{ baseUrl }}img/svg/bookmark.svg">
              </a>
            </div>
          </div>
        </div>
      </div><!-- detail end -->
    </div>

    <div class="col-md-3 m-t-16 p-0">
      <div class="o-job-post-right-block m-b-16">
        <p class="c-text_sm ltr-space color-grey-dark">Posted By</p>
        <div class="o-opportunity-post-user-detail m-t-16">
          <div class="o-post-user__avatar">
            <img *ngIf="!opportunityDetails?.postedByImage" src="https://d206s58i653k1q.cloudfront.net/images/defaultMale/03eed8d4-5659-463a-8fbf-9aa71034c19a.png" class="img-responsive">
            <img *ngIf="opportunity?.opportunityDetails?.postedByImage" src="{{ baseUrl + opportunityDetails?.postedByImage }}" alt="">
          </div>
          <div class="o-post-user__info">
            <div class="o-post-user__name c-text_lg">{{ opportunity?.opportunityDetails?.postedByName }}</div>
            <div *ngIf="opportunity?.opportunityDetails?.position" class="o-post-user__desigination c-text_md color-grey-dark">{{ opportunity?.opportunityDetails?.position }}</div>
          </div>
        </div>
      </div>
      <!-- <div class="o-job-post-right-block m-b-16">
        <h6 class="c-text_lg">Similar jobs</h6>
        <div class="o-job-post-right__title">
          <span class="c-text_sm">Job</span>
          <span class="c-text_sm float_right">2 hours ago</span>
        </div>
      </div> -->
    </div>

  </div>
</section>
