@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_tabs.scss';
@import '~sass-mq/_mq.scss';
/* ------------------------- Notification css --------------------------- */

.not_block {
    width: 100%;
    float: left;
    background-color: #ffffff;
    margin-top: 16px;
    box-shadow: 0 2px 4px 0 rgba(102,45,145,0.15);
    border-radius: 3px;
}
.not_activite_row {
    width:100%;
    float: left;
    padding: 12px 24px;
}
.not_userimg {
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50px;
    float: left;
    img {
        width: 100%;
    }
}
.not_usercomment {
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    a {
        color: #333333;
        font-weight: 600;
    }
}
.not_block_main {
    border-top: 1px solid #F3F5F7;
    position: relative;
    a:hover {
        background-color: #F3F5F7;
    }
}
.not_block1 {
    width: 5%;
    float: left;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 12%;
    }
    label {
        margin-left: 4px;
        margin-top: 28px;
    }
}
.not_block2 {
    width: 78%;
    float: left;
    padding: 0 8px;
    // position: relative;
    cursor: pointer;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 86%;
    }
}
.not_avatar_img {
    width: 40px;
    height: 40px;
    float: left;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
    img {
        width: 100%;
    }
}
.not_block2_details {
    width: 80%;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
    float: left;
    margin-left: 10px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 76%;
    }
}
.not_block2_comm {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin-bottom: 5px;
    }
    .text_undrline {
        text-decoration: underline!important;
    }
}
.not_block2_tim {
    width: 100%;
    font-size: 11px;
    line-height: 23px;
    color: #808080;
    img {
        width: 20px;
        float: left;
    }
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        position: absolute;
        bottom: 0px;
        margin-top: 5px;
        width: 60%;
    }
}
// .text-underline {
//     text-decoration: underline!important;
// }
.not_block3 {
    width: 17%;
    float: left;
    padding-right: 16px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 69%;
        margin-left: 28%;
        padding-top: 0px!important;
    }
}
.not_block3_img {
    height: 40px;
    border-radius: 2px;  
    overflow: hidden;
    float: right;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        display: none;
    }
    img {
        height: 100%;
    }
}
.not_date {
    width: 100%;
    float: left;
    background-color: #F3F5F7;
    color: #616161;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 15px;
    padding: 6px 24px 4px;
    text-transform: uppercase;
}

.o-noti-tab{
    float: left!important;
    width: auto!important;
    a{
        @include mq($from: $mobile_sm, $until: $mobile_lg) {
            padding:6px!important;
        }
    }
}
.c-checkbox__md2 input[type="checkbox"] {
    background-image: url(https://cdn.onepagespotlight.com/v2/svg/radio1s.svg);
    display: inline-block;
    margin: 0px 7px 3px 0px;
    position: relative;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
    // visibility: hidden;
    
}
.c-checkbox__md2 input[type="checkbox"]:checked {
    background-image: url(https://cdn.onepagespotlight.com/v2/svg/radio2s.svg);
    display: inline-block;
    margin: 0px 7px 3px 0px;
    position: relative;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
    // visibility: hidden;
    
}
.c-checkbox__md2 label {
    position: static;
    text-align: center;
    pointer-events: auto;
}
.m-nav {
    display: none;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        display: block;
        margin-top: 16px;
        float: right;
    }
}

.m-nav__icons {
    padding: 50px;
    img {
        width: 16px;
    }
}

.m-nav__dropdown {
    display: inline;
    .nav__dropdown {
        width: 320px;
        margin-top: 12px;
        height: 440px;
        overflow-y: scroll;
    }
    .nav__dropdown2 {
        width: 155px;
        font-size: 12px;
        margin-top: 12px;
    }
}

.dropdown__arrow {
    width: 50%;
    text-align: right;
    position: absolute;
    top: 2px;
    right: 58px;
    img {
        filter: drop-shadow(0px -2px 1px #f3f5f7);
    }
}
.pull-right {
    float: right !important;
}
.noti-action{
    color: #333333;
    font-size: 11px;	
    line-height: 18px;
    border: none;
    background: none;
}

.noti_left{
    overflow-y: scroll;
    height: 540px;
}

// .text-underline{
//     text-decoration: underline!important;
// }