<app-navigation></app-navigation>

<main class="container-fulid outer_container">
            <section class="notification_block">
        <div class="container">
            <!-- registraion middle container -->
            <div class="row notification_block_container">
                <!-- left section -->
                <div class="col-md-12 noti_block">
                  <div class="noti_left" id="ops_scrollbar">
                    <ul class="noti_details">
                      <li class="with_border_bottom">
                          <ul class="list-inline">
                            <li class="list-inline-item header_ym">
                                <a href="javascript:void(0)">Your Notifications</a>
                            </li>
                            <li class="list-inline-item pull-right header_compose">
                                <a href="javascript:void(0)" (click)="markAllAsRead()">Mark all as read</a>
                            </li>
                          </ul>
                      </li>
                      <li class="with_border_bottom" *ngFor="let notification of notifications" [ngClass]="{'fill_grey': !notification.isRead}">
                          <ul class="list-inline">
                            <li class="list-inline-item float_left noti_avatar">
                              <img *ngIf="!notification.profileImage" src="http://d33wubrfki0l68.cloudfront.net/9d6de60375507b449ad07f5acb73667fe02171fc/ea558/img/avatar.jpg" class="img-responsive">
                              <img *ngIf="notification.profileImage" src="{{ baseUrl + notification.profileImage }}" class="img-responsive">
                            </li>
                            <li class="list-inline-item noti_cont cursor-pointer" (click)="markAsRead(notification.notificationId)" >
                                <div class="head_msg_name">{{ notification.name }}</div>
                                <div class="head_msg_short">{{ notification.message }}</div>
                                <div class="noti_cont_footer">
                                  <img src="http://d33wubrfki0l68.cloudfront.net/a3d195e63eb47ac4e99fa4c55be8bac10abccdd9/ceb5d/img/svg/ico_comment.svg" class="noti_cont_footer_img"><span>10:08 PM</span>
                                </div>
                            </li>
                            <li class="list-inline-item noti_cont_time">
                              <div class="msg_time">
                                  <img src="http://d33wubrfki0l68.cloudfront.net/08d8baa73a848a239ed3a47529429e84745ecf64/c4ff2/img/svg/ico_lik.svg" class="img-responsive">
                              </div>
                            </li>
                          </ul>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            <!-- //registraion middle container -->
        </div>
    </section>
</main>

<footer>
    <div class="container">
      <p>© Copyright 2017 One Page Spotlight</p>
    </div>
</footer>
