<div class="m-b-16">
  <div class="o-mystory">
    <div class="o-mystory__title">
      <span class="c-text_md text_uppercase color-grey-dark f-w_600">My story</span>
    </div>
    <div class="o-mystory__media">
      <ng-container *ngFor="let list of storyList | slice:0:4; let i=index">
        <a class="o-mystory-media__one" *ngIf="i===0" [ngStyle]="{'background-image': 'url(' + baseUrl + list?.thumbNails?.mediumLarge + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'width': '100%'}"
          [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
          <!-- <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
            <img [src]="baseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
          </a> -->
        </a>
        <a class="o-mystory-media__two" *ngIf="i===1" [ngStyle]="{'background-image': 'url(' + baseUrl + list?.thumbNails?.mediumLarge + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'width': '100%'}"
          [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
          <!-- <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
            <img [src]="baseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
          </a> -->
        </a>
        <a class="o-mystory-media__three" *ngIf="i===2" [ngStyle]="{'background-image': 'url(' + baseUrl + list?.thumbNails?.mediumLarge + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'width': '100%'}"
          [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
          <!-- <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
            <img [src]="baseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
          </a> -->
        </a>
        <a class="o-mystory-media__four" *ngIf="i===3" [ngStyle]="{'background-image': 'url(' + baseUrl + list?.thumbNails?.mediumLarge + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'width': '100%'}"
          [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
          <!-- <a [routerLink]="['', { outlets: { media : ['media', list?.id]}}]">
            <img [src]="baseUrl + list?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';">
          </a> -->
        </a>
      </ng-container>
    </div>
    <div class="o-mystory__add" *ngIf="currentUser">
      <a [routerLink]="['/post/media']" [queryParams]="{post_to: 'my_story'}" class="o-mystory-add__link">
        <div class="o-mystory-add__icon">
          <img src="{{baseUrl}}img/svg/ico_create-plus.svg" alt="">
        </div>
        <div class="o-mystory-add__txt">
          Add My story
        </div>
      </a>
    </div>
  </div>
</div>
