<app-navigation></app-navigation>
<section class="o-settings">
    <div class="container">
        <div class="o-settings-container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 o-settings-leftbar ">
                <div class="o-settings_head">
                    <div class="o-settings_ico">
                        <img src="{{ imageBaseLink }}img/svg/ico_settings.svg" class="msg_setting_icon">
                    </div>
                    <div class="settings_head_txt">
                        Settings
                    </div>
                </div>
                <!-- Nav tabs -->
                <ul class=" o-settings-tabs">
                    <li class=" o-settings-tab_list">
                        <a class="o-settings-tab_links" href="javascript:void(0)" data-toggle="tab" (click)="toggleView($event,'general')" [ngClass]="{'active': selectedView == true}">
                            General 
                            <span class="arrow_ico"><img src="{{ imageBaseLink }}img/svg/ico-arrow-down.svg" alt="">
                            </span>
                        </a>
                    </li>
                    <li class=" o-settings-tab_list">
                        <a class="o-settings-tab_links" href="javascript:void(0)" data-toggle="tab" (click)="toggleView($event,'admin')" [ngClass]="{'active': selectedView == false}">Admin Access
                            <span class="arrow_ico"><img src="{{ imageBaseLink }}img/svg/ico-arrow-down.svg" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--- setting left end -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 o-settings-rightbar with_border_left">
                <div class="tab-content">
                    <div class="tab-pane active" id="org_general" *ngIf="selectedView">
                        <h6 class="c-text_lg m-b-24 ">General</h6>
                        <!-- <div class="col-md-12 p-0 m-b-24">
                            <div class="switch_btn">
                                <label class="switch">
                                <input type="checkbox" checked="">
                                    <span class="slider round">
                                    </span>
                                </label>
                            </div>
                            <p class="c-text_md">
                                Unpublish
                            </p>
                            <p class="width100 c-text_sm color-grey-dark float_left">
                                If you check unpublish, it will only be seen by people with a role on the Organization
                            </p>
                        </div> -->
                        <!-- unpublished -->
                        <div class="o-set-single-block  m-b-24">
                            <h6 class="c-text_md m-b-8">
                                Follow
                            </h6>
                            <div class="col-md-5 p-0">
                                <p class="c-text_md color-grey-dark">
                                    Enable Follow button in Profile
                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="switch_btn">
                                    <label class="switch">
                                    <input type="checkbox" name="followOption" value="{{followOption.value}}" checked [(ngModel)]="followOption.checked" (change)="updateCheckedOptions(followOption, $event)">
                                    <span class="slider round">
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- follow end -->
                        <div class="o-set-single-block  m-b-24">
                            <h6 class="c-text_md m-b-8">
                                Donation
                            </h6>
                            <div class="col-md-5 p-0">
                                <p class="c-text_md color-grey-dark">
                                    Enable Donation button in Profile
                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="switch_btn">
                                    <label class="switch">
                                    <input type="checkbox" name="donationOption" value="{{donationOption.value}}" checked [(ngModel)]="donationOption.checked" (change)="updateCheckedOptions(donationOption, $event)">
                                    <span class="slider round">
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Donation end -->
                        <div class="o-set-single-block  m-b-24">
                            <h6 class="c-text_md m-b-8">
                                Network
                            </h6>
                            <div class="col-md-5 p-0">
                                <p class="c-text_md color-grey-dark">
                                    Enable Network button in Profile
                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="switch_btn">
                                    <label class="switch">
                                    <input type="checkbox" name="networkOption" value="{{networkOption.value}}" checked [(ngModel)]="networkOption.checked" (change)="updateCheckedOptions(networkOption, $event)">
                                    <span class="slider round">
                                    </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Network end -->
                        <div class="o-set-single-block  m-b-24">
                            <h6 class="c-text_md m-b-8">
                                Message
                            </h6>
                            <div class="col-md-5 p-0">
                                <p class="c-text_md color-grey-dark">
                                    Enable other users message
                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="switch_btn">
                                    <label class="switch">
                                        <input type="checkbox" name="messageOption" value="{{messageOption.value}}" checked [(ngModel)]="messageOption.checked" (change)="updateCheckedOptions(messageOption, $event)">
                                        <span class="slider round">
                                        </span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <!-- Message end -->

                        <ul class="o-set-list">
                            <li class="o-set-list_items o-set-list_items--active">
                                <div class="col-md-3 p-0">
                                    <span class="o-set-item__title c-text_md">Country restriction</span>
                                </div>
                                <div class="col-md-9 p-0">
                                    <div id="acc_country" class="o-set-list__data">
                                        <span class="o-set-list__edit-btn">
                                        <a href="javascript:void(0)" class="o-set-list-edit__link c-text_md">
                                          <span class="o-set-list-edit__icon"><img src="{{ imageBaseLink }}img/svg/editpencil.svg" alt="" (click)="display()"></span> Edit
                                        </a>
                                        </span>
                                    </div>
                                    <!-- data end -->
                                    <div id="acc-country__edit" class="o-set-list__edit" *ngIf="this.show">
                                        <div class="col-md-8 p-0">
                                            <div class="c-form__group c-form--sm c-form--noeffect m-0">
                                                <input class="c-form__input p-0" type="text" value="North Korea">
                                            </div>
                                            <!-- <ul class="o-org-country-block">
                                                <li class="o-org-country-items">
                                                    <input class="" type="radio" name="channel" id="channel" />
                                                    <label for="channel" class="o-org-country-label">
                                                      <span class="o-org-country-content">
                                                        <span class="o-org-country-content__name">
                                                          <p class="c-text_sm-light color-grey-dark">Only show this Page to viewers in these countries</p>
                                                        </span>
                                                      </span>
                                                    </label>
                                                </li>
                                                <li class="o-org-country-items">
                                                    <input class="" type="radio" name="channel" id="channel1" />
                                                    <label for="channel1" class="o-org-country-label">
                                                      <span class="o-org-country-content">
                                                        <span class="o-org-country-content__name">
                                                          <p class="c-text_sm-light color-grey-dark">Hide this Page from viewers in these countries</p>
                                                        </span>
                                                      </span>
                                                    </label>
                                                </li>
                                            </ul> -->
                                        </div>
                                        <div class="col-md-4 p-0">
                                            <div class="o-set-list-edit__actions">
                                                <button type="button" class="btn btn-primary btn-sm" (click)="display()">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm" (click)="display()">
                                                  Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- edit data end -->
                                </div>
                            </li>
                            <!-- Country restriction end -->
                            <li class="o-set-list_items">
                                <div class="col-md-3 p-0">
                                    <span class="o-set-item__title c-text_md">Age restriction</span>
                                </div>
                                <div class="col-md-9 p-0">
                                    <div id="acc_info-age" class="o-set-list__data">
                                        <span class="o-set-list__edit-btn">
                                        <a href="javascript:void(0)" class="o-set-list-edit__link c-text_md" (click)="display1()">
                                          <span class="o-set-list-edit__icon"><img src="{{ imageBaseLink }}img/svg/editpencil.svg" alt="">
                                          </span> Edit
                                        </a>
                                        </span>
                                    </div>
                                    <!-- data end -->
                                    <div id="acc-info-age__edit" class="o-set-list__edit" *ngIf="this.show1">
                                        <div class="col-md-6 p-0">
                                            <div class="c-form__group">
                                                <select class="c-form-control p-l-0">
                                                  <option>
                                                    Above 13
                                                  </option>
                                                  <option>
                                                    Select list 2
                                                  </option>
                                                  <option>
                                                    Select list 3
                                                  </option>
                                                  <option>
                                                    Select list 4
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 p-0">
                                            <div class="o-set-list-edit__actions">
                                                <button type="button" class="btn btn-primary btn-sm" (click)="display1()">
                                                  Save
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm" (click)="display1()">
                                                  Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- edit data end -->
                                </div>
                            </li>
                            <!-- Age restriction end -->
                        </ul>
                        <div class="col-md-12 p-0 fill-grey-light p-8">
                            <div class="col-md-8 p-0 ">
                                <span class="c-text_md p-b-8">Delete Organization</span>
                                <p class="c-text_sm p-t-8 color-grey-dark">
                                    By deleting your Organization you remove your personal information from One page spotlight. Your account cannot be restored.
                                </p>
                            </div>
                            <div class="col-md-4 p-0 text-right">
                                <button type="button" class="btn btn-primary btn-md m-t-16" (click)="deleteOrganization()">Delete</button>
                            </div>
                        </div>
                    </div>
                    <!-- general end -->

                    <div class="tab-pane active" id="admin_access" (click)="hideList()" *ngIf="!selectedView">
                        <h6 class="c-text_lg m-b-24">
                            Admin Access
                        </h6>
                        <p class="c-text_md m-t-24">
                            Assign a New Admin
                        </p>
                        <div class="o-set-single-block  m-b-16">
                            <form [formGroup]="adminNameForm" novalidate (ngSubmit)="adminUpdate(adminNameForm.value)" #userform="ngForm">
                                <div class="col-md-5 p-0">
                                    <div class="c-form__group c-form--lg">
                                        <input class="c-form__input" required="" type="text" formControlName="adminName" [(ngModel)]="admin" (keyup)="onSearch()">
                                        <span class="c-form__highlight"></span>
                                        <span class="c-form__bar"></span>
                                        <label>Type name or username</label>
                                        <!-- <p class="error_alert" *ngIf="adminNameForm.controls['adminName'].errors?.required && userform.submitted">Admin name is required</p>
                                        <p class="error_alert" *ngIf="adminNameForm.controls['adminName'].errors?.whitespace">White Space Not Allowed</p>
                                        <p class="error_alert" *ngIf="adminNameForm.controls['adminName'].errors?.minlength">Admin name must be min length 4</p> -->
                                        <ul class="dropdown-menu show o-set-admin-list" *ngIf="recipientsListState">
                                            <li class="o-set-admin__item" *ngFor="let skill of receipientList | slice:0:5" (click)="toggleSelectSkill(skill.handle)">
                                                <!-- <a class="c-user__avatar c-avatar--status"> -->
                                                <div class="o-set-admin__avatar">
                                                    <img class="c-user__image" src="{{imageBaseLink +skill.profileImage}}">
                                                </div>
                                                <div class="o-set-admin__user-info">
                                                    <span class="c-text_md">{{skill.name}}</span>
                                                    <span class="c-text_sm color-grey-dark ">
                                                        {{ '@' + skill.extra.username }}
                                                    </span>
                                                </div>
                                                <!-- </a> -->

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="c-form__group">
                                        <select class="c-form-control" formControlName="publicWork">
                                          <option value="true">Admin</option>
                                          <option value="false">Member</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg" [type]="'submit'" [disabled]="!adminNameForm.valid">Assign</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-10 p-0">
                            <p class="c-text_sm color-grey-dark">
                                Can manage all aspects of the Organization. They can: send messages and publish as the Organization, respond to and delete comments on the Organization.
                            </p>
                        </div>
                        <div class="o-set-single-block  m-b-16 m-t-24">
                            <p class="c-text_md">Existing admins</p>
                        </div>
                        <!-- <div *ngIf="existingMembers.length === 0">
                            <div class="sticky">
                                <div class="loader">Loading...</div>
                            </div>
                        </div> -->
                        <div class="o-set-single-block  m-b-16" *ngIf="existingMembers">
                            <div class="col-md-12 p-0" *ngFor="let members of existingMembers; let i = index;">
                                <div class="col-md-5 p-0">
                                    <div class="c-user">
                                        <a class="c-user__avatar c-avatar--feed">
                                            <img class="c-user__image" src="{{imageBaseLink + members.profileImage}}">
                                        </a>
                                        <a class="c-user__name c-user__name--org">{{members.username}}</a>
                                    </div>
                                </div>
                                <div class="col-md-3 p-0">
                                    <button type="button" class="btn btn-default btn-sm" (click)="removeMember(members.handle)">Remove</button>
                                </div>
                            </div>
                        </div>
                        <!-- block list 2 -->
                    </div>
                    <!-- Admin Access end -->
                </div>
            </div>
            <!--- setting right end -->
        </div>
    </div>
</section>