<section class="ops_reset_password main_ht_fix">
  <div class="container">
      <!-- registraion middle container -->
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <p class="text-center ops_reset_logo"><img src="/assets/img/logo_black.svg" alt="One Page Spotlight"></p>
            <h2 class="text-center">Check your e-mail</h2>
            <p class="check_phone_text">We've sent an email to {{ this.forgotP.fp_user_options.email }}<br>
Click the link in the email to reset your pasword.</p>
            <p class="not_receive text-center"><a class="ops_reset_link" (click)="resentMail()">I didn't receive the mail</a></p>
          </div>
      </div>
      <!-- //registraion middle container -->
  </div>
</section>
