<form #createInternshipFrm="ngForm" [formGroup]="internshipFrm" (ngSubmit)="submitInternshipForm(internshipFrm.value)">
  <!-- <p class="c-text_lg color-grey-dark m-t-16">Internships.</p> -->
  <div id="03" class="tab-pane">
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
        INTERNSHIP DETAILS
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Title</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="internshipRole" class="c-form__input" type="text" placeholder="Name of the role (E.g., Assistant designer, Choreographer, etc.)">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Manager/Director</label> -->
              </div>
              <p *ngIf="internshipFrm.controls['internshipRole'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Role is required!</p>
          </div>
      </div>
      <!-- Role end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Description</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm">
                  <!-- <textarea formControlName="internshipDescription" class="c-textarea__block c-textarea--style" placeholder="Describe about opportunity"></textarea> -->
                  <quill-editor [modules]="quillModules" [style]="{height: '250px'}" class="quill-editor" [placeholder]="''" formControlName="internshipDescription"></quill-editor>
              </div>
              <p *ngIf="internshipFrm.controls['internshipDescription'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Description is required!</p>
          </div>
      </div>
      <!-- Description end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Industry</div>
          </div>
          <div class="col-md-6 p-0">
              <div class="c-form__group m-t-0">
                  <select formControlName="internshipIndustry" class="c-form-control p-l-0">
                      <option value="">Select</option>
                      <option *ngFor="let category of industryList" [value]="category.name">
                          {{ category.name }}
                      </option>
                  </select>
              </div>
              <p *ngIf="internshipFrm.controls['internshipIndustry'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Industry is required!</p>
          </div>
      </div>
      <!-- Description end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Experience</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                  <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                    <input formControlName="internshipExperienceFrom" class="c-form__input" type="number" min="0" placeholder="Min">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                  </div>
              </div>
              <div class="col-md-1">
                  <div class="c-text_md color-grey-dark p-8">to</div>
              </div>
              <div class="col-md-2 p-0">
                  <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                    <input formControlName="internshipExperienceTo" class="c-form__input" type="number" min="0" placeholder="Max">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                  </div>
              </div>
              <div class="col-md-1">
                  <div class="c-text_md color-grey-dark p-8">Annually</div>
              </div>
              <p *ngIf="(internshipFrm.controls['internshipExperienceFrom'].errors?.required || internshipFrm.controls['internshipExperienceTo'].errors?.required) && createInternshipFrm.submitted" class="c-form__validation error">Experience fields are required!</p>
              <p *ngIf="internshipFrm.controls['internshipExperienceTo'].errors?.invalidExperienceRange && createInternshipFrm.submitted" class="c-form__validation error">Invalid experience range!</p>
          </div>
      </div>
      <!-- Experience end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Salary</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-4 p-l-0">
                  <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                      <input formControlName="internshipSalaryAmount" class="c-form__input" type="text" placeholder="Salary amount">
                      <span class="c-form__highlight"></span>
                      <span class="c-form__bar"></span>
                      <!-- <label>Salary amount</label> -->
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="c-form__group m-t-0">
                      <select formControlName="internshipSalaryDuration" class="c-form-control p-l-0">
                          <option value="">Select</option>
                          <option value="Year">Year</option>
                          <option value="Month">Month</option>
                          <option value="Contract">Contract</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-3 ">
                  <div class="c-form__group m-t-0">
                      <select formControlName="internshipSalaryCurrency" class="c-form-control p-l-0">
                          <option value="">Select</option>
                          <option value="INR">INR</option>
                          <option value="DOLLAR">DOLLAR</option>
                          <option value="EURO">EURO</option>
                      </select>
                  </div>
              </div>
              <p *ngIf="(internshipFrm.controls['internshipSalaryAmount'].errors?.required || internshipFrm.controls['internshipSalaryDuration'].errors?.required || internshipFrm.controls['internshipSalaryCurrency'].errors?.required) && createInternshipFrm.submitted" class="c-form__validation error">Salary details are required!</p>
          </div>
      </div>
      <!-- Salary end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Type</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="col-md-4 p-0">
                  <div class="c-form__group m-t-0">
                      <select formControlName="internshipDuration" class="c-form-control p-l-0">
                          <option value="">Select</option>
                          <option value="Full time">Full time</option>
                          <option value="Part time">Part time</option>
                      </select>
                  </div>
              </div>
              <p *ngIf="internshipFrm.controls['internshipDuration'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Duration is required!</p>
          </div>
      </div>
      <!-- Duration end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Location</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="internshipLocation" class="c-form__input" type="text" placeholder="Eg: Locality, City, Country">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Locality, City, Country</label> -->
              </div>
              <p *ngIf="internshipFrm.controls['internshipLocation'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Location is required!</p>
          </div>
      </div>
      <!-- Location end -->
      <div class="o-oppo-form__single">
        <div class="col-md-3 p-0">
            <div class="c-text_md o-oppo-form-title">Includes Travel</div>
        </div>
        <div class="col-md-9 p-0">
            <div class="col-md-2 p-0">
                <div class="c-radio__sm p-t-8 float_left width100">
                    <label class="col-md-6 p-0 p-t-8">
                        <input formControlName="travelInclusive" type="radio" value="Yes" class="c-form__bar2"><span></span>Yes
                    </label>
                    <label class="col-md-6 p-0 p-t-8">
                        <input formControlName="travelInclusive" type="radio" value="No" class="c-form__bar2"><span></span>No
                    </label>
                </div>
            </div>
            <div class="col-md-9 p-r-0">
                <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                    <input formControlName="countryName" class="c-form__input" type="text" placeholder="Country">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <!-- <label>Country</label> -->
                </div>
            </div>
            <p *ngIf="internshipFrm.controls['travelInclusive'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">This is required!</p>
            <p *ngIf="internshipFrm.controls['travelInclusive'].errors?.countryRequired && createInternshipFrm.submitted" class="c-form__validation error">Country is required!</p>
        </div>
      </div>
      <!-- Location end -->
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
          Candidate details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Skills</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="internshipSkills" class="c-form__input" type="text" placeholder="Eg: #UIdesign #photoshop #sketch">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: #UIdesign #photoshop #sketch</label> -->
              </div>
              <p *ngIf="internshipFrm.controls['internshipSkills'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Skills are required!</p>
          </div>
      </div>
      <!-- Skills end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Education</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="internshipQualifications" class="c-form__input" type="text" placeholder="Eg: Garduate">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Garduate </label> -->
              </div>
              <p *ngIf="internshipFrm.controls['internshipQualifications'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Qualification is required!</p>
          </div>
      </div>
      <!-- Qualifications end -->
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
        organisation details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Organisation Name</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="internshipOrgName" class="c-form__input" type="text" placeholder="Name of the organisation/company">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Name of the organization/company</label> -->
              </div>
              <p *ngIf="internshipFrm.controls['internshipOrgName'].errors?.required && createInternshipFrm.submitted" class="c-form__validation error">Organisation name is required!</p>
          </div>
      </div>
      <!-- Organization Name end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Attach File</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="o-oppo-form__file-type">
                  <input class="o-oppo-file" type="file" accept="image/*" (change)="fileSelectedAction($event)" multiple>
                  <p *ngIf="!uploadingFile" class="c-text_sm o-oppo-file__text">upload<br>image</p>
                  <img *ngIf="uploadingFile" [src]="baseUrl + 'img/search-preloader.gif'" class="opp-prel-image" alt="">
                  <img *ngIf="uploadedFile" [src]="uploadedFileSrc" class="opp-prev-image" alt="">
              </div>
              <div *ngFor="let fileName of internshipAttachments" class="o-oppo-form__img-show"
                [ngStyle]="{'background-image': 'url(' + baseUrl + fileName + ')',
                'background-size': 'cover',
                'background-position': 'center'}">
                <span class="o-oppo-img-close" title="Remove">
                    <a (click)="removeAttachedMedia(fileName)"><img [src]="baseUrl + 'v2/svg/ico_create-close.svg'"></a>
                </span>
              </div>
          </div>
      </div>
      <!-- file attach end -->
      <div class="o-oppo-form__single">
        <div class="col-md-3 p-0"></div>
        <div class="col-md-9 p-0">
            <p *ngIf="_oppDetails?.formType === 'create'" class="c-text_sm color-grey-dark m-t-24">By clicking 'Create', you are agreeing to the <a (click)="termsAction('show')" class="text-theme">Terms &amp; Conditions.</a> and the <a (click)="termsAction('show')" class="text-theme">Privacy policy</a>.</p>
            <button *ngIf="_oppDetails?.formType === 'create'" type="submit" [disabled]="oppSubmitting || uploadingFile" class="btn btn-primary btn-md m-t-16 m-b-16">Create</button>
            <button *ngIf="_oppDetails?.formType === 'edit'" type="submit" [disabled]="oppSubmitting || uploadingFile" class="btn btn-primary btn-md m-t-16 m-b-16">Update</button>
            <button *ngIf="_oppDetails?.formType === 'edit'" type="button" class="btn btn-default btn-md m-l-8" (click)="cancelUpdate()">Cancel</button>
        </div>
      </div>
      <!-- btn end -->
  </div>
</form>

<!-- Terms Modal -->
<app-modal-new #termsPopup [closeOnEscape]="true" [closeOnOutsideClick]="true" modalClass="reg_step1_otp modal-term-policy">
    <modal-content>
    <div class="in db" id="termsandcondition">
        <div class="modal-dialog modal-lg terms_and_condition">
            <!-- Modal content-->
            <div class="modal-content modal-container">
                <div class="modal-header with_border_none">
                    <button type="button" class="close" data-dismiss="modal" (click)="termsAction('hide')">x</button>
                </div>
                <app-terms-and-conditions-content></app-terms-and-conditions-content>
            </div>
        </div>
    </div>
    </modal-content>
</app-modal-new>
<!-- Terms Modal -->