<div class="c-card c-card--artist">
    <a routerLink="{{ '/profile/u/' + artist?.extra?.username }}" class="c-artist__avatar">
      <img *ngIf="artist.profileImage; else default_profile_image" src="{{ baseUrl + artist?.profileImage }}" class="c-artist__img">
      <ng-template #default_profile_image>
          <img src="/assets/img/avatar.jpg" class="c-artist__img">
      </ng-template>
    </a>
    <a routerLink="{{ '/profile/u/' + artist?.extra?.username }}" class="c-artist__name margin_t_16">{{ artist?.name | truncate:[12, '...'] }}</a>
    <div class="c-artist__username">
        @{{ artist?.extra?.username }}
    </div>
    <div class="c-artist--btn">
        <div *ngIf="artist.extra.isImported; else not_imported">
            <button (click)="claimProfile(artist)" type="button" class="btn btn-xs btn-basic btn-following" [disabled]="disableFollowForSelf(artist?.extra?.username)" >
                <span class="btn-label-follow"> CLAIM </span>
            </button>
        </div>
        <ng-template #not_imported>
            <button (click)="unfollowUser(artist)" *ngIf="artist.extra.isFollowing" type="button" class="btn btn-xs btn-basic btn-following" [disabled]="disableFollowForSelf(artist?.extra?.username)" >
                <span class="btn-label-follow"> UNFOLLOW </span>
            </button>
            <button (click)="followUser(artist)" *ngIf="!artist.extra.isFollowing" type="button" class="btn btn-xs btn-basic btn-following" [disabled]="disableFollowForSelf(artist?.extra?.username)" >
                <span class="btn-label-follow"> FOLLOW </span>
            </button>
        </ng-template>
    </div>
</div>