<section>
    <div class="container spotfeed_inner">
        <!---  section  -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ baseUrl + spotfeedDetails.SUCCESS.spotfeedImage }}" class="img-responsive img-rounded img-thumbnail">
            </div>
            <div class="col-md-6">
                <div class="ops_h1">{{ spotfeedDetails.SUCCESS.spotfeedName }}</div>
                <div class="ops_heading2 spot_in_toptext">
                    {{ spotfeedDetails.SUCCESS.spotfeedDescription }}
                </div>
                <a href="" class="btn btn-tag btn-sm" *ngFor="let tag of spotfeedDetails.SUCCESS.spotfeedTags" >{{ tag }}</a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!-- artist to follow -->
        <div class="row">
          <ul class="list-inline spot_in_head">
              <li class="list-inline-item ops_heading text_uppercase">artists to follow</li>
          </ul>
          <div class="col-md-12 padding_none ops_artist_follow myBlock">
            <!-- ---------- card ---------- -->
            <div class="col-md-2 " *ngFor="let artist of spotfeedDetails.SUCCESS.spotfeedProfiles" >
                <div class="c-card c-card--artist">
                    <div class="c-artist__avatar">
                        <img *ngIf="artist.image; else default_profile_image" src="{{ baseUrl + artist.image }}" class="c-artist__img">
                        <ng-template #default_profile_image>
                            <img src="/assets/img/avatar.jpg" class="c-artist__img">
                        </ng-template>
                    </div>
                    <div class="c-artist__name margin_t_16">{{ artist.name }}</div>
                    <div class="c-artist__username">
                        @{{ artist.username }}
                    </div>
                    <div class="c-artist--btn">
                      <button type="button" class="btn btn-xs btn-basic btn-following">
                        <span class="btn-label-follow"> FOLLOWING </span>
                      </button>
                    </div>
                </div>
            </div>
            <!-- ---------- //card ---------- -->
          </div>
        </div>
        <!-- // -->
        <!-- follow channels -->
        <div class="row">
            <ul class="list-inline spot_in_head">
                <li class="list-inline-item ops_heading text_uppercase">Post</li>
                <li class="list-inline-item float_right">
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-image-black.svg" alt=""></span></a>
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-play-gray.svg" alt=""></span></a>
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-audio-black.svg" alt=""></span></a>
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-blog-black.svg" alt=""></span></a>
                </li>
            </ul>
            <div class="col-md-12">
                <div class="row">
                    <!-- first column -->
                    <div class="col-md-3">
                        <div class="row">
                            <!-- feed block -->
                            <div class="col-md-12 col-sm-6 pro_channel_card">
                              <div class="col-md-12 col-sm-12 feed_block">
                                  <div class="row">
                                      <div class="col-md-12 col-sm-12 pro_channel_img1">
                                          <figure class="feed-avatar">
                                              <img src="/assets/img/art_color.jpg" class="img-responsive">
                                          </figure>
                                          <div class="feed_article"><img src="/assets/img/svg/ico_article.svg"></div>
                                      </div>
                                      <div class="col-md-12 col-sm-12 pro_channel_cont">
                                          <div class="pro_channel_name">
                                              <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                              <span>
                                              <img class="float-right" src="/assets/img/svg/ico_options.svg">
                                          </span>
                                          </div>
                                          <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                          <div class="pro_channel-thumb">
                                              <img src="/assets/img/avatar.jpg">
                                              <p>James Sims</p>
                                              <div class="small-txt">Cafe and Colors</div>
                                          </div>
                                          <div class="pro_channel_count">
                                              <span><img src="/assets/img/svg/ico_lik.svg"><div class="like_count">705</div></span>
                                              <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">12</div></span>
                                              <div class="pull-right">
                                                  <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                                  <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <!-- // feed block -->
                        </div>
                    </div>
                    <!-- //first column -->
                    <!-- first column -->
                    <div class="col-md-3">
                        <div class="row">
                            <!-- feed block -->
                            <div class="col-md-12 col-sm-6 pro_channel_card">
                                <div class="col-md-12 col-sm-12 feed_block">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 pro_channel_img1">
                                            <figure class="feed-avatar">
                                                <img src="/assets/img/pro_block.jpg" class="img-responsive">
                                            </figure>
                                            <div class="feed_article"><img src="/assets/img/svg/ico_audio.svg"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 pro_channel_cont">
                                            <div class="pro_channel_name">
                                                <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                                <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                            </div>
                                            <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                            <div class="pro_channel-thumb">
                                                <img src="/assets/img/avatar.jpg">
                                                <p>James Sims</p>
                                                <div class="small-txt">Cafe and Colors</div>
                                            </div>
                                            <div class="pro_channel_count">
                                                <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">55</div></span>
                                                <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">15</div></span>
                                                <div class="pull-right">
                                                    <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                                    <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // feed block -->
                        </div>
                    </div>
                    <!-- //first column -->
                    <!-- first column -->
                    <div class="col-md-3">
                        <div class="row">
                            <!-- feed block -->
                            <div class="col-md-12 col-sm-6 pro_channel_card">
                                <div class="col-md-12 col-sm-12 feed_block">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 pro_channel_img1">
                                            <figure class="feed-avatar">
                                                <img src="/assets/img/art_color.jpg" class="img-responsive">
                                            </figure>
                                            <div class="feed_article"><img src="/assets/img/svg/ico_article.svg"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 pro_channel_cont">
                                            <div class="pro_channel_name">
                                                <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                                <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                            </div>
                                            <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                            <div class="pro_channel-thumb">
                                                <img src="/assets/img/avatar.jpg">
                                                <p>James Sims</p>
                                                <div class="small-txt">Cafe and Colors</div>
                                            </div>
                                            <div class="pro_channel_count">
                                                <span><img src="/assets/img/svg/ico_lik.svg"><div class="like_count">705</div></span>
                                                <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">12</div></span>
                                                <div class="pull-right">
                                                    <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                                    <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // feed block -->
                        </div>
                    </div>
                    <!-- //first column -->
                    <!-- first column -->
                    <div class="col-md-3">
                        <div class="row">
                            <!-- feed block -->
                            <div class="col-md-12 col-sm-6 pro_channel_card">
                                <div class="col-md-12 col-sm-12 feed_block">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 pro_channel_img1">
                                            <figure class="feed-avatar">
                                                <img src="/assets/img/pro_block.jpg" class="img-responsive">
                                            </figure>
                                            <div class="feed_article"><img src="/assets/img/svg/ico_audio.svg"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 pro_channel_cont">
                                            <div class="pro_channel_name">
                                                <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                                <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                            </div>
                                            <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                            <div class="pro_channel-thumb">
                                                <img src="/assets/img/avatar.jpg">
                                                <p>James Sims</p>
                                                <div class="small-txt">Cafe and Colors</div>
                                            </div>
                                            <div class="pro_channel_count">
                                                <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">55</div></span>
                                                <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">15</div></span>
                                                <div class="pull-right">
                                                    <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                                    <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // feed block -->
                        </div>
                    </div>
                    <!-- //first column -->
                </div>
            </div>
        </div>
    </div>
</section>