<app-navigation></app-navigation>
<section>
    <div class="container spotfeed_inner">
        <!---  section  -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ baseUrl + spotfeedDetails?.SUCCESS.spotfeedImage }}" class="img-responsive img-rounded img-thumbnail">
            </div>
            <div class="col-md-6">
                <div class="ops_h1">{{ spotfeedDetails?.SUCCESS.spotfeedName }}</div>
                <div class="ops_heading2 spot_in_toptext">
                    {{ spotfeedDetails?.SUCCESS.spotfeedDescription }}
                </div>
                <a routerLink="{{ '/spotfeed/' + tag }}" class="btn btn-tag btn-sm" *ngFor="let tag of spotfeedDetails?.SUCCESS.spotfeedTags" >{{ tag }}</a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!-- artist to follow -->
        <div class="row">
          <ul class="list-inline spot_in_head">
              <li class="list-inline-item ops_heading text_uppercase">artists to follow</li>
          </ul>
          <div class="col-md-12 ops_artist_follow myBlock">
            <!-- ---------- card ---------- -->
            <div *ngIf="spotfeedDetails?.SUCCESS.spotfeedProfiles && spotfeedDetails?.SUCCESS.spotfeedProfiles.length > 0" >
              <div class="row">
                <div class="col-md-2 " *ngFor="let artist of spotfeedDetails?.SUCCESS.spotfeedProfiles" >
                  <app-user-card [artist]="artist"></app-user-card>
                </div>
              </div>
            </div>
            <!-- ---------- //card ---------- -->
            <div class="emptyState" *ngIf="spotfeedDetails?.SUCCESS.spotfeedProfiles && spotfeedDetails?.SUCCESS.spotfeedProfiles.length === 0" >
                <h4 class="emptyState__heading empty-fields">There are no profiles in the Spotfeed</h4>
            </div>
          </div>
        </div>
        <!-- // -->
        <!-- follow channels -->
        <div class="row">
            <ul class="list-inline spot_in_head">
                <li class="list-inline-item ops_heading text_uppercase">Post</li>
                <li class="list-inline-item float_right hide">
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-image-black.svg" alt=""></span></a>
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-play-gray.svg" alt=""></span></a>
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-audio-black.svg" alt=""></span></a>
                  <a href="#"><span class="post-icons"><img src="/assets/img/svg/ico-blog-black.svg" alt=""></span></a>
                </li>
            </ul>
            <div class="col-md-12">
                <div class="row">
                    <div *ngIf="spotfeedPosts && spotfeedPosts.length > 0" >
                        <masonry [useImagesLoaded]="true">
                            <masonry-brick class="col-md-3" *ngFor="let post of spotfeedPosts; let i = index">
                                <app-post-card  (postDelete)="deletePost(media)" (onClick)="mediaOpenPopup(media.id)" [mediaData]="post"></app-post-card>
                            </masonry-brick>
                        </masonry>
                    </div>

                    <div class="col-md-12" *ngIf="spotfeedPosts && spotfeedPosts.length === 0">
                        <div class="emptyState" >
                            <h4 class="emptyState__heading empty-fields">There are no feed in the Spotfeed</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
