<nav class="navbar navbar-inverse">
    <div id="navbar" >
      <ul class="nav navbar-nav top-nav-left">
        <li class="active"><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Portfolio</a></li>
        <li><a href="javascript:void(0)">Partner</a></li>
        <li><a href="javascript:void(0)">Network</a></li>
        <li><a href="javascript:void(0)">Projects</a></li>
        <li><a href="javascript:void(0)">Communities</a></li>
      </ul>
      <ul class="nav navbar-nav top-nav-right">
        <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
        <li class="active"><a href="javascript:void(0)"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
