<div class="tab-content">
<div id="search_community" class="tab-pane fade in active">
    <div class="row pro_channel2 ops_spotfeed ops_community">
        <div class="col-md-3 col-sm-6 ops_community_card" *ngFor="let item of cards">
            <div class="col-md-12 col-sm-12 ops_community_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ops_community_img">
                        <figure class="avatar_community_card">
                            <a href=""><img src="{{item.imageQuick}}"></a>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 ops_community_cont">
                        <div class="ops_community_name">
                            <div class="ops_heading"><a href="">{{item.heading}}</a></div>
                        </div>
                        <div class="overlap_thumb">
                            <span class="over1_thumb"><img src="{{item.imagethumb1}}"></span>
                            <span class="over2_thumb"><img src="{{item.imagethumb2}}"></span>
                            <span class="over3_thumb"><img src="{{item.imagethumb3}}"></span>
                            <h5 class="overlap_thumb_text">{{item.thumbText}}</h5>
                            <button type="button" class="btn btn-default btn-xs">{{item.button}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="col-md-3 col-sm-6 ops_community_card">
            <div class="col-md-12 col-sm-12 ops_community_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ops_community_img">
                        <figure class="avatar_community_card">
                            <a href=""><img src="/assets/img/quick3.jpg"></a>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 ops_community_cont">
                        <div class="ops_community_name">
                            <div class="ops_heading"><a href="">How to set intentions that energize you</a></div>
                        </div>
                        <div class="overlap_thumb">
                            <span class="over1_thumb"><img src="/assets/img/opro.png"></span>
                            <span class="over2_thumb"><img src="/assets/img/avatar2.jpg"></span>
                            <span class="over3_thumb"><img src="/assets/img/avatar.jpg"></span>
                            <h5 class="overlap_thumb_text">+ 08 Members</h5>
                            <button type="button" class="btn btn-default btn-xs">JOIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ops_community_card">
            <div class="col-md-12 col-sm-12 ops_community_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ops_community_img">
                        <figure class="avatar_community_card">
                            <a href=""><img src="/assets/img/quick3.jpg"></a>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 ops_community_cont">
                        <div class="ops_community_name">
                            <div class="ops_heading"><a href="">How to set intentions that energize you</a></div>
                        </div>
                        <div class="overlap_thumb">
                            <span class="over1_thumb"><img src="/assets/img/opro.png"></span>
                            <span class="over2_thumb"><img src="/assets/img/avatar2.jpg"></span>
                            <span class="over3_thumb"><img src="/assets/img/avatar.jpg"></span>
                            <h5 class="overlap_thumb_text">+ 08 Members</h5>
                            <button type="button" class="btn btn-default btn-xs">JOIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ops_community_card">
            <div class="col-md-12 col-sm-12 ops_community_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ops_community_img">
                        <figure class="avatar_community_card">
                            <a href=""><img src="/assets/img/quick3.jpg"></a>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 ops_community_cont">
                        <div class="ops_community_name">
                            <div class="ops_heading"><a href="">How to set intentions that energize you</a></div>
                        </div>
                        <div class="overlap_thumb">
                            <span class="over1_thumb"><img src="/assets/img/opro.png"></span>
                            <span class="over2_thumb"><img src="/assets/img/avatar2.jpg"></span>
                            <span class="over3_thumb"><img src="/assets/img/avatar.jpg"></span>
                            <h5 class="overlap_thumb_text">+ 08 Members</h5>
                            <button type="button" class="btn btn-default btn-xs">JOIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ops_community_card">
            <div class="col-md-12 col-sm-12 ops_community_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ops_community_img">
                        <figure class="avatar_community_card">
                            <a href=""><img src="/assets/img/quick3.jpg"></a>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 ops_community_cont">
                        <div class="ops_community_name">
                            <div class="ops_heading"><a href="">How to set intentions that energize you</a></div>
                        </div>
                        <div class="overlap_thumb">
                            <span class="over1_thumb"><img src="/assets/img/opro.png"></span>
                            <span class="over2_thumb"><img src="/assets/img/avatar2.jpg"></span>
                            <span class="over3_thumb"><img src="/assets/img/avatar.jpg"></span>
                            <h5 class="overlap_thumb_text">+ 08 Members</h5>
                            <button type="button" class="btn btn-default btn-xs">JOIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ops_community_card">
            <div class="col-md-12 col-sm-12 ops_community_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ops_community_img">
                        <figure class="avatar_community_card">
                            <a href=""><img src="/assets/img/quick3.jpg"></a>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 ops_community_cont">
                        <div class="ops_community_name">
                            <div class="ops_heading"><a href="">How to set intentions that energize you</a></div>
                        </div>
                        <div class="overlap_thumb">
                            <span class="over1_thumb"><img src="/assets/img/opro.png"></span>
                            <span class="over2_thumb"><img src="/assets/img/avatar2.jpg"></span>
                            <span class="over3_thumb"><img src="/assets/img/avatar.jpg"></span>
                            <h5 class="overlap_thumb_text">+ 08 Members</h5>
                            <button type="button" class="btn btn-default btn-xs">JOIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      -->
    </div>
  </div>
  </div>
