<app-route-modal #channelCreate modalClass="modal-channel__create">
    <modal-content>
        <div class="modal-body p-0">
            <div class="pop-container-sm create-channel--form">
                <div class="pop-head m-b-32">
                    <h5 class="c-text_lg text-center">Create Channel</h5>
                    <span class="pop-close">
                    <a (click)="channelCreate.close()" ><img [src]="baseImageLink + 'img/svg/ico_close-38.svg'"></a>
                </span>
                </div>
                <!-- create channel head -->
                <div class="create_channel__content-form">
                    <form [formGroup]="channelForm" novalidate #myform="ngForm">
                        <div class="c-form__group m-b-16">
                            <input class="c-form__input" formControlName="title" required="" type="text">
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label>Channel Name</label>
                        </div>
                        <div class="c-form__group o-ng__channel m-b-16 m-t-8">
                            <textarea formControlName="desc" class="c-form__input" rows="2" required="" data-min-rows="0"></textarea>
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label class="o-ng_channel-space">About channel</label>
                        </div>
                        <div class="channel-industry__block ">
                            <div class="c-form__group">
                                <select formControlName="type" class="c-form-control p-0" [(ngModel)]="selectedIndustry">
                                    <option value="" disabled="true" [selected]="!selectedIndustry">Select Industry</option>
                                    <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="channel-public__block p-0">
                            <div class="c-form__group">
                                <select formControlName="privacy" class="c-form-control p-0">
                                    <option value="0">Public</option>
                                    <option value="1">Private</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 text-right m-t-32">
                            <button type="button" class="btn btn-default btn-md m-r-16" (click)="channelCreate.close()">Cancel</button>
                            <button type="button" class="btn btn-primary btn-md" (click)="createChannel(channelForm.value)">Create</button>
                        </div>
                    </form>
                </div>
                <!-- create channel content end -->
            </div>
            <!-- create channel container end -->
        </div>
    </modal-content>
</app-route-modal>