<section class="reg_steps">
    <div class="container">
        <!-- registraion middle container -->
        <div class="row reg_middle_container">
            <!-- left section -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_left_section">
                <div class="reg_step3">
                        <!-- progress bar -->
                    <div class="reg_progress_bar">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 progress_bar_active">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 progress_bar_active">
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="progress_dot_active_tick"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                                <div class="progress_dot_active_tick active_tick_dot_center"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="progress_dot_active progress_dot_right"></div>
                            </div>
                        </div>
                    </div>
                    <!-- //progress bar -->
                    <form [formGroup]="rForm "  (ngSubmit)="addSkill(rForm.value)">
                        <div class="form_group">
                            <input class="form_input" type="text" required="" formControlName="profession" [(ngModel)]="search">
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>{{searchPlaceholder}}</label>
                            <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </form>
                    <!-- Select Interest -->
                    <div class="row reg_select_interest" id="ops_scrollbar">
                        <a *ngFor="let skill of skills | searchfilter: search" >
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 reg_interest" (click)="toggleSelectSkill(skill.code)">
                                <div class="margin_t_0 reg_interest_box">
                                    <div class="reg_interest_box_img">
                                        <img src="{{skill.background}}">
                                    </div>
                                    <!-- <div class="reg_interest_box_name" [ngClass]="{'reg_interest_box_name_active': skill.isSelected }" > -->
                                    <!-- <div class="reg_interest_box_name" [ngClass]="{'reg_interest_box_name_active': skill.isSelected}" > -->
                                    <div class="reg_interest_box_name" [ngClass]="skill.isSelected?'reg_interest_box_name_active':''" >
                                        <p>{{skill.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row text-center submit-button ">
                        <app-button [className]="'btn-default btn-md finish_btn'" (click)="submitSkills()" [type]="'submit'">Finish</app-button>
                    </div>
                    <!-- //Select Interest -->

                </div>
            </div>
            <!-- //left section -->

            <!-- Registration Right Section -->
            <auth-right-block *ngIf="!is_skill_open" [rightCom]="rightCom"></auth-right-block>

            <!-- Registration Right Section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_add_skills"   *ngIf="is_skill_open">
                    <div class="reg_add_skills_contant" id="ops_scrollbar">
                        <!-- artist to follow -->
                        <div class="row">
                            <div class="col-md-12 reg_add_skills_sec margin_t_0">
                                <div class="row">
                                    <h3 class="col-md-9">Artist to follow</h3>
                                    <div class="col-md-3">
                                        <p class="pull-right">
                                            <a href="">
                                                <i class="fa fa-angle-left faicon" aria-hidden="true"></i>
                                            </a>
                                            <a href="">
                                                <i class="fa fa-angle-right faicon" aria-hidden="true"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="artistFollowList?.is_data" >
                                    <div class="col-md-4 text-center"   *ngFor="let artist of artistFollowList.completed; let i=index" >
                                        <div *ngIf="i<3">
                                            <div class="reg_skills_img">
                                                <img src="{{artist.profileImage}}" class="img-circle">
                                            </div>
                                            <h4>{{artist.name}}</h4>
                                            <h5>Profession</h5>

                                            <app-button (click)="toggleFollowBtn(i, artist.handle)" [className]="('btn-xs btn-primary ' + (artist.isFollowing == true ? 'btn-following' : 'btn-follow'))">{{artist.isFollowing == true ? "Following" :  "Follow"}}</app-button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!artistFollowList?.is_data">
                                   <h4> No Data </h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 reg_add_skills_sec">
                                        <div class="row">
                                            <h3 class="col-md-9">Channels to follow</h3>
                                            <div class="col-md-3">
                                                <p class="pull-right">
                                                    <a href="">
                                                        <i class="fa fa-angle-left faicon" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="">
                                                        <i class="fa fa-angle-right faicon" aria-hidden="true"></i>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <app-channel *ngFor="let channel of channelList" [className]="'col-md-6 col-sm-6 ops_channel_card ops_channel_card_sm'" [channelData]="channel" (click)="handle($event)"></app-channel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <app-button [className]="'btn-default btn-md finish_btn'" (click)="submit()" [type]="'submit'">Finish</app-button>
                    </div>
                </div>
                <!-- registration right section -->
            <!-- registration right section -->

        </div>
        <!-- //registraion middle container -->
    </div>

</section>
