<form [formGroup]="rForm" >
    <header class="opsheader">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/assets/img/ops_icon.png"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- <div class="signup_next">
                    <button [className]="'btn btn-network btn-sm'" [type]="'submit'" (click)="saveSkills()" [disabled]="!activateSubmitBtn" [ngClass]="{'active-btn': activateSubmitBtn}" >CONTINUE</button>
                </div> -->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <section class="container-fluid skills_section">
        <div class="container">
            <div class="row ptop100">
                <h1 class="add-your-skills">Add your skills</h1>
            </div>
            <div class="row">
                <div class="col-md-6 padding_none with_border_right">
                    <!-- add skill block start -->
                    <ul class="add_skill_block">
                        <li *ngFor="let industry of skillSelectionPage.industries">
                            <a href="javascript:void(0)" (click)="selectCategory(industry.code)" [ngClass]="industry.isSelected?'activeIndustry':''" >
                                <span class="skill_list_container">
                                    <span class="skills_list_bg_img">
                                        <figure class="fill"><img src="{{industry.background}}" alt=""></figure>
                                    </span>
                                    <span class="skills_name"><p>{{industry.name}}</p></span>
                                </span>
                            </a>
                        </li><!-- skill block end -->
                    </ul><!-- add_skill_block end -->
                </div>
                <div class="col-md-6 padding_none">
                    <div class="o-search-block">
                        <div class="search_container">
                            <div class="form_group">
                                <input class="form_input" type="text" formControlName="profession" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)">
                                <label>Search</label>
                                <p class="search_top_icon"><img src="/assets/img/svg/ico_search.svg"></p>
                            </div>
                        </div>
                        <div class="selected_skill">
                            <button *ngFor="let skill of selectedSkills" type="button" class="btn btn-xs btn-primary btn-tag-close">
                                <span class="btn-label-tag" (click)="toggleSelectSkill(skill.code)">
                                    {{skill.name}} <img src="http://d33wubrfki0l68.cloudfront.net/4bfecd878a6e9fec4f1edef66625ef13f7b4cdb0/32216/img/svg/ico_close-white.svg">
                                </span>
                            </button>
                        </div>
                        <div class="selected_tags">
                            <div *ngIf="skillSelectionPage.skills_loaded===false">
                                <span class="loading">Loading...</span>
                            </div>
                            <span *ngFor="let skill of skillSelectionPage.skills" >
                                <button type="button" (click)="toggleSelectSkill(skill.code)" [ngClass]="skill.isSelected?'btn btn-reg_tag-active':''" class="btn btn-reg_tag">
                                    {{skill.name}}
                                </button>
                            </span>
                            <div *ngIf='skillSelectionPage.skills_loaded===true && skillSelectionPage.skills && skillSelectionPage.skills.length === 0'>
                                <a class="adder" (click)="addNewSkill(search)">Add <span class="adder__name">{{search}}?</span></a>
                            </div>
                        </div>
                    </div><!-- o-search-block end -->
                </div>
            </div>
        </div>
    </section>
    <footer class="opsfooter">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="signup_next text-center">
                    <button [className]="'btn btn-network btn-sm'" [type]="'submit'" (click)="saveSkills()" [disabled]="!activateSubmitBtn" [ngClass]="{'active-btn': activateSubmitBtn}" >CONTINUE</button>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </footer>
</form>