@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';

/* --------------------------- registrtion step 3 ---------------------------- */
.skills_section {
    // padding-top: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .add-your-skills {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 40px;
    }
    .add_skill_block {
        list-style: none;
        li {
            list-style-type: none;
            float: left;
            a {
                display: block;
                .skill_list_container {
                    width: 170px;
                    height: 90px;
                    margin: 8px;
                    background: #979797;
                    float: left;
                    border-radius: 3px;
                    position: relative;
                    .skills_list_bg_img {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 90px;
                        overflow: hidden;
                        border-radius: 3px;
                        img {
                            width: 100%;
                        }
                    }
                    .skills_name {
                        position: absolute;
                        width: 100%;
                        height: 90px;
                        top: 0px;
                        left: 0px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        background-color: rgba(0, 0, 0, 0.6);
                        border-radius: 3px;
                        p {
                            font-size: 14px;
                            font-weight: 700;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    a.selected .skills_name {
        background-color: rgba(255, 123, 132, 0.83)!important;
    }
    .o-search-block {
        padding-left: 32px;
        .search_container {
            width: 100%;
            .form_input {
                background: none;
            }
            label {
                color: #979797;
                font-size: 14px;
            }
            .search_top_icon img {
                width: 16px;
                float: right;
                margin-top: -25px;
            }
            .form_input:focus,
            .search_top_close_icon {
                display: block!important;
                outline: none;
            }
            .search_top_close_icon {
                display: none;
                img {
                    width: 16px;
                    float: right;
                    margin-top: -25px;
                }
            }
        }
        .selected_skill {
            .btn-primary {
                margin-bottom: 8px;
            }
            margin: 16px 0px;
            .btn-tag-close {
                padding: 8px 16px;
                font-weight: 500;
                font-size: 14px;
                border-radius: 3px;
                margin-right: 8px;
                &:hover {
                    background: #FF7B84 !important;
                    border-color: #FF7B84 !important;
                    .btn-label-skill {
                        background: none;
                    }
                }
                .btn-label-tag {
                    img {
                        width: 11px;
                        margin-top: 0px;
                        vertical-align: middle;
                        margin-left: 6px;
                    }
                }
            }
        }
        .selected_tags {
            .btn-reg_tag {
                color: #333333;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 8px;
                margin-right: 8px;
            }
        }
    }
}

// --- signup-header -----------------------------------
.signup_next {
    .active-btn {
        color: #ff7b84 !important;
        background-color: #fff !important;
        border-color: #ff7b84 !important;
    }
  .btn-network {
    color: #c1c1c1;
    background-color: #fff;
    border-color: #c1c1c1;
    text-transform: uppercase;
    margin-top: 12px;
    &:hover {
        color: #ff7b84;
        background-color: #fff;
        border-color: #ff7b84;
    }
  }
  .btn-sm {
    padding: 6px 18px;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
    font-weight: 700;
  }
}

.navbar-brand {
  color: #777;
  float: left;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  img {
      height: 40px;
  }
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.are_you_student {
  width: 180px;
  text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #ff7b84;
    border-color: #ff7b84;
}

a.adder {
    border: solid 1px;
    padding: 9px 19px;
    display: inline-block;
    border-radius: 2px;
    color: #656c98;
    margin-right: 15px;
    cursor: pointer;
}

.loading {
    color: #000;
}

.ptop100 {
    padding-top: 100px;
}

.skills_section a.activeIndustry .skills_name {
    background-color: rgba(255,123,132,.83)!important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        flex-shrink: 0;
        width: auto !important;
        min-width: 100% !important;
        min-height: 100% !important;
    }
}

.sm-fw {
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin: auto;
        width: 100%;
    }
}

.skills_section .o-search-block {
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        padding:0 10px;
    }
}