.outer_container{
  margin-top: 3.5%;
  @include mq($from: $desktop_lg, $until: $desktop_imac) {
      margin-top: 2%
  }
}

.ops_heading{
  font-size: 14px;
    font-weight: bold;
    color: #333333;
    a {
      font-size: 14px;
        font-weight: bold;
        color: #333333;
    }
}
.ops_heading2{
  font-size: 14px;
    font-weight: normal;
    color: #333333;
    a {
      font-size: 14px;
        font-weight: normal;
        color: #333333;
    }
}
.ops_heading12{
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}
.ops_subheading{
  font-size: 12px;
    font-weight: 600;
    color: #979797;
}
.ops_h1 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
}
.margin_tb_16 {
  margin: 16px 0;
}
.margin_b_16 {
  margin-bottom: 16px;
}
.padding_16 {
  padding: 16px;
}
.with_border {
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.with_border_top {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.with_border_right {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}
.with_border_left {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
.with_border_bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.text-black {
  color: #000000;
}
.text-left{
  text-align: left!important;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.fill_grey {
    background-color: rgba(102, 45, 145, 0.05);
}
.text-grey{
  color: #979797!important;
}
.text_uppercase {
  text-transform: uppercase;
}
.list_style_none {
  list-style-type: none;
}
.padding_none{
  padding:0px!important;
}
// headings

.heading_2{
  font-size: 18px;
  font-weight: 700;
}
.heading_3{
  font-size: 14px;
  font-weight: 700;
}
.capitalize{
  text-transform: uppercase;
}
