
    <section class="reg_steps">
        <div class="container">

            <!-- registraion middle container -->
            <div class="row reg_middle_container">
            <!-- left section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_left_section">
                    <!-- progress bar -->
                    <div class="row reg_progress_bar">
                        <div class="col-xs-4 reg_progress_bar_step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="bs-wizard-dot">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 reg_progress_bar_step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="bs-wizard-dot">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 reg_progress_bar_step complete">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="bs-wizard-dot">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!-- //progress bar -->
                    <div class="row reg_steps_welcome">
                        <div class="reg_welcome_left_section">
                        <div class="row">
                        <form>
                            <label class="welcome_label col-md-12">
                                <input type="checkbox"><span></span>I am a Critic
                            </label>
                        </form>
                        </div>
                        <p>
                        Critics have special featature to rate and review
                        artists. Before we enable these feature we will
                        reach out to you to validate your profile.
                        </p>
                        <div class="row">
                            <a class="button_tranparent_red" href="#">
                            Go to Profile
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            <!-- //left section -->
                <!-- Registration Right Section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_right_section">
                    <div class="reg_right_section_text reg_welcome_right_section">
                    <div class="reg_steps_logo">
                        <a href="index.html">
                            <img src="img/logo.png" alt="One Page Spotlight">
                        </a>
                    </div>
                        <h3 class="text-center"><strong>Welcome</strong></h3>
                        <h4>Are you a Critic?</h4>
                        <div class="reg_graph">
                            <div class="reg_circle"></div>
                            <div class="reg_rectangle"></div>
                        </div>
                    </div>
                </div>
                <!-- registration right section -->
            </div>
            <!-- //registraion middle container -->
        </div>
    </section>
