<app-navigation-logo></app-navigation-logo>

<section class="container-fluid ops_signup">
    <div class="container p-0 m-t-b-24">
        <div class="row m-0">
            <div class="col-md-6 col-sm-6 col-xs-12 ops_signup_left">
                 <div class="ops_h1">Welcome to One Page Spotlight</div>
                <div class="row m-t-24">
                    <div class="o-reg_main-img">
                        <img [src]="imageBaseLink + 'img/registration_signup_illustration.png'" alt="">
                    </div>
                </div>
                <div class="ops_heading signup_already text-center">
                    Already a member? <a routerLink="/login" class="text-theme">Log In</a>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ops_signup_right pos-rel">
                <!-- form -->
                <div class="ops_h1 c-h3 m-b-8 m-t-32">Create your account</div>
                <form [formGroup]="regFormBasic" novalidate (ngSubmit)="submitForm(regFormBasic.value)" #regform="ngForm">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="c-form__group">
                                <input class="c-form__input" tabindex="1" formControlName="name" type="text" placeholder="Name">
                                <span class="c-form__highlight"></span>
                                <span class="c-form__bar"></span>
                                <!-- <label>Name</label> -->
                                <p class="c-form__validation" *ngIf="regFormBasic.controls['name'].errors?.required && regform.submitted">Name is required</p>
                                <p class="c-form__validation" *ngIf="regFormBasic.controls['name'].errors?.invalidName && regform.submitted">Invalid name</p>
                            </div>
                            <div class="form_group">
                                <input class="c-form__input" type="text" (ngModelChange)="userExistCheck($event)" tabindex="2" formControlName="username" placeholder="Username">
                                <span class="form_highlight"></span>
                                <!-- <label>Username</label> -->
                                <p class="c-form__validation" *ngIf="regFormBasic.controls['username'].errors?.whitespace || regFormBasic.controls['username'].errors?.capitalLetters || regFormBasic.controls['username'].errors?.specialChars">Capital letters, spaces and special characters are not allowed</p>
                                <p class="c-form__validation" *ngIf="regFormBasic.controls['username'].errors?.required && regform.submitted">Username is required</p>
                                <p class="c-form__validation" *ngIf="regFormBasic.controls['username'].errors?.isUsernameUnique">This username is already taken</p>
                                <p class="c-form__validation" *ngIf="regFormBasic.controls['username'].errors?.invalidLength">Username length limit is 3 to 15 characters</p>
                                <ul class="username_error" *ngIf="regState.user_unique">
                                    <li *ngFor="let username of regState?.user_exist; let isLast=last">
                                        <span title="{{username}}" class="suggestions" (click)="useThisUsername(username)">{{username}}{{isLast ? '' : ',&nbsp;'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_group c-radio__sm">
                        <label class="width100">
                            <label class="col-md-2 signup_gender">Gender</label>
                            <label class="col-md-3 gender_single p-r-0">
                                <input type="radio" name="gender" value="M" formControlName="gender" [checked]="true"><span></span>Male
                            </label>
                            <label class="col-md-3 gender_single p-r-0">
                                <input type="radio" name="gender" value="F" formControlName="gender"><span></span>Female
                            </label> 
                            <label class="col-md-3 gender_single p-r-0">
                                <input type="radio" name="gender" value="O" formControlName="gender"><span></span>Other
                            </label>
                        </label>
                    </div>
                    <div class="c-form__group ">
                        <input class="c-form__input d-in" type="text" tabindex="3" formControlName="dob" ngx-mydatepicker [options]="myOptions" placeholder="Date of Birth" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" autocomplete="off" readonly>
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <!-- <label>Date of Birth</label> -->
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['dob'].errors?.required && regform.submitted">DOB is required</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['dob'].errors?.invalidDOB">Invalid Date of Birth</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['dob'].errors?.isUnderAge">You should be above 13</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['dob'].errors?.isOverAge">You should be below 100</p>
                    </div>
                    <div class="c-form__group">
                        <input class="c-form__input" type="text" tabindex="4" formControlName="email" placeholder="Email">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <!-- <label>Email</label> -->
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['email'].errors?.emailAccExists">Mail account already exists</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['email'].errors?.email || regFormBasic.controls['email'].errors?.isInvalidEmail && regform.submitted">Email is not valid</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['email'].errors?.required && regform.submitted">Email is required</p>
                    </div>
                    <div class="c-form__group">
                        <span id="phone" type="tel"></span>
                        <input class="c-form__input p-l-50-px" type="text" tabindex="5" formControlName="phone" placeholder="Mobile Number">
                        <span class="c-form__highlight"></span>
                        <app-country-selector [countrySelForm]="'reg'" #countrySelReg (onCountrySelection)="saveCountry($event, 'reg')"></app-country-selector>
                        <span class="c-form__bar"></span>
                        <!-- <label class="p-l-50-px">Phone Number</label> -->
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['phone'].errors?.required && regform.submitted">Phone is required</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['phone'].errors?.isMobileUnique">This phone number is already registered</p>
                        <p class="c-form__validation" *ngIf="!regFormBasic.controls['phone'].errors?.required && regFormBasic.controls['phone'].errors?.isInvalidPhoneNumber && regform.submitted">Please enter valid phone number</p>
                    </div>
                    <div class="c-form__group pass-margin">
                        <!-- <button class="password-toggle pos-abs" type="button" (click)="passwordShowToggle()" title="{{ passwordShow ? 'Hide Password' : 'Show Password' }}">
                            <span class="fa {{ passwordShow ? 'fa-eye' : 'fa-eye-slash' }}"></span>
                        </button> -->
                        <input class="c-form__input" type="password" tabindex="6" formControlName="password" placeholder="Password">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <!-- <label>Password</label> -->
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['password'].errors?.required && regform.submitted">Password is required</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['password'].errors?.isWeakPassword">Password should contain atleast 5 alphanumeric characters</p>
                    </div>
                    <div class="c-form__group pass-margin">
                        <input class="c-form__input" type="password" tabindex="7" formControlName="confirmpassword" placeholder="Confirm Password">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <!-- <label>Confirm Password</label> -->
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['confirmpassword'].errors?.required && regform.submitted">Confirm password is required</p>
                        <p class="c-form__validation" *ngIf="regFormBasic.controls['confirmpassword'].errors?.passwordDoesNotMatch">Password does not match</p>
                    </div>
                    <div *ngIf="regFormBasic.controls['email'].errors?.emailAccExists || regFormBasic.controls['phone'].errors?.isMobileUnique" class="c-form__group pass-margin">
                        <p>Already a member? <a class="text-theme" routerLink="/login">Log In</a></p>
                    </div>
                    <div class="signup_privacy">
                        <p class="text-grey">
                            On signup, I agree to the <a (click)="termsPopup.open()" class="text-theme">Terms & Conditions.</a>
                        </p>
                        <button type="submit" class="btn btn-primary btn-lg pull-right" tabindex="8" [disabled]="uploadingFormData">SIGN UP</button>
                    </div>
                </form>
                <!-- //form -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ops_signup_right m-top--50-px">
                <div *ngIf="uploadingFormData" class="preloader">
                    <div class="sticky"><div class="loader">Loading...</div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-modal-new #claimPopup [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="reg_step1_otp modal-test-claim">
    <modal-content>
        <div  id="modal-test-claim">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <h5 class="text-center reg-claim-text">We found one account</h5>
                        <p class="c-text_sm text-center color-grey-dark">
                            A subscriber recently wrote to me: A friend of mine is on a fixed income and has maxed out his credit cards (nearing $10,000). He has 
                        </p>
                        <div class="reg-claim-prof-container">
                            <div class="reg-claim-prof__avatar">
                                <img src="https://cdn.onepagespotlight.com/images/defaultMale/03eed8d4-5659-463a-8fbf-9aa71034c19a.png">
                            </div>
                            <div class="c-text_lg f-w_600">
                                {{claimValue?.name?.displayName}}
                            </div>
                            <div class="c-text_md">
                                {{claimValue?.extras?.contact?.mobile?.mobile}}
                            </div>
                            
                            <button type="button" class="btn btn-primary btn-sm" (click)="claimUser()">claim</button>
                            <a (click)="claimPopup.close()" class="reg-claim-close">
                                Continue without claiming
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </modal-content>
</app-modal-new>

<!-- OTP Modal -->
<app-modal-new  #otpPopup [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="reg_step1_otp modal-test-claim">
    <modal-content>
    <!-- otp popup code -->
    <div class="reg_step1_otp" id="otpModal" role="dialog">
        <!-- otp modal -->
        <div class="modal-dialog" id="modal-test-2">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header with_border_none">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5 class="text-center">Enter the 6 digit OTP that you have received <br> by email or phone </h5>
                        <p class="text-center m-t-16">
                            <a *ngIf="!resendingOtp" (click)="resendOtp()" class="color-theme">Resend OTP</a>
                            <a *ngIf="resendingOtp">Sending OTP, please wait...</a>
                        </p>
                        <form [formGroup]="otpForm" (ngSubmit)="otpSubmit(otpForm.value)" #myform="ngForm">
                            <div class="c-form__group c-form--lg">
                                <input class="c-form__input" formControlName="otpNum" type="text" maxlength="6" placeholder="Enter OTP" (keydown)="allowNumbersOnly($event)">
                                <span class="c-form__highlight"></span>
                                <span class="c-form__bar"></span>
                                <!-- <label>Enter OTP</label> -->
                                <!-- <span>00:59</span> -->
                            </div> 
                            <p class="c-form__validation text-center" *ngIf="myform.submitted && (regState?.user_otp_failed)">Invalid OTP</p>
                            <p class="c-form__validation text-center" *ngIf="myform.submitted && (otpForm.controls['otpNum'].errors?.required || otpForm.controls['otpNum'].errors?.invalidOtp)">Please enter your 6 digit OTP number</p>
                            <div class="text-center otp-dont-get" *ngIf="!claimActive">
                                <a (click)="changeMobileNumber()" class="color-theme">Didn't get your OTP?</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg capitalize" [disabled]="regState?.user_otp_checking">Validate</button>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
        <!-- //otp modal -->
    </div>
    </modal-content>
    <!-- //otp popup code -->
</app-modal-new>
<!-- OTP Modal -->

<!-- OTP change number -->
<app-modal-new  #otpChangeNumber [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="otp__modal">
    <modal-content>
        <!-- phone number update -->
        <div class="modal-dialog change_number_modal">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5 class="text-center">Update your phone number</h5>
                        <form [formGroup]="newNumberForm" #newNumFrm="ngForm" (ngSubmit)="updateContactNumber()">
                            <div class="c-form__group c-form--lg">
                                <input class="c-form__input p-l-50-px" type="text" formControlName="newNumber">
                                <span class="c-form__highlight"></span>
                                <app-country-selector [countrySelForm]="'otp'" #countrySelOtp (onCountrySelection)="saveCountry($event, 'otp')"></app-country-selector>
                                <span class="c-form__bar"></span>
                                <label>Enter New Phone Number</label>
                                <p class="c-form__validation" *ngIf="newNumberForm.controls['newNumber'].errors?.required && newNumFrm.submitted">Phone number is required</p>
                                <p class="c-form__validation" *ngIf="!newNumberForm.controls['newNumber'].errors?.required && newNumberForm.controls['newNumber'].errors?.isInvalidPhoneNumber && newNumFrm.submitted">Please enter valid phone number</p>
                                <p class="c-form__validation" *ngIf="!newNumberForm.controls['newNumber'].errors?.required && newNumberForm.controls['newNumber'].errors?.isMobileUnique">This phone number is already registered</p>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default btn-lg capitalize" (click)="backToOtp()">Back</button>
                                <button type="submit" class="btn btn-primary btn-lg capitalize" [disabled]="updatingNewNumber">Validate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //phone number update -->
    </modal-content>
</app-modal-new>
<!-- OTP change number -->

<!-- Terms Modal -->
<app-modal-new #termsPopup [closeOnEscape]="true" [closeOnOutsideClick]="true" modalClass="reg_step1_otp modal-term-policy">
    <modal-content>
    <div class="in db" id="termsandcondition">
        <div class="modal-dialog modal-lg terms_and_condition">
            <!-- Modal content-->
            <div class="modal-content modal-container">
                <div class="modal-header with_border_none">
                    <button type="button" class="close" data-dismiss="modal" (click)="termsAction('hide')">x</button>
                </div>
                <app-terms-and-conditions-content></app-terms-and-conditions-content>
            </div>
        </div>
    </div>
    </modal-content>
</app-modal-new>
<!-- Terms Modal -->