@import './src/assets/scss/helpers/_variables.scss';
@import '~sass-mq/_mq.scss';

.m-t-b-24 {
    margin-top: 24px; 
    margin-bottom: 24px;
    margin: auto;
}

.dp-material {
    display: inherit;
}

.text-theme {
    color: #ff7b84 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.o-otp_form {
    float: left;
    margin-left: 22px;
    input {
        color: #333333;
        line-height: 34px;
        text-align: center;
        font-size: 24px;
        border: 1px solid #DEDEDE;
        background-color: #F8F8F8;
        border-radius: 3px;
        outline: none;
        width: 44px;
        height: 38px;
        padding: initial;
    }
}

.p-l-40-px {
    padding-left: 40px;
}

.p-l-50-px {
    padding-left: 50px;
}

.password-toggle {
    background: none;
    border: none;
    color: black;
    top: 5px;
    right: 0;
    outline: none;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pwd-cls {
    margin-top: 20px;
    clear: both;
}

.d-in {
    display: inline;
}

.suggestions {
    cursor: pointer;
}

.ops_signup {
    background-color: #ffffff;
    // height: calc(100vh - 123px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 87vh;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        height: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .ops_signup_left {
        padding: 0 48px;
        @include mq($from: $mobile_sm, $until: $mobile_lg) {
            padding:0px;
        }
        .o-signup__illu{
            width: 100%;
        }
        .ops_heading {
            margin: 16px 0;
        }
        .signup_already {
            margin-top: 12%;
            @include mq($from: $mobile_sm, $until: $mobile_lg) {
                margin-top: 13%;
                margin-bottom: 10%;
            }
            @include mq($from: $mobile_lg, $until: $desktop_sm) {
                margin-top: 8%;
                margin-bottom: 10%;
            }
        }
        .ops_h1 {
            font-weight: 500;
            text-align: center;
            margin-top: 24px;
            @include mq($from: $mobile_sm, $until: $desktop_sm) {
                text-align: center;
                margin-bottom: 0px;
                font-size: 18px;
            }
        }
    }
    .ops_signup_right {
        padding: 0 80px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            padding:0px;
        }
        @include mq($from: $tablet, $until: $desktop) {
            padding: 10px 20px;
        }
        .ops_h1 {
            font-weight: 500;
            text-align: left;
            // margin-bottom: 24px;
            @include mq($from: $mobile_sm, $until: $desktop_sm) {
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .c-radio__sm {
            margin-top: 16px;
            @include mq($from: $mobile_sm, $until: $desktop_sm){
                text-align: left;
                margin-bottom: 16px;
            }
            label{
                text-align: left;
            }
        }
        .signup_gender {
            width: auto;
            padding-left: 0px;
            @include mq($from: $mobile_sm, $until: $mobile_lg){
                padding-right: 0px;
            }
        }
        .btn-primary {
            // padding: 11px 18px;
            @include mq($from: $mobile_sm, $until: $mobile_lg){
                margin-top: 16px;
                margin-bottom: 24px;
            }
        }
        .signup_privacy {
            @include mq($from: $mobile_sm, $until: $mobile_lg){
                text-align: center;
            }
            @include mq($from: $tablet, $until: $desktop_sm){
                margin-bottom: 24px;
            }
            p {
                font-size: 13px;
                display: inline-block;
                margin-top: 12px;
                font-weight: normal;
            }
        }
    }
}

.o-sign_plat-img {
    box-shadow: 0 7px 14px 0 rgba(102,45,145,0.16);
    border-radius: 50px;
    padding: 4px;
    img {
        margin: 0 auto;
    }
}

/* --------------------- Registration step 1 otp -------------------------- */
.m-r-0 {
    margin-right: 0 !important;
}
.reg_step1_otp {
    .modal-lg {
        width: 850px;
        @include mq($from: $mobile_sm, $until: $mobile_lg) {
            width: 90%;
        }
        @include mq($from: $mobile_lg, $until: $desktop) {
            width: 90%;
        }
    }
    a {
        font-size: 11px;
    }
    .modal-title {
        padding: 5% 0;
    }
    .btn {
        margin-top: 20px;
    }
    p {
        margin-top: 8px;
    }
}
.phone_number_error {
    color: #FF7B84 !important;
    font-size: 16px !important;
    line-height: 22px;
    text-align: center;
}

/* ------------------ Registration step 1 thankyou -------------------------- */

.reg_thankyou {
    .modal-lg {
        width: 850px;
        @include mq($from: $mobile_sm, $until: $mobile_lg) {
            width: 90%;
        }
    }
    .modal-title {
        padding: 5% 0;
    }
    h3 {
        margin-top: 7%;
    }
    p {
        color: #747474;
        margin: 5%;
        font-size: 15px;
        font-weight: normal;
    }
    .btn {
        margin: 4% 0 18%;
    }
}

.modal-dialog {
    margin: 6% auto;
    form {
        width: 400px;
        margin: 0 auto;
        padding-bottom: 10%;
        span {
            color: $theme_red;
            font-size: 14px;
            float: right;
            margin-top: -22px;
        }
    }
    h5 {
        color: #333333;
        line-height: 24px;
        font-size: 15px;
        font-weight: normal;
        margin-top: 40px;
    }
}

.p-20-px {
    padding: 20px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.m-top--50-px {
    margin-top: -50px;
}
