<section class="reg_steps">
    <div class="container">
        <!-- registraion middle container -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_left_section">
                <div class="reg_step1">
                    <!-- progress bar -->
                    <div class="reg_progress_bar">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  progress_bar_default">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 progress_bar_default">
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="progress_dot_active"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="progress_dot_default default_dot_center"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="progress_dot_default progress_dot_right"></div>
                            </div>
                        </div>
                    </div>
                    <!-- //progress bar -->
                    <form [formGroup]="regFormBasic" (ngSubmit) = "submitForm(regFormBasic.value)" #myform="ngForm">
                        <div class="row">
                            <div class="col-md-9 col-sm-9">
                                <div class="form_group">
                                    <input class="form_input" type="text" novalidate formControlName="name" required>
                                    <span class="form_highlight"></span>
                                    <span class="form_bar"></span>
                                    <label>Name</label>
                                    <p class="error_alert" *ngIf="regFormBasic.get('name').hasError('required') && myform.submitted">Name is required</p>
                                </div>
                                <div class="form_group">
                                    <input class="form_input" type="text" (ngModelChange)="userExisitCheck($event)" formControlName="username" required>
                                    <span class="form_highlight"></span>
                                    <span class="form_bar_alert"></span>
                                    <label>Username</label>
                                    <p class="error_alert" *ngIf="regFormBasic.controls['username'].errors?.whitespace">White Space Not Allowed</p>
                                    <p class="error_alert" *ngIf="regFormBasic.controls['username'].errors?.required && myform.submitted">Username is required</p>
                                        <p class="error_alert" *ngIf="petTag.user_unique">This username is already taken</p>
                                        <ul class="username_error" *ngIf="petTag.user_unique">
                                            <li  *ngFor="let username of Suggested">{{username}}</li>
                                        </ul>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
                                <div class="reg_add_photo row">
                                    <img src="" alt="" id="preview">
                                    <label id="test" for="upload-photo" [ngClass]="{'hide-element': isPhotoAdded}" >Add Photo</label>
                                    <input type="file" name="photo" [ngClass]="{'hide-element': isPhotoAdded}" (change)="fileEvent($event)" id="upload-photo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form_group">
                                    <input class="form_input" type="text" [textMask]="{mask: dateMask}" formControlName="dob" placeholder="DD/MM/YY">
                                    <span class="form_highlight"></span>
                                    <span class="form_bar"></span>
                                    <label>Date of Birth</label>
                                    <p class="error_alert" *ngIf="regFormBasic.controls['dob'].errors?.required && myform.submitted">DOB is required</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form_group ops_radio_sm">
                                    <label>
                                        <strong>Gender</strong>
                                        <label class="gender_single">
                                            <input type="radio" value="M" name="gender" formControlName="gender"><span></span>M
                                        </label>
                                        <label class="gender_single">
                                            <input type="radio" value="F" name="gender" formControlName="gender"><span></span>F
                                        </label>
                                        <label class="gender_single">
                                            <input type="radio" value="O" name="gender" formControlName="gender"><span></span>O
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form_group">
                            <input class="form_input" type="text" formControlName="email" required>
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Email</label>
                            <p class="error_alert" *ngIf="regFormBasic.controls['email'].errors?.isEmailUnique ">A user with this email is already registered</p>
                            <p class="error_alert" *ngIf="regFormBasic.controls['email'].errors?.email && regFormBasic.controls['email'].touched">Email is not valid</p>
                            <p class="error_alert" *ngIf="regFormBasic.controls['email'].errors?.required && myform.submitted">Email is required</p>
                        </div>
                        <div class="form_group">
                            <span id="phone" type="tel"></span>
                            <input class="form_input" type="number" formControlName="phone" required style="padding-left: 40px;">
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label style="padding-left: 40px;">Phone Number</label>

                            <p class="error_alert" *ngIf="regFormBasic.controls['phone'].errors?.isMobileUnique">Someone has already registed with this number</p>
                        </div>
                        <div class="form_group">
                            <input class="form_input" type="password" formControlName="password" required>
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Password</label>
                        </div>
                        <div class="form_group">
                            <input class="form_input" type="password" formControlName="confirmpassword" required>
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Confirm Password</label>
                            <p class="error_alert" *ngIf="regFormBasic.controls['confirmpassword'].errors?.MatchPassword">Password not match</p>
                        </div><br>
                        <p class="text-grey privacy-policy">
                            By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>, including Cookie Use. Others will be able to find you by email or phone number if provided.
                        </p>
                        <div class="text-center">
                            <app-button [className]="'btn-default btn-sm'" [type]="'submit'">Sign Up</app-button>
                        </div>
                    </form>
                </div>
            </div>
            <auth-right-block [rightCom]="rightCom"></auth-right-block>
        </div>
    </div>
</section>
<app-modal [modalTitle]="'Some title'" [blocking]='false' [modalId]='modalId'>
  <div name="otp" class="otp__modal">
    <div class="x reg_step1_otp" id="otpModal2" role="dialog">
      <div class="">
        <div class="">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center"><img width="120px" src="/assets/img/logo_black.svg"></h4>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <h5 class="text-center">Enter the 4 digit opt that you have received <br> by email or phone </h5>
                    <p class="text-center">
                        <a (click)="resendOtp()">Resend OTP</a>
                    </p>
                    <form [formGroup]="otpForm" (ngSubmit) = "otpSubmit(otpForm.value)">
                        <div class="form_group">
                            <input class="form_input" type="text"  formControlName="otpNumber" required>
                            <span class="form_highlight"></span>
                            <span class="form_bar"></span>
                            <label>Enter OTP</label>
                            <span>{{ countDown | async }}</span>
                        </div>

                        <div class="text-center">
                            <app-button [className]="'btn btn-default btn-sm'" [type]="'submit'">Validate OTP</app-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>


<app-modal [modalTitle]="'Success'" [blocking]='false' modalId='otp_success'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
        <h3>Thank you for joining us</h3>
        <p>select your profile type and get started</p>
        <div class="text-center">
            <a href="/reg_step_2" class="btn btn-default btn-sm">Next</a>
        </div>
    </div>
  </div>
</app-modal>

<app-modal [modalTitle]="'Success'" [blocking]='false' modalId='edit'>

</app-modal>
