<div class="row mar-top-bot-40">

    <div *ngIf="channels && channels.length === 0; else channels_found;">
        <p class="result-not-found">Channels not found!</p>
    </div>

    <ng-template #channels_found>
            
        <ul class="list-inline ops_explore_head" *ngIf="channels && channels.length > 0;" >
            <li class="list-inline-item ops_heading text_uppercase">Channel</li>
            <li class="list-inline-item ops_heading2 text_uppercase pull-right"><a (click)="selectTab('tab-channel')">See more</a></li>
        </ul>

        <masonry [useImagesLoaded]="true">
            <masonry-brick class="col-md-3" *ngFor="let channel of channels; let i = index;">
                <ng-container *ngIf="(i <= 3)">
                    <app-channel [channelData]="channel" ></app-channel>
                </ng-container>
            </masonry-brick>
        </masonry>

    </ng-template>

</div>

<div class="row mar-top-bot-40">
    
    <!-- if posts not found -->
    <div *ngIf="posts && posts.length === 0; else posts_found;">
        <p class="result-not-found">Posts not found!</p>
    </div>
    <!-- if posts not found -->
    
    <!-- if posts found -->
    <ng-template #posts_found>
            
        <ul class="list-inline ops_explore_head" *ngIf="posts && posts.length > 0;" >
            <li class="list-inline-item ops_heading text_uppercase">Posts</li>
            <li class="list-inline-item ops_heading2 text_uppercase pull-right"><a (click)="selectTab('tab-post')">See more</a></li>
        </ul>

        <masonry [useImagesLoaded]="true">
            <masonry-brick class="col-md-3" *ngFor="let post of posts; let i = index;">
                <ng-container *ngIf="(i <= 3)">
                    <app-post-card (onClick)="mediaOpenPopup(post.id)" [mediaData]="post"></app-post-card>
                </ng-container>
            </masonry-brick>
        </masonry>

    </ng-template>
    <!-- if posts found -->

</div>

<div class="row mar-top-bot-40">

    <div *ngIf="artists && artists.length === 0; else artists_found;">
        <p class="result-not-found">Artists not found!</p>
    </div>

    <ng-template #artists_found>
            
        <ul class="list-inline ops_explore_head" *ngIf="artists && artists.length > 0;" >
            <li class="list-inline-item ops_heading text_uppercase">Artists</li>
            <li class="list-inline-item ops_heading2 text_uppercase pull-right"><a (click)="selectTab('tab-people')">See more</a></li>
        </ul>

        <div class="col-md-2 pad-bot-25" *ngFor="let artist of artists; let i = index;">
            <ng-container *ngIf="(i <= 5)">
                <app-user-card [artist]="artist" ></app-user-card>
            </ng-container>
        </div>

    </ng-template>

</div>

