<ul class="list-inline quick_section">
  <li class="list-inline-item">
    <a [routerLink]="(quickAccessData?.name =='My Status') ? ['/user/status/list'] : ['/channel', quickAccessData?.handle]"> 
      <div class="quick_access_img">
        <img src="http://d33wubrfki0l68.cloudfront.net/e977c51b7704e478aec7e38934c5096e9b4db080/192b8/img/quick2.jpg">
      </div>
      <div class="quick_access_text">
        <p class="quick_access_text_name">{{ quickAccessData?.name }}</p>
        <p class="quick_access_text_post">{{ quickAccessData?.count }} Post</p>
      </div>
    </a>
    <span class="quick_tag_option" appDropdown *ngIf="quickAccessData?.name !='My Status' && quickAccessData?.name !='My Media'">
      <a class="dropdown-toggle" appDropdownOpen><img src="/assets/img/svg/ico_option_white.svg"></a>
      <ul class="dropdown-menu quick_acess_drop">
          <li>
              <a (click)="unpinQuickAccess(quickAccessData?.handle)" >
                  Remove from Quick Access
              </a>
          </li>
      </ul>
    </span>
  </li>
</ul>