<app-navigation></app-navigation>
<section >
    <ngx-carousel
      [inputs]="dwcSlider"
      [moveToSlide]="1"
      (onMove)="onmoveFn($event)"
      (afterCarouselViewed)="afterCarouselViewedFn($event)">

        <ngx-item NgxCarouselItem class="bannerStyle" >
            <div class="o-dwc-top-banner">
                <div class="o-dwc-top-banner__dark">
                    <div class="container">
                        <div class="o-dwc-banner">
                            <div class="col-md-9">
                                <h2 class="c-h2 color-white ">Dance World Cup</h2>
                                <h4 class="c-h4 m-t-8 color-white">Qualifier India- 2018</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle" >
            <div class="o-dwc-top-banner2">
                <div class="o-dwc-top-banner__dark">
                    <div class="container">
                        <div class="o-dwc-banner">
                            <div class="col-md-9">
                                <h2 class="c-h2 color-white ">Dance World Cup</h2>
                                <h4 class="c-h4 m-t-8 color-white">Qualifier India- 2018</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle" >
            <div class="o-dwc-top-banner3">
                <div class="o-dwc-top-banner__dark">
                    <div class="container">
                        <div class="o-dwc-banner">
                            <div class="col-md-9">
                                <h2 class="c-h2 color-white ">Dance World Cup</h2>
                                <h4 class="c-h4 m-t-8 color-white">Qualifier India- 2018</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle" >
            <div class="o-dwc-top-banner4">
                <div class="o-dwc-top-banner__dark">
                    <div class="container">
                        <div class="o-dwc-banner">
                            <div class="col-md-9">
                                <h2 class="c-h2 color-white ">Dance World Cup</h2>
                                <h4 class="c-h4 m-t-8 color-white">Qualifier India- 2018</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                    <polygon id="arrow-copy-6-a" points="15.276 4.001 8 11.942 15.276 19.882 16.75 18.531 10.713 11.942 16.75 5.351"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <use fill="#fff" xlink:href="#arrow-copy-6-a"/>
                </g>
            </svg>
        </button>
        <button NgxCarouselNext class='rightRs'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                    <polygon id="arrow-copy-5-a" points="15.526 4.119 8.25 12.06 15.526 20 17 18.649 10.963 12.06 17 5.469"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <use fill="#fff" transform="rotate(-180 12.625 12.06)" xlink:href="#arrow-copy-5-a"/>
                </g>
            </svg>
        </button>
    </ngx-carousel>
</section>

<section class="o-dwc-main-tab">
    <div class="container">
        <div class="col-md-6">
            <div class="c-ops__tabs2">
                <ul class="nav nav-tabs">
                    <li routerLinkActive="active">
                        <a routerLink="/danceworldcup/dwc-indian-qualifiers">DWC Indian Qualifiers</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/danceworldcup/dwc-official-website">DWC Official Website</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/danceworldcup/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 float_right text-right">
            
            <span class="c-links__share  dropdown">
                <a shareButton="facebook" [sbUrl]="'http://prettylinks.co/ejwdFy+'" class="dwc-btn m-l-8 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
                    <span class="dwc-share-icon"><img src="/assets/img/svg/share_theme.svg" alt=""></span>Share
                </a>
                <!--<div class="dropdown-menu dropdown-menu-right o-share__profile o-dwc-share p-16">
                    <div class="c-text_md p-b-8">Share this Profile</div>
                    <div class="c-invite--search m-0">
                        <form class="fill-grey-light">
                            <div class="c-form__group c-form--sm c-form--noeffect c-form__faded--sm">
                                <input class="c-form__input p-l-24" required="" type="text">
                                <label class="p-l-16">Input with icon</label>
                                <span>
                                    <img src="/assets/img/svg/ico_search.svg" class="c-form__input--lefticon">
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="o-share__recent m-t-b-16">Recent Contacts</div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/new/avatar.png" class="o-share__avatar">
                        </a>
                        <a class="c-text_md c-invite--user">Seth Chevz1</a>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/new/avatar2.png" class="o-share__avatar">
                        </a>
                        <a class="c-text_md c-invite--user">Seth Chevz2</a>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/new/avatar3.png" class="o-share__avatar">
                        </a>
                        <a class="c-text_md c-invite--user">Seth Chevz3</a>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/new/avatar2.png" class="o-share__avatar">
                        </a>
                        <a class="c-text_md c-invite--user">Seth Chevz4</a>
                    </div>
                    <div class="o-share__social">
                        <div class="o-share__social-icon p-l-0">
                            <img src="/assets/img/svg/googleplus.svg">
                        </div>
                        <div class="o-share__social-icon">
                            <img src="/assets/img/svg/twitter.svg">
                        </div>
                        <div class="o-share__social-icon">
                            <img src="/assets/img/svg/facebook.svg">
                        </div>
                        <div class="o-share__social-icon p-r-0">
                            <img src="/assets/img/svg/envelope.svg">
                        </div>
                    </div>
                </div>-->
            </span>
            <a [routerLink]="['/dwc']" class="dwc-btn">Register</a>
        </div>
    </div>
</section>

<section class="o-dwc-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <router-outlet></router-outlet>                
            </div>
        </div>
    </div>
</section>
