.full-screen {
    width: 100%;
	height: 99vh;
}

// dwc
.o-dwc-detail{
	width: 100%;
	float: left;
	margin-top: 80px;
}
// .o-dwc-detail .container {
// 	margin-bottom: 30px;
// }
.o-dwc-list{
	list-style: none;
  display: block;
  position: fixed;
  width: 20%;
}
.o-dwc-list__items{
	list-style-type: none;
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 8px;
	border-radius: 3px;
}
.o-dwc-list__link{
	padding:8px;
	width: 100%;
	float: left;
}
.o-dwc-list__link:hover{
	background: #fff;
}
.o-dwc-list__link:hover .o-dwc-link__txt{
	font-weight: 600;
}
.o-dwc-list__link:hover .o-dwc-link__arrow{
	opacity: 1;
}
.o-dwc-link__txt{
	float: left;
	transition:.25s;
}
.o-dwc-link__arrow{
	width: 20px;
	height: 20px;
	float: right;
	opacity: 0.5;
	img{
		width: 100%;
	}
}
.o-dwc-list__item--active{
	background: #fff;
}
.o-dwc-list__item--active .o-dwc-link__txt{
	font-weight: 600;
}
.o-dwc-list__item--active .o-dwc-link__arrow{
	opacity: 1;
}


// right block

.o-dwc-banner{
	width: 100%;
	height: 200px;
	float: left;
	background: #ccc;
	position: relative;
	background: url(/assets/img/home/Banner.jpg) no-repeat;
    background-size: cover;
    background-position: right;
	padding :32px;
	margin-bottom: 24px;
}
.dwc-btn{
	padding:8px 12px;
	font-size: 11px;
	color: #FF7B84;
	font-weight: normal;
	background: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 16px;
	float: left;
	&:hover{
		color: #FF7B84;
	}
	&:focus{
		color: #FF7B84;
	}
}
.o-dwc-top-txt{
	width: 575px;
	float: left;
}
.o-dwc-top-download{
	width: 130px;
	float: right;
}
.o-dwc-pdf__icon{
	width: 50px;
	img{
		width: 100%;
	}
}
.o-dwc-pdf{
	width: 126px;
	float: right;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.dwc-share-icon{
	width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    margin-top: -1px;
	img{
		width: 16px;
	}
}
.o-dwc-share{
	margin-top: 50px;
	left:-87px;
}
.o-dwc-right-block{
	width: 100%;
	float: left;
	background: #fff;
	height: 88vh;
	overflow: hidden;
	overflow-y:scroll;
	padding-bottom: 30px;
}
.o-dwc__block{
	width: 100%;
	float: left;
	padding-top: 10px;
}

.right-block-padding {
	padding:40px 32px 32px 32px;
}