<div class="tab-content">
<div id="search_post" class="tab-pane fade in active">
    <div class="row pro_channel2">

        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/art_color.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_article.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"><div class="like_count">705</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">12</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/chri.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_video.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">855</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">105</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/pro_block3.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_audio.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">963</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">75</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/picse.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_audio.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">75</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">70</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/pro_block.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_audio.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">55</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">15</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/chri.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_video.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">855</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">105</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/pro_block.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_audio.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">55</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">15</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-6 pro_channel_card">
                    <div class="col-md-12 col-sm-12 feed_block">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pro_channel_img1">
                                <figure class="feed-avatar">
                                    <img src="/assets/img/chri.jpg" class="img-responsive">
                                </figure>
                                <div class="feed_article"><img src="/assets/img/svg/ico_video.svg"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 pro_channel_cont">
                                <div class="pro_channel_name">
                                    <h3 class="feed-heading float-left">When The Morning Dawns</h3>
                                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                                </div>
                                <div class="ops_subheading extra-padding">This is the third article of a three part series, i'm illustrating the... </div>
                                <div class="pro_channel-thumb">
                                    <img src="/assets/img/avatar.jpg">
                                    <p>James Sims</p>
                                    <div class="small-txt">Cafe and Colors</div>
                                </div>
                                <div class="pro_channel_count">
                                    <span><img src="/assets/img/svg/ico_lik.svg"> <div class="like_count">855</div></span>
                                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">105</div></span>
                                    <div class="pull-right">
                                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
  </div>
  </div>
