<div class="row">
    
    <!-- if posts not found -->
    <div *ngIf="posts && posts.length === 0; else posts_found;">
        <p class="result-not-found">Posts not found!</p>
    </div>
    <!-- if posts not found -->
    
    <!-- if posts found -->
    <ng-template #posts_found>

        <masonry [useImagesLoaded]="true">
            <masonry-brick class="col-md-3" *ngFor="let post of posts">
                <app-post-card (onClick)="mediaOpenPopup(post.id)" [mediaData]="post"></app-post-card>
            </masonry-brick>
        </masonry>

    </ng-template>
    <!-- if posts found -->

</div>