<vg-player>
    <vg-overlay-play *ngIf="play"></vg-overlay-play>
    <vg-buffering *ngIf="play"></vg-buffering>

    <vg-scrub-bar *ngIf="play">
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [ngClass]="{'portrait-video': isPortrait === true }" [vgMedia]="media" #media id="singleVideo" preload="auto">
        <source [src]="src" type="video/mp4">
    </video>
</vg-player>

