<vg-player>
    <vg-overlay-play *ngIf="play"></vg-overlay-play>
    <vg-buffering *ngIf="play"></vg-buffering>

    <vg-controls *ngIf="play" [vgAutohide]="true" [vgAutohideTime]="2">
        <vg-play-pause></vg-play-pause>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>    
        <vg-mute></vg-mute>
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [ngClass]="{'portrait-video': isPortrait === true }" [vgMedia]="media" #media id="singleVideo" preload="auto" autoplay>
        <source [src]="src" type="video/mp4">
    </video>
</vg-player>

