<!-- Registration Right Section -->
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reg_right_section">
    <div class="reg_right_section_text">

        <div class="reg_steps_logo">
            <a href="index.html">
                <img src="/assets/img/logo.png" alt="One Page Spotlight">
            </a>
        </div>
        <h2 class="text-center">{{rightCom.mainTitle}}</h2>
        <div class="reg_graph">
            <div class="reg_circle"></div>
            <div class="reg_rectangle"></div>
        </div>
        <p>{{rightCom.description}}</p>
    </div>
</div>
<!-- registration right section -->