// common style (application css) ----------------------------------------------------
.c-skill__tags {
    color: #333333;
    font-size: 11px;
    line-height: 15px;
    float: left;
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #F3F5F7;
    display: inline;
    padding: 2px 6px;
    cursor: pointer;
}

.c-background__white {
    background-color: #ffffff;
}

.c-top__colorfull--block {
    height: 220px;
    position: relative;
    h2 {
        position: absolute;
        bottom: 60px;
        text-transform: uppercase;
        width: 98%;
    }
}

.c-invite__sec {
    height: 206px;
    overflow-y: scroll;
    padding-right: 8px;
    margin: 0 8px 16px 16px;
}

.c-invite__block {
    margin-bottom: 16px;
    margin-top: 8px;
}

.c-avatar--invite {
    width: 32px;
    height: 32px;
}

.c-invite--user {
    line-height: 34px;
    padding: 8px;
}

.c-invite--btn {
    float: right;
    line-height: 30px;
}

.c-invite--search {
    margin: 0 16px;
    background-color: #F3F5F7;
    border-radius: 3px;
    .c-form__input {
        border-color: transparent;
    }
}

.c-org--seemore {
    float: right;
    color: $color-theme;
    line-height: $line-height-25;
    &:hover {
        color: $color-theme-dark;
    }
}

.c-invite__products {
    border-radius: 3px;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.c-org__contact--img {
    width: 12px;
    vertical-align: middle;
}

// ===
.c-profile__popup {
    width: 274px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 22px 30px 0 rgba(51, 51, 51, 0.26);
    position: relative;
    float: left;
}

.c-popup__timeline {
    width: 100%;
    height: 94px;
    overflow: hidden;
}

.c-popup__userimg {
    width: 64px;
    height: 64px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 16px;
    left: 16px;
}

.c-popup__follow {
    color: #929292;
    font-size: 11px;
    line-height: 18px;
    display: inline-block;
    padding-right: 12px;
}