// feed Card style ----------------------------------------------------
.c-card {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
  background-color: #ffffff;
  overflow: hidden;
}

.c-card--feed {
  width: 25%;
  height: auto;
  float: left;
  padding: 8px;
}

// feed card media block style ----------------------------
.c-audio__media {
  width: 94%;
  height: 256px;
  overflow: hidden;
  margin: 0 8px;
  position: relative;
  border-radius: 3px;
}

.c-audio__image {
  width: 100%;
}

.c-audio__icons {
  width: 100%;
  position: absolute;
  top: 110px;
  text-align: center
}

.c-audio__action {
  vertical-align: middle;
  margin: 0 16px;
  filter: drop-shadow(0px 0px 3px #222);
}

// feed card body block style ------------------------------------
.c-card__body {
  width: 100%;
  float: left;
  clear: both;
  padding: 16px;
  position: relative;
}

.c-card__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #333;
  text-transform: uppercase;
  &:hover {
      color: #333;
  }
}

.c-card__project {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 24px;
  color: #929292;
  text-transform: uppercase;
}
.c-card__project--icon {
  height: 24px;
  float: left;
}
.c-card__project--des {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.c-card__location {
  clear: both;
  margin: 0 16px;
  position: relative;
}

.c-card__location--text {
  font-size: 13px;
  line-height: 20px;
  color: #929292;
  display: inline;
  top: 1px;
  position: absolute;
  padding-left: 8px;
}

.c-card__desc {
  font-size: 11px;
  font-weight: 600;
  color: #979797;
}

.c-card__options {
  position: absolute;
  top: 10px;
  right: 0px;
  margin: 10px;
  line-height: 0px;
  width: 14px; // background: #ffffff;
}

//feed card footer (links) block style --------------------------
.c-card__links {
  width: 100%;
  float: left;
  padding: 16px; // border-top: 1px solid #EFEFEF;
}

.c-links {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #333333;
  line-height: 17px;
}

.c-links__spots {
  display: inline;
  float: left;
  margin-right: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #929292;
}

.c-links__image {
  width: 24px;
  float: left;
}

.c-links__count {
  float: left;
  margin-left: 6px;
  font-weight: 500;
  color: #929292;
  font-size: 11px;
  line-height: 18px;
  top: 4px;
  position: relative;
}

.c-links__comments {
  display: inline;
  float: left;
  margin-right: 24px;
  // cursor: pointer;
}

.c-links__actions {
  text-align: right;
}

.c-action__image {
  width: 24px;
  margin-left: 8px;
}

//feed card status block style --------------------------
.c-user__status {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  line-height: 31px;
}

// card user block ------------------
.c-card__user {
  margin-top: 16px;
}

.c-user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 50px;
  float: left;
}

.c-avatar--feed {
  width: 24px;
  height: 24px;
}

.c-avatar--feed2 {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
}

.c-user__image {
  width: 100%
}

.c-user__name {
  font-size: 14px;
  text-align: left;
  color: #000;
  margin-left: 8px;
  margin-top: 2px;
  float: left;
  cursor: pointer;
  &:hover {
      color: #000;
  }
}

.c-user__name2 {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  margin-left: 8px;
  margin-top: 4px;
  float: left;
  cursor: pointer;
  &:hover {
      color: #fff;
  }
}

.c-user__channel {
  font-size: 12px;
  font-weight: 600;
  color: #979797;
  display: block;
  margin-left: 32px;
  clear: both;
  cursor: pointer;
  &:hover {
      color: #979797;
  }
}

// feed card video ------------------------
.c-feed__video {
  width: 100%;
}

.c-feed__video-heading {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  padding: 16px 24px;
  clear: both;
}

.c-feed__video-status {
  color: #333333;
  font-size: 14px;
  line-height: 23px;
  padding: 0 24px 16px 24px;
}

.c-feed__img {
  width: 100%;
}

.c-feed__img-heading {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 19px;
  padding: 16px 24px;
  clear: both;
}

.c-feed__img-status {
  color: #333333;
  font-size: 16px;
  line-height: 23px;
  padding: 0 24px 16px 24px;
}

.c-feed__img-readmore {
  float: right;
  color: #ff7b84;
  &:hover {
      color: red;
  }
}