/* -------------------- One Page Spotlight Radio and checkbox ---------------------*/

/* ------------------------------- Radio ------------------------------ */
.c-radio__sm{
  input[type="radio"] {
    display: none;
  }
  label{
    position: static;
    text-align: center;
    pointer-events: auto;
  }
  input[type="radio"] + span {
    background-image: url(https://cdn.onepagespotlight.com/img/svg/radio1s.svg);
    float: left;
    margin-right: 7px;
    position: relative;
    display: inline-block;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    text-align: center;
  }
  input[type="radio"]:checked + span {
     background-image: url(https://cdn.onepagespotlight.com/img/svg/radio2s.svg);
    float: left;
    margin-right: 7px;
    position: relative;
    display: inline-block;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    text-align: center;
  }
}
.c-radio--label {
  text-align: left;
}
/* --------------------------- checkbox ---------------------------- */
.c-checkbox__lg{
  input[type="checkbox"] {
    display: none;
  }
  label{
    position: static;
    text-align: center;
    pointer-events: auto;
  }
  input[type="checkbox"] + span {
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    display: inline-block;
    margin: 5px 7px -3px 0px;
    position: relative;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
  }
  input[type="checkbox"]:checked + span:after {
    color: $color-theme;
    border: 1px solid $color-theme;
    border-radius: 50px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 25px;
    height: 25px;
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 18px;
  }
}
// ------------------------------------ //
.c-checkbox__md{
  input[type="checkbox"] {
    display: none;
  }
  label{
    position: static;
    text-align: center;
    pointer-events: auto;
  }
  input[type="checkbox"] {
    background-image: url(https://cdn.onepagespotlight.com/img/svg/check1.svg);
    display: inline-block;
    margin: 0px 7px 3px 0px;
    position: relative;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
  }
  input[type="checkbox"]:checked {
    background-image: url(https://cdn.onepagespotlight.com/v2/svg/check2.svg);
    display: inline-block;
    margin: 0px 7px 3px 0px;
    position: relative;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
  }
}
/* --------------------------- checkbox ---------------------------- */
.c-checkbox__xs{
  input[type="checkbox"] {
    display: none;
  }
  label{
    position: static;
    text-align: center;
    pointer-events: auto;
  }
  input[type="checkbox"] + span {
    background-color: #d4d4d5;
    border-radius: 50px;
    display: inline-block;
    // margin: 5px 7px -3px 0px;
    position: relative;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  input[type="checkbox"]:checked + span:after {
    background-color: #a8a8a8;
    border-radius: 50px;
    left: 0px;
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
  }
}
/* // */