@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';

// home feed New style -------------------
.o-home-top-block {
  width: 100%;
  height: 275px;
  background-color: #fff;
  float: left;
  box-shadow: 0 2px 4px 0 rgba(102, 45, 145, 0.1);
  background: url(https://cdn.onepagespotlight.com/img/home/Banner.jpg) no-repeat;
  background-size: cover;
  margin-top: 41px;
  background-position: top;
}

.o-home-main__title {
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 32px;
  font-weight: 300;

  @include mq($from: $mobile_sm, $until: $mobile_lg) {
    font-size: 26px;
  }

  @include mq($from: $mobile_lg, $until: $desktop_sm) {}
}

.clearfix {
  clear: both;
}

.o-top-quick-access {
  font-weight: 600 !important;
}

.o-hosted-by {
  width: 100%;
  float: left;
}

.o-hosted-logos {
  float: left;
  margin-right: 32px;
}

.o-home-content {
  float: left;
  width: 100%;
}

// top quick access
.o-quickacces {
  width: 100%;
  // float: left;
  padding: 16px 0px 8px 0px;
}

.o-top-quick-access {
  font-weight: 600 !important;
}

// tab sec
.o-home-tab-sec {
  width: 100%;
  float: left;

  .nav-tabs {

    // margin-top: 1rem;
    a:first-child {
      padding-left: 0 !important;
    }
  }

  // padding-top: 8px;
}

.o-opportunity-tabs {
  .nav-tabs>li>a {
    font-size: 13px !important;
    font-weight: 600 !important;
    text-align: left;
    color: #929292;
    background: transparent;
    border: none;
    text-transform: uppercase !important;
    letter-spacing: 1px;
  }
}


/* -------------------- spotfeed style ---------------------*/

.c-ops__tabs {

  // margin-top: 8px;
  .nav-tabs>li>a {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: #929292;
    background: transparent;
    border: none;
    text-transform: capitalize;
  }

  .nav-tabs li .active a {
    color: #333;
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    color: #333;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 12px 8px 12px;
  }

  .nav-tabs {
    border-bottom: none;
    // margin-left: -12px;
  }
}

.with_border_top {
  border-top: 1px solid #F3F5F7;
}

.ltr-space {
  letter-spacing: 1px;
}

.c-qt {
  width: 100%;
  float: left;
  position: relative;
}

.m-t-16 {
  margin-top: 16px !important;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.c-text_lg {
  color: #333333;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

// app-footer {
//     margin-top: 32px;
//     float: left;
//     display: inline-block;
//     width: 100%;
// }
.c-qt__icon {
  a img {
    opacity: 0.5;
  }

  &:hover {
    a img {
      opacity: 0.9;
    }
  }
}

.o-event-top-slider {
  width: 100%;
  height: 75px;
  float: left;
  background: #333;
  overflow: hidden;
  position: relative;
  z-index: -1;
  margin-top: 50px;
}

.ngu-item {
  display: inline;
}

.leftRs {
  display: block;
  outline: none;
  top: -12%;
  right: 46px;
  left: inherit;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  text-align: center;
  color: #777;
  float: right;
}

.rightRs {
  display: block;
  outline: none;
  position: absolute;
  top: -12%;
  right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  text-align: center;
  color: #777;
}

.p-t-80 {
  padding-top: 65px;
}
