@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';
// home feed New style -------------------
.o-home-top-block {
    width: 100%;
    height: 275px;
    background-color: #fff;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(102, 45, 145, 0.1);
    background: url(https://cdn.onepagespotlight.com/img/home/Banner.jpg) no-repeat;
    background-size: cover;
    margin-top: 41px;
    background-position: top;
}

.o-home-main__title {
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 32px;
    font-weight: 300;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        font-size: 26px;
    }
    @include mq($from: $mobile_lg, $until: $desktop_sm) {}
}

.clearfix {
    clear: both;
}

.o-top-quick-access {
    font-weight: 600!important;
}

.o-hosted-by {
    width: 100%;
    float: left;
}

.o-hosted-logos {
    float: left;
    margin-right: 32px;
}

.o-home-content {
    float: left;
    width: 100%;
}

// top quick access
.o-quickacces {
    width: 100%;
    // float: left;
    padding: 16px 0px 8px 0px;
}

.o-top-quick-access {
    font-weight: 600!important;
}

// tab sec
.o-home-tab-sec {
    width: 100%;
    float: left;
    .nav-tabs {
        // margin-top: 1rem;
        a:first-child {
            padding-left: 0 !important;
        }
    }
    // padding-top: 8px;
}

.o-opportunity-tabs {
    .nav-tabs>li>a {
        font-size: 13px!important;
        font-weight: 600!important;
        text-align: left;
        color: #929292;
        background: transparent;
        border: none;
        text-transform: uppercase!important;
        letter-spacing: 1px;
    }
}


/* -------------------- spotfeed style ---------------------*/

.c-ops__tabs {
    // margin-top: 8px;
    .nav-tabs>li>a {
        font-size: 15px;
        font-weight: normal;
        text-align: left;
        color: #929292;
        background: transparent;
        border: none;
        text-transform: capitalize;
    }
    .nav-tabs li .active a {
        color: #333;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        color: #333;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: default;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 8px 12px 8px 12px;
    }
    .nav-tabs {
        border-bottom: none;
        // margin-left: -12px;
    }
}

.with_border_top {
    border-top: 1px solid #F3F5F7;
}

.ltr-space {
    letter-spacing: 1px;
}

.c-qt {
    width: 100%;
    float: left;
    position: relative;
}

.m-t-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.c-text_lg {
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

// app-footer {
//     margin-top: 32px;
//     float: left;
//     display: inline-block;
//     width: 100%;
// }
.c-qt__icon {
    a img {
        opacity: 0.5;
    }
    &:hover {
        a img {
            opacity: 0.9;
        }
    }
}

.o-event-top-slider {
    width: 100%;
    height: 75px;
    float: left;
    background: #333;
    overflow: hidden;
    position: relative;
    z-index: -1;
    margin-top: 50px;
}

.ngu-item {
    display: inline;
}

.leftRs {
    display: block;
    outline: none;
    top: -12%;
    right: 46px;
    left: inherit;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    text-align: center;
    color: #777;
    float: right;
}

.rightRs {
    display: block;
    outline: none;
    position: absolute;
    top: -12%;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    text-align: center;
    color: #777;
}

// home page style ------------------------------------------------------
// .home_feed {
//     margin-top: 32px;
//     @include mq($from: $tablet, $until: $desktop_sm) {
//         margin-top: 64px;
//     }
// }
// .home_feed_container {
//     margin-top: 3.5%;
//     margin-bottom: 4%;
// }
// .right_options {
//     width: 12px;
//     float: right;
// }
// .padding-l6 {
//     padding-left: 6px;
// }
// .home_quick {
//     ul li {
//         margin: 8px;
//     }
// }
// .quick_section {
//     // a:hover{
//     //   background-color: rgba(102, 45, 145, 0.89);
//     //   box-shadow: 0 16px 29px 0 rgba(102, 45, 145, 0.69);
//     // }
// }
// // artist follow
// .home_artist_follow {
//     margin-top: 16px;
// }
// // panel style
// .panel20 {
//     width: 20%;
//     float: left;
//     padding: 4px;
//     @include mq($from: $tablet, $until: $desktop_sm) {
//         width: 33%;
//     }
//     h3 {
//         font-size: 14px;
//         font-weight: bold;
//         text-align: center;
//         color: #333333;
//         padding-top: 8px;
//     }
//     p {
//         font-size: 12px;
//         font-weight: bold;
//         color: #979797;
//         padding: 8px 0;
//     }
// }
// // tabs
// .home_tabs {
//     margin-top: 8px;
//     .nav-tabs>li>a {
//         font-size: 13px;
//         font-weight: normal;
//         text-align: left;
//         color: #929292;
//         background: transparent;
//         border: none;
//         text-transform: capitalize;
//         cursor: pointer !important;
//     }
//     .nav-tabs li .active a {
//         color: #000000;
//     }
//     .nav-tabs>li.active>a,
//     .nav-tabs>li.active>a:hover,
//     .nav-tabs>li.active>a:focus {
//         color: #000000;
//         background-color: transparent;
//         border: none;
//         border-bottom-color: transparent;
//         cursor: default;
//     }
//     .nav>li>a {
//         position: relative;
//         display: block;
//         padding: 10px 15px 10px 0;
//     }
//     .nav-tabs {
//         border-bottom: none;
//     }
//     #home_channel,
//     #home_feed,
//     #home_spotfeed {
//         margin-left: -19px;
//     }
// }
// home feed right style --------------------
// .sm_panel_body {
//     .padding_012 {
//         padding: 0 22px;
//         @include mq($from: $tablet, $until: $desktop_sm) {}
//         .ops_heading {
//             padding: 10px 0;
//         }
//     }
//     .sm_panel_left {
//         img {
//             border-radius: 3px;
//             @include mq($from: $tablet, $until: $desktop_sm) {
//                 margin-left: 0;
//             }
//         }
//     }
//     .sm_panel_right {
//         line-height: 34px;
//         padding-left: 0px;
//         @include mq($from: $tablet, $until: $desktop_sm) {
//             text-align: center;
//         }
//         h3 {
//             font-size: 14px;
//             font-weight: bold;
//             color: #333333;
//             line-height: 18px;
//         }
//         .btn-label-follow {
//             padding: 2px 0px 2px 10px;
//         }
//     }
//     .btn-default {
//         color: #c1c1c1;
//         background-color: #ffffff;
//         border-color: #c1c1c1;
//     }
//     p {
//         line-height: 18px;
//     }
// }
// .avatar_near_event {
//     width: 100%;
//     height: 126px;
//     display: inline-block;
//     vertical-align: middle;
//     overflow: hidden;
//     position: relative;
//     box-sizing: border-box;
//     text-align: center;
//     line-height: 2.5;
//     border-radius: 3px;
//     border: 0.2px solid #f8f8f8;
//     background-color: #f8f8f8;
//     // margin-left: 9px;
//     @include mq($from: $tablet, $until: $desktop_sm) {
//         height: 78px;
//     }
// }
// .avatar_community2 {
//     width: 100%;
//     height: 68px;
//     display: inline-block;
//     vertical-align: middle;
//     overflow: hidden;
//     position: relative;
//     box-sizing: border-box;
//     text-align: center;
//     line-height: 2.5;
//     border-radius: 3px;
//     border: 0.2px solid #f8f8f8;
//     background-color: #f8f8f8;
// }
// feed -------------------------------------------
// .feed-avatar {
//     width: 100%;
//     height: auto;
//     display: inline-block;
//     vertical-align: middle;
//     overflow: hidden;
//     position: relative;
//     box-sizing: border-box;
//     text-align: center;
//     line-height: 2.5;
//     border-radius: 3px;
//     border: 0.2px solid #f8f8f8;
//     background-color: #f8f8f8;
//     img {
//         width: 100%;
//     }
// }
// .feed_block {
//     //margin: 0 10px;
//     height: auto;
//     border-radius: 5px;
//     background-color: #ffffff;
//     box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
//     .pro_channel_img1 {
//         padding: 0px;
//         img {
//             border-radius: 5px;
//         }
//     }
//     .pro_channel_name {
//         height: 0px;
//     }
//     .extra-padding {
//         padding: 0 15px 15px;
//     }
//     p {
//         color: #000 !important;
//     }
//     .small-txt {
//         font-size: 12px;
//         font-weight: 600;
//         color: #979797;
//         margin-left: 35px;
//         margin-top: -8px;
//     }
//     .pro_channel_count span {
//         color: #333333;
//     }
//     .feed_article {
//         position: absolute;
//         top: 0px;
//         padding: 10px;
//         img {
//             width: 20px;
//             box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
//         }
//     }
//     .pro_channel_count {
//         img {
//             float: left;
//             padding-top: 2px;
//         }
//         .like_count {
//             float: left;
//             margin-left: 8px;
//         }
//     }
// }
// spotfeed ------------------------------------
// .avatar_spotfeed {
//     width: 100%;
//     height: 265px;
//     display: inline-block;
//     vertical-align: middle;
//     overflow: hidden;
//     position: relative;
//     box-sizing: border-box;
//     background: #f8f8f8;
//     img {
//         width: 100%;
//     }
// }
// .ops_spotfeed {
//     .pro_channel_name {
//         line-height: 28px;
//     }
//     .pro_channel_block {
//         height: 350px;
//     }
// }
// //quick access
// .quick_access {
//     .feed-heading {
//         margin: 8px;
//     }
// }
// .feed-heading {
//     font-size: 14px;
//     font-weight: bold;
//     color: #333333;
//     text-align: left;
//     padding: 3px 0;
//     text-transform: uppercase;
//     //     @include mq($from: $tablet, $until: $desktop_sm) {
//     //               font-size: 10px;
//     // }
// }
// .pro_channel2 {
//     width: 100%;
//     margin: 6px;
// }

.p-t-80 {
    padding-top: 74px;
}