<app-navigation></app-navigation>
<!-- primary navigation -->
<section class="o-home-top-block">
    <div class="container">
        <h2 class="c-h2 o-home-main__title color-white">
            Dance World Cup 2018
        </h2>
        <p class="c-text_lg color-white m-t-8">
            All-genre dance competition for children and young adults around the world.
        </p>
        <button type="button" [routerLink]="['/dwc/details']" class="btn btn-primary btn-sm btn-inverse m-t-8"> Read More</button>
        <div class="o-hosted-by m-t-32">
            <p class="c-text_sm color-white text_uppercase m-b-8">Hosted by</p>
            <a class="o-hosted-logos">
                <img width="154" [src]="imageBaseUrl + 'img/home/dwc_world_logo.png'">
            </a>
            <a class="o-hosted-logos m-l-32">
                <img width="36" [src]="imageBaseUrl + 'img/landing/lvds.png'">
            </a>
        </div>
    </div>
</section>
<!-- opportunity top block end -->

<section class="o-home-content">
    <div class="container">
        <!-- left home feed -->
        <div class="row m-t-16">
            <div class="c-text_md-bold text-uppercase m-l-8">
                Quick Access
                <!-- <span class="pull-right c-qt__icon">
                    <a href=""><img src="assets/svg/arrow1.svg"></a>
                    <a href=""><img src="assets/svg/arrow2.svg" class="m-l-8"></a>
                </span> -->
            </div>
            <ngx-carousel [inputs]="carouselOne">
                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                <button NgxCarouselNext class='rightRs'>&gt;</button>
                <ngx-tile NgxCarouselItem *ngFor="let quickAccess of quickList; let i = index">
                    <div class="c-qt">
                        <app-quick-access [quickAccessData]="quickAccess"></app-quick-access>
                    </div>
                </ngx-tile>
            </ngx-carousel>

        </div>
        <div class="o-home-tab-sec with_border_top c-ops__tabs o-opportunity-tabs">
            <div class="col-md-6 p-0">
                <!-- <div class="home_tabs"> -->
                <ul class="nav nav-tabs">
                    <li class="" routerLinkActive="active"><a data-toggle="tab" aria-expanded="true" [routerLink]="['channel']">Channel</a></li>
                    <!-- <li class="" routerLinkActive="active"><a data-toggle="tab" [routerLink]="['spotfeed']">Spotfeed</a></li> -->
                    <li class="" routerLinkActive="active"><a data-toggle="tab" [routerLink]="['post']">Post</a></li>
                </ul>
                <!-- <router-outlet></router-outlet> -->
                <!-- <div class="col-md-9 p-0">
                    <div class="tab-content">
                        <router-outlet></router-outlet>
                    </div>
                </div> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="col-md-9 p-0 clearfix">
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- //left home feed -->
        <home-right-block></home-right-block>
    </div>
</section>
<app-footer></app-footer>