<div class="tab-content">
  <div id="01" class="tab-pane fade m-l-r-16 active in">
    <div *ngIf="userProfile.list_loaded === true && requestList.length < 1" class="empty__state text-center">
      <h4>You have no requests to Accept/Decline</h4>
    </div>
    <ul>
      <li class="with_border_bottom list_style_none" *ngFor="let list of requestList">
        <ul class="list-inline">
          <li class="list-inline-item float_left noti_avatar">
            <img [src]="imageBaseUrl + list?.owner?.profileImage" class="img-responsive cursor_pointer" [routerLink]="'/profile/u/' + list?.owner?.username">
          </li>
          <li class="list-inline-item noti_cont">
            <span class="c-text_lg c-text-semibold cursor_pointer" [routerLink]="'/profile/u/' + list?.owner?.username">
              {{list.owner.name}}
            </span>
            <div class="o-network__userorg">
              Spot meeting
            </div>
          </li>
          <li class="list-inline-item pull-right">
            <div class="ops_subheading">
              {{list.questionaire.date | date:'short'}}
            </div>
          </li>
          <p class="o-network__reqtext m-t-b-16">
            {{list.questionaire.purpose}}
          </p>
          <div class="m-t-16">
            <button type="button" class="btn btn-primary btn-sm" (click)="acceptRequest(list?.owner?.handle)">accept</button>
            <button type="button" class="btn btn-default btn-sm" (click)="declineRequest(list?.owner?.handle)">decline</button>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>
