<div class="modal-dialog modal-lg" id="report_1" *ngIf ="!profileThankYou">
  <div class="modal-content report_container">
      <form [formGroup]="repPop" novalidate (ngSubmit)="submitForm(repPop.value)" #repform="ngForm">
        <div class="report_pop_head">
            <div class="c-text_lg-bold text-center">Report</div>
            <span class="search_close">
              <a href="javascript:void(0)" data-dismiss="modal"><img src="assets/svg/ico_close-38.svg" alt=""></a>
            </span>
        </div>
        <div class="report_content_sec">
            <div class="c-text_md text-center">
                We take reports of harm and abuse seriously. To learn more about our standards
                <br>for member behavior. you can read our <a href="javascript:void(0)">Community Guidlines</a>.
            </div>
            <ul>
                <li>
                    <div class="c-radio__sm" *ngFor = "let options of reportQues">
                        <label class="col-md-12" *ngIf = "options.question !== 'Other issues'">
                            <input name="repOption" type="radio" value="{{options.question}}" formControlName="repOption" (change)="onSelectionChange(options.question)"><span></span>
                            <div class="radio-text">{{options.question}}</div>
                        </label>
                        <label class="col-md-12" *ngIf = "options.question === 'Other issues'">
                            <input name="repOption" type="radio" value="{{options.question}}" formControlName="repOption" (change)="onSelectionChange(options.question)"><span></span>
                            <div class="radio-text">{{options.question}}</div>
                            <div class="" *ngIf ="describe">
                                <input class="c-form__input" id="" type="text" formControlName="desc" placeholder="Describe issue here">
                            </div>
                        </label>
                        <!-- <label class="col-md-12">
                            <input name="demo" type="radio"><span></span>
                            <div class="radio-text">Prestending to be me or someone I know</div>
                        </label> -->
                        <!-- <label class="col-md-12">
                            <input name="demo" type="radio"><span></span>
                            <div class="radio-text">Sharing innappropriate or offensive post</div>
                        </label> -->
                        <!-- <label class="col-md-12">
                            <input name="demo" type="radio"><span></span>
                            <div class="radio-text">Fake account</div>
                        </label> -->
                        <!-- <label class="col-md-12">
                            <input name="demo" type="radio"><span></span>
                            <div class="radio-text" id="hereShow">Other issues</div> -->
                            <!-- -->
                            <!-- <div class="" id="showThis">
                                <input class="c-form__input" id="" type="text" placeholder="Describe issue here">
                            </div> -->
                            <!-- -->
                        <!-- </label> -->
                    </div>
                </li>
            </ul>
        </div>
        <div class="report_bottom">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-md" data-toggle="modal">Submit</button>
            </div>
        </div>
      </form>
  </div>
</div>

<div class="modal-dialog modal-lg" id="report_thank" *ngIf ="profileThankYou">
    <div class="modal-content report_container">
        <div class="report_pop_head">
            <div class="c-text_lg-bold text-center">Report</div>
            <span class="search_close">
        <a href="javascript:void(0)" data-dismiss="modal">
            <img src="assets/svg/ico_close-38.svg">
        </a>
    </span>
        </div>
        <div class="report_content_sec">
            <div class="msg_report_container c-text_lg text-center">
                <strong>Report successfull</strong>
                <br> We will review your report and take necessary action.
            </div>
        </div>
        <div class="report_bottom">
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-md" data-dismiss="modal" (click)="closeThankyou()">
                    Done
                </button>
            </div>
        </div>
    </div>
</div>
