<div class="container">
        <div class="row form_container">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_none">
            <div class="acc_choose_left">
              <div class="logo">
            <h1><a href="#landing"><img src="resources/img/logo.png" alt=""></a></h1>
          </div><!-- logo end div -->
          <div class="discription_area">
                <h1>Lorem Ipsium</h1>
                <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
              sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam
                </p>
              </div>

            </div><!-- reg left end -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_none">
            <div class="acc_choose_right" acc-type-tab-content="">
                  <h2>Choose your account type</h2>
                    <div class="acc_tab_container">
                    <div class="tab c-switch"><!--tab button strat-->
                        <div class="c-switch__highlight" style="width: 168px; transform: translateX(3px);"></div>
                        <button class="tablinks is-active" ng-click="openCity($event, 'individual')" id="defaultOpen">
                          <div class="ind_icon">
                              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 70.5 66.71"><path id="indi" d="M194.63,824.48a19.43,19.43,0,1,1,19.42-19.43A19.45,19.45,0,0,1,194.63,824.48Zm0-30.85a11.43,11.43,0,1,0,11.42,11.42A11.44,11.44,0,0,0,194.63,793.63Z" transform="translate(-159.38 -785.63)"></path><path id="indi" d="M229.88,852.34h-8a27.25,27.25,0,0,0-54.5,0h-8A35.25,35.25,0,0,1,229.88,852.34Z" transform="translate(-159.38 -785.63)"></path></svg>
                          </div>
                          Individual
                        </button>
                        <button class="tablinks" ng-click="openCity($event, 'organization')">
                         <div class="ind_icon">
                              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 72.5 71.5">
                              <rect id="indi" y="62.5" width="72.5" height="9"></rect>
                              <rect id="indi" x="10.62" y="21.48" width="8.29" height="30.75"></rect>
                              <rect id="indi" x="25.12" y="21.48" width="8.29" height="30.75"></rect>
                              <rect id="indi" x="39.62" y="21.48" width="8.29" height="30.75"></rect>
                              <rect id="indi" x="54.12" y="21.48" width="8.29" height="30.75"></rect>
                              <rect id="indi" x="5.03" y="55.34" width="62.97" height="4.32"></rect>
                              <polygon id="indi" points="71.69 13.69 36.51 0 1.34 13.69 0.53 13.69 0.53 14.01 0.53 14.01 0.53 14.01 0.53 18.31 72.5 18.31 72.5 13.69 71.69 13.69"></polygon></svg>
                          </div>
                          Organization
                        </button>
                    </div><!--tab button end-->


                        <div id="individual" class="tabcontent" style="display: block;">
                            <p>You can register as Organization after finish registration</p>
                            <h4>Choose your account type</h4>
                            <div class="choose_acc_button" acc-type-hide-checkbox="">
                              <form class="ng-pristine ng-valid">
                                <!-- ngRepeat: accountType in accountTypeList --><div ng-repeat="accountType in accountTypeList" class="ng-scope">
                                <input name="selectedAccountTypeList" id="Artist" class="hide-checkbox" value="Artist" ng-checked="selectedAccountTypeList.indexOf(accountType) > -1" ng-click="toggleSelectionAccountType(accountType)" type="checkbox">
                                <label for="Artist" class="ng-binding">Artist</label>
                                </div><!-- end ngRepeat: accountType in accountTypeList --><div ng-repeat="accountType in accountTypeList" class="ng-scope">
                                <input name="selectedAccountTypeList" id="Manager" class="hide-checkbox" value="Manager" ng-checked="selectedAccountTypeList.indexOf(accountType) > -1" ng-click="toggleSelectionAccountType(accountType)" type="checkbox">
                                <label for="Manager" class="ng-binding">Manager</label>
                                </div><!-- end ngRepeat: accountType in accountTypeList --><div ng-repeat="accountType in accountTypeList" class="ng-scope">
                                <input name="selectedAccountTypeList" id="Promoter" class="hide-checkbox" value="Promoter" ng-checked="selectedAccountTypeList.indexOf(accountType) > -1" ng-click="toggleSelectionAccountType(accountType)" type="checkbox">
                                <label for="Promoter" class="ng-binding">Promoter</label>
                                </div><!-- end ngRepeat: accountType in accountTypeList --><div ng-repeat="accountType in accountTypeList" class="ng-scope">
                                <input name="selectedAccountTypeList" id="Agent" class="hide-checkbox" value="Agent" ng-checked="selectedAccountTypeList.indexOf(accountType) > -1" ng-click="toggleSelectionAccountType(accountType)" type="checkbox">
                                <label for="Agent" class="ng-binding">Agent</label>
                                </div><!-- end ngRepeat: accountType in accountTypeList --><div ng-repeat="accountType in accountTypeList" class="ng-scope">
                                <input name="selectedAccountTypeList" id="Curator" class="hide-checkbox" value="Curator" ng-checked="selectedAccountTypeList.indexOf(accountType) > -1" ng-click="toggleSelectionAccountType(accountType)" type="checkbox">
                                <label for="Curator" class="ng-binding">Curator</label>
                                </div><!-- end ngRepeat: accountType in accountTypeList --><div ng-repeat="accountType in accountTypeList" class="ng-scope">
                                <input name="selectedAccountTypeList" id="Fan" class="hide-checkbox" value="Fan" ng-checked="selectedAccountTypeList.indexOf(accountType) > -1" ng-click="toggleSelectionAccountType(accountType)" type="checkbox">
                                <label for="Fan" class="ng-binding">Fan</label>
                                </div><!-- end ngRepeat: accountType in accountTypeList -->

                                <!-- <input type="checkbox" name="checkbox-option" id="checkbox-button-opt-two" class="hide-checkbox" value="Option 2">
                                <label for="checkbox-button-opt-two">Promoter</label>

                                <input type="checkbox" name="checkbox-option" id="checkbox-button-opt-three" class="hide-checkbox" value="Option 3">
                                <label for="checkbox-button-opt-three">Manager</label>

                                <input type="checkbox" name="checkbox-option" id="checkbox-button-opt-four" class="hide-checkbox" value="Option 4" >
                                <label for="checkbox-button-opt-four">Fan</label>

                                <input type="checkbox" name="checkbox-option" id="checkbox-button-opt-five" class="hide-checkbox" value="Option 5">
                                <label for="checkbox-button-opt-five">Curator</label>

                                <input type="checkbox" name="checkbox-option" id="checkbox-button-opt-six" class="hide-checkbox" value="Option 6">
                                <label for="checkbox-button-opt-six">Agent</label> -->

                                <input name="" value="Next" ng-click="postAccountType();" type="submit">
                              </form>
                            </div>
                        </div><!-- individual div end -->


                       <div id="organization" class="tabcontent" style="display: none;">
                        <div class="organization_box">
                          <form class="ng-pristine ng-valid">
                            <input name="" ng-model="organization.organizationName" placeholder="Name of organization" class="ng-pristine ng-untouched ng-valid ng-empty" type="text">



                            <input name="" value="Next" ng-click="addOrganization()" type="submit">
                          </form>
                        </div>
                      </div><!-- organization div end -->


              </div> <!-- acc_tab_container end-->

              <div class="progress_bar_acc_type">
              </div>
            <script src="resources/scripts/lib/dist/js/registration/index.js"></script></div><!-- reg right end -->
          </div>
        </div>
  </div>
