<app-navigation></app-navigation>
<section class="o-community-inner-block">
    <div *ngIf="communityLoading">
        <div class="sticky">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <div class="container p-0" *ngIf="!communityLoading">
        <div class="col-md-3">
            <div class="o-commu-left-block">
                    <div class="o-commu__prof-img2">
                            
                        </div>
                <div class="o-commu__prof-img" [style.background-image]=" details?.image ? 'url('+ basePath + details?.image+')' : 'url(https://cdn.onepagespotlight.com/img/demo/s16.jpg)'">
                    <div class="c-commu__imgcover" *ngIf="details?.isOwner">
                        <input type="file" class="o-commu-cover-media" name="photo" id="upload-photo" (ngxf-select)="uploadFileList($event)" accept="image/*,.svg">
                        <div class="o-commu-cover-media__btn c-text_sm">
                            <span class="o-commu-cover-upload-btn m-r-5"></span> Add Cover
                        </div>
                    </div>
                </div>
                <div class="o-commu__short-det p-16">
                    <div class="c-h4 m-b-16">{{ details?.title }}
                        <div class="c-mediamodal__opt dropdown c-dropdown" appDropdown *ngIf="details?.isOwner">
                            <span class="dropdown-toggle" data-toggle="dropdown" appDropdownOpen>
                                <img [src]="basePath + 'img/svg/ico_options.svg'" class="c-options--img">
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a (click)="communityEdit()">Edit</a>
                                </li>
                                <li>
                                    <a (click)="communityLeave()">Leave</a>
                                </li>
                                <li>
                                    <a (click)="communityRemove.open()">Remove</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="c-text_md color-grey-dark">
                        {{ details?.brief }}
                    </p>
                    <div class="col-md-6 p-0">
                        <p class="c-text_md o-commu__members ltr-space text_uppercase m-t-b-16">{{ details?.memberCount }} <span class="color-grey-dark">Members</span></p>
                    </div>
                    <div class="col-md-6 p-0">
                        <p class="c-text_md o-commu__members ltr-space text_uppercase m-t-b-16">{{details?.postsCount}} <span class="color-grey-dark">Posts</span></p>
                    </div>
                    <div [ngClass]="{'col-md-12 p-0': !details?.isMember, 'col-md-6 p-r-0 p-l-8': details?.isMember}"  *ngIf="!details?.isOwner">
                        <button type="button" (click)="userJoin(details?.isMember)" class="btn btn-default btn-md btn-block" [disabled]="isMemeberLoading">{{ (details?.isMember) ? 'Unjoin' : 'Join'}}</button>
                    </div>
                    <div  [ngClass]="{'col-md-12 p-0': details?.isOwner, 'col-md-6 p-r-0 p-l-8': !details?.isOwner}">
                        <a [routerLink]="['/post/media']" [queryParams]="{post_to: 'community', ct_id: details?.communityId, ct_name: details?.title}" class="btn btn-primary btn-md btn-block" *ngIf="details?.isMember">Add post</a>
                    </div>
                </div>
            </div>
            <!-- block end -->
        </div>
        <!-- left-block end -->

        <div class="col-md-6 o-community_empty" *ngIf="communityPost?.length === 0 && !postLoader">
            <div class="c-h4 color-grey">The Community is empty</div>
            <a *ngIf="details?.isMember" [routerLink]="['/post/media']" [queryParams]="{post_to: 'community', ct_id: details?.communityId, ct_name: details?.title}" class="btn btn-primary btn-md m-t-16">Add post</a>
        </div>
        <div class="col-md-6" *ngIf="communityPost?.length !== 0">
            <div *ngIf="postLoader">
                <app-post-card [loader]=true *ngFor="let number of [0,1]" ></app-post-card>
            </div>
            <div *ngFor="let media of communityPost;">
                <app-post  (postDelete)="deletePost(media)" (onClick)="mediaOpenPopup(media.id)"  [mediaData]="media" [userData]="userData"></app-post>
            </div>
        </div>
        <!-- center-block end -->
        <div class="col-md-3" >
            <div class="o-commu-right-block">
                <div class="c-card" *ngIf="details?.isMember">
                    <div class="c-text_lg padding_16">Invite to the Community</div>
                    <div class="c-invite--search">
                        <form class="fill-grey-light">
                            <div class="c-form__group c-form--noeffect c-form--sm">
                                <input class="c-form__input fpadding_l32" [formControl]="memberSearch" placeholder="Seach" type="text">
                                <span>
                                    <img [src]="basePath + 'img/svg/ico_search.svg'" class="c-form__input--lefticon">
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="c-invite__sec" id="ops_scrollbar">
                        <div class="c-invite__block" *ngFor="let people of listInvitePeople">
                            <a class="c-user__avatar c-avatar--status" routerLink="/profile/u/{{ people?.profileUsername }}">
                                <img [src]="basePath + people?.profileImage" class="c-user__image">
                            </a>
                            <a class="c-text_md c-invite--user" routerLink="/profile/u/{{ people?.profileUsername }}">{{ people?.profileName  | truncate:[13, '...'] }}</a>
                            <div class="c-invite--btn">
                                <button type="button" class="btn btn-default btn-sm" (click)="inviteToCommunity(people?.profileHandle)">invite</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-card padding_16 m-t-16" *ngIf="relatedCommunity?.length > 0">
                    <div class="c-text_lg">Related Communities
                        <!-- <a href="" class="c-text_sm c-org--seemore">See More</a> -->
                    </div>
                    <div class="o-community-show-block m-t-16" *ngFor="let community of relatedCommunity">
                        <span class="o-community-show__thumb" [style.background-image]=" community?.image ? 'url('+ basePath + community?.image+')' : 'url(https://cdn.onepagespotlight.com/img/demo/s16.jpg)'"></span>
                        <span class="o-community-show__name m-l-8">
                            <h6 class="c-text_md"><a [routerLink]="['/communities', community?.communityId]">{{community?.title}}</a></h6>
                            <p class="c-text_sm letter_space color-grey">{{community?.memberCount}} memberes</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- right-block end -->
    </div>
</section>
<div class="clearfix"></div>


<app-modal-new #communityCreateModal modalClass="modal-communities__create">
    <modal-content>
        <div class="c-text_lg text-center p-t-16">Edit Community</div>
        <div class="p-32">
            <form [formGroup]="communityForm" novalidate (ngSubmit)="submitForm(communityForm.value)" #cmfrom="ngForm">
                <div class="c-form__group">
                    <input class="c-form__input" required="" formControlName="community_name" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Community Name</label>
                </div>
                <div class="c-form__group m-t-24">
                    <input class="c-form__input" required="" formControlName="brief" type="text">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>About Community</label>
                </div>
                <div class="c-form__group m-t-24">
                    <select class="c-form-control" formControlName="access">
                        <option value="0">Public</option>
                        <option value="1">Private</option>
                    </select>
                </div>
                <div class="c-form__group m-t-24">
                    <select class="c-form-control" formControlName="industry" [(ngModel)]="selectedIndustry">
                        <option value="" disabled="true" [selected]="!selectedIndustry">Select Industry</option>
                        <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
                    </select>
                </div>
                <div class="row m-t-24">
                    <button type="submit" class="btn btn-primary btn-md pull-right" [disabled]="updateCommunityLoading">Save</button>
                    <button type="button" class="btn btn-default btn-md pull-right m-r-16" (click)="communityCreateModal.close()">cancel</button>
                </div>
            </form>
        </div>
    </modal-content>
</app-modal-new>



<app-modal-new #communityLeaveModal modalClass="modal-o-comodal2">
    <modal-content>
        <div id="changeAdmin" class="o-comodal_main" >
                <div class="o-comodal2" id="admin_1">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" (click)="communityLeaveModal.close()">&times;</button>
                            <div class="modal-title c-text_lg text-center m-t-8">Change Admin</div>
                            <div class="c-text_md text-center color-grey-dark m-t-8">Select the user you want to give the admin privilage.</div>
                        </div>
                        <div class="modal-body">
                            <div class="c-form__group c-form--md c-form--noeffect c-form__faded--md">
                                <input class="c-form__input p-l-24" [formControl]="searchField" type="text" placeholder="Search member">
                                <span>
                                    <img [src]="basePath + 'img/svg/ico_search.svg'" class="c-form__input--lefticon">
                                </span>
                            </div>
                            <div class="o-cadminlist" id="ops_scrollbar"
                            infiniteScroll
                            [infiniteScrollDistance]="1"
                            [infiniteScrollThrottle]="100"
                            [scrollWindow]="false"
                            (scrolled)="onScroll($event)"
                            >
                            <form [formGroup]="communityAdminForm" novalidate (ngSubmit)="submitMemberAdmin(communityAdminForm.value)" #cmafrom="ngForm">
                                <div class="o-cadmin_block" *ngFor="let member of memeberList">
                                    <label>
                                    <input type="radio" name="handle" [value]="member?.handle" formControlName="handle">
                                    <div class="o-cadmin_checkbox">
                                        <div class="o-cadmin_imgblock m-t-b-8">
                                            <img [src]="basePath + member?.profileImage" class="o-cadmin_img">
                                        </div>
                                        <p class="o-cadmin_name">{{ member?.name }}</p>
                                        <p class="o-cadmin_prof">Profile</p>
                                    </div>
                                    </label>
                                </div>
                                <!-- <p *ngIf="memeberList?.length === 0">Not Found</p> -->
                            </form>
            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-sm" (click)="communityLeaveModal.close()">cancel</button>
                                <button type="submit" class="btn btn-primary btn-sm" (click)="submitMemberAdmin(communityAdminForm.value)">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </modal-content>
</app-modal-new>

<app-modal-new #communityLeaveConfirmModal modalClass="modal-communities__create">
    <modal-content>
<div class="o-comodal" id="admin_2">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="communityLeaveConfirmModal.close()">&times;</button>
                <div class="modal-title c-text_lg text-center m-t-8">Leave Community</div>
            </div>
            <div class="modal-body">
                <div class="c-text_md text-center color-grey-dark">Are you sure you want to give up your admin provilleges and leave this community? The admin role will be offered to other people in the group.</div>
                <div class="modal-footer m-t-16">
                    <button type="button" class="btn btn-default btn-sm" (click)="communityLeaveConfirmModal.close()">cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="adminLeaveSucess()">Leave</button>
                </div>
            </div>
        </div>
    </div>

    </modal-content>
</app-modal-new>

<app-modal-new #communityRemove modalClass="modal-communities__create">
    <modal-content>
        <div id="comRemove" class="o-comodal_main" >
            <div class=" o-comodal">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="communityRemove.close()">&times;</button>
                        <h4 class="modal-title c-text_lg text-center m-t-8">Remove Community</h4>
                    </div>
                    <div class="modal-body">
                        <div class="c-text_md text-center color-grey-dark">Are you sure you want to permanently remove this community</div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-default btn-sm" (click)="communityRemove.close()">cancel</button>
                        <button type="button" class="btn btn-primary btn-sm" (click)="communityDelete()">remove</button>
                    </div>
                </div>
            </div>
        </div>
    </modal-content>
</app-modal-new>