<app-navigation></app-navigation>
<section class="o-community-inner-block">
    <div class="container p-0">
        <div class="col-md-3">
            <div class="o-commu-left-block">
                <div class="o-commu__prof-img">
                </div>
                <div class="o-commu__short-det p-16">
                    <h4 class="c-h4 m-b-16">{{ details?.title }}</h4>
                    <p class="c-text_md color-grey-dark">
                        Do you remember the story of “The Wizard of Oz”? In this story we saw the characters of Dorothy, who had wanted to run away from home because she thought there was a better place somewhere. We also met the scarecrow who believed he had no brain, the lion who he <a href="#" class="color-theme">More</a>
                    </p>
                    <div class="col-md-6 p-0">
                        <p class="c-text_md o-commu__members ltr-space text_uppercase m-t-b-16">{{ details?.memberCount }} <span class="color-grey-dark">Members</span></p>
                    </div>
                    <div class="col-md-6 p-0">
                        <p class="c-text_md o-commu__members ltr-space text_uppercase m-t-b-16">123 <span class="color-grey-dark">Posts</span></p>
                    </div>
                    <div class="col-md-6 p-l-0 p-r-8">
                        <button type="button" class="btn btn-default btn-md btn-block">Join</button>
                    </div>
                    <div class="col-md-6 p-r-0 p-l-8">
                        <a href="addpost.html" class="btn btn-primary btn-md btn-block">Add post</a>
                    </div>
                </div>
            </div>
            <!-- block end -->
        </div>
        <!-- left-block end -->
        <div class="col-md-6">
            <div class="o-commu-center-block">
                <div class="c-card">
                    <div class="c-status--block">
                        <div class="c-card__user margin_none">
                            <div class="c-user">
                                <a class="c-user__avatar c-avatar--status">
                                    <img class="c-user__image" src="assets/demo/avatar.jpg">
                                </a>
                                <a class="c-user__name c-user--align">Tobias Van Schneider</a>
                                <a class="c-user__channel2 c-user__channel-align">Do Your Think Motivational</a>
                            </div>
                        </div>
                        <div class="pull-right dropdown c-dropdown">
                            <div class="c-post__time">10:32 PM</div>
                            <a href="">
                                <img [src]="basePath + 'img/svg/ico_private.svg'" alt="" class="c-status__options">
                            </a>
                            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img [src]="basePath + 'img/svg/ico_options.svg'" class="c-status__options">
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="c-status--block">
                        <div class="c-user__status">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </div>
                    </div>
                    <div class="c-status--block with_border_bottom">
                        <div class="c-links">
                            <div class="c-links__spots">
                                <img [src]="basePath + 'img/svg/spot_icon.svg'" class="c-links__image">
                                <span class="c-links__count">705</span>
                            </div>
                            <div class="c-links__comments">
                                <img [src]="basePath + 'img/svg/ico_comment.svg'" class="c-links__image">
                                <span class="c-links__count">24</span>
                            </div>
                            <div class="c-links__actions">
                                <span class="c-links__add">
                                    <a href="">
                                        <img [src]="basePath + 'img/svg/ico_addtochannel.svg'" class="c-action__image">
                                    </a>
                                </span>
                                <span class="c-links__share">
                                    <a href="">
                                        <img [src]="basePath + 'img/svg/ico_share-02.svg'" class="c-action__image">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="c-post__comment p-t-0">
                        <div class="c-post__comment--left m-t-16">
                            <a class="c-user__avatar c-avatar--status2">
                                <img class="c-user__image" src="assets/demo/avatar.jpg">
                            </a>
                        </div>
                        <div class="c-post__comment--right c-mediamodal__input p-l-0 p-t-8">
                            <div class="c-form__group c-form--noeffect m-b-0">
                                <form>
                                    <input class="c-form__input with_border_none" required="" type="text">
                                    <span class="c-form__highlight"></span>
                                    <label>Comment here</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-card m-t-16">
                    <div class="c-status--block">
                        <div class="c-card__user margin_none">
                            <div class="c-user">
                                <a class="c-user__avatar c-avatar--status">
                                    <img class="c-user__image" src="assets/demo/avatar.jpg">
                                </a>
                                <a class="c-user__name c-user--align">Tobias Van Schneider</a>
                                <a class="c-user__channel2 c-user__channel-align">Do Your Think Motivational</a>
                            </div>
                        </div>
                        <div class="pull-right dropdown c-dropdown">
                            <div class="c-post__time">10:30 PM</div>
                            <a href="">
                                <img [src]="basePath + 'img/svg/ico_public.svg'" alt="" class="c-status__options">
                            </a>
                            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img [src]="basePath + 'img/svg/ico_options.svg'" class="c-status__options">
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="c-feed__img-status">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    </div>
                    <div class="c-feed__img">
                        <img src="assets/demo/travel.jpg" class="img-responsive">
                    </div>
                    <div class="c-status--block">
                        <div class="c-links">
                            <div class="c-links__spots">
                                <img [src]="basePath + 'img/svg/spot_icon.svg'" class="c-links__image">
                                <span class="c-links__count">705</span>
                            </div>
                            <div class="c-links__comments">
                                <img [src]="basePath + 'img/svg/ico_comment.svg'" class="c-links__image">
                                <span class="c-links__count">24</span>
                            </div>
                            <div class="c-links__actions">
                                <span class="c-links__add">
                                    <a href="">
                                        <img [src]="basePath + 'img/svg/ico_addtochannel.svg'" class="c-action__image">
                                    </a>
                                </span>
                                <span class="c-links__share">
                                    <a href="">
                                        <img [src]="basePath + 'img/svg/ico_share-02.svg'" class="c-action__image">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="c-post__comment fill-grey-light p-l-r-16">
                        <div class="c-post__comment--left">
                            <a class="c-user__avatar c-avatar--status2">
                                <img class="c-user__image" src="assets/demo/avatar.jpg">
                            </a>
                        </div>
                        <div class="c-post__comment--right p-l-0">
                            <a class="c-post__commenter">Tobias Van12</a>
                            <div class="c-post__comment_text" id="edit-text-2">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                            </div>
                            <div class="c-post__comment--time">07:39 PM</div>
                        </div>
                        <div class="dropdown c-dropdown c-dropdown__options m-r-24">
                            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img [src]="basePath + 'img/svg/ico_options.svg'" class="c-options--img">
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a onclick="editComments(2)">Edit</a>
                                </li>
                                <li>
                                    <a href="#">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="c-post__comment p-t-0">
                        <div class="c-post__comment--left m-t-16">
                            <a class="c-user__avatar c-avatar--status2">
                                <img class="c-user__image" src="assets/demo/avatar.jpg">
                            </a>
                        </div>
                        <div class="c-post__comment--right c-mediamodal__input p-l-0 p-t-8">
                            <div class="c-form__group c-form--noeffect m-b-0">
                                <form>
                                    <input class="c-form__input with_border_none" required="" type="text">
                                    <span class="c-form__highlight"></span>
                                    <label>Comment here</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- center-block end -->
        <div class="col-md-3">
            <div class="o-commu-right-block">
                <div class="c-card">
                    <div class="c-text_lg padding_16">Invite to the Community</div>
                    <div class="c-invite--search">
                        <form class="fill-grey-light">
                            <div class="c-form__group c-form--noeffect c-form--sm">
                                <input class="c-form__input fpadding_l32" required="" type="text">
                                <label class="fpadding_l32">Search</label>
                                <span>
                                    <img [src]="basePath + 'img/svg/ico_search.svg'" class="c-form__input--lefticon">
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="c-invite__sec" id="ops_scrollbar">
                        <div class="c-invite__block" *ngFor="let people of listInvitePeople">
                            <a class="c-user__avatar c-avatar--status">
                                <img [src]="basePath + people?.profileImage" class="c-user__image">
                            </a>
                            <a class="c-text_md c-invite--user">{{people?.profileName}}</a>
                            <div class="c-invite--btn">
                                <button type="button" class="btn btn-default btn-sm">invite</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-card padding_16 m-t-16">
                    <div class="c-text_lg">Related Communities
                        <!-- <a href="" class="c-text_sm c-org--seemore">See More</a> -->
                    </div>
                    <div class="o-community-show-block m-t-16" *ngFor="let community of relatedCommunity">
                        <span class="o-community-show__thumb"></span>
                        <span class="o-community-show__name m-l-8">
                            <h6 class="c-text_md">{{community?.title}}</h6>
                            <p class="c-text_sm letter_space color-grey">{{community?.memberCount}} memberes</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- right-block end -->
    </div>
</section>
<div class="clearfix"></div>

<app-footer></app-footer>