<header class="opsheader_landing">
    <div class="container">
        <div class="o-logo">
            <img src="/assets/img/landing/logobetawhite.svg" class="">
        </div>
        <div class="o-log-reg-btn">
            <a [routerLink]="['reg']" class="o-landing-signup-btn">Sign Up</a>
            <a [routerLink]="['login']" class="o-landing-more-btn m-l-8">login</a>
        </div>
    </div>
    <div class="container">
            <div class="col-md-12 p-0">
                <h1 class="c-h1 m-b-32 color-white o-hero-main__title text-center">Sign up on One Page Spotlight to<br>register for Dance World Cup</h1>
                <div class="o-register-area">
                    <a [routerLink]="['reg']" [queryParams]="{ ev: 'dwc2017' }" class="o-landing-signup-btn">Register</a>
                    <a [routerLink]="['dwc/details']" class="o-landing-more-btn m-l-16 font-weight-500">read more</a>
                    <div class="col-md-12 c-text_md color-white p-l-0 m-t-16 o-landing-log"> Already a member? <a [routerLink]="['login']" [queryParams]="{ next: 'dwc/reg' }" class="color-white"><u>Log in</u> </a>to register </div>
                </div>
    
            </div>
            <!-- hero left block end -->
        </div>
</header>


<div class="hero">
    <ngx-carousel [inputs]="homeSlider" [moveToSlide]="1" (onMove)="onmoveFn($event)" (afterCarouselViewed)="afterCarouselViewedFn($event)">
        <ngx-item NgxCarouselItem class="bannerStyle">
            <div class="o-landing-hero fill-grey-light">
                <div class="o-landing-inner__black">
                    <!-- <div class="container">
                        <div class="col-md-12 p-0">
                        <h1 class="c-h1 m-b-32 color-white o-hero-main__title text-center">Sign up on One Page Spotlight to<br>register for Dance World Cup</h1>
                        <div class="o-register-area">
                            <a [routerLink]="['reg']" [queryParams]="{ ev: 'dwc2017' }" class="btn btn-primary btn-lg btn-inverse">Register</a>
                            <a [routerLink]="['danceworldcup']" class="o-landing-more-btn m-l-16">read more</a>
                            <div class="col-md-12 c-text_md color-white p-l-0 m-t-16 o-landing-log"> Already a member? <a [routerLink]="['login']" [queryParams]="{ next: 'dwc' }" class="color-white"><u>Log in</u> </a>to register </div>
                        </div>

                        </div>hero left block end
                    </div> -->
                </div>
            </div>
            <!-- hero section end -->
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
            <div class="o-landing-hero2 fill-grey-light">
                <div class="o-landing-inner__black">
                    <!-- <div class="container">
                        <div class="col-md-12 p-0">
                        <h1 class="c-h1 m-b-32 color-white o-hero-main__title text-center">Sign up on One Page Spotlight to<br>register for Dance World Cup</h1>
                        <div class="o-register-area">
                            <a [routerLink]="['reg']" [queryParams]="{ ev: 'dwc2017' }" class="btn btn-primary btn-lg btn-inverse">Register</a>
                            <a [routerLink]="['danceworldcup']" class="o-landing-more-btn m-l-16">read more</a>
                            <div class="col-md-12 c-text_md color-white p-l-0 m-t-16 o-landing-log"> Already a member? <a [routerLink]="['login']" [queryParams]="{ next: 'dwc' }" class="color-white"><u>Log in</u> </a>to register </div>
                        </div>

                        </div>hero left block end
                    </div> -->
                </div>
            </div>
            <!-- hero section end -->
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
            <div class="o-landing-hero3 fill-grey-light">
                <div class="o-landing-inner__black">
                    <!-- <div class="container">
                        <div class="col-md-12 p-0">
                        <h1 class="c-h1 m-b-32 color-white o-hero-main__title text-center">Sign up on One Page Spotlight to<br>register for Dance World Cup</h1>
                        <div class="o-register-area">
                            <a [routerLink]="['reg']" [queryParams]="{ ev: 'dwc2017' }" class="btn btn-primary btn-lg btn-inverse">Register</a>
                            <a [routerLink]="['danceworldcup']" class="o-landing-more-btn m-l-16">read more</a>
                            <div class="col-md-12 c-text_md color-white p-l-0 m-t-16 o-landing-log"> Already a member? <a [routerLink]="['login']" [queryParams]="{ next: 'dwc' }" class="color-white"><u>Log in</u> </a>to register </div>
                        </div>

                        </div>hero left block end
                    </div> -->
                </div>
            </div>
            <!-- hero section end -->
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
            <div class="o-landing-hero4 fill-grey-light">
                <div class="o-landing-inner__black">
                    <!-- <div class="container">
                        <div class="col-md-12 p-0">
                        <h1 class="c-h1 m-b-32 color-white o-hero-main__title text-center">Sign up on One Page Spotlight to<br>register for Dance World Cup</h1>
                        <div class="o-register-area">
                            <a [routerLink]="['reg']" [queryParams]="{ ev: 'dwc2017' }" class="btn btn-primary btn-lg btn-inverse">Register</a>
                            <a [routerLink]="['danceworldcup']" class="o-landing-more-btn m-l-16">read more</a>
                            <div class="col-md-12 c-text_md color-white p-l-0 m-t-16 o-landing-log"> Already a member? <a [routerLink]="['login']" [queryParams]="{ next: 'dwc' }" class="color-white"><u>Log in</u> </a>to register </div>
                        </div>

                        </div>hero left block end
                    </div> -->
                </div>
            </div>
            <!-- hero section end -->
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                    <polygon id="arrow-copy-6-a" points="15.276 4.001 8 11.942 15.276 19.882 16.75 18.531 10.713 11.942 16.75 5.351"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <use fill="#fff" xlink:href="#arrow-copy-6-a"/>
                </g>
            </svg>
        </button>
        <button NgxCarouselNext class='rightRs'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                    <polygon id="arrow-copy-5-a" points="15.526 4.119 8.25 12.06 15.526 20 17 18.649 10.963 12.06 17 5.469"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <use fill="#fff" transform="rotate(-180 12.625 12.06)" xlink:href="#arrow-copy-5-a"/>
                </g>
            </svg>
        </button>
    </ngx-carousel>
</div>
<!-- </section> -->

<section class="o-hosted__logo">
    <div class="container">
        <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="o-dance-wc-logo">
            <div class="o-dance-wc__logo-container text-left">
            <img src="/assets/img/landing/dwc_world_logo.png" alt="">
            <p class="c-text_md f-w_600 color-grey-dark text_uppercase m-t-8 o-dwc-q__txt">Dance World Cup 2018 Qualifiers</p>
            </div>
            <span class="o-dwc-bnglr">
            <span class="c-h4 width100 m-t-16 o-dwc-q__date">January 21 - 22, 2018</span><br>
            <span class="c-text_lg width100 color-grey-dark o-dwc-q__location">Pheonix market city, Bangalore</span>
            </span>
        </div>
        </div>
    
        <div class="col-md-2 col-sm-4 col-xs-6 with_border_left o-dwc-hosted-container">
        <div class="o-dance-wc-logo">
            <p class="c-text_sm text_uppercase color-grey-dark">Hosted by</p>
            <div class="o-dance-wc__hosted-logo-container m-t-16">
            <img src="/assets/img/landing/isptd.jpg" alt="">
            </div>
        </div>
        </div>
    
        <div class="col-md-1 col-sm-3 col-xs-6 p-r-0 with_border_left o-dwc-powered-container">
        <div class="o-dance-wc-logo">
            <p class="c-text_sm text_uppercase color-grey-dark">Powered By</p>
            <div class="o-dance-wc__powered-logo-container m-t-16">
            <img src="/assets/img/landing/lvds.png" alt="">
            </div>
        </div>
        </div>
    </div>
</section>


<section class="o-platform-sec">
    <div class="container">
        <div class="row o-platform-det-block">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="c-h2 o-platform-title--margin text-center margin_b_32">
                    Platform for all
                </div>
                <div class="row landing_for_artist">
                    <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="o-platform-container">
                        <div class="o-platform-block">
                        <img src="/assets/img/landing/talent.png" class="o-platform-block--img" alt="">
                        </div>
                        <div class="o-platform-block-title">
                        Talent
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="o-platform-container">
                        <div class="o-platform-block">
                        <img src="/assets/img/landing/stagecraft.png" class="o-platform-block--img" alt="">
                        </div>
                        <div class="o-platform-block-title">
                        Stagecrafts
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="o-platform-container">
                        <div class="o-platform-block">
                        <img src="/assets/img/landing/techies.png" class="o-platform-block--img" alt="">
                        </div>
                        <div class="o-platform-block-title">
                        Techies
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="o-platform-container">
                        <div class="o-platform-block">
                        <img src="/assets/img/landing/corporates.png" class="o-platform-block--img" alt="">
                        </div>
                        <div class="o-platform-block-title">
                        Corporates
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="o-platform-container">
                        <div class="o-platform-block">
                        <img src="/assets/img/landing/teachers.png" class="o-platform-block--img" alt="">
                        </div>
                        <div class="o-platform-block-title">
                        Teachers
                        </div>
                    </div>  
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="o-platform-container">
                        <div class="o-platform-block">
                        <img src="/assets/img/landing/artlovers.png" class="o-platform-block--img" alt="">
                        </div>
                        <div class="o-platform-block-title">
                        Art Lovers
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="fill-white">
    <div class="container">
        <div class="o-landing-org-block">
        <div class="col-md-7 col-sm-12 col-xs-12 organization_padd">
            <div class="c-h2 margin_b_16 o-landing-organization__title">
            Organization
            </div>
            <p class=" c-text_lg o-organization__txt">
            Always be on the lookout for new talent. Network and discover artists and art lovers across all disciplines.
            </p>
            <a [routerLink]="['login']" [queryParams]="{ next: 'org/page/profile' }" type="button" class="btn btn-primary btn-lg margin_t_16">Try Organization</a>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 padding_none">
            <div class="organization-img">
            <img src="/assets/img/landing/Castle.png" alt="">
            </div>
        </div>
        </div>
        <h2 class="c-h2 o-landing-product--margin text-center float_left">Product Features</h2>
        <div class="row float_left">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="o-product">
                    <div class="o-product_media">
                        <img src="/assets/img/landing/group13.png" alt="">
                    </div>
                    <div class="o-product_det">
                        <div class="o-product-det__title">
                            Channel
                        </div>
                        <p class="o-product-det__txt">
                        Channels are like folders to organize and share multi media content based on your specific skills to ensure you reach the right audience with similar interests.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="o-product">
                    <div class="o-product_media">
                        <img src="/assets/img/landing/spotfeed.png" alt="">
                    </div>
                    <div class="o-product_det">
                        <div class="o-product-det__title">
                            Spotfeed
                        </div>
                        <p class="o-product-det__txt">
                            Feeds designed, categorized & curated into multimedia channels of personal interests
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="o-product">
                    <div class="o-product_media">
                        <img src="/assets/img/landing/opportunity.png" alt="">
                    </div>
                    <div class="o-product_det">
                        <div class="o-product-det__title">
                            Opportunity
                        </div>
                        <p class="o-product-det__txt">
                            Artists can collaborate on projects with multiple forms of talents across all industries. Companies can post jobs full time or part time. Charity organizationscan seek volunteers and performers for events.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="o-product">
                    <div class="o-product_media">
                        <img src="/assets/img/landing/event.png" alt="">
                    </div>
                    <div class="o-product_det">
                        <div class="o-product-det__title">
                            Event
                        </div>
                        <p class="o-product-det__txt">
                            Users can create, invite, share & attend events which can be categorized into workshops, performances and movies that may be ticketed or offer free entry. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="o-product">
                    <div class="o-product_media">
                        <img src="/assets/img/landing/community.png" alt="">
                    </div>
                    <div class="o-product_det">
                        <div class="o-product-det__title">
                            Community
                        </div>
                        <p class="o-product-det__txt">
                            Hypnosis or Hypnotism, these words often puts, not surprisingly the layman in predicament. Stretch your swinging imagination and we see wild images of  
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="o-product">
                    <div class="o-product_media">
                        <img src="/assets/img/landing/pedia.png" alt="">
                    </div>
                    <div class="o-product_det">
                        <div class="o-product-det__title">
                            Pedia
                        </div>
                        <p class="o-product-det__txt">
                            Curated content for all art forms, crafts & skills required in the arts industry for any one aspiring to learn and progress in their fields, careers or interests. 
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>