<div class="landing_cont">
<section class="landing_top" style="background: url('https://cdn.onepagespotlight.com/v2/index/hero_bg.png') no-repeat; background-size: 100%; background-position: top;">
    <div class="container">
      <div class="row landing_top_block">
        <div class="landing-header">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <div class="landing_logo">
              <img [src]="base_image + 'v2/index/logo.svg'" class="img-responsive">
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <a [routerLink]="['/login']" class="btn btn-default btn-md o-landing-login">Log in</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 col-xl-7">
          <div class="landing_slider">
            <div class="slider_heading c-h2">
              Empowering artists to entertain and<br>inspire the world
            </div>
            <div class="slider_text c-text_lg">
              An ecosystem for the Arts & Entertainment community providing tools to exhibit work, network, collaborate on projects with other artists, craftspeople, and Organisations. Alongside, creating an immersive and entertaining experience for art lovers around the world.
            </div>
            <a [routerLink]="['/reg']" class="btn btn-primary btn-lg o-landing-signup-btn">Sign up</a>
              <!-- <a href="login.html" class="o-landing-more-btn m-l-16">Login</a> -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 landing_top_art">
          <img class="o-landing-hero_media" [src]="base_image + 'v2/index/hero.png'">
        </div>
      </div>
    </div>
</section>
<section class="o-platform-sec">
  <div class="container">
    <div class="row o-platform-det-block">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="c-h1 o-platform-title--margin text-center margin_b_32">
            Platform for <span class="color-theme">all</span>
          </div>
          <div class="row landing_for_artist">
            <ul class="o-platform-list">
              <li class="o-platform__item">
                <div class="o-platform__single">
                  <div class="c-text_md text_uppercase color-grey-dark f-w_600">
                    Talent
                  </div>
                </div>
              </li>
              <li class="o-platform__item">
                <div class="o-platform__single">
                  <div class="o-platform_dot"> </div>
                  <div class="c-text_md text_uppercase color-grey-dark f-w_600">
                    Stagecrafts
                  </div>
                </div>
              </li>
              <li class="o-platform__item">
                <div class="o-platform__single">
                  <div class="o-platform_dot"> </div>
                  <div class="c-text_md text_uppercase color-grey-dark f-w_600">
                    Techies
                  </div>
                </div>
              </li>
              <li class="o-platform__item">
                <div class="o-platform__single">
                  <div class="o-platform_dot"> </div>
                  <div class="c-text_md text_uppercase color-grey-dark f-w_600">
                    Corporates
                  </div>
                </div>
              </li>
              <li class="o-platform__item">
                <div class="o-platform__single">
                  <div class="o-platform_dot"> </div>
                  <div class="c-text_md text_uppercase color-grey-dark f-w_600">
                    Teachers
                  </div>
                </div>
              </li>
              <li class="o-platform__item">
                <div class="o-platform__single">
                  <div class="o-platform_dot"> </div>
                  <div class="c-text_md text_uppercase color-grey-dark f-w_600">
                    Art Lovers
                  </div>
                </div>
              </li>
            </ul>
            <div class="o-platform-media">
              <img [src]="base_image + 'v2/index/platform.png'" alt="">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="o-org">
  <div class="o-landing-org-block">
    <div class="o-org-overlay">
      <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 organization_padd">
          <div class="c-h2 margin_b_16 o-landing-organization__title color-white">
            Organisation
          </div>
          <p class=" c-text_lg o-organization__txt color-white">
            Always be on the lookout for new talent. Network and<br>discover artists and art lovers across all disciplines.
          </p>
          <button type="button" [routerLink]="['login']" [queryParams]="{ next: 'org/page/profile' }" class="btn btn-primary btn-lg margin_t_16">Try Organisation</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product-features">
    <div class="container">
        <h2 class="c-h2 o-landing-product--margin text-center float_left">Product Features</h2>
        <div class="row float_left">
          <div class="col-xs-6 col-md-4 col-sm-6 col-xs-6">
              <div class="o-product">
                  <div class="o-product_media">
                      <img [src]="base_image + 'v2/landing/channel.png'" alt="">
                  </div>
                  <div class="o-product_det">
                      <div class="o-product-det__title">
                          Channel
                      </div>
                      <p class="o-product-det__txt">
                        Channels are like folders to organize and share multi media content based on your specific skills to ensure you reach the right audience with similar interests.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4 col-sm-6 col-xs-6">
              <div class="o-product">
                  <div class="o-product_media">
                      <img [src]="base_image + 'v2/landing/spotfeed.png'" alt="">
                  </div>
                  <div class="o-product_det">
                      <div class="o-product-det__title">
                          Spotfeed
                      </div>
                      <p class="o-product-det__txt">
                          Feeds designed, categorized & curated into multimedia channels of personal interests
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4 col-sm-6 col-xs-6">
              <div class="o-product">
                  <div class="o-product_media">
                      <img [src]="base_image + 'v2/landing/opportunity.png'" alt="">
                  </div>
                  <div class="o-product_det">
                      <div class="o-product-det__title">
                          Opportunity
                      </div>
                      <p class="o-product-det__txt">
                         Artists can collaborate on projects with multiple forms of talents across all industries. Companies can post jobs full time or part time. Charity Organisations can seek volunteers and performers for events.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-xs-6 col-md-4 col-sm-6 col-xs-6">
              <div class="o-product">
                  <div class="o-product_media">
                      <img [src]="base_image + 'v2/landing/event.png'" alt="">
                  </div>
                  <div class="o-product_det">
                      <div class="o-product-det__title">
                          Event
                      </div>
                      <p class="o-product-det__txt">
                         Users can create, invite, share & attend events which can be categorized into workshops, performances and movies that may be ticketed or offer free entry. 
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4 col-sm-6 col-xs-6">
              <div class="o-product">
                  <div class="o-product_media">
                      <img [src]="base_image + 'v2/landing/community.png'" alt="">
                  </div>
                  <div class="o-product_det">
                      <div class="o-product-det__title">
                          Community
                      </div>
                      <p class="o-product-det__txt">
                        An effective way to build connection and engagement, communities help in bringing together people of the same interests, kick up conversations around the central theme of the group, and keep things vibrant 
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-6 col-md-4 col-sm-6 col-xs-6">
              <div class="o-product">
                  <div class="o-product_media">
                      <img [src]="base_image + 'v2/landing/pedia.png'" alt="">
                  </div>
                  <div class="o-product_det">
                      <div class="o-product-det__title">
                          Pedia
                      </div>
                      <p class="o-product-det__txt">
                         Curated content for all art forms, crafts & skills required in the arts industry for any one aspiring to learn and progress in their fields, careers or interests. 
                      </p>
                  </div>
              </div>
          </div>

        </div>
    </div>
</section>
</div>