<div class="o-post-result-block">
  <div *ngIf="post?.mtype === 'image'" class="o-post-result__prof-pic">
    <a routerLink="{{ '/profile/u/' + post?.ownerUserName }}" class="c-artist__avatar">
        <img *ngIf="post?.repopath; else no_post_image" src="{{ baseUrl + post?.repopath }}" class="c-artist__img">
        <ng-template #no_post_image>
          <img src="{{ baseUrl }}img/avatar.jpg" class="c-artist__img">
        </ng-template>
    </a>
  </div>
  <div *ngIf="post?.mtype === 'video'" class="o-post-result__prof-pic">
    <a routerLink="{{ '/profile/u/' + post?.ownerUserName }}" class="c-artist__avatar">
        <img *ngIf="post?.thumbNail; else no_video_thumb" src="{{ baseUrl + post?.thumbNail }}" class="c-artist__img">
        <ng-template #no_video_thumb>
          <img src="{{ baseUrl }}img/avatar.jpg" class="c-artist__img">
        </ng-template>
    </a>
    <span class="o-post-result__type m-16">
      <img src="{{ baseUrl }}img/svg/ico_video.svg" class="">
    </span>
  </div>
  <div *ngIf="post?.mtype === 'audio'" class="o-post-result__prof-pic">
    <a routerLink="{{ '/profile/u/' + post?.ownerUserName }}" class="c-artist__avatar">
        <img *ngIf="post?.thumbNail; else no_audio_thumb" src="{{ baseUrl + post?.thumbNail }}" class="c-artist__img">
        <ng-template #no_audio_thumb>
          <img src="{{ baseUrl }}img/avatar.jpg" class="c-artist__img">
        </ng-template>
    </a>
    <span class="o-post-result__type m-16">
      <img src="{{ baseUrl }}img/svg/ico_volume3.svg" class="">
    </span>
  </div>
  <div class="o-post-result__name">
    <h6 class="c-text_lg">
      <a class="c-text_lg" routerLink="{{ '/profile/u/' + post?.ownerUserName }}">
        {{ post?.ownerName }}
      </a>
      <span class="c-text_sm float_right color-grey-dark">{{ post?.createdDate | utcDate | date:'d MMM h:m a'}}</span>
    </h6>
    <p class="c-text_sm">
      <a [routerLink]="['', { outlets: { media : ['media', post?.id] } }]">
        {{ post?.description }}
      </a>
    </p>
  </div>
</div>