<section>
    <div class="container">
        <div class="comming-soon-container">
            <div class="col-md-6 comming-soon_txt">
                <h2>{{ data.mainTitle }}</h2>
                <p [innerHTML]="data.description"></p>
                <!--<div>{{ data.description }}</div>${this.name}-->
                <a routerLink="{{ data.buttonLink }}" class="btn btn-primary btn-md">{{ data.buttonText }}</a>
            </div>
            <div class="col-md-6">
                <img src="{{ data.img }}" alt="">
            </div>
        </div>
    </div>
</section>