<app-navigation></app-navigation>
<section class="container-fluid outer_container">
  <section class="container">
    <div class="row">
      <div class="col-md-12 terms_and_condition">
        <div class="row terms_txt">
          <!-- <h2>Terms and Conditions</h2> -->
          <div class="tc_h4">One Page Spotlight</div>
          <br>
          <div class="tc_h3">Privacy Policy</div>
          <p>Updated: 23th August, 2018</p>
          <br>
          <h2>
            <a id="INTRODUCTION_0"></a>INTRODUCTION</h2>
          <p>We are an online platform and social network for the arts and entertainment industry. Our services may be used
            by creative performing &amp; non-performing artists and organisations to network, co-create and explore opportunities
            to meet/advance their profession/career/ objectives.</p>
          <p>This policy explains how we collect, use, share and protect information in relation to our website located at
            <a
              href="http://www.onepagespotlight.com">www.onepagespotlight.com</a> or mobile services, off-site services like ad services and plug-ins, and any software
              provided on or in connection with One Page Spotlight services (collectively, the “Service”), and your choices
              about the collection and use of your information.</p>
          <p>By using our Service you understand and agree that we are providing a platform for you to post content, including
            videos, photos, audio, messages, comments and other materials (“User Content”), to the Service and to share User
            Content publicly. This means that other Users may search for, see, use, or share any of the content that you
            make publicly available through the Service, consistent with the terms and conditions of this Privacy Policy
            and our Terms of Use.</p>
          <h3>
            <a id="INFORMATION_THAT_WE_COLLECT_8"></a>INFORMATION THAT WE COLLECT</h3>
          <h4>
            <a id="information_that_you_provide_us_9"></a>information that you provide us</h4>
          <h5>
            <a id="When_Signing_Up__Using_Paid_Services_10"></a>When Signing Up &amp; Using Paid Services</h5>
          <p>To register with us you provide us with your name, email address and/or mobile number, and a password. If you register
            for a paid Service, we ask you for payment (e.g., credit card) and billing information. If you were to buy or
            use a service on behalf of someone else, you’d also provide us their shipping details and contact information.</p>
          <h5>
            <a id="When_You_Update_Your_Profile_12"></a>When You Update Your Profile</h5>
          <p>To update your profile, you may choose to provide us information such as age, gender, ethnicity, physique, body
            proportions, qualifications, work experience, skills, awards, achievements and contact information such as email
            address, telephone number, physical location, and any other information you provide us. Profile information helps
            you to get more from our Service, including helping potential collaborators, recruiters and opportunity providers
            to find you. If you use our mobile Service, you can choose to share your location data. It’s your choice whether
            to include&nbsp;sensitive information on your profile.&nbsp;Please do not post or add personal data to your profile
            that you would not want to be publicly available.</p>
          <h5>
            <a id="When_You_are_Posting_and_Uploading_14"></a>When You are Posting and Uploading</h5>
          <p>We collect personal data from you when you provide, post or upload it to our Services, such as when you create
            channels/spotfeeds that may consist of writings, compositions, photos, audio clips and/or videos that you make
            available. We also collect data when you create events, use our scheduler/calendar, fill out a form/survey, respond
            to a networking request, submit a resume and apply for or save jobs or send invitations. If you opt to import
            your address book, we receive your contacts (including contact information of your service provider(s) or app
            automatically added to your address book when you communicated with addresses or numbers not already in your
            list). If you sync your email or calendars with our Services, we will collect your “email header” and calendar
            meeting information (e.g. times, places, attendees and contacts).</p>
          <h5>
            <a id="When_using_messaging_services_16"></a>When using messaging services</h5>
          <p>We collect information about you when you send, receive, or engage with our messaging service. For example, if
            you get a networking request, we track whether you have acted on it and will send you reminders. We also use&nbsp;automatic
            scanning technology on messages.</p>
          <h3>
            <a id="information_from_others_19"></a>information from others</h3>
          <h5>
            <a id="In_Content_or_in_the_News_20"></a>In Content or in the News</h5>
          <p>You and others may post content that includes information about you on our Services (as part of channels, feed
            updates and comments). We may collect public information about you, such as profession-related news and accomplishments
            and make it available as part of our Services (e.g.&nbsp;suggestions for your profile, trending profiles/channels,
            or notifications of&nbsp;mentions in the news).</p>
          <h5>
            <a id="From_Contact_Lists_and_Calendar_Information_22"></a>From Contact Lists and Calendar Information</h5>
          <p>We may receive personal data about you when others import or sync their address book or calendar with our Services,
            or send messages using our Services (including invites or networking requests).</p>
          <h5>
            <a id="From_Other_Registered_Users_Customers_or_Partners_24"></a>From Other Registered Users, Customers or Partners</h5>
          <p>We receive personal data about you when you use the services of our customers and partners, such as prospective
            employers. Online advertisers typically share information with the websites or apps where they run ads to measure
            and/or improve those ads. We also receive this information, which may include information like whether clicks
            on ads led to purchases or a list of criteria to use in targeting ads.</p>
          <h4>
            <a id="technical_information_when_you_use_our_services_27"></a>technical information when you use our services</h4>
          <h5>
            <a id="Analytics_Information_28"></a>Analytics Information</h5>
          <p>We use third-party analytics tools to help us measure traffic and usage trends for the Service. These tools collect
            information sent by your device or our Service, including the web pages you visit, add-ons, and other information
            that assists us in improving the Service. We collect and use this analytics information with analytics information
            from other Users so that it cannot reasonably be used to identify any individual User. We respect “Do Not Track”
            browser settings. If you choose either of these options, we make best efforts not to send any data about your
            user behaviour, anonymized or otherwise, to any other third party service provider. Please be aware that there
            may be other services that you are using that may continue to send information to Google when you use the Site,
            even if you have asked us not to send information through our services.</p>
          <h5>
            <a id="Cookies__Similar_Technologies_30"></a>Cookies &amp; Similar Technologies</h5>
          <p>When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage
            to collect information about how you use One Page Spotlight and provide features to you. We may ask advertisers
            or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed
            by us or the third party.</p>
          <h5>
            <a id="Usage_Log_Files_32"></a>Usage Log Files</h5>
          <p>Log file information is automatically reported by your browser each time you make a request to access (i.e., visit)
            a web page or app. It can also be provided when the content of the webpage or app is downloaded to your browser
            or device. When you use our Service, our servers automatically record certain log file information, including
            your web request, Internet Protocol (“IP”) address, browser type, referring / exit pages and URLs, number of
            clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such
            information. We may also collect similar information from emails sent to our Users which then help us track which
            emails are opened and which links are clicked by recipients. The information allows for more accurate reporting
            and improvement of the Service.</p>
          <h5>
            <a id="Device__Location_Identifiers_34"></a>Device &amp; Location Identifiers</h5>
          <p>When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store
            on your device, and/or remotely store one or more “device identifiers.” Device identifiers are small data files
            or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile
            device. A device identifier may be data stored in connection with the device hardware, data stored in connection
            with the device’s operating system or other software, or data sent to the device by One Page Spotlight.
            <br> A device identifier may deliver information to us or to a third party partner about how you browse and use the
            Service and may help us or others provide reports or personalized content and ads. Most devices allow you to
            prevent location data from being sent to us and we honor your settings.</p>
          <h5>
            <a id="Metadata_37"></a>Metadata</h5>
          <p>Metadata is usually technical data that is associated with User Content. For example, Metadata can describe how,
            when and by whom a piece of User Content was collected and how that content is formatted. Users can add or may
            have Metadata added to their User Content including a hashtag (e.g., to mark keywords when you post a video),
            geotag (e.g., to mark your location to a photo), comments or other data. This makes your User Content more searchable
            by others and more interactive. If you geotag your photo or tag your photo using other’s APIs then, your latitude
            and longitude will be stored with the photo and searchable (e.g., through a location or map feature) if your
            photo is made public by you in accordance with your privacy settings.</p>
          <h3>
            <a id="HOW_WE_USE_INFORMATION_THAT_WE_COLLECT_40"></a>HOW WE USE INFORMATION THAT WE COLLECT</h3>
          <h5>
            <a id="to_provide_services__both_our_own__other_service_providers_41"></a>to provide services – both our own &amp; other service providers</h5>
          <p>We use the information we collect to provide our Services to you and make them better, develop new products/services,
            and to protect our users. If you make a purchase on One Page Spotlight, we’ll save your payment information and
            contact information so that you can use them the next time you want to buy something on our website.
            <br> We may sell premium Services that provide our customers enhanced-search functionality and tools. These subscribers
            can export information provided on your profile page like name, occupation, skills, location and contact information
            that you have made accessible for everyone to view on your profile. If you have marked your profile as a private
            account in the privacy settings page, we do not provide them to these subscribers as part of these premium Services
            without your consent. Under no circumstance do we enable other customers the ability to export any content posted
            by you, other than your profile information.
            <br> We also may share your information as well as information from tools like cookies, log files, and device identifiers
            and location data, with third-party organizations that help us provide the Service to you (“Service Providers”).
            Our Service Providers will be given access to your information as is reasonably necessary to provide the Service
            under reasonable confidentiality terms.</p>
          <h5>
            <a id="for_communications_46"></a>for communications</h5>
          <p>We also use the information we collect to offer you customized content, including suggested channels/spotfeeds,
            profiles, opportunities or events based on your interest.
            <br> We may contact you through email, notices posted on our websites or apps, messages to your inbox, and other
            ways through our Services, including text messages and push notifications. We will send you messages about the
            availability of our Services, security, or other service-related issues. You may change your communication&nbsp;preferences&nbsp;at
            any time, please contact us if you prefer not to receive e-mails from us. Please be aware that you cannot opt
            out of receiving service messages from us, including security and legal notices.
            <br> We also enable&nbsp;communications&nbsp;between you and others through our Services, including through likes,
            posts, invitations &amp; messages&nbsp;between connections.</p>
          <h5>
            <a id="for_advertising__marketing_51"></a>for advertising &amp; marketing</h5>
          <p>We may also share certain information such as cookie data with third-party advertising partners. This information
            would allow third-party ad networks to, among other things, deliver targeted advertisements that they believe
            will be of most interest to you.
            <br> We measure the performance of ads to subscribers and visitors to our website through a variety of ad networks
            and exchanges, using data collected through the following means, whether separately or combined: a. Cookies,
            device/location identifiers and similar technologies, b. Subscriber provided information, c. Data from your use
            of our Services (e.g., search history, content you read, who you follow or is following you, connections, participation,
            page visits, videos you watch, clicking on an ad, etc.) d. Information from others (e.g. advertising partners,
            publishers and data aggregators).
            <br> We will show you ads called&nbsp;sponsored content&nbsp;or sponsored profiles which look like similar non-sponsored
            content, except that they are labeled ads or sponsored. If you take an action (such as spot, comment or share)
            on these ads, your action is associated with your name and viewable by others, including the ad provider.
            <br> We adhere to&nbsp;self-regulatory principles&nbsp;for interest-based advertising and participate in industry&nbsp;opt
            outs&nbsp;from such ads. This does not opt you out of receiving advertising - you will continue to get generic
            ads or ads by advertisers not listed with these self regulatory tools. You can also&nbsp;contact us to opt out&nbsp;specifically
            from interest-based advertising served through our platform for third parties. Non-Members, may contact us, to
            opt out of emails.</p>
          <h5>
            <a id="for_research__further_product_development_57"></a>for research &amp; further product development</h5>
          <p>We seek to create economic opportunity for members of the arts and entertainment industry and to help them be more
            productive and successful. We use the data available to us to research social, economic and geographical trends
            in the industry. In some cases, we may work with trusted third parties to perform this research, under&nbsp;controls&nbsp;that
            are designed to protect your privacy. We may publish or allow others to publish economic insights, presented
            as aggregated data rather than personal data.</p>
          <h5>
            <a id="for_customer_support_60"></a>for customer support</h5>
          <p>We may use the data (which can include your contact information) needed to investigate, respond to and resolve
            complaints and Service issues.</p>
          <h5>
            <a id="for_analytics_63"></a>for analytics</h5>
          <p>We may use your information to produce aggregate insights that do not identify you. For example, we may use your
            data to generate statistics about our users, their profession and skills or industry, the number of ad impressions
            served or clicked on, or the demographic distribution of visitors to our site.</p>
          <h5>
            <a id="for_security_71"></a>for security</h5>
          <p>We may use your data (including your communications) if we think it’s necessary for security purposes or to investigate
            possible fraud or other violations of our User Agreement or this Privacy Policy and/or attempts to harm our Subscribers
            or Visitors.</p>
          <h5>
            <a id="Third_party_embeds_74"></a>Third party embeds</h5>
          <p>Some of the content that you see displayed on One Page Spotlight is not hosted by One Page Spotlight. These “embeds”
            are hosted by a third-party and embedded in One Page Spotlight. For example: YouTube or Vimeo videos, Imgur or
            Giphy gifs, SoundCloud audio files, Twitter tweets, GitHub code, or Scribd documents that appear within a One
            Aphe Spotlight post. These files send data to the hosted site just as if you were visiting that site directly
            (for example, when you load a One Page Spotlight post page with a YouTube video embedded in it, YouTube receives
            data about your activity). One Page Spotlight does not control what data third parties collect in cases like
            this, or what they will do with it. So, third-party embeds on One Page Spotlight are not covered by this privacy
            policy. They are covered by the privacy policy of the third-party service.</p>
          <p>Some embeds may ask you for personal information, such as your email address, through a form. We do our best to
            keep bad actors from One Page Spotlight. However, if you choose to submit your information to a third party this
            way, we don’t know what they may do with it. As explained above, their actions are not covered by this Privacy
            Policy. So, please be careful when you see embedded forms on One Page Spotlight asking for your email address
            or any other personal information. Make sure you understand whom you are submitting your information to and what
            they say they plan to do with it. We suggest that you do not submit personal information to any third-party through
            an embedded form.</p>
          <p>If you embed a form that allows submission of personal information by users, you must provide near the embedded
            form a prominent link to an applicable Privacy Policy that clearly states how to you intend to use any information
            collected. Failure to do so may lead One Page Spotlight to disable the post or take other action to limit or
            disable your account.</p>
          <h5>
            <a id="Data_Security_81"></a>Data Security</h5>
          <p>We use encryption (HTTPS/TLS) to protect data transmitted to and from our site. However, no data transmission over
            the Internet is 100% secure, so we can’t guarantee security. You use the Service at your own risk, and you’re
            responsible for taking reasonable measures to secure your account.</p>
          <h3>
            <a id="Data_Protection_Statement_for_European_Union_Users_84"></a>Data Protection Statement for European Union Users</h3>
          <h5>
            <a id="Description_of_Processing_Activity_86"></a>Description of Processing Activity</h5>
          <p>One Page Spotlight collects and stores personal information about its users to customize their reading experience
            and enable personalized distribution of content. It shares minimal data with its service providers.</p>
          <p>Purposes of Processing
            <br> Provide, test, promote, and improve the services
            <br> Gather usage statistics of services
            <br> Provide customized usage experience
            <br> Publish and distribute user-generated content
            <br> Provide access to paid content
            <br> Fight spam, fraud, and other abuse of services</p>
          <h5>
            <a id="Legal_Bases_98"></a>Legal Bases</h5>
          <p>In order to provide the services, One Page Spotlight collects and stores personal data about its users on the legal
            basis of consent given when you create an account and agree to the Privacy Policy.</p>
          <p>One Page Spotlight also pursues its legitimate interests by collecting minimal data of logged out users to provide
            the services, as outlined above.</p>
          <p>Where One Page Spotlight collects and stores personal data about non-users, it does so under performance of contract
            obligations with users who use the services to publish content on web sites hosted by One Page Spotlight. In
            such cases, users authoring such content containing personal data of third parties are responsible for that content.
            One Page Spotlight will consider related complaints in compliance with the General Data Protection Regulation’s
            rights of the data subject, as well as rights of expression and access to information.</p>
          <h5>
            <a id="Public_Nature_of_Personal_Data_105"></a>Public Nature of Personal Data</h5>
          <p>Logged-in users may choose to interact publicly with the One Page Spotlight Services in the form of spotting for
            a post, highlighting parts of a post, following other user accounts, sharing links on connected social media
            accounts, or writing original posts. Where such personal data may reveal special category protected data, it
            is processed on the basis that it is manifestly made public by the user. Additional information on potential
            consequences of such processing can be found below. If you do not agree to this public usage, do not create an
            account or use these features of One Page Spotlight Services.</p>
          <h5>
            <a id="Categories_of_Personal_Data_Collected_108"></a>Categories of Personal Data Collected</h5>
          <p>Logged out users:
            <br> Reading history
            <br> IP address
            <br> Browser information
            <br> DNT status</p>
          <p>Logged in users:
            <br> Username
            <br> Display Name
            <br> Bio
            <br> Display &amp; cover Image
            <br> Email address ( non-public)
            <br> Session activity( security)
            <br> IP address
            <br> Browser information
            <br> Site usage history (within One Page Spotlight network)
            <br> Posts, comments, spots and Network interactions
            <br> Business information ( if applicable)
            <br> Billing information and history
            <br> Bank account, credit card or payment information (If applicable)</p>
          <h5>
            <a id="Categories_of_recipients_131"></a>Categories of recipients</h5>
          <p>One Page Spotlight shares minimal personal data with third-party processors in order to provide the Services. These
            processors offer at least the same level of data protection as that set out in this statement. This includes
            the following categories of recipients:
            <br> Hosting, Storage, &amp; Other Infrastructure
            <br> Security
            <br> Analytics
            <br> Communication &amp; support
            <br> Payment Processors</p>
          <p>Search engines will index user profiles, public interactions, and any user-generated content. Users may also share
            links to your content on social media.</p>
          <h5>
            <a id="Payment_Processors_142"></a>Payment Processors</h5>
          <p>One Page Spotlight provides Services in conjunction with several payment processors, including: Stripe, Paypal,
            Google Play, and Apple Pay, through which users may pay for One Page Spotlight memberships. Those companies acting
            as payment processors may collect and store personal data related to your billing information and history in
            order to provide their services and may collect and store personal data and business data to prevent fraud and
            other abuse.</p>
          <p>When you delete your One Page Spotlight account, One Page Spotlight deletes your personal data as outlined in this
            document. However, to delete your payment or billing information, you will need to do so with your payment provider,
            as One Page Spotlight only has minimal secure access to those records as needed to provide the services.</p>
          <h5>
            <a id="Embedded_Content_147"></a>Embedded Content</h5>
          <p>One Page Spotlight posts may contain third-party embeds, which may in some cases collect and store personal data.
            The use of personal data by embedded content providers is not covered by this statement, but by the privacy policies
            of those sites or services.</p>
          <h5>
            <a id="Existence_of_Automated_Decisionmaking_150"></a>Existence of Automated Decision-making</h5>
          <p>One Page Spotlight collects and stores personal data about its users to customize reading. This includes automated
            decision-making to promote content tailored to the preferences and interests indicated by the user, and to their
            browsing history and network interactions.</p>
          <p>One Page Spotlight also filters content for the purposes of fighting and preventing spam, fraud, and other forms
            of abuse.</p>
          <h5>
            <a id="Potential_Consequences_of_Processing_155"></a>Potential Consequences of Processing</h5>
          <p>By creating an account on One Page Spotlight, users may make certain personal data about themselves public and
            accessible to others on their profile and through network interactions. This may in some cases constitute special
            category protected data which is considered manifestly made public by the user.
            <br> Due to the public nature of information posted to One page Spotlight, it may be possible for third parties to
            derive identifying personal data from posts, whether by reading, inference, supplemental research, or automated
            extraction and analysis.
            <br> Users are free to use their real name and information, or a pseudonym of their choosing, for their account.
            Users may also choose to use the service without posting data or engaging in network interactions. However, if
            you do not agree with and accept the risks of such usage, you may not use the services.</p>
          <h5>
            <a id="Cross_Border_transfers_160"></a>Cross Border transfers</h5>
          <p>One Page Spotlight is hosted in the United States and India. By using One Page Spotlight Services, you authorize
            One Page Spotlight to transfer, store, and use your information in the United States, India and any other country
            where we operate. Where your data is disclosed to our processors, it is subject by contract to at least the same
            level of data protection as that set out in this statement.</p>
          <h5>
            <a id="Date_retention_163"></a>Date retention</h5>
          <p>One Page Spotlight retains personal data associated with your account for the lifetime of your account. If you
            would like to delete your personal information, you can delete your account at any time. Deleted account profile
            pages will yield an error 404 “file not found” page, immediately upon initiating deletion, and will become unrecoverable
            in our system after a period of fourteen days. It may take several additional days for your personal data to
            be de-indexed from search engines, depending on those search engines’ practices, over which One Page Spotlight
            may have limited or no control.</p>
          <p>To delete your payment or billing information, you will need to do so with your payment provider, as One Page Spotlight
            only has minimal secure access to those records as needed to provide the services.</p>
          <h5>
            <a id="Rights_of_Data_Subjects_168"></a>Rights of Data Subjects</h5>
          <p>If you sign up for an One Page Spotlight account, you may at any time request an export of your personal information
            from the By writing to us at contact@
            <a href="http://onepagespotlight.com">onepagespotlight.com</a>
            <br> You may correct information associated with your account from the Settings page, and the Customize Your Interests
            page to update your interests.
            <br> You may withdraw consent by deleting your account at any time through the Settings page, which will erase your
            personal information completely within 14 days (except to the extent One Page Spotlight is prevented by law from
            deleting your information).
            <br> You may object at any time to the use of your personal data by contacting
            <a href="mailto:contact@onepagespotlight.com">contact@onepagespotlight.com</a>. If your complaint relates to alleged misuse of your personal data by a third
            party, it may result in suspension of that post or account in keeping with relevant law, public interest, our
            contractual obligations, and the rights of expression and access to information of others.
            <br> You may at any time lodge a complaint regarding the processing of your personal data by One Page Spotlight with
            the Supervisory Authority of your EU member state.</p>
          <h3>
            <a id="INFORMATION_THAT_WE_PROVIDE_176"></a>INFORMATION THAT WE PROVIDE</h3>
          <h5>
            <a id="through_our_services_177"></a>through our services</h5>
          <h6>
            <a id="Profile_Information_178"></a>Profile Information:</h6>
          <p>Your profile is fully visible to all Subscribers and customers of our Services. As per your privacy settings, the
            subscriptions that a particular user may have, their&nbsp;usage of our Services, access channels and search types
            (e.g., by name or by keyword) impact the availability of your profile and certain fields.</p>
          <h6>
            <a id="Posts_Spots_Follows_Comments_Messages_180"></a>Posts, Spots, Follows, Comments, Messages:</h6>
          <p>Our Services allow viewing and sharing information including through posts, follows and comments. When you share
            a post (e.g., create a Channel/Spotfeed), the default (which you can&nbsp;change) is to share it publicly. Others
            who are not your connections will be able to find (including through search engines) and see your post.
            <br> When you spot, comment on or share another’s post, others will see it, including the person who initiated the
            post.
            <br> In a&nbsp;Channel/Spotfeed, posts are visible to others following the Channel/Spotfeed. Your following a Channel/Spotfeed
            is public and part of your profile unless you change the default&nbsp;settings.
            <br> When you follow a person or organization, you are visible to others and that “profile owner” as a follower.
            We provide aggregate insights about the followers and viewers to the respective profile owners.
            <br> We let senders know when you act on their message, subject to your&nbsp;settings&nbsp;where applicable.</p>
          <h6>
            <a id="through_others_Services_187"></a>through others’ Services</h6>
          <p>Subject to your privacy settings, information on your profile may appear in services of others like search engine
            results.
            <br> If you were to share links to your profile and content on One Page Spotlight in other social media or anywhere
            online, others are likely to look-up the same.
            <br> We are not responsible for the practices employed by any websites or services linked to or from our Service,
            including the information or content contained within them. Please remember that when you use a link to go from
            our Service to another website or service, our Privacy Policy does not apply to those third-party websites or
            services. Your browsing and interaction on any third-party website or service, including those that have a link
            on our website, are subject to that third party’s own rules and policies. In addition, we are not responsible
            and do not have control over any third-parties that you authorize to access your User Content. If you are using
            a third-party website or service and you allow them to access your User Content you do so at your own risk.</p>
          <h6>
            <a id="to_third_party_service_providers_193"></a>to third party service providers</h6>
          <p>We use others to help us provide our Services (e.g., maintenance, analysis, audit, payments, fraud detection, marketing
            and development). They will have access to your information as reasonably necessary to perform these tasks on
            our behalf and are obligated to not to disclose or use it for other purposes.</p>
          <h6>
            <a id="for_legal_disclosures__law_enforcement_196"></a>for legal disclosures &amp; law enforcement</h6>
          <p>We may access, preserve and share your information in response to a legal request (like a search warrant, court
            order or subpoena) if we have a good faith belief that the law requires us to do so. This may include responding
            to legal requests from jurisdictions outside of the United States where we have a good faith belief that the
            response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with
            internationally recognized standards. We may also access, preserve and share information when we have a good
            faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves,
            you and others, including as part of investigations; and to prevent death or imminent bodily harm. Information
            we receive about you may be accessed, processed and retained for an extended period of time when it is the subject
            of a legal request or obligation, governmental investigation, or investigations concerning possible violations
            of our terms or policies, or otherwise to prevent harm.</p>
          <h6>
            <a id="in_case_of_change_in_management_control_199"></a>in case of change in management control</h6>
          <p>If we sell or otherwise transfer part or the whole of One Page Spotlight or our assets to another organization
            (e.g., during a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information
            such as name and email address, User Content and any other information collected through the Service may be among
            the items sold or transferred. You will continue to own your User Content. The buyer or transferee will have
            to honour the commitments we have made in this Privacy Policy.</p>
          <h3>
            <a id="YOUR_CHOICES_ABOUT_YOUR_INFORMATION_204"></a>YOUR CHOICES ABOUT YOUR INFORMATION</h3>
          <h5>
            <a id="you_control_your_data_205"></a>you control your data</h5>
          <p>Access and change information in your&nbsp;profile&nbsp;at any time, you can choose whether your profile is available
            to search engines or choose whether others can find your One Page Spotlight account using your email address/contact
            number by marking your profile as a private account. You can login and update your privacy settings anytime.
            <br> Unsubscribe from email communications from us by clicking on the “unsubscribe link” provided in such communications.
            You cannot opt out of Service-related communications (e.g., account verification, purchase and billing confirmations
            and reminders, changes/updates to features of the Service, technical and security notices).</p>
          <h5>
            <a id="your_Spotfeed__spotscore_209"></a>your Spotfeed &amp; spotscore</h5>
          <p>Create or control who can access each of your Spotfeed/Channels.
            <br> Public Spotfeed/Channels are visible to all. For Public Spotfeed/Channels, any members may choose to make the
            contents available for viewing and sharing to anyone else.
            <br> If you choose to mark a Spotfeed/Channel as ‘Private’, they are visible to you by default and those specific
            members or your list of followers with whom you have shared the content. For Private Spotfeed/Channels, members
            or followers with whom you have shared the Spotfeed/Channel will be unable to share the content with anyone else.
            However please remember that another member or follower may just take an image from the Spotfeed/Channel and
            email it to their friends.
            <br> You have the choice of who can see your Spotscore. You may decide to keep the Spotscore private (viewable only
            to you) or provide limited access (to specific members and followers only) or make it public (viewable by all).</p>
          <h5>
            <a id="account_closure__data_retention_216"></a>account closure &amp; data retention</h5>
          <p>If you choose to close your&nbsp;One Page Spotlight account or if your account is deactivated or terminated, your
            personal data will generally stop being visible to others on our Services within 24 hours. We delete closed account
            information within 30 days of account closure (or a commercially reasonable time). However, we will retain your
            personal information if reasonably necessary to comply with our legal obligations (including law enforcement
            requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud, spam and abuse,
            enforce our User Agreement, or fulfil your request to “unsubscribe” from further messages from us. We will retain
            de-personalized information after your account has been closed.
            <br> Information you have shared with others (e.g., through messages, likes, updates or group posts) will remain
            visible after you closed your account or deleted the information from your own profile or mailbox, and we do
            not control data that other members copied out of our Services. Your profile may continue to be displayed in
            the services of others (e.g., search engine results) until they refresh their cache.
            <br> .
          </p>
          <h5>
            <a id="OUR_POLICY_ON_CHILDRENS_INFORMATION_222"></a>OUR POLICY ON CHILDREN’S INFORMATION</h5>
          <p>One Page Spotlight does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly
            allow such persons to register for the Service. The Service and its content are not directed at children under
            the age of 13. In the event that we learn that we have collected personal information from a child under age
            13 without parental consent, we will delete that information as quickly as possible. If you believe that we might
            have any information from or about a child under 13, please&nbsp;contact us.</p>
          <p>We recognize the need to provide further privacy protections with respect to&nbsp;personal information&nbsp;we
            may collect from or about&nbsp;children&nbsp;on our sites and&nbsp;applications. Some of the features or content
            on our sites and applications are age-gated so that they are not available for use by children, and we do not
            knowingly collect personal information from children in connection with those features. COPPA requires that we
            inform parents and legal guardians about how we collect, use, and disclose personal information from children
            under 13 years of age.</p>
          <h5>
            <a id="DATA_TRANSFER_229"></a>DATA TRANSFER</h5>
          <p>Your information collected through the Service may be stored and processed in the United States, India or any other
            country in which One Page Spotlight, its Affiliates or Service Providers maintain facilities.
            <br> One Page Spotlight, its Affiliates, or Service Providers may transfer information that we collect about you,
            including personal information across borders and from your country or jurisdiction to other countries or jurisdictions
            around the world. If you are located in the European Union or other regions with laws governing data collection
            and use that may differ from U.S. law, please note that we may transfer information, including personal information,
            to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.
            <br> By registering for and using the Service you consent to the transfer of information to the U.S., India or to
            any other country in which One Page Spotlight, its Affiliates or Service Providers maintain facilities and the
            use and disclosure of information about you as described in this Privacy Policy.
            <br> We use commercially reasonable safeguards to help keep the information collected through the Service secure
            and take reasonable steps (such as requesting a unique password &amp; One Time Password verification) to verify
            your identity before granting you access to your account. However, One Page Spotlight cannot ensure the security
            of any information you transmit to One Page Spotlight or guarantee that information on the Service may not be
            accessed, disclosed, altered, or destroyed.
            <br> Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and
            account information.</p>
          <h5>
            <a id="REPORTING_OF_CONTENT_236"></a>REPORTING OF CONTENT</h5>
          <p>User can report about the content, profile, organization etc. that user feel is not appropriate as per the One
            Page Spotlight. We will monitor the number of people reporting the content and use our discretion to delete or
            restrict access.</p>
          <h5>
            <a id="CHANGES_TO_PRIVACY_POLICY_241"></a>CHANGES TO PRIVACY POLICY</h5>
          <p>One Page Spotlight may modify or update this Privacy Policy from time to time, so please review it periodically.
            We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances.
            Your continued use of One Page Spotlight or the Service after any modification to this Privacy Policy will constitute
            your acceptance of such modification.</p>
          <h3>
            <a id="ONE_PAGE_SPOTLIGHT_COMMUNITY_GUIDELINES_244"></a>ONE PAGE SPOTLIGHT COMMUNITY GUIDELINES</h3>
          <p>At One Page Spotlight we’ve created a list of community guidelines that we ask all members adhere to. Members found
            to be acting outside of our guidelines risk account suspension or removal from One Page Spotlight.</p>
          <h6>
            <a id="Please_do_not_threaten_people_248"></a>Please do not threaten people.</h6>
          <p>This includes threats of violence, and threats to hurt others in any way.</p>
          <h6>
            <a id="Please_do_not_post_others_personal_information_251"></a>Please do not post others’ personal information.</h6>
          <p>Please do not post any personal information of other members or third parties unless you have express permission
            from them to do so.</p>
          <h6>
            <a id="Please_do_not_hate_254"></a>Please do not hate.</h6>
          <p>Slurs or hate speech, including denigrating comments involving race, sexual orientation, religious or political
            belief, age, or just about anything else, whether personal or general are not allowed.</p>
          <h6>
            <a id="Please_do_not_promote_selfharm_257"></a>Please do not promote self-harm.</h6>
          <p>Please do not post content that glorifies self-harm. Please do not encourage others to harm themselves.</p>
          <h6>
            <a id="Please_do_not_spam_260"></a>Please do not spam.</h6>
          <p>Please do not use fake tags or deceptive links or try to mislead others about the things you post. Please do not
            use malware or other deceptive code when you post. Please do not phish. Please do not follow large amounts of
            members in bulk for the sole purpose of leading them to your profile.</p>
          <h6>
            <a id="Please_do_not_automate_263"></a>Please do not automate.</h6>
          <p>One Page Spotlight is for human networking, not bots.</p>
          <h6>
            <a id="Please_do_not_infringe_on_other_peoples_copyrights_and_trademarks_266"></a>Please do not infringe on other people’s copyrights and trademarks.</h6>
          <p>Please do not post content that belongs to third parties without their consent. Please make sure you have the right
            to post the content that you share on One Page Spotlight. Please only post content that is legal. You cannot
            post content that violates governmental law or regulation.</p>
          <h6>
            <a id="Please_do_not_squat_on_usernames_269"></a>Please do not squat on usernames.</h6>
          <p>Please do not register a username that you are not going to use yourself. Please do not register a username to
            prevent someone else from using it. Usernames that have not been actively used for an extended period may be
            reclaimed.</p>
          <h6>
            <a id="Please_do_not_impersonate_others_272"></a>Please do not impersonate others.</h6>
          <p>Be yourself, or a version of yourself. Please do not pretend to be someone else.</p>
          <p>Please do not post anything inappropriate about minors, including things that are violent or sexual in nature.</p>
          <p>Please do not use One Page Spotlight to intrude on another people’s privacy.</p>
          <h6>
            <a id="Regarding_NSFW_content_279"></a>Regarding NSFW content;</h6>
          <p>If you regularly post adult-oriented content, otherwise deemed NSFW, please respect those in our community that
            do not wish to see it by flagging your profile Not Safe for Work (NSFW).
            <br> To designate your profile NSFW, visit our Settings page under the heading, NSFW, “Post Adult Content.”
            <br> If you regularly post adult content and do not mark your account NSFW, we may ask you to do so, or we may flag
            your account NSFW for you. If you abuse our NSFW rules, your account may be suspended or removed.
            <br> If you choose not to view adult content, all NSFW posts will be hidden and NSFW member profiles and headers
            will be blocked accordingly.</p>
          <h6>
            <a id="Please_do_not_be_a_technological_nuisance_285"></a>Please do not be a technological nuisance.</h6>
          <p>Please do not try to circumvent or compromise our security or access non-public areas of One Page Spotlight. Please
            do not use robots or other automated technology to access One Page Spotlight. Please do not scrape content from
            One Page Spotlight. Please do not try to deceive members or the general public. Please do not intentionally load
            test our Service to see how much traffic One Page Spotlight can handle. Please Do not distribute viruses or malware
            to or through One Page Spotlight.</p>
          <h6>
            <a id="Please_respect_your_fellow_community_members_288"></a>Please respect your fellow community members.</h6>
          <p>If someone has blocked you, please respect their decision and do not try to communicate with them through an alternative
            account.</p>
          <p>One Page Spotlight’s community guidelines expressly forbid posting abusive content of any kind, including content
            that portrays or encourages violence towards people or animals.
            <br> If you do not adhere to our community guidelines we may contact you and ask you to adhere.
            <br> If you do not comply, your account may be suspended or removed, and your username forfeited. We reserve the
            right to enforce or not to enforce these guidelines in whatever way we see fit, at our sole discretion.
            <br> It is important to note that One Page Spotlight’s community guidelines and supporting policies do not create
            a duty or contractual obligation for us to act in any manner. We reserve the right to change these guidelines
            at our discretion.
            <br> If you encounter abusive behavior or someone who is not acting in accordance with our Community Guidelines,
            please report it by contacting
            <a href="mailto:contact@onepagespotlight.com">contact@onepagespotlight.com</a>. Our support team will assess the situation and take necessary action.</p>
          <h3>
            <a id="GRIEVANCE_OFFICER_297"></a>GRIEVANCE OFFICER</h3>
          <p>In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of
            the Grievance Officer are provided below:</p>
          <p>Mr. Baban Balan</p>
          <h5>
            <a id="ElephantGod_Enterprises_Pvt_Ltd_301"></a>ElephantGod Enterprises Pvt Ltd</h5>
          <p>3rd Floor, 3794, 7th Main,
            <br> Motappapalya, HAL IInd Stage,
            <br> Indiranagar, Bengaluru 560038</p>
          <p>Time: Mon to Fri (10:00 to 18:00)</p>
          <h3>
            <a id="CONTACT_INFORMATION_308"></a>CONTACT INFORMATION</h3>
          <p>If you have any questions about this Privacy Policy or the Service, please contact us@onepagespotlight.</p>
        </div>
      </div>
    </div>
  </section>
</section>
