<app-navigation></app-navigation>
<section class="container-fluid outer_container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 terms_and_condition">
                <div class="row terms_txt">
                    <!-- <h2>Terms and Conditions</h2> -->
                    <div class="tc_h4">One Page Spotlight</div>
                    <br>
                    <div class="tc_h3">Privacy Policy</div>
                    <p>Updated: 14th August, 2017</p>
                    <br>
                    <div class="tc_h5">INTRODUCTION</div>
                    <p>
                        One Page Spotlight respects the intellectual property rights of others and we expect people on One Page Spotlight to do the same. It’s our policy—in appropriate circumstances and at our discretion—to disable or terminate the accounts of people who repeatedly infringe or are repeatedly charged with infringing&nbsp;copyrights or other intellectual property rights.
                    </p>
                    <p>
                        In keeping with the Digital Millennium Copyright Act, which you can read at the&nbsp;US&nbsp;Copyright Office website, we’ll respond quickly to claims of copyright infringement on One Page Spotlight that are reported to us.
                    </p>
                    <p>
                        If you’re a copyright owner or authorized to act on behalf of one, you can report alleged copyright infringements on One Page Spotlight by completing the DMCA Notice of Alleged Infringement and sending it to us by filling out the <a href="javascript:void(0)">Copyright Complaint form</a> online or by contacting our designated copyright agent.
                    </p>
                    <p>
                        When we get your DMCA notice, we’ll take whatever action we think is appropriate, which may include removing the reported content from One Page Spotlight.&nbsp; If we remove content in response to a DMCA notice, we may notify the person who saved it on One Page Spotlight so they have the opportunity to send a counter-notice. We may also send a complete copy of the notice to others, as appropriate.
                    </p>
                    <p>
                        Please note that any notice or counter-notice you submit must be truthful and must be submitted under penalty of perjury. A false notice or counter-notice may give rise to personal liability. You may therefore want to seek the advice of legal counsel before submitting a notice or a counter-notice.
                    </p>
                    <br>
                    <div class="tc_h5">Submitting a copyright complaint</div>
                    <p>To submit a DMCA notice, just fill out our copyright complaint form.</p>
                    <p>If you'd prefer not to use this form, please send the following information to our designated copyright agent:</p>
                    <ol>
                        <li> Identify the copyrighted work you believe has been infringed. If you’re reporting multiple copyrighted works, you can provide a representative list of those copyrighted works.
                        </li>
                        <li> Identify the content on One Page Spotlight you claim to be infringing your rights, including the information we need to help us find it, like the URL to the page on One Page Spotlight.</li>
                        <li> Provide your mailing address, phone number and email address.</li>
                        <li> Include both of these statements in the body of your notice:
                            <ul>
                                <li> "I hereby state that I have a good faith belief that the disputed use of the copyrighted material or reference or link to such material is not authorized by the copyright owner, its agent, or the law (for example, as a fair use)."</li>
                                <li> "I hereby state that the information in this notice is accurate and, under penalty of perjury, that I’m the owner, or authorized to act on behalf of the owner of the copyright or of an exclusive right under the copyright that’s allegedly infringed."
                                </li>
                            
                        </ul>
                        </li><li> Include your full legal name and your electronic or physical signature (for example, by typing your full name). </li>
                    </ol>
                    <p>
                        Send your completed DMCA notice to:
                        <br> One Page Spotlight Copyright Agent
                        <br> Address Line 1
                        <br> City, State ZIP
                        <br> Email:
                        <a href="mailto:copyright@onepagespotlight.com">copyright@onepagespotlight.com</a>
                    </p>
                    <p>
                        Note: This email address should only be used for copyright complaints. If you need to get in touch with us for any other reason, please&nbsp;visit our <strong>Help Center</strong>.
                    </p>
                    <br>
                    <div class="tc_h5">What if I get a DMCA (Copyright Violation) Notification?</div>
                    <p>If you’ve gotten a notification that any of your content on One Page Sportlight has been removed for a copyright complaint, it means the content owner asked us to remove it. If you want us to forward the information from the copyright complaint notification, just email us at
                        <a href="mailto:copyright@onepagespotlight.com">copyright@onepagespotlight.com</a>&nbsp;to let us know (we may remove some personal contact information).&nbsp;</p>
                        <p>If your account gets too many copyright complaints, you could lose the ability to save content on One Page Spotlight, or we may disable your account altogether.</p>
                        <p>If you think we made a mistake removing your content, you can file a counter-notice. When we get a valid counter-notice, we’ll remove the complaint from your account's record.</p>
                        <p>Email your counter-notice to&nbsp;<a href="mailto:copyright@onepagespotlight.com">copyright@onepagespotlight.com</a>&nbsp;or to our copyright agent on the address specified above and include all the following:</p>
                        <ol>
                            <li> Your name, address and phone number.&nbsp;</li>
                            <li> The DMCA ID found at the bottom of the notification email.</li>
                            <li> The web address of the content we removed (copy and paste the link from the notification email).</li>
                            <li> A statement under penalty of perjury that you have a good faith belief that the content was removed in error.</li>
                            <li> A statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located, or if your address is outside of the United States, for any judicial district in which One Page Spotlight may be found, and that you’ll accept service of process from the person who provided the original complaint.
                            </li>
                            <li> A physical or electronic signature (for example, by typing your full name).</li>
                        </ol>
                        <br>
                        <div class="tc_h5">Claims regarding content other than copyright infringement</div>
                        <p>For issues other than copyright infringement please visit our&nbsp;<a href="javascript:void(0)">Help Center</a>&nbsp;where you’ll find information on how to flag and report other types of content violations. Learn more:</p>
                        <ul>
                            <li><a href="javascript:void(0)">Reporting Inappropriate Content, Messages, or Safety Concerns</a></li>
                            <li><a href="javascript:void(0)">Our Trademark Policy</a></li>
                            <li><a href="javascript:void(0)">Our False Profile Policy</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</section>