.pointer {
  cursor: pointer;
}
.ng-modal-overlay {
  background-color: rgba(51, 51, 51, 0.95);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;
  pointer-events: none;
}

.closed {
  .ng-modal{
    top: -100%;
  }
  .ng-modal-overlay{
    display: none;
  }
}

.ng-modal {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0em;
  left: 0em;
  z-index: 133100;
  transition: all .5s ease;
  padding-top: 0;;

  .title {
    background-color: red;
    text-align: center;
    color: white;
    line-height: 40px;

    .right-align {
      position: absolute;
      right: 5px;
      &, i{
        line-height: 40px;
      }

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .body{
    padding: 1.2em;
  }
}

/* Large */
.ng-modal.large {
  width: 80%;
  left: 10%;
  border-radius: 4px;
  max-height: 100%;
  padding-top: 18px;
}

.modal__large{
  display: block;
  overflow-y: scroll;
  &.closed{
    display: none;
  }
  .ng-modal-overlay{
    background-color:rgba(243,245,247,.95);
    z-index: 2000;
  }
  .ng-modal.large{
    background-color: transparent;
    box-shadow: none;
    z-index: 2500;
    top: 0.1rem;
  }
}

.right-align {
  float: right;
  text-align: right;
}

.modal__terms{
  .close-btn{
    cursor: pointer;
    top: 50px;
    right: 80px;
    position: fixed;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }
  color: #000;
  display: block;
  overflow-y: scroll;
  &.closed{
    display: none;
  }
  .ng-modal-overlay{
    background-color:rgba(243,245,247,.95);
    z-index: 2000;
  }
  .ng-modal.large{
    background-color: transparent;
    box-shadow: none;
    z-index: 2500;
    top: 0.1rem;
  }
  .body {
    width: 80vw;
    margin: auto;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background: #fff;
    border-radius: 6px;
  }
  .ng-modal.terms {
    padding-bottom: 5em;
  }
}

.ng-modal.tiny__form {
  width: 524px !important;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  height: auto;
  .ng-modal-close{
    display: none;
  }
}

.ng-modal.tiny__donation {
  width: 820px !important;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  .ng-modal-close{
    display: none;
  }
}

.ng-modal.tiny__skill {
  .ng-modal-close{
    display: none;
  }
}

.ng-modal.tiny__profile_upload{
  width: 500px;
  margin: 0 auto;
  right: 0;
  left: 0;
  .ng-modal-close{
    display: none;
  }
}

.ng-modal.tiny__mediapopup {
  width: 1110px !important;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  .ng-modal-close{
    img{
      color: #000;
    }
    // display: none;
  }
}

.modal__profile_update {
  .ng-modal {
    padding-top: 0;
  }
}

.modal__tiny__mediapopup .ng-modal {
  padding: 0 !important;
}

.tiny__profile_upload .body {
  padding: 0;
}

.tiny__profile_upload {
  padding-top: 2em !important;
}