@import './src/assets/scss/helpers/_variables.scss';
@import '~sass-mq/_mq.scss';

.c-search__block {
    width: 134px;
    vertical-align: top;
    display: inline-block;
    margin-right: 8px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: auto;
    }
}
.c-search__block:nth-child(even) {
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin-right: 0px;
      }
  }

.p-8 {
    padding: 8px !important;
}

.c-searchspotfeed {
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    height: 134px;
}

.c-searchprofile__postimg {
    width: 100%;
}

.c-searchprofile__eventicon {
    height: 54px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-top: 30px;
    padding-left: 8px;
    color: white;
}

.c-searchevent__heading {
    font-size: 13px;
    color: #333333;
    line-height: 20px;
}

.p-t-8 {
    padding-top: 8px !important;
}

.p-l-8 {
    padding-left: 8px !important;
}

.db {
    display: block;
}