<form #createProjFrm="ngForm" [formGroup]="projectFrm" (ngSubmit)="submitProjectForm(projectFrm.value)">
  <!-- <p class="c-text_lg color-grey-dark m-t-16">Projects.</p> -->
  <div id="02" class="tab-pane">
      <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
          Projects details
      </div>
      <!-- subtitle end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Title</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="projectTitle" class="c-form__input" type="text" placeholder="Name of your project">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Name of your project</label> -->
              </div>
              <p *ngIf="projectFrm.controls['projectTitle'].errors?.required && createProjFrm.submitted" class="c-form__validation error">Title is required!</p>
          </div>
      </div>
      <!-- Title end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Description</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm">
                  <!-- <textarea formControlName="projectDescription" class="c-textarea__block c-textarea--style" placeholder="Describe audition"></textarea> -->
                  <quill-editor [style]="{height: '250px'}" class="quill-editor" [placeholder]="'Describe about opportunity'" formControlName="projectDescription"></quill-editor>
              </div>
              <p *ngIf="projectFrm.controls['projectDescription'].errors?.required && createProjFrm.submitted" class="c-form__validation error">Description is required!</p>
          </div>
      </div>
      <!-- Description end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Industry</div>
          </div>
          <div class="col-md-6 p-0">
              <div class="c-form__group m-t-0">
                  <select formControlName="projectIndustry" class="c-form-control p-l-0">
                      <option value="">Select</option>
                      <option *ngFor="let category of industryList" [value]="category.name">
                          {{ category.name }}
                      </option>
                  </select>
              </div>
              <p *ngIf="projectFrm.controls['projectIndustry'].errors?.required && createProjFrm.submitted" class="c-form__validation error">Industry is required!</p>
          </div>
      </div>
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Location</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="projectLocation" class="c-form__input" type="text" placeholder="Eg: Locality, City, Country">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Eg: Locality, City, Country</label> -->
              </div>
              <p *ngIf="projectFrm.controls['projectLocation'].errors?.required && createProjFrm.submitted" class="c-form__validation error">Location is required!</p>
          </div>
      </div>
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Skills </div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
                  <input formControlName="projectSkills" class="c-form__input" type="text" placeholder="Skills looking for">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <!-- <label>Skills looking for</label> -->
              </div>
              <p *ngIf="projectFrm.controls['projectSkills'].errors?.required && createProjFrm.submitted" class="c-form__validation error">Skills are required!</p>
          </div>
      </div>
      <!-- Skills end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Add Collaborators</div>
          </div>
          <div class="col-md-9 p-0">
              <div class="c-form__group m-t-0 c-form--sm c-form--noeffect">
              <!-- <input formControlName="projectCollaborators" class="c-form__input" type="text" placeholder="Name of collaborators"> -->
              <tag-input
                formControlName="projectCollaborators"
                [placeholder]="'Name of collaborators'"
                [secondaryPlaceholder]="'Name of collaborators'"
                [validators]=""
                [errorMessages]=""
                [theme]="'ops-theme'"
                [onTextChangeDebounce]="500"
                [onlyFromAutocomplete]="true">
                    <tag-input-dropdown
                        [displayBy]="'name'"
                        [identifyBy]="'handle'"
                        [autocompleteObservable]='requestAutocompleteItems'>
                        <ng-template let-item="item" let-index="index" class="userList">
                            <div class="tinyImgHolder">
                                <img class="tinyImg" width="24" src="{{ imageLink + item.profileImage }}" onError="this.src='https://cdn.onepagespotlight.com/img/avatar.png';"/>
                            </div>
                            <span class="tinyName">
                                {{ item.name }}
                                <span class="tinyUsername">
                                ({{ item.extra.username }})
                                </span>
                            </span>
                        </ng-template>
                    </tag-input-dropdown>
              </tag-input>
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <!-- <label>Name of collaborators</label> -->
              </div>
              <!-- <p *ngIf="projectFrm.controls['projectCollaborators'].errors?.required && createProjFrm.submitted" class="c-form__validation error">Project collaborators are required!</p> -->
          </div>
      </div>
      <!-- Add Collaborators end -->
      <div class="o-oppo-form__single">
          <div class="col-md-3 p-0"></div>
          <div class="col-md-9 p-0">
              <p *ngIf="_oppDetails?.formType === 'create'" class="c-text_sm color-grey-dark m-t-24">By clicking 'Create', you are agreeing to the <a (click)="termsAction('show')" class="text-theme">Terms &amp; Conditions.</a> and the <a (click)="termsAction('show')" class="text-theme">Privacy policy</a>.</p>
              <button *ngIf="_oppDetails?.formType === 'create'" type="submit" [disabled]="oppSubmitting" class="btn btn-primary btn-md m-t-16 m-b-16">Create</button>
              <button *ngIf="_oppDetails?.formType === 'edit'" type="submit" [disabled]="oppSubmitting" class="btn btn-primary btn-md m-t-16 m-b-16">Update</button>
              <button *ngIf="_oppDetails?.formType === 'edit'" type="button" class="btn btn-default btn-md m-l-8" (click)="cancelUpdate()">Cancel</button>
          </div>
      </div>
      <!-- btn end -->
  </div>
</form>

<!-- Terms Modal -->
<app-modal-new #termsPopup [closeOnEscape]="true" [closeOnOutsideClick]="true" modalClass="reg_step1_otp modal-term-policy">
    <modal-content>
    <div class="in db" id="termsandcondition">
        <div class="modal-dialog modal-lg terms_and_condition">
            <!-- Modal content-->
            <div class="modal-content modal-container">
                <div class="modal-header with_border_none">
                    <button type="button" class="close" data-dismiss="modal" (click)="termsAction('hide')">x</button>
                </div>
                <app-terms-and-conditions-content></app-terms-and-conditions-content>
            </div>
        </div>
    </div>
    </modal-content>
</app-modal-new>
<!-- Terms Modal -->