<app-navigation></app-navigation>
<app-dwc-progress-bar></app-dwc-progress-bar>
<section class="o-dwc-payment-sec">
    <div class="container">
        <div class="o-dwc-payment-contianer">
            <h3 class="c-h3 m-b-24">Thank You.</h3>
            <h3 class="c-h3 m-b-24">Your registration is successful for the DWC India Qualifier 2018</h3>
            <div class="xs-message">
                <p>For support E-mail us at - </p>
                <p>contact@onepagespotlight.com or Call us - 7338343123, 8904073584</p>
            </div>
        </div>
    </div>
</section>