<app-navigation></app-navigation>
<app-dwc-progress-bar></app-dwc-progress-bar>
<section class="o-dwc-payment-sec">
    <div class="container">
        <div class="o-dwc-payment-contianer">
            <div class="hidden-md hidden-lg visible-xs visible-sm">
                <h3 class="c-h3 m-b-24">Thank You!</h3>
                <h3 class="c-h3 m-b-24">You have successfully registered for DWC India Qualifier 2018. Kindly login from desktop to upload your Media.</h3>
            </div>
            <div  class="hidden-xs hidden-sm visible-md visible-lg">
                <h3 class="c-h3 m-b-24">Thank You.</h3>
                <h3 class="c-h3 m-b-24">Your registration is successful for the DWC India Qualifier 2018</h3>
            </div>
            <div class="xs-message">
                <p>For support E-mail us at - </p>
                <p>contact@onepagespotlight.com or Call us - 7338343123, 8904073584</p>
            </div>
        </div>
    </div>
</section>