@import './src/assets/scss/components/_feed-card.scss';
@import './src/assets/scss/components/_dropdowns.scss';
@import './src/assets/scss/helpers/_variables.scss';
@import '~sass-mq/_mq.scss';
.o-addpost__arrow {
    width: 16px;
    margin: 8px;
    float: left;
    margin-top: 3px;
}
.o-addpost__commtxt {
    float: left;
    margin-top: 1px;
}
// common
.c-user--addpost {
    width: 100%;
    float: left;
}

.o-add-status__txt {
    float: left;
    margin-top: 8px;
    width: 100%;
}

.o-add-status {
    margin-top: 24px;
}

.o-add-status__block {
    height: 188px;
    width: 784px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.18);
    padding: 24px 40px;
    margin: 0px auto;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        width: 100%;
        padding: 20px;
    }
}

.o-add-status--textarea {
    padding: 24px 0px;
    width: 100%;
    border: none;
    height: auto;
    resize: none;
    &:focus {
        outline: none;
    }
}

.o-add-status_actions {
    // padding:16px 32px;
}

.c-user__name--addpost {
    font-size: 13px!important;
    font-weight: normal !important;
    color: #333!important;
}

.o-add-status_actions {
    width: 100%;
    float: left;
}

.o-status-action {
    list-style: none;
}

.o-status-action--select {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    width: 138px;
    &:focus {
        box-shadow: none;
    }
}

.o-action-list {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.o-action__ico {
    width: 12px;
    height: 12px;
    float: left;
    img {
        width: 100%;
    }
}

.o-action__ico-arrow {
    width: 10px;
    height: 6px;
    float: left;
    margin-top: -3px;
    margin-left: 8px;
    img {
        width: 100%;
    }
}

.o-action-list--space {
    margin-top: 24px;
}

.o-status-action__count {
    color: #747474;
    font-size: 11px;
    font-weight: normal;
    margin-right: 16px;
    margin-top: 8px;
    display: inline-block;
}

.float-right {
    float: right;
}

.o-add-media {
    margin-top: 24px;
}

.o-add-media__main-block{
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
}
.o-add-media-channel-main {
    width: 863px;
    margin: 0px auto;
    background: #fff;
    padding: 10px 32px;
    overflow: hidden;
    
    @include mq($from: $mobile_sm, $until: $tablet) {
        width: 100%;
        padding: 0;
    }
    @include mq($from: $tablet, $until: $desktop_sm) {
        width: 100%;
    }
}

.o-add-media-channel {
    width: 100%;
    background: #fff;
    padding: 24px 32px;
    float: left;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        padding:16px 16px;
    }
}

.o-add-media-channel__head {
    float: left;
    width: 100%;
}

.o-add-media-channel__link {
    font-weight: 600;
    &:hover {
        color: #333;
    }
}

.o-add-media-img-list {
    list-style: none;
    float: left;
    display: flex;
    justify-content: inherit;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 428px;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 410px;
}

.o-add-media-img-list__item {
    list-style-type: none;
    height: 112px;
    width: 112px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 16px;
    margin-top: 16px;
}

.o-add-media-item__img {
    max-width: 100%;
    height: auto;
}

.o-channel-input {
    border: none!important;
}

.o-add-media__main-block{
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.desktop-css {
    margin-top: 8px;
    margin-left: 8px;
    padding-top: 16px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin: initial;
        padding: 20px;
    }
}

.o-create-channel-container {
    min-height: 460px;
    background: #fff;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        min-height: auto;
    }
}

div#create-channel form {
    padding-left: 100px;
    padding-right: 100px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        padding: 0;
    }
}

.o-create-channel__input {
    width: 90%;
    float: left;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 70%;
    }
}

.o-create-channel__action {
    float: left;
    margin-left: 16px;
    margin-top: 12px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin-top: 25px;
    }
}

.o-addpost__commtxt{
    white-space: nowrap;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}