<section class="o-add-status">
    <div class="container">
        <!-- add status  -->
        <div class="o-add-status__block">
            <div class="c-card__user">
                <div class="c-user">
                    <a class="c-user__avatar c-avatar--feed">
                        <img class="c-user__image" src="{{ baseUrl + activeUser?.image }}">
                    </a>
                    <a class="c-user__name c-user__name--addpost">{{ activeUser?.name }}</a>
                </div>
            </div>
            <div class="o-add-status__txt">
                <textarea id="txtarea" maxlength="220" [(ngModel)]="statusMessage" class="o-add-status--textarea c-text_lg-light" rows='1' data-min-rows='0' placeholder="Tell something…"></textarea>
            </div>
            <div class="o-add-status_actions">
                <ul class="o-status-action">
                    <li class="o-action-list">
                        <div class="dropdown" appDropdown>
                            <span class="com-head" appDropdownOpen>
                            <div class="o-action__ico">
                              <img src="{{ (privacy == 0) ? baseUrl + 'img/svg/ico_web.svg': baseUrl + 'img/svg/Ico-private.svg' }}">
                            </div>
                            <div class="o-action__ico-arrow">
                              <img src="{{ baseUrl }}img/svg/ico-arrow-down.svg">
                            </div>
                          </span>
                            <ul class="dropdown-menu c-opsdropdown--size1 o-action-list--space">
                                <li>
                                    <a class="c-opsdropdown__list" (click)="choosePrivacy(0)">
                                        <img src="{{ baseUrl }}img/svg/ico-public.svg" class="c-opsdropdown--icons">
                                        <span class="c-opsdropdown--text">Public</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="c-opsdropdown__list" (click)="choosePrivacy(1)">
                                        <img src="{{ baseUrl }}img/svg/Ico-private.svg" class="c-opsdropdown--icons">
                                        <span class="c-opsdropdown--text">Private</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="o-action-list float-right">
                        <button type="button" (click)="submitStatusForm()" class="btn btn-primary btn-md">POST</button>
                    </li>
                    <li class="o-action-list float-right">
                        <span class="o-status-action__count">
                          {{ (220) - (statusMessage?.length) }}
                        </span>

                    </li>
                </ul>
            </div>
        </div>
        <!-- add status end -->
    </div>
</section>

<!--<div class="c-status">
  <div *ngIf="statusSaved === true" class="message">
    Your status has been posted successfully!
  </div>
  <form [formGroup]="statusForm" novalidate (ngSubmit) = "submitStatusForm(statusForm.value)" #myform="ngForm">
    <div class="c-status__content">
      <div class="middle_block">
          <div class="msg_block" *ngIf="mediaStore.status_saved">
            <p>Your status has been posted successfully!</p>
          </div>
          <div class="c-status__block">
              <textarea class="form___textarea" formControlName="status" name="comment" rows="2" placeholder="Update your Status"></textarea>
          </div>
          <div class="c-status__block">
            <div class="width-50 float-left">
              <select formControlName="privacy" class="form-control" id="sel1">
                <option value="0">Public</option>
                <option value="1">Private</option>
              </select>
            </div>
            <div class="width-50 float-right">
              <span class="u-right">
                <a (click)="submitStatusForm(statusForm.value)" class="btn__primary cursor-pointer">Post</a>
              </span>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>-->
