<div class="c-status">
  <div *ngIf="statusSaved === true" class="message">
    Your status has been posted successfully!
  </div>
  <form [formGroup]="statusForm" novalidate (ngSubmit) = "submitStatusForm(statusForm.value)" #myform="ngForm">
    <div class="c-status__content">
      <div class="middle_block">
          <div class="msg_block" *ngIf="mediaStore.status_saved">
            <p>Your status has been posted successfully!</p>
          </div>
          <div class="c-status__block">
              <textarea class="form___textarea" formControlName="status" name="comment" rows="2" placeholder="Update your Status"></textarea>
          </div>
          <div class="c-status__block">
            <div class="width-50 float-left">
              <select formControlName="privacy" class="form-control" id="sel1">
                <option value="0">Public</option>
                <option value="1">Private</option>
              </select>
            </div>
            <div class="width-50 float-right">
              <span class="u-right">
                <a (click)="submitStatusForm(statusForm.value)" class="btn__primary cursor-pointer">Post</a>
              </span>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>
