<section class="ops_reset_password">
  <div class="container">
      <!-- registraion middle container -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center ops_reset_logo"><img src="/assets/img/logo_black.svg" alt="One Page Spotlight"></p>
          <h2 class="text-center"><a href="">Check your phone</a></h2>
          <p class="check_phone_text">We've texted a code to {{ this.forgotP.fp_user_options.phone }}<br>
            once you receive the code, enter it below to reset your password.</p>
          <form action="">
            <div class="form_group">
                <input class="form_input" type="text" required="">
                <span class="form_highlight"></span>
                <span class="form_bar"></span>
                <label>Type the code</label>
            </div>
              <div class="text-center">
                  <app-button [className]="'btn-default btn-sm'" [type]="'submit'">SUBMIT CODE</app-button>
              </div>
              <p class="not_receive text-center"><a href="">I didn't  receive the code</a></p>
          </form>
        </div>
    </div>
    <!-- //registraion middle container -->
  </div>
</section>
