<app-navigation-logo></app-navigation-logo>
<section class="ops_reset_password main_ht_fix">
  <div class="container">
      <!-- registraion middle container -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="text-center">Check your phone</h2>
          <p class="check_phone_text">We've texted a code to the phone number ending with {{ this.forgotP.fp_user_options.phone }}<br>
            Once you receive the code, enter it below to reset your password.</p>
            <form [formGroup]="otpForm" (ngSubmit)="submitForm(otpForm.value)" #myform="ngForm">
            <div class="form_group">
                <input class="form_input" type="text" required="" formControlName="otpToSubmit" >
                <span class="form_highlight"></span>
                <span class="form_bar"></span>
                <label>Type the code</label>
            </div>
            <p class="error_alert" *ngIf="otpForm.get('otpToSubmit').hasError('required') && myform.submitted" >Please enter the OTP</p>
            <p class="error_alert" *ngIf="otpfailed" >Invalid OTP</p>
              <div class="text-center">
                <button class="btn btn-primary btn-md" type="submit" [disabled]="forgotP?.fb_uploading_data">SUBMIT CODE</button>
              </div>
              <!-- <p class="not_receive text-center"><a class="ops_reset_link" (click)="resentSms()">I didn't  receive the code</a></p> -->
              <p *ngIf="!forgotP?.reset_link_resending" class="not_receive text-center">
                <a class="ops_reset_link" (click)="resentSms()">I didn't receive the OTP</a>
              </p>
              <p *ngIf="forgotP?.reset_link_resending" class="text-center">
                <a>Resending the OTP, please wait...</a>
              </p>
          </form>
        </div>
    </div>
    <!-- //registraion middle container -->
  </div>
</section>
<app-footer></app-footer>
