<app-navigation-logo></app-navigation-logo>
<section class="ops_reset_password main_ht_fix">
  <div class="container">
      <!-- registraion middle container -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="text-center">Check your phone</h2>
          <p class="check_phone_text">We've texted a code to the phone number ending with {{ this.forgotP.fp_user_options.phone }}
            <br> Once you receive the code, enter it below to reset your password.
          </p>
          <form [formGroup]="otpForm" (ngSubmit)="otpSubmit(otpForm.value)" #myform="ngForm">
              <div class="row">
                  <div class="col-sm-6 c-text_md m-8 m-l-24">Enter OTP</div>
                  <div class="col-sm-5">
                      <!-- <div class="c-text_md pull-right color-theme m-8 m-r-16 m-r-0">00:50</div> -->
                  </div>
              </div>
              <div class="form_group o-otp_form">
                  <input #otpNum1 (keydown)="nextOtpNum($event, 1)" class="form_input" type="text" maxlength="1" formControlName="otpNum1">
              </div>
              <div class="form_group o-otp_form">
                  <input #otpNum2 (keydown)="nextOtpNum($event, 2)" class="form_input" type="text" maxlength="1" formControlName="otpNum2">
              </div>
              <div class="form_group o-otp_form">
                  <input #otpNum3 (keydown)="nextOtpNum($event, 3)" class="form_input" type="text" maxlength="1" formControlName="otpNum3">
              </div>
              <div class="form_group o-otp_form">
                  <input #otpNum4 (keydown)="nextOtpNum($event, 4)" class="form_input" type="text" maxlength="1" formControlName="otpNum4">
              </div>
              <div class="form_group o-otp_form">
                  <input #otpNum5 (keydown)="nextOtpNum($event, 5)" class="form_input" type="text" maxlength="1" formControlName="otpNum5">
              </div>
              <div class="form_group o-otp_form">
                  <input #otpNum6 (keydown)="nextOtpNum($event, 6)" class="form_input" type="text" maxlength="1" formControlName="otpNum6">
              </div>
              <p class="error_alert text-center" *ngIf="otpfailed">Invalid OTP</p>
              <p class="error_alert text-center" *ngIf="invalidOTP && myform.submitted">Please enter your 6 digit OTP number</p>
              <div *ngIf="!resending" class="text-center otp-dont-get">
                  <a (click)="resentSms()" class="color-theme">Didn't get your OTP?</a>
              </div>
              <div *ngIf="resending" class="text-center otp-dont-get">
                  <a>Resending the OTP, please wait...</a>
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg capitalize" [disabled]="forgotP?.fb_uploading_data">Validate</button>
              </div>
          </form>
        </div>
    </div>
    <!-- //registraion middle container -->
  </div>
</section>
<app-footer></app-footer>
