@import './src/assets/scss/helpers/_variables.scss';
/* ------------------------- status inner style --------------------------- */
.status-inner {
  margin-top: 70px;
}
.popular-topics{
	width: 100%;
	background: #fff;
	min-height: 500px;
	position: relative;
}
.title{
	margin-bottom: 8px;
}
.topic-list{
	list-style:none;
}
.topic__item{
  list-style-type: none;
  padding: 8px 24px;
  float: left;
  width: 100%;
}
.topic__name{
	font-size: 14px;
	font-weight: 600;
	color: $theme_red;

	width: 100%;
	float: left;
}
.topic__voice{
	width: 100%;
	float: left;
}
.topic-footer{
	text-align: center;
	padding:16px 24px;
	float: left;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
.topic_more{
	font-size: 14px;
	font-weight: 600;
	color: $theme_red;
	&:hover{
		color: $theme_red;
	}
	&:focus{
		color: $theme_red;
	}
}

.blur-main{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

.coming_soon_txt{
    position: absolute;
    top: 50%;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    z-index: 1;
}