<div class="container m-t-16">
  <div class="o-network__left netowrk_block">
    <div class="network_left">
      <div class="c-ops__tabs o-network_tabs">
        <ul class="nav nav-tabs p-16">
          <li class="active">
            <a [routerLink]="['networkrequests']" routerLinkActive="active">Network Requests</a>
          </li>
          <li class="active">
            <a [routerLink]="['acceptedrequests']" routerLinkActive="active">Accepted Requests</a>
          </li>
        </ul>
      </div>
      <!-- <div class="tab-content"> -->
        <router-outlet></router-outlet>
      <!-- </div> -->
    </div>
  </div>
  <div class="o-network__right netowrk_block_right">
    <ul class="network_right">
       <li class=" list_style_none">
          <ul class="list-inline">
             <li class="list-inline-item c-text_lg">
                Send Requests
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar2.png" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">waiting to accept request <a href="" class="color-theme">Cancel Request</a></span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar2.png" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">waiting to accept request <a href="" class="color-theme">Cancel Request</a></span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar2.png" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">waiting to accept request <a href="" class="color-theme">Cancel Request</a></span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
       <li class="with_border_bottom list_style_none">
          <ul class="list-inline request_flex">
             <li class="list-inline-item float_left">
               <img src="{{ imageBaseUrl }}img/avatar.jpg" class="o-network__avatar">
             </li>
             <li class="list-inline-item noti_cont">
                <span class="c-text_sm">Tobias Van Schneider</span>
                <span class="c-text_sm color-grey-dark">Accepted your network request</span>
                <div class="pull-right c-text_sm color-grey-dark">10:08 PM</div>
             </li>
          </ul>
       </li>
    </ul>
  </div>
</div>