<div class="o-org-content">
    <div class="container">
        <div class="col-md-3 col-sm-3 p-0">
            <div class="c-card m-t-16">
                <div class="c-text_lg padding_16">Invite to the Organization</div>
                <div class="c-invite--search">
                    <form class="fill-grey-light">
                        <div class="c-form__group c-form--noeffect c-form--sm">
                            <input class="c-form__input fpadding_l32" type="text">
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label class="fpadding_l32">Search</label>
                            <span><img src="/assets/img/svg/ico_search.svg" class="c-form__input--lefticon"></span>
                        </div>
                    </form>
                </div>
                <div class="c-invite__sec" id="ops_scrollbar">
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/avatar.jpg" class="c-user__image">
                        </a>
                        <a class="c-text_md c-invite--user">Seth Chevz</a>
                        <div class="c-invite--btn">
                            <button type="button" class="btn btn-default btn-sm">invite</button>
                        </div>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/avatar.jpg" class="c-user__image">
                        </a>
                        <a class="c-text_md c-invite--user">Annie Weaver</a>
                        <div class="c-invite--btn">
                            <button type="button" class="btn btn-default btn-sm">invite</button>
                        </div>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/avatar.jpg" class="c-user__image">
                        </a>
                        <a class="c-text_md c-invite--user">Randall Van</a>
                        <div class="c-invite--btn">
                            <button type="button" class="btn btn-default btn-sm">invite</button>
                        </div>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/avatar.jpg" class="c-user__image">
                        </a>
                        <a class="c-text_md c-invite--user">Tobias Van</a>
                        <div class="c-invite--btn">
                            <button type="button" class="btn btn-default btn-sm">invite</button>
                        </div>
                    </div>
                    <div class="c-invite__block">
                        <a class="c-user__avatar c-avatar--status">
                            <img src="/assets/img/avatar.jpg" class="c-user__image">
                        </a>
                        <a class="c-text_md c-invite--user">Tobias Van</a>
                        <div class="c-invite--btn">
                            <button type="button" class="btn btn-default btn-sm">invite</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-card padding_16 m-t-16">
                <div class="c-text_lg m-b-16">Product <a href="" class="c-text_sm c-org--seemore">See More</a> </div>
                <div class="c-invite__products">
                    <img src="/assets/img/art_img.jpg" class="c-card__image">
                </div>
                <div class="c-text_sm color-grey-dark p-t-16">WEB APP</div>
                <div class="c-text_md p-t-8">Grabient for designer</div>
                <div class="c-text_sm color-grey-dark p-t-8">web application for designer and artist to find new gradient</div>
            </div>
        </div>
        <!-- right feed -->
        <div class="col-md-9 col-sm-9 p-0">
            <div class="o-org-about m-t-16 m-l-16">
                <form action="">
                    <div class="col-md-6 p-0">
                        <h6 class="c-text_lg m-b-16 p-l-8">About</h6>
                        <ul class="o-org-about-form">
                            <li class="o-org-form__item m-b-24">
                                <h6 class="c-text_md">Breif 
                                    <a class="o-org-form__edit-ico" (click)="editField('description')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </h6>
                                <p *ngIf="editingField != 'description'" id="brief" class="c-text_sm color-grey-dark m-t-8">
                                    {{ orgProfile?.org_profile_details?.description }}
                                </p>
                                <div *ngIf="editingField == 'description'" id="brief-edit" class="o-org-form__edit-sec">
                                    <textarea class="o-org-about__breif c-text_sm m-t-8">{{ orgProfile?.org_profile_details?.description }}</textarea>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('description')">Save</button>
                                    </div>
                                </div>
                            </li>
                            <li class="o-org-form__item m-b-24">
                                <h6 class="c-text_md">Services 
                                    <a class="o-org-form__edit-ico" (click)="editField('services')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </h6>
                                <p *ngIf="editingField != 'services'" id="o-org-about-serv" class="c-text_sm color-grey-dark m-t-8">
                                    {{ orgProfile?.orgProfileDetails?.services.join(', ') }}
                                </p>
                                <div *ngIf="editingField == 'services'" id="o-org-about-serv_edit" class="o-org-form__edit-sec">
                                    <div class="c-form__group c-form--sm c-form--noeffect">
                                        <input class="c-form__input" type="text" value="UI Design, UX Design, Branding">
                                    </div>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('services')">Save</button>
                                    </div>
                                </div>
                            </li>
                            <li class="o-org-form__item m-b-24">
                                <h6 class="c-text_md">Industry 
                                    <a class="o-org-form__edit-ico" (click)="editField('industries')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </h6>
                                <p *ngIf="editingField != 'industries'" id="o-org-about-ind" class="c-text_sm color-grey-dark m-t-8">
                                    <ng-container *ngFor="let industry of orgProfile?.orgProfileDetails?.industryList; let isLast = last;">
                                        {{ industry.name }} {{isLast ? '' : ', '}}
                                    </ng-container>
                                </p>
                                <div *ngIf="editingField == 'industries'" id="o-org-about-ind_edit" class="o-org-form__edit-sec">
                                    <div class="c-form__group c-form--sm c-form--noeffect">
                                        <input class="c-form__input" type="text" value="">
                                    </div>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('industries')">Save</button>
                                    </div>
                                </div>
                            </li>
                            <li class="o-org-form__item m-b-24">
                                <h6 class="c-text_md">Founded Year 
                                    <a class="o-org-form__edit-ico" (click)="editField('activeFrom')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </h6>
                                <p *ngIf="editingField != 'activeFrom'" id="o-org-about-foundyr" class="c-text_sm color-grey-dark m-t-8">
                                    {{ orgProfile?.org_profile_details?.activeFrom | utcDate | date: 'dd MMM, yyyy' }}
                                </p>
                                <div *ngIf="editingField == 'activeFrom'" id="o-org-about-foundyr_edit" class="o-org-form__edit-sec">
                                    <div class="c-form__group ">
                                        <input class="c-form__input" type="text" value="{{ orgProfile?.org_profile_details?.activeFrom }}">
                                    </div>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('activeFrom')">Save</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 p-0">
                        <h6 class="c-text_lg m-b-16 p-l-8">Contact</h6>
                        <ul class="o-org-about-form">
                            <li class="o-org-form__item ">
                                <div *ngIf="editingField != 'mobile'" id="o-org-about-contact-ph" class="o-org-about__contact-ph ">
                                    <span class="o-org-about__contact-ico">
                                        <img src="/assets/img/svg/ico_receiver.svg" alt="">
                                    </span>
                                    <span class="o-org-about__contact-txt c-text_sm color-grey-dark">
                                        {{ orgProfile?.orgProfileDetails?.mobile }}
                                    </span>
                                    <a class="o-org-form__edit-ico" (click)="editField('mobile')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </div>
                                <div *ngIf="editingField == 'mobile'" id="o-org-about-contact-ph-edit" class="o-org-about__contact-ph-edit ">
                                    <div class="c-form__group c-form--sm c-form--noeffect">
                                        <input class="c-form__input fpadding_l32" type="text" value="{{ orgProfile?.orgProfileDetails?.mobile }}">
                                        <span><img src="/assets/img/svg/ico_receiver.svg" class="c-form__input--lefticon"></span>
                                    </div>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('mobile')">Save</button>
                                    </div>
                                </div>
                            </li>
                            <li class="o-org-form__item ">
                                <div *ngIf="editingField != 'email'" id="o-org-about-contact-mail" class="o-org-about__contact-mail ">
                                    <span class="o-org-about__contact-ico">
                                        <img src="/assets/img/svg/ico_envelope.svg" alt="">
                                    </span>
                                    <span class="o-org-about__contact-txt c-text_sm color-grey-dark">
                                        {{ orgProfile?.org_profile_details?.email }}
                                    </span>
                                    <a class="o-org-form__edit-ico" (click)="editField('email')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </div>
                                <div *ngIf="editingField == 'email'" id="o-org-about-contact-mail-edit" class="o-org-about__contact-ph-edit ">
                                    <div class="c-form__group c-form--sm c-form--noeffect">
                                        <input class="c-form__input fpadding_l32" type="text" value="{{ orgProfile?.org_profile_details?.email }}">
                                        <span><img src="/assets/img/svg/ico_envelope.svg" class="c-form__input--lefticon"></span>
                                    </div>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('email')">Save</button>
                                    </div>
                                </div>
                            </li>
                            <li class="o-org-form__item ">
                                <div *ngIf="editingField != 'website'" id="o-org-about-contact-web" class="o-org-about__contact-web ">
                                    <span class="o-org-about__contact-ico">
                                        <img src="/assets/img/svg/ico_public_grey.svg" alt="">
                                    </span>
                                    <span class="o-org-about__contact-txt c-text_sm color-grey-dark" contenteditable="true">
                                        {{ orgProfile?.org_profile_details?.contact?.website.website }}
                                    </span>
                                    <a class="o-org-form__edit-ico" (click)="editField('website')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </div>
                                <div *ngIf="editingField == 'website'" id="o-org-about-contact-web-edit" class="o-org-about__contact-ph-edit ">
                                    <div class="c-form__group c-form--sm c-form--noeffect">
                                        <input class="c-form__input fpadding_l32" type="text" value="{{ orgProfile?.org_profile_details?.contact?.website.website }}">
                                        <span><img src="/assets/img/svg/ico_public_grey.svg" class="c-form__input--lefticon"></span>
                                    </div>
                                    <div class="o-org-form__actions">
                                        <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                        <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('website')">Save</button>
                                    </div>
                                </div>
                            </li>
                            <li class="o-org-form__item m-t-24">
                                <h6 class="c-text_md">Address
                                    <a class="o-org-form__edit-ico" (click)="editField('address')"><img src="/assets/img/svg/ico_edit.svg"></a>
                                </h6>
                                <div class="o-org-about__address-map m-t-b-8">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.9863164034696!2d77.63703341474799!3d12.972726890855197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16a6f8666621%3A0x8a0eaab208105e27!2sAbove+Solutions+India+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1509367207866" width="393" height="165" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <p id="o-org-about-address" class="c-text_sm color-grey-dark m-t-8">
                                    200 Willoughby Ave, Brooklyn, NY 11205, USA
                                </p>
                                <div *ngIf="editingField == 'address'" id="o-org-about-address_edit" class="o-org-form__edit-sec">
                                    <div class="c-form__group c-form--sm c-form--noeffect">
                                        <input class="c-form__input" type="text" value="200 Willoughby Ave, Brooklyn, NY 11205, USA">
                                    </div>
                                </div>
                                <div *ngIf="editingField == 'address'" class="o-org-form__actions">
                                    <button type="button" class="btn btn-default btn-sm" (click)="cancelEdit()" >Cancel</button>
                                    <button type="button" class="btn btn-primary btn-sm" (click)="updateAbout('address')">Save</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <!-- //right feed -->
    </div>
</div>