$pad-scale-1: 8px;
$pad-scale-2: 16px;
$pad-scale-3: 24px;
$pad-scale-4: 32px;

.test{
  display: none;
}

.add-post_choosechannel{
  color: #000000;
}

.o-create_channel{
  padding-left: $pad-scale-4;
  list-style: none;
}

.channel__form {
  list-style: none;
  padding-left: $pad-scale-2;
}

.form__textarea {
  width: 100%;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px #c1c1c1 solid;
  font-weight: 600;
  color: #000;
}

.ico__add {
  display: inline-block;
  vertical-align: middle;
  margin-top: $pad-scale-2;
  margin-left: $pad-scale-2;
  margin-right: $pad-scale-2;
}

.ico__label{
  display: inline-block;
  vertical-align: middle;
}

.icon__holder {
  padding-bottom: $pad-scale-1;
}

.form__select{
  box-shadow: none;
  padding: 0 0;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 0;
  height: 24px;
  font-weight: 600;
}


.channel-list-show{
  margin-left: 16px;
  color: #444;
  text-align: left;
  &_img{
    display: inline-block;
  }
  &_txt {
    display: inline-block;
    vertical-align: top;
    padding-top: 16px;
    margin-left: 16px;
  }
  &_btn {
    display: inline-block;
    vertical-align: top;
    padding-top: 16px;
    margin-left: 16px;
    float: right;
  }
}

.sel .btn-sm {
  color: #7d987f;
  border: solid 1px #b7efbb;
}
