<app-navigation></app-navigation>
<section class="o-events-form">
  <div class="container">
    <div class="o-events-form-container m-t-32 p-b-32">
      <div class="o-events-form-block p-t-32">
        <h4 class="c-h4 text-center">Create Event</h4>
        <div class="o-events-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-24 text_uppercase ltr-space">
          Event details
        </div><!-- subtitle end -->
        <form [formGroup]="eventForm" novalidate (ngSubmit) = "submitForm(eventForm.value)"  #ecfrom="ngForm">
          <div class="col-md-8 p-0">

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Event name</div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="c-form__group c-form--sm c-form--noeffect">
                    <input class="c-form__input" required type="text" formControlName="event_name">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Name of event</label>
                  </div>
                  <p class="error_alert" *ngIf="eventForm.controls['event_name'].errors?.required && ecfrom.submitted">Event Name is required</p>
                </div>
              </div><!-- Event name end -->

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Genres</div>
                </div>
                <div class="col-md-5 p-0">
                  <div class="c-form__group">
                    <select class="c-form-control p-l-0" formControlName="event_genres">
                      <option value="" disabled selected hidden>Select Genre</option>
                      <option value="Concert or Performance">Concert or Performance</option>
                      <option value="Festival or Fair">Festival or Fair</option>
                      <option value="Attraction">Attraction</option>
                      <option value="Camp, Trip, or Retreat">Camp, Trip, or Retreat</option>
                      <option value="Class, Training, or Workshop">Class, Training, or Workshop</option>
                      <option value="Conference">Conference</option>
                      <option value="Conference">Convention</option>
                      <option value="Conference">Dinner or Gala</option>
                      <option value="Conference">Game or Competition</option>
                      <option value="Conference">Meetup or Networking Event</option>
                      <option value="Conference">Party or Social Gathering</option>
                      <option value="Conference">Rally</option>
                      <option value="Conference">Screening</option>
                      <option value="Conference">Tour</option>
                      <option value="Conference">Tradeshow, Consumer Show, or Expo</option>
                    </select>
                  </div>
                  <p class="error_alert" *ngIf="eventForm.controls['event_genres'].errors?.required && ecfrom.submitted">Genres is required</p>
                </div>
              </div><!-- Genres end -->

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Industry</div>
                </div>
                <div class="col-md-5 p-0">
                  <div class="c-form__group">
                    <select class="c-form-control p-l-0" formControlName="event_industry">
                      <option value="" disabled selected hidden>Select Industry</option>
                      <option>Film</option>
                      <option>Dance</option>
                    </select>
                  </div>
                  <p class="error_alert" *ngIf="eventForm.controls['event_industry'].errors?.required && ecfrom.submitted">Industry is required</p>
                </div>
              </div><!-- Industry end -->
               

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Venue</div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="c-form__group c-form--sm c-form--noeffect">
                    <input class="c-form__input" required="" type="text" formControlName="event_venue">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Event location</label>
                  </div>
                  <p class="error_alert" *ngIf="eventForm.controls['event_venue'].errors?.required && ecfrom.submitted">Industry is required</p>
                </div>
              </div><!-- Venue end -->

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Event Brief</div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="c-form__group c-form--sm">
                    <textarea rows="4" class="c-textarea__block c-textarea--style" formControlName="event_brief" placeholder="Describe your event"></textarea>
                  </div>
                </div>
              </div><!-- Event Brief end -->

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Date</div>
                </div>
                <div class="col-md-3 p-0">
                  <div class="c-form__group c-form--sm c-form--noeffect">
                    <input class="c-form__input" required formControlName="event_startdate"  [dpDayPicker]="config" theme="dp-material">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Start date</label>
                  </div>
                </div>
                <div class="col-md-1"><p class="c-text_md m-t-16 text-center">to</p></div>
                <div class="col-md-3 p-0">
                  <div class="c-form__group c-form--sm c-form--noeffect">
                    <input class="c-form__input" required formControlName="event_enddate" [dpDayPicker]="config" theme="dp-material" >
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>End date</label>
                  </div>
                </div>
                <div class="col-md-3 p-0">
                </div>
                <div class="col-md-9 offset-md-3 p-0">
                  <p class="error_alert" *ngIf="eventForm.controls['event_startdate'].errors?.required && ecfrom.submitted">Start Date and End Date is required</p>
                </div>
              </div><!-- Date end -->

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Agenda</div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="o-form-add-det-sec"  *ngFor="let event_agenda of eventForm.controls.event_agenda['controls']; let i=index"
              [formGroup]="event_agenda">
                    <div class="col-md-4 p-l-0">
                      <div class="c-form__group c-form--sm c-form--noeffect">
                        <input class="c-form__input" required="" type="text" formControlName="startTime"   [dpDayPicker]="config" theme="dp-material">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <label>Date</label>
                      </div>
                    </div>
                    <div class="col-md-7 p-0">
                      <div class="c-form__group c-form--sm c-form--noeffect">
                        <input class="c-form__input" required="" type="text" formControlName="description">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <label>Program</label>
                      </div>
                    </div>
                    <div class="col-md-1 p-0">
                      <div class="o-form-trash m-t-8">
                        <div class="o-form-trash__ico" (click)="eventForm.get('event_agenda').removeAt(i)">
                          <img src="/assets/img/svg/delete.svg" >
                        </div>
                      </div>
                    </div>
                  </div><!-- agenda add det sec end -->
                  <div class="o-form-add-link">
                    <a (click)="pushAgenda()" class="o-form__add-btn">
                      <span class="o-form__add-ico"><img src="/assets/img/svg/plus-red.svg" alt=""></span>
                      <p class="c-text_md color-theme m-l-8 o-form__add-title" >Add more agenda</p>
                    </a>
                  </div><!-- agenda add link end -->
                </div>
              </div><!-- Agenda end -->

              <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Event type</div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="c-radio__sm p-t-16">
                    <label class="col-md-2 p-l-0">
                      <input name="demo" type="radio">
                      <span></span>
                      <div class="c-radio--label c-text_md color-grey-dark">Public</div>
                    </label>
                    <label class="col-md-2 p-0">
                      <input name="demo" type="radio">
                      <span></span>
                      <div class="c-radio--label c-text_md color-grey-dark">Private</div>
                    </label>
                  </div>
                </div>
              </div><!-- Event type end -->

          </div>
          <div class="col-md-4">
            <div class="o-event-form-upload-img">
              <input type="file" class="o-event-upload__file">
              <div class="o-event-form-upload__container">
                <div class="c-text_md f-w_600 text_uppercase color-theme ltr-space">Upload event image</div>
              </div>
            </div>
            <p class="c-text_sm text-center color-grey-dark o-event-upload__info">
              We recommend using at least a 800x400px (2:1)<br>image that's no larger than 10MB.
            </p>
          </div>
              
          <div class="o-events-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-24 width100 float_left text_uppercase ltr-space">
            Ticket details
          </div><!-- subtitle end -->

          <div class="col-md-8 p-0">

            <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Ticket type</div>
                </div>
                <div class="col-md-9 p-0">
                  <div class="o-form-add-det-sec" *ngFor="let event_ts_type of  eventForm.controls.event_ts_type['controls']; let i=index"
              [formGroup]="event_ts_type">
                    <div class="col-md-12 p-0 p-t-b-16">
                      <button type="button" class="btn btn-default btn-sm">free</button>
                      <button type="button" class="btn btn-primary btn-sm">Paid</button>
                      
                    </div>
                    <div class="col-md-4 p-0">
                      <div class="c-form__group c-form--sm c-form--noeffect">
                        <input class="c-form__input" required type="text" formControlName="name">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <label>Ticket name</label>
                      </div>
                    </div>
                    <div class="col-md-3 p-r-0">
                      <div class="c-form__group c-form--sm c-form--noeffect">
                        <input class="c-form__input" required type="text" formControlName="price">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <label>Price</label>
                      </div>
                    </div>
                    <div class="col-md-3 p-r-0">
                      <div class="c-form__group c-form--sm c-form--noeffect">
                        <input class="c-form__input" required type="number" formControlName="quantity">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <label>Qunatity</label>
                      </div>
                    </div>
                    <div class="col-md-2 p-l-0">
                      <div class="o-form-trash m-t-8">
                        <div class="o-form-trash__ico">
                          <img src="/assets/img/svg/delete.svg" (click)="eventForm.get('event_ts_type').removeAt(i)">
                        </div>
                      </div>
                    </div>
                  </div><!-- Ticket type add det sec end -->
                  <div class="o-form-add-link m-t-b-8">pushTicket()
                    <a (click)="pushTicket()"  class="o-form__add-btn">
                      <span class="o-form__add-ico"><img src="/assets/img/svg/plus-red.svg" alt=""></span>
                      <p class="c-text_md color-theme m-l-8 o-form__add-title">Add more ticket type</p>
                    </a>
                  </div><!-- Ticket type add link end -->
                </div>
            </div><!-- Ticket type end -->

            <div class="o-events-form__single">
                <div class="col-md-3 p-0">
                  <div class="c-text_md o-events-form-title">Ticket sales</div>
                </div>
                <div class="col-md-3 p-0">
                  <div class="c-form__group c-form--sm c-form--noeffect">
                    <input class="c-form__input" required="" type="text" formControlName="ts_startTime"   [dpDayPicker]="config" theme="dp-material">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Start date</label>
                  </div>
                </div>
                <div class="col-md-1"><p class="c-text_md m-t-16 text-center">to</p></div>
                <div class="col-md-3 p-0">
                  <div class="c-form__group c-form--sm c-form--noeffect">
                    <input class="c-form__input" required="" type="text" formControlName="ts_endTime"   [dpDayPicker]="config" theme="dp-material">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>End date</label>
                  </div>
                </div>
            </div><!-- Ticket sales end -->

            <div class="o-events-form__single">
              <div class="col-md-3 p-0">
                <div class="c-text_md o-events-form-title">Maximum tickets allow<br>per order</div>
              </div>
              <div class="col-md-5 p-0">
                <div class="c-form__group c-form--sm c-form--noeffect">
                  <input class="c-form__input" required type="number" formControlName="ts_quantity">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <label>Qunatity</label>
                </div>
              </div>
            </div><!-- Maximum tickets end -->

            <div class="o-events-form__single">
              <div class="col-md-3 p-0">
              </div>
              <div class="col-md-5 p-0">
                <button type="submit" class="btn btn-primary btn-md">Create</button>
              </div>
            </div><!-- create btn end -->

          </div>
        </form>
      </div><!-- form block end -->
    </div>
  </div>
</section>