@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_dropdowns.scss';
@import './src/assets/scss/components/_radio-checkbox.scss';
@import '~sass-mq/_mq.scss';
// events form
.o-events-form {
    margin-top: 50px;
    float: left;
    width: 100%;
    margin-bottom: 80px;
}

.o-contianer--p_none {
    padding: 0px !important;
}

.o-events-form-container {
    width: 100%;
    float: left;
    background: #fff;
    margin-top: 32px;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        margin-top: 0px;
    }
}

.o-events-form-block {
    width: 1025px;
    margin: 0px auto;
    min-height: 1000px;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        width: 100%;
        padding: 0px 15px;
    }
    @include mq($from: $desktop_sm, $until: $desktop) {
        width: 100%;
        padding: 0px 16px;
    }
}

.o-events-form__subtitle {
    border-bottom: 1px solid #F3F5F7;
}

.o-events-form__single {
    width: 100%;
    float: left;
    padding-bottom: 8px;
}

.o-events-form-title {
    padding: 10px 0px;
    margin-top: 16px;
}

// for add sec
.o-form-add-det-sec {
    float: left;
    width: 100%;
}

.o-form-add-link {
    width: 100%;
    float: left;
}

.o-form__add-btn {
    display: block;
    // cursor: pointer;
}

.o-form__add-ico {
    width: 16px;
    float: left;
    height: 16px;
    margin-top: 2px;
    img {
        width: 100%;
    }
}

.o-form__add-title {
    float: left;
}

.o-form-trash {
    float: left;
}

.o-form-trash__ico {
    width: 24px;
    height: 24px;
    // cursor: pointer;
    img {
        width: 100%;
    }
}

// upload img
.o-event-form-upload-img {
    width: 100%;
    position: relative;
    float: right;
}

.o-event-upload__file {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 283px;
    height: 141px;
    right: 0;
}

.o-event-form-upload__container {
    height: 141px;
    width: 283px;
    border: 1px solid #EFEAF4;
    border-radius: 3px;
    background-color: #F3F5F7;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    overflow: hidden;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        width: 100%;
    }
    img{
        width: 100%;
    }
    position: relative;
    &:hover {
        .c-profile__imgchange {
            display: block;
            transition: .25s;
        }
    }
}

.o-event-upload__info {
    float: right;
    width: 283px;
    margin: 0px auto;
    padding-top: 16px;
}

.event-image {
    height: 141px;
    width: 283px;
}

.o-event-form-right {
    float: right;
    padding: 0px;
}

quill-editor {
    p{
        font-size: 14px !important;
    }
}

.c-text_md{
    p{
        font-size: 14px !important;
    }
}
.p-b-32{
    padding-bottom: 32px !important;
}

// .container {
//     width: 1200px;
// }
.c-profile__imgchange {
    display: none;
    transition: .25s;
}

.c-profile__imgchange--icon {
    background: none;
    border: none;
    width: 24px !important;
    height: 24px;
    position: absolute;
    top: 60px;
    left: 124px;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #222);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 6px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 24px;
        height: 24px;
        top: 24px;
        left: 24px;
    }
}

@import './src/assets/scss/helpers/_variables.scss';
.o-cover-upload{
    width: 887px;
    height: 480px;
    background: #fff;
    margin: 40px auto;
}
.o-cover-upload__head{
    width: 100%;
    padding: 0 24px;
    float: left;
}
.o-cover-head--heading{
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.o-cover-upload__media{
    width: 100%;
    float: left;
    position: relative;
}
.o-cover-media__image{
    width: 482px;
    height: 482px;
    float: left;
    background: #F3F5F7;
}
.preview-image {
    width: 482px;
    height: 482px;
    position: absolute;
    top: 0;
    left: 0;
}
.o-cover-media__browse{
    width: 100%;
    padding: 24px;
    text-align: center;
    float: left;
}
.o-cover-upload-footer{
    width: 100%;
    float: left;
    border-top: 1px solid rgba(102,45,145,0.1);
    padding: 16px 24px;
    p{
        width: 40%;
        float: left;
    }
}
.o-cover-footer__btn{
    width: 50%;
    float: right;
    text-align: right;
}
// .o-cover-btn__mod{
//     margin-left: 16px;
// }
// .cover_change_drop::before{
//     width: 11px;
//     height: 11px;
//     content: ' ';
//     position: absolute;
//     background: #fff;
//     left: -6px;
//     top: 4px;
//     -ms-transform: rotate(46deg);
//     -webkit-transform: rotate(46deg);
//     transform: rotate(46deg);
// }


.o-profile-upload{
    width: 482px;
    height: 645px;
    background: #fff;
    margin: 1.2em auto;
    border-radius: 3px;
}


.pop-close{
    float: right;
    width: 12px;
    height: 12px;
    img {
        width: 12px;
        height: 12px;
    }
}
.pop-close--mt{
    position: absolute;
    top: -38px;
    right: 0;
    z-index: 1;
}

.o-cover-media__browse{
    width: 100%;
    padding: 10px;
    text-align: center;
    float: left;
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        &:hover{
            color: $color-theme;
            background-color: #ffffff;
            border-color: $color-theme;
        }
    }
    .btn-network {
        color: $color-theme;
        background-color: #ffffff;
        border-color: $color-theme;
        text-transform: uppercase;
        padding: 6px 18px;
        font-size: 14px;
        line-height: 1.0;
        border-radius: 3px;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color: $color-theme;
            background-color: #ffffff;
            border-color: $color-theme;
        }
    }
}


// img-cropper {
//   canvas{
//     margin-top: 0rem!important;
//   }
// }

:host ::ng-deep canvas {
       margin-top: 0rem!important;
}

.c-form__input{
    font-size: 13px;
}