<section class="comingsoon_main">
    <div class="container">
        <div class="comming-soon-container">
            <div class="col-md-5 comming-soon_txt">
                <span>404</span>
                <h2>Elvis has left<br>the building!</h2>
                <p>
                    Sorry, there's nothing else to see here.
                </p>
                <div class="find_other_txt">Kindly, head over to the </div>
                <a routerLink="/home" class="btn btn-signup btn-md">Home Page</a>
            </div>
            <div class="col-md-7 coming_soon_illustration">
                <img src="https://d33wubrfki0l68.cloudfront.net/e4a45f8fe0170f7e3569818acb5b444bbba14809/257c9/img/svg/404/404_main.svg" alt="">
            </div>
        </div>
    </div>
</section>