<div class="o-add-media-channel-main p-0">
    <div class="o-add-media-channel">
        <div class="col-md-12 p-0">
            <div class="o-add-media-channel__head">
                <div class="col-md-4 p-0">
                    <a class="c-text_lg o-add-media-channel__link" (click)="changeFrame(1)">
                        <div class="o-back-arrow">
                            <img [src]="baseUrl + 'img/svg/back_arrow.svg'" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="o-add-media-channel__head text-center">
                        <span class="c-text_lg o-add-media-channel__link">Select Channel</span>
                    </div>
                    <!-- add media channel head sec end -->
                </div>
                <div class="col-md-4 p-0 text-right">
                    <!-- <p class="c-text_sm color-grey-dark">12 Media selected</p> -->
                </div>
            </div>
            <!-- add media channel head sec end -->
        </div>
        <div class="col-md-12 p-0">
            <div class="o-channel-search m-t-16">
                <div class="c-form__group fill-grey-light">
                    <input class="c-form__input fpadding_l32 o-channel-input with_border_none" [(ngModel)]="searchChannel" (keyup)="doSearch()" placeholder="Search" type="text">
                    <span>
                    <img [src]="baseUrl + 'img/svg/ico_search.svg'" class="c-form__input--lefticon">
                  </span>
                </div>
            </div>
            <!-- channel search end -->
            <div id="ops_scrollbar" class="o-add-channel-container" infinite-scroll (scrolled)="onScroll($event)">
                <div class="o-channel-list-container">
                    <ul class="o-channel-block">
                        <li class="o-channel-items" *ngFor="let channel of userChannels | channelFilter : searchChannel; let i = index" (click)="chooseChannel(channel)">
                            <input class="" type="radio" name="channel" id="{{ 'channel_'+ i }}" [disabled]="settingDisable" (click)="chooseChannel(channel)" />
                            <label for="{{ 'channel_' + i }}" class="o-channel-label" (click)="chooseChannel(channel)">
                          <span class="o-channel-content">
                            <span class="o-channel-content__thumb" *ngFor="let mediaLink of channel?.media | slice:0:1">
                              <div class="emptyImage">
                                <div *ngIf="mediaLink !== ''">
                                  <img width="32" height="32" [src]="baseUrl + mediaLink">
                                </div>
                              </div>
                            </span>
                            <span class="o-channel-content__thumb" *ngIf="channel?.media.length < 1"></span>
                            <span class="o-channel-content__name">
                              <p class="c-text_lg o-channel__font--color">{{ channel?.spotfeedName}}</p>
                            </span>
                            <span class="o-channel__private float_right">
                              <img [src]="baseUrl + 'img/svg/ico_tick_white.svg'" class="o-channel-private__img-tic">
                            </span>
                          </span>
                        </label>
                        </li>
                    </ul>
                </div>
            </div>


            <a class="o-create-channel__link" (click)="changeFrame(3)">
                <span class="o-create-channel__ico"><img [src]="baseUrl + 'img/svg/ico_create-plus.svg'" width="17"></span>
                <span class="o-create-channel__title">Create Channel</span>
            </a>
        </div>
    </div>
</div>