<app-navigation></app-navigation>

<section class="event-main">
  <div class="container">
    <div class="o-eventinner_left m-t-16 p-16">
      <div class="o-eventinner__imgblock">
        <img src="{{ baseUrl + eventDetail?.event_media}}" class="o-eventinner__img">
      </div>
      <div class="o-eventinner__cat">{{ eventDetail?.Type?.eventType }}</div>
      <div class="o-eventinner__heading">{{ eventDetail?.title }}
          <div class="pull-right dropdown c-dropdown">
              <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  <img src="/assets/img/svg/ico_options.svg" class="c-status__options">
              </span>
              <ul class="dropdown-menu dropdown-menu-right m-r-8">
                  <li>
                      <a href="">Edit</a>
                  </li>
                  <li>
                      <a href="">Delete</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="o-eventinner__detail">
          <div class="o-eventinner__date">
              <img src="/assets/img/svg/calendar.svg" class="o-eventinner__detail--img"> {{ eventDetail?.eventTiming?.startDate | utcDate | date: 'dd, LLLL'}}
          </div>
          <div class="o-eventinner__address">
            <img src="/assets/img/svg/ico_location2.svg" class="o-eventinner__detail--img"> {{ eventDetail?.venue?.location }}
          </div>
      </div>

      <div class="c-text_lg">Event Brief</div>
      <div class="c-text_md color-grey-dark m-t-b-8">{{ eventDetail?.brief }}</div>
      
      <div *ngIf="eventDetail?.event_agenda.length > 0">
        <div class="c-text_lg m-t-b-16">Event Agenda</div>
        <ul class="list-group o-eventinner__agenda">
            <li class="list-group-item" *ngFor="let agenda of eventDetail?.event_agenda">{{ agenda?.startTime }} <span class="m-l-16">{{ agenda?.startDate | utcDate | date: 'h:mm a'}}</span> <span class="m-l-16">{{ agenda?.description }}</span> </li> 
        </ul>
      </div>
    </div>

    <div class="o-eventinner_right m-t-16 p-16">
      <div class="o-eventinner__ticket">Tickets</div>
      <div class="c-text_sm color-grey-dark m-t-b-8">Ticket selling started from {{ eventDetail?.eventTiming?.startDate | utcDate | date: 'dd, MMM'}} till {{ eventDetail?.eventTiming?.endDate | utcDate | date: 'dd, MMM'}}</div>
      <app-events-carditem *ngFor="let ticket of eventDetail?.extras?.ticket[0]?.ticketType" [cartItem]="ticket" (countChange)="totalCountChange($event)"></app-events-carditem>
        <!--<div class="o-eventinner__ticket__total">Ticket <span class="pull-right">Total</span></div>
        <div class="o-eventinner__ticket__totalmrp">{{  totalTicket }}<span class="pull-right">Rs. {{ totalAmount }}</span></div>
        <button type="button" class="btn btn-primary btn-lg btn-block m-t-16" disabled>Buy Tickets</button>-->
        <button type="button" (click)="attendEvent()" class="btn btn-primary btn-lg btn-block m-t-16">ATTEND</button>
    </div>
  </div>
</section>