<app-navigation></app-navigation>

<section>
  <div class="container o-contianer--p_none">
    <div class="o-event-left-main">
      <div class="o-eventinner_left m-t-16">
        <!-- <div class="o-eventinner__imgblock"> -->
          <!-- <img [src]="baseUrl + eventDetail?.extras?.coverImage" class="o-eventinner__img"> -->
          <div class="o-eventinner__imgblock" [ngStyle]="{'background-image': 'url(' + baseUrl + eventDetail?.extras?.coverImage + ')', 'background-size': 'cover',
                  'background-position': 'center',
                  'width': '100%'}"></div>
        <!-- </div> -->
        <div class="o-eventinner__cat">{{ eventDetail?.Type?.eventType }}</div>
        <div class="o-eventinner__heading">{{ eventDetail?.title }}
            <div class="pull-right dropdown c-dropdown" appDropdown>
                <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" appDropdownOpen>
                    <img [src]="baseUrl + 'img/svg/ico_options.svg'" class="c-status__options">
                </span>
                <ul class="dropdown-menu dropdown-menu-right m-r-8" *ngIf = "eventDetail?.isOwner">
                    <li>
                        <a [routerLink] = "'/event/edit/'+ eventDetail?.id">Edit</a>
                    </li>
                    <li>
                        <a (click) = "deleteEvent(eventDetail?.id)">Delete</a>
                    </li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-right m-r-8" *ngIf = "!eventDetail?.isOwner">
                  <li>
                      <a (click)="reportModalOpen(eventDetail?.id)">Report</a>
                  </li>
              </ul>
            </div>
            <span class="c-links__bookmark pull-right">
              <a *ngIf="eventDetail?.extras?.isBookmarked === true" (click)="bookmarkAction('remove', eventDetail?.id)">
                <img src="https://ops-v2-2.netlify.com/assets/svg/bookmarked.svg" class="c-action__image">
              </a>
              <a *ngIf="eventDetail?.extras?.isBookmarked === false" (click)="bookmarkAction('add', eventDetail?.id)">
                <img src="https://ops-v2-2.netlify.com/assets/svg/bookmark.svg" class="c-action__image">
              </a>
            </span>
        </div>
        <div class="o-eventinner__detail">
            <div class="o-eventinner__date">
                <img [src]="baseUrl + 'img/svg/calendar.svg'" class="o-eventinner__detail--img"> {{ eventDetail?.eventTiming?.startDate | utcDate | date: 'dd, LLLL'}}
            </div>
            <div class="o-eventinner__address">
              <img [src]="baseUrl + 'img/svg/ico_location2.svg'" class="o-eventinner__detail--img"> {{ eventDetail?.venue?.location }}
            </div>
        </div>

        <div class="c-text_lg p-l-r-14">Event Brief</div>
        <div class="o-event-content-container c-text_md color-grey-dark m-t-b-8 p-l-r-14" [innerHtml]="eventDetail?.brief | safeHtml"></div>
        
        <div *ngIf="eventDetail?.event_agenda?.length > 0">
          <div class="c-text_lg m-t-b-16 p-l-r-14">Event Agenda</div>
          <ul class="list-group o-eventinner__agenda p-l-r-14 m-b-8">
              <li class="list-group-item" *ngFor="let agenda of eventDetail?.event_agenda">{{ agenda?.startTime | date:'medium' }} <span class="m-l-16"></span> <span class="m-l-16">{{ agenda?.description | truncate:[25, '...'] }}</span> </li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<app-modal-new #reportModal modalClass="modal-report__popup" >
  <modal-content>
          <app-report-popoup  [reportContentId]="reportId" [reportType]="'event'" (onclose)= "reportModal.close()"></app-report-popoup>
  </modal-content>
</app-modal-new>