<app-navigation></app-navigation>
<app-dwc-progress-bar></app-dwc-progress-bar>
<section class="o-dance-qualifier-form">
    <div class="" *ngIf="isAuthed === false">
        <div class="container">
            <div class="placeholder">
                <h4>You need to be signed in to apply for Dance World Cup India Qualifiers.</h4>
                <a [routerLink]="['/reg']" [queryParams]="{ ev: 'dwc2017' }" class="btn btn-primary">Signup</a>
                <a [routerLink]="['/login']" [queryParams]="{ next: 'dwc/reg' }" class="btn btn-secondary">Login</a>
                <a routerLink="/dwc/details" class="btn btn-secondary cleared">Back to Dance World Cup Details Page</a>
            </div>
        </div>
    </div>
    <div class="container fill-white">
        <div class="o-dance-wcq-form-block" *ngIf="isAuthed === true">
            <h3 class="c-h3 f-w_500 text-center m-t-32">Dance World Cup Qualifier- India</h3>
            <p class="c-text_lg text-center m-t-8 color-grey-dark m-b-32">Add Attendee Details </p>

            <form [formGroup]="eventForm" novalidate (ngSubmit)="submitForm(eventForm.value)" #eventCreate="ngForm">
                <div class="c-form__group c-form--md m-b-32 width50">
                    <input class="c-form__input" required type="text" formControlName="school_name">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Applicant Name *</label>
                    <p class="c-form__validation" *ngIf="eventForm.controls['school_name'].errors?.required && eventCreate.submitted">Dance School's name is required</p>
                </div>
                <div class="o-dwc-reg-check">
                    <div class="col-md-3 p-0">
                        <p class="c-text_md color-grey-dark float_left m-l-32">Performance</p>
                        <div class="c-form__check m-l-32">
                            <label for="people-{{i}}" *ngFor="let perform of Performance; let i = index" formArrayName="Performance">
                                <span class="c-text_md color-grey-dark">{{perform}}</span>
                                <input id="people-{{i}}" type="checkbox" class="c-form__bar2" [formControlName]="i">
                            </label>
                            <p class="c-form__validation" *ngIf="!isPeformanceSelected && eventCreate.submitted">Please select atleast one</p>
                        </div>
                        <!-- <p class="c-form__validation" *ngIf="!isPeformanceSelected && eventCreate.submitted">Atleast one should be checked</p> -->
                    </div>
                    <div class="col-md-5 p-0">
                        <p class="c-text_md color-grey-dark float_left m-l-16">Age Group</p>
                        <div class="c-form__check  m-l-16">
                            <label for="age-{{i}}" *ngFor="let age of Age_Group; let i = index" formArrayName="Age_Group">
                                <span class="c-text_md color-grey-dark">{{age}}</span>
                                <input id="age-{{i}}" type="checkbox" class="c-form__bar2" [formControlName]="i">
                            </label>
                            <p class="c-form__validation" *ngIf="!isAgeGroupSelected && eventCreate.submitted">Please select atleast one</p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <p class="c-text_md color-grey-dark  m-l-16">Dance style</p>
                        <div class="c-form__check  m-l-16">
                            <label for="dance-{{i}}" *ngFor="let dance of Dance_Style; let i = index" formArrayName="Dance_Style">
                                <span class="c-text_md color-grey-dark">{{dance}}</span>
                                    <input id="dance-{{i}}" type="checkbox" class="c-form__bar2" [formControlName]="i" value="">
                            </label>
                            <p class="c-form__validation" *ngIf="!isDanceStyle && eventCreate.submitted">Please select atleast one</p>
                        </div>
                        <!-- <p class="c-form__validation" *ngIf="eventForm.controls['Dance_Style'].errors?.required && eventCreate.submitted">Category of Dance</p> -->
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-12 c-form__group p-0 float_left">
                        <p class="c-text_md color-grey-dark m-b-8">Are you a member of a dance school?</p>
                        <div class="c-radio__sm width100 float_left">
                            <label class="col-md-2 p-0">
                                <input name="member" type="radio" class="c-form__bar2" formControlName="member" value="true">
                                <span></span>
                                <div class="c-radio--label c-radio--dwc">Yes</div>
                            </label>
                            <label class="col-md-4 p-0">
                                <input name="member" type="radio" formControlName="member" value="false">
                                <span></span>
                                <div class="c-radio--label c-radio--dwc">No</div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="c-form__group c-form--md m-b-32 width50">
                    <input class="c-form__input" required="" type="text" formControlName="school_owner">
                    <span class="c-form__highlight"></span>
                    <span class="c-form__bar"></span>
                    <label>Dancer School Owner’s / Choreographer’s Name *</label>
                    <p class="c-form__validation" *ngIf="eventForm.controls['school_owner'].errors?.required && eventCreate.submitted">Dancer School owner’s / Choreographer’s name is required</p>
                </div>

                <div class="c-form__group c-form--md m-b-32 width50">
                    <textarea class="c-textarea__block c-textarea--style o-wcq-textarea " rows="0" data-min-rows="0" formControlName="school_address"></textarea>
                    <label>Address *</label>
                    <p class="c-form__validation" *ngIf="eventForm.controls['school_address'].errors?.required && eventCreate.submitted">Address is required</p>
                </div>

                <p class="c-text_md color-grey-dark m-b-16">Team member details</p>

                <div class="row m-0" *ngFor="let team_member of eventForm.controls.team_member['controls']; let i=index" [formGroup]="team_member">
                    <div class="col-md-3 p-l-0">
                        <div class="c-form__group c-form--md m-b-8">
                            <input class="c-form__input" required="" type="text" formControlName="name">
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label>Name</label>
                            <p class="c-form__validation" *ngIf="eventForm.controls.team_member.controls[i].controls.name.errors?.required && eventCreate.submitted">Name is required</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-0">
                        <div class="c-form__group c-form--md m-b-8">
                            <input class="c-form__input" required="" type="email" formControlName="email">
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label>Email</label>
                            <p class="c-form__validation" *ngIf="eventForm.controls.team_member.controls[i].controls.email.errors?.required && eventCreate.submitted">Email is required</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-0">
                        <div class="c-form__group c-form--md m-b-8">
                            <input class="c-form__input" required="" type="text" formControlName="phone">
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label>Phone number</label>
                            <p class="c-form__validation" *ngIf="eventForm.controls.team_member.controls[i].controls.phone.errors?.required && eventCreate.submitted">Phone is required</p>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="c-form__group c-form--md m-b-8">
                            <input class="c-form__input" required="" type="text" formControlName="dob">
                            <span class="c-form__highlight"></span>
                            <span class="c-form__bar"></span>
                            <label>Date of birth (DD-MM-YY)</label>
                            <p class="c-form__validation" *ngIf="eventForm.controls.team_member.controls[i].controls.dob.errors?.required && eventCreate.submitted">DOB is required</p>
                        </div>
                    </div>
                    <!-- <p class="c-form__validation" *ngIf="eventForm.controls.team_member.controls[i].controls.name.errors?.required && eventCreate.submitted">Name, Email and Phone Number is required</p> -->
                    <div class="col-md-1 p-0" *ngIf="i > 0">
                        <div class="o-form-trash m-t-8">
                            <div class="o-form-trash__ico" (click)="eventForm.get('team_member').removeAt(i)">
                                <img src="/assets/img/svg/delete.svg">
                            </div>
                        </div>
                    </div>
                    <!-- <p class="c-form__validation" *ngIf="eventForm.controls.team_member.controls[i].controls.name.errors?.required && eventCreate.submitted">Date is required</p> -->
                </div>

                <a (click)="pushMember()" class="o-dwc-form-add">
                    <span class="o-dwc-form-add__icon"><img src="/assets/img/svg/plus-red.svg" alt=""></span>
                    <span class="c-text_md m-l-8 float_left color-theme">Add more</span>
                </a>
                <div class="col-md-12 m-t-32 text-center">
                    <button type="submit" class="btn btn-primary btn-md" [disabled]="!isPeformanceSelected && !isAgeGroupSelected && !isDanceStyle && !eventForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>


<app-modal-new #dwcModal modalClass="pop-container-md">
    <modal-content>
        <div class="p-0">
            <div class="pop-container-md o-dance-pop">
                <div class="pop-head m-b-16">
                    <h5 class="c-h3 text-center f-w_500 m-b-24">Dance World Cup</h5>
                </div>
                <!-- pop head -->
                <div id="ops_scrollbar" class="o-dance-pop-container">
                    <h6 class="c-text_lg f-w_600 m-b-8">Rules and regulations</h6>
                    <p class="c-text_md m-b-16 color-grey-dark">
                        Why read motivational sayings? For motivation! You might need a bit, if you can use last year’s list of goals this year because it’s as good as new. All of us can benefit from inspirational thoughts, so here are ten great ones.
                    </p>
                    <p class="c-text_md m-b-16 color-grey-dark">
                        “Be more concerned with your character than with your reputation. Your character is what you really are while your reputation is merely
                    </p>
                    <h6 class="c-text_lg f-w_600 m-b-8">Rules and regulations</h6>
                    <p class="c-text_md m-b-16 color-grey-dark">
                        Why read motivational sayings? For motivation! You might need a bit, if you can use last year’s list of goals this year because it’s as good as new. All of us can benefit from inspirational thoughts, so here are ten great ones.
                    </p>
                    <p class="c-text_md m-b-16 color-grey-dark">
                        “Be more concerned with your character than with your reputation. Your character is what you really are while your reputation is merely what others think you are.” – Dale Carnegie “Do not wait; the time will never be ‘just right.’ Start where you stand,
                        and work with whatever tools you may have at your command, and better tools will be found as you go along.” – Napoleon Hill “What lies behind us and what lies before us are tiny matters compared to what lies within us.” – Ralph
                        Waldo Emerson “Some men see things as they are and say, “Why?” I dream of things that never were and say, “Why not?” – George Bernard Shaw
                    </p>
                </div>
                <div class="o-dance-pop-footer m-t-16 text-center">
                    <!-- <button type="button" (click)="policySubmit(eventForm.value)" class="btn btn-primary btn-md">Done</button> -->

                    <a href="https://www.instamojo.com/@onepagespotlight/f74ae1c55f1949eeac29b7d6d7d5bff3" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Payment"></a>
                </div>
            </div>
            <!-- invite container end -->
        </div>
    </modal-content>
</app-modal-new>