<div class="panel-body padding_0">
  <div class="tab-content">
    <!-- bio -->
    <div id="about_bio" class="tab-pane fade active in">
      <div class="row">
        <div class="col-md-6">
          <div class="about_padding24">
            <div class="ops_heading12">About Me</div>
            <div class="ops_subheading">
              {{ (userProfile.profileDetails?.aboutMe !== "") ? userProfile.profileDetails?.aboutMe : "n/a" }}
              </div>
            <table class="table">
              <tbody>
                <tr>
                  <td class="ops_heading12">Gender</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.physical.gender !== "") ? userProfile.profileDetails?.physical.gender : "n/a" }}</td>
                </tr>
                <tr>
                  <td class="ops_heading12">Address Line 1</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.extra.address.line1 !== "") ? userProfile.profileDetails?.extra.address.line1 : "n/a" }}</td>
                </tr>
                <tr>
                  <tr>
                    <td class="ops_heading12">Address Line 2</td>
                    <td class="ops_subheading">{{ (userProfile.profileDetails?.extra.address.line2 !== "") ? userProfile.profileDetails?.extra.address.line2 : "n/a" }}</td>
                  </tr>
                  <tr>
                    <td class="ops_heading12">City</td>
                    <td class="ops_subheading">{{ (userProfile.profileDetails?.extra.address.city !== "") ? userProfile.profileDetails?.extra.address.city : "n/a" }}</td>
                  </tr>
                  <tr>
                    <td class="ops_heading12">Country</td>
                    <td class="ops_subheading">{{ (userProfile.profileDetails?.extra.address.country !== "") ? userProfile.profileDetails?.extra.address.country : "n/a" }}</td>
                  </tr>
                  <tr>
                    <td class="ops_heading12">Postal Code</td>
                    <td class="ops_subheading">{{ (userProfile.profileDetails?.extra.address.postalCode !== "") ? userProfile.profileDetails?.extra.address.postalCode : "n/a" }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 about_padding24 with_border_left">
          <table class="table">
            <tbody>
              <tr>
                <td class="ops_heading12">birth day</td>
                <td class="ops_subheading">{{ (userProfile.profileDetails?.physical.dateOfBirth !== "") ? (userProfile.profileDetails?.physical.dateOfBirth | date:'dd, MMMM, y') : "n/a" }}</td>
              </tr>
              <tr>
                <td class="ops_heading12">height</td>
                <td class="ops_subheading">{{ (userProfile.profileDetails?.physical.height !== 0 || userProfile.profileDetails?.physical.height ) ? userProfile.profileDetails?.physical.height  : "n/a" }}</td>
              </tr>
              <tr>
                <tr>
                  <td class="ops_heading12">weight</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.physical.weight !== 0) ? userProfile.profileDetails?.physical.weight  : "n/a" }}</td>
                </tr>
                <tr>
                  <td class="ops_heading12">Language known</td>
                  <td class="ops_subheading"><span *ngFor="let lang of userProfile.profileDetails?.languages">{{ lang }},</span></td>
                </tr>
                <tr>
                  <td class="ops_heading12">Ethinicity</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.physical.ethnicity !== "") ? userProfile.profileDetails?.physical.ethnicity  : "n/a" }}</td>
                </tr>
                <tr>
                  <td class="ops_heading12">complexion</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.physical.complexion !== "") ? userProfile.profileDetails?.physical.complexion  : "n/a" }}</td>
                </tr>
                <tr>
                  <td class="ops_heading12">Phone</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.contact.mobile.mobile !== "" ) ? userProfile.profileDetails?.contact.mobile.mobile  : "n/a" }}</td>
                </tr>
                <tr>
                  <td class="ops_heading12">mail</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.email !== "" ) ? userProfile.profileDetails?.email : "n/a" }}</td>
                </tr>
                <tr>
                  <td class="ops_heading12">website</td>
                  <td class="ops_subheading">{{ (userProfile.profileDetails?.contact.website !== "" ) ? userProfile.profileDetails?.contact.website : "n/a" }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- //bio -->
  </div>
</div>