/* landing page */
.header {
    width: 100%;
    padding-top: 25px;
    display: block;
    min-height: 80px;
}
.header_logo {
    width: 158px;
    float: left;
    overflow: hidden;
}
.header_login_button {
    width: 92px;
    float: right;
    overflow: hidden;
}