<ng-container *ngFor="let bookmark of bookmarks">
    <app-bookmark-image-card *ngIf="bookmark?.postType === 'image'" [mediaDetails]="bookmark"></app-bookmark-image-card>
    <app-bookmark-video-card *ngIf="bookmark?.postType === 'video'" [mediaDetails]="bookmark"></app-bookmark-video-card>
    <app-bookmark-event-card *ngIf="bookmark?.type === 'event'" [eventDetails]="bookmark"></app-bookmark-event-card>
    <app-bookmark-opportunity-card *ngIf="bookmark?.type === 'opportunity'" [oppDetails]="bookmark"></app-bookmark-opportunity-card>
</ng-container>
<div *ngIf="showPreloader">
  <div class="sticky">
    <div class="loader">Loading...</div>
  </div>
</div>