main{
    // position: relative;
    // // min-height: calc(100vh - 122px);
    min-height: 86vh;
}
.outer_container {
    margin-top: 50px;
    float: left;
    width: 100%;
    margin-bottom: 80px;
}