<div class="tab-content">
 <div id="search_spotfeed" class="tab-pane fade in active">

    <div class="row pro_channel2 ops_spotfeed">
        <div class="col-md-3 col-sm-6 pro_channel_card" *ngFor="let item of cards">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="avatar_spotfeed">
                            <img src="{{item.image}}">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <div class="ops_heading">{{item.name}}</div>
                            <div class="ops_subheading">{{item.subheading}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="avatar_spotfeed">
                            <img src="{{ imageBaseLink }}img/art2.png">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <div class="ops_heading">Its A Habbit</div>
                            <div class="ops_subheading">Fire Up Your Motivation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="avatar_spotfeed">
                            <img src="{{ imageBaseLink }}img/art3.jpg">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <div class="ops_heading">Do Your Think Motivational</div>
                            <div class="ops_subheading">Effective Ways to quit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="avatar_spotfeed">
                            <img src="{{ imageBaseLink }}img/art1.png">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <div class="ops_heading">Motivate Yourself</div>
                            <div class="ops_subheading">Fire Up Your Motivation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="avatar_spotfeed">
                            <img src="{{ imageBaseLink }}img/art4.png">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <div class="ops_heading">Harness The Power of Words In</div>
                            <div class="ops_subheading">Fire Up Your Motivation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pro_channel_card">
            <div class="col-md-12 col-sm-12 pro_channel_block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pro_channel_img1">
                        <figure class="avatar_spotfeed">
                            <img src="{{ imageBaseLink }}img/art2.png">
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 pro_channel_cont">
                        <div class="pro_channel_name">
                            <div class="ops_heading">Harness The Power of Words In</div>
                            <div class="ops_subheading">Fire Up Your Motivation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      -->
    </div>
 </div>
</div>
