/* ------------------------- Login css --------------------------- */
.ops_login {
  margin-top: 180px;
  .error_alert {
    margin-bottom: 16px;
  }
  .login_forgot a {
    color: #FF7B84;
    font-size: 12px;
    line-height: 17px;
    float: right;
  }
  .ops_radio_sm label {
    color: #979797;
    font-size: 12px;
    line-height: 17px;
  }
  .ops_radio_sm input[type="checkbox"] {
    display: none; }
  .ops_radio_sm label {
    position: static;
    text-align: center;
    pointer-events: auto; }
  .ops_radio_sm input[type="checkbox"] + span {
    border: 2px solid #c1c1c1;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin-right: 7px;
    position: relative;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-top: 1px; }
  .ops_radio_sm input[type="checkbox"]:checked + span:after {
    background: #ff7b84;
    position: absolute;
    border-radius: 50px;
    left: -2px;
    top: -2px;
    width: 15px;
    height: 15px;
    font-family: FontAwesome;
    content: "\f10c";
    color: #ffffff;
    font-size: 12px;
    padding-left: 1px;
  }
}