.form_container{
    -webkit-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.obj-log_reg{
background: #333333;

  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.login_left{
  width: 100%;
  background: url('http://dev.greenroom6.com/resources/scripts/lib/dist/images/login/loginleftbg.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  height: 662px;
  padding: 40px 80px;
  position: relative;
}

.discription_area{
  width: 100%;
  float: left;
  margin-top: 40%;
}
.discription_area h1{
  font-weight: 300;
}
.discription_area p{
  font-weight: 300;
  padding-top: 10px;
}
.create_acc{
  position: absolute;
  bottom: 40px;
}
.create_acc a{
  color: #fff;
  font-weight: 700;
  margin-left: 5px;
}
.login_right{
  width: 100%;
  background: #fff;

  height: 662px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login_right span{
  font-size: 12px;
  font-weight: 600;
  color: #d73507;
  text-align: center;
  padding:5px 0px;
}
.login_right h2{
      color: #000;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    /*margin-bottom: 0px;*/
}
.login_right label{
  text-align: center;
  margin-bottom: 30px;
}
.login_right input[type=text]{
  width: 70%;
  border: 1px #EBEBEB solid; 
  border-radius: 50px;
  height: 36px;
  padding-left: 20px;
  color: #000;
  font-size: 14px;
}
.login_right input[type=password]{
  width: 70%;
  border: 1px #EBEBEB solid;
  border-radius: 50px;
  height: 36px;
  padding-left: 20px;
  color: #000;
  font-size: 14px;
}
.login_right input[type=submit]{
    width: 120px;
    border-radius: 50px;
    padding: 10px 20px;
    background: #FF5944;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
}
.login_right label p{
  color: #95989A;
  font-weight: 300;
}
