@import './src/assets/scss/helpers/_variables.scss';
@import '~sass-mq/_mq.scss';
.ops_signin {
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // padding-top: 164px;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        padding-top: 0;
        margin-top: 0;
    }
    .ops_signup_right {
        padding: 0 80px;
        @include mq($from: $mobile_sm, $until: $desktop_sm) {
            padding: 0px 16px 16px 16px;
        }
        .ops_h1 {
            font-weight: 500;
            margin-bottom: 48px;
            text-align: center;
        }
    }
}

.ops_signup {
    background-color: #ffffff;
    // padding-top: 64px;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        background: #fff;
        height: 100%;
        display: block;
    }
    @include mq($from: $tablet, $until: $desktop_sm) {
        background: #fff;
        height: 82vh;
        display: block;
    }
}

.pass-margin {
    margin-top: 24px!important;
}

.ops_heading {
    margin: 16px 0;
}

.signup_privacy {
    width: 100%;
    float: left;
    margin-top: 8px;
    p {
        float: left;
        width: 50%;
        margin-top: 10px;
    }
}


.hide{
    display: none;
    visibility: hidden
}

.show{
    visibility: visible!important;
}

.preloader {
    position: absolute;
    width: 100%;
    top: 15%;
}

/* --------------------- Registration step 1 otp -------------------------- */
.m-r-0 {
    margin-right: 0 !important;
}
.reg_step1_otp {
    .modal-lg {
        width: 850px;
        @include mq($from: $mobile_sm, $until: $mobile_lg) {
            width: 90%;
        }
        @include mq($from: $mobile_lg, $until: $desktop) {
            width: 90%;
        }
    }
    a {
        font-size: 11px;
    }
    .modal-title {
        padding: 5% 0;
    }
    .btn {
        margin-top: 20px;
    }
    p {
        margin-top: 8px;
    }
}

.modal-dialog {
    margin: 6% auto;
    form {
        width: 400px;
        margin: 0 auto;
        padding-bottom: 10%;
        span {
            color: $theme_red;
            font-size: 14px;
            float: right;
            margin-top: -22px;
        }
    }
    h5 {
        color: #333333;
        line-height: 24px;
        font-size: 15px;
        font-weight: normal;
        margin-top: 40px;
    }
}

.o-otp_form {
    float: left;
    margin-left: 22px;
    input {
        color: #333333;
        line-height: 34px;
        text-align: center;
        font-size: 24px;
        border: 1px solid #DEDEDE;
        background-color: #F8F8F8;
        border-radius: 3px;
        outline: none;
        width: 44px;
        height: 38px;
        padding: initial;
    }
}

.p-l-40-px {
    padding-left: 40px;
}

.p-l-50-px {
    padding-left: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}