<app-route-modal  (onClose)="closeFunction()" modalClass="c-modal--size1">
    <modal-content>

        <div class="c-mediamodal__left">
            <div class="c-mediamodal__left__block">
                <figure class="c-mediamodal--img">
                    <app-videplayer [play]="'true'" *ngIf="checkFileType(data?.repopath, 'Video')" src="{{ imageLink + data?.repopath }}"></app-videplayer>
                    <img *ngIf="checkFileType(data?.repopath, 'Image')" src="{{ imageLink + data?.repopath }}" class="img-responsive">
                    <app-audioplayer *ngIf="checkFileType(data?.repopath, 'Audio')" src="{{ imageLink + data?.repopath }}"></app-audioplayer>
                </figure>
                <!--<div class="c-mediamodal__l-arrow">
                    <div class="c-mediamodal__arrow--icon">
                        <a (click)="mediaNext('pre')">
                            <img src="/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="c-mediamodal__r-arrow">
                    <div class="c-mediamodal__arrow--icon">
                        <a (click)="mediaNext('next')">
                            <img src="/assets/img/svg/Arrow.svg" alt="">
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="c-mediamodal__right" id="ops_scrollbar">
            <div class="fill-white">
                <div class="c-mediamodal__user p-16">
                    <a class="c-user__avatar c-avatar--status3">
                        <img class="c-user__image" src="{{ imageLink + data?.ownerImage }}">
                    </a>
                    <a class="c-user__name">{{ data?.ownerName }}</a>
                    <div class="c-mediamodal__subhead">{{ data?.channelName }}
                        <span class="c-mediamodal__time">{{ data?.createdDate | utcDate | date: 'hh:mm a dd MMM, yy'}}</span>
                    </div>
                    <!--<div class="c-mediamodal__opt dropdown c-dropdown">
                        <a href="">
                            <img src="/assets/img/svg/ico_private.svg">
                        </a>
                        <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img src="/assets/img/svg/ico_options.svg" class="c-options--img">
                            </span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>-->
                </div>
                <div class="c-text_sm p-16">
                    <read-more [class]="'media-popup__text'" [text]="data?.description" [maxLength]=250 ></read-more>
                </div>
                <div class="c-card__links c-float--none p-t-0">
                    <div class="c-links">
                        <div class="c-links__spots" (click)="spotMedia(data?.id)">
                            <img *ngIf="spot===false" src="/assets/img/svg/spot_icon_default.svg" class="c-links__image">
                            <img *ngIf="spot===true" src="/assets/img/svg/spot_icon.svg" class="c-links__image">
                            <span class="c-links__count">{{ spotCount }}</span>
                        </div>
                        <div class="c-links__comments">
                            <img src="/assets/img/svg/ico_comment.svg" class="c-links__image">
                            <span class="c-links__count">{{ commentCount }}</span>
                        </div>
                        <div class="c-links__actions">
                            <span class="c-links__add">
                                <a >
                                    <img src="/assets/img/svg/ico_addtochannel.svg" class="c-action__image">
                                </a>
                            </span>
                            <span class="c-links__share">
                                <a>
                                    <img src="/assets/img/svg/ico_share-02.svg" class="c-action__image">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-media__right--feed">
                <app-comment [mediaId]="mediaId" [commentsType]="'media-popup'" [comments]="comments" [mediaType]="mediaType" (submitComment)="sbComment($event)"></app-comment>
            </div>
        </div>

    </modal-content>
</app-route-modal>