@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_helpers.scss';
// feed right section
// .pro_feed-right {
//     margin-top: 20px;
//     padding-right: 0px;
// }
// tabs
// .home_tabs {
//     margin-top: 0px;
//     .nav-tabs > li > a {
//         font-size: 13px;
//         font-weight: normal;
//         text-align: left;
//         color: #929292;
//         background: transparent;
//         border: none;
//         text-transform: capitalize;
//         cursor: pointer!important;
//     }
//     .nav-tabs li .active a {
//         color: #333;
//     }
//     .nav-tabs > li.active > a,
//     .nav-tabs > li.active > a:hover,
//     .nav-tabs > li.active > a:focus {
//         color: #333;
//         background-color: transparent;
//         border: none;
//         border-bottom-color: transparent;
//         cursor: default;
//     }
//     .nav > li > a {
//         position: relative;
//         display: block;
//         // padding: 10px 15px 10px 0;
//         padding: 0px 15px 0px 0;
//     }
//     .nav-tabs {
//         margin-bottom: 8px;
//         border-bottom: none;
//     }
//     #home_channel, #home_feed, #home_spotfeed {
//         margin-left: -8px;
//     }
// }
.c-ops__tabs {
    // margin-top: 8px;
    .nav-tabs>li>a {
        font-size: 13px;
        font-weight: normal;
        text-align: left;
        color: #929292;
        background: transparent;
        border: none;
        text-transform: capitalize;
    }
    .nav-tabs li .active a {
        color: #333;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        color: #333;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: default;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 8px 12px 8px 12px;
    }
    .nav-tabs {
        border-bottom: none;
    }
}

.o-org-tabs {
    .nav-tabs>li>a {
        font-size: 13px!important;
    }
}