<div class="c-card m-t-16">
  <div class="c-text_lg m-16">Contact</div>
    <div class="c-text_sm m-16">
      <img [src]="baseUrl + 'v2/svg/ico_receiver.svg'" class="width12">
      <span class="m-l-8">{{ orgProfile?.profile_details?.contact?.mobile.mobile }}</span>
    </div>
    <div class="c-text_sm m-16">
      <img [src]="baseUrl + 'v2/svg/ico_envelope.svg'" class="width12">
      <span class="m-l-8">{{ orgProfile?.profile_details?.email }}</span>
    </div>
    <div class="c-text_sm m-16">
      <img [src]="baseUrl + 'v2/svg/ico_public_grey.svg'" class="width12">
      <span class="m-l-8">{{ orgProfile?.profile_details?.contact?.website.website }}</span>
    </div>
    <div class="c-invite__products">
      <img [src]="baseUrl + 'v2/google-maps.jpg'" class="c-card__image">
    </div>
    <div class="c-text_sm m-16">
      <img [src]="baseUrl + 'v2/svg/ico_envelope.svg'" class="width12">
      <span class="m-l-8">200 Willoughby Ave, NY 11205, USA</span>
    </div>
  </div>
  <!-- <div class="o-org-members fill-white p-16 m-t-16">
      <h6 class="c-text_lg">Members in organization</h6>
      <ul class="o-org-members-block p-t-16">
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}img/opro.png" >
              </a>
              <div class="c-profile__popup c-profile-follow">
                  <div class="c-popup__timeline">
                    <img src="{{ baseUrl }}img/photography1.jpg" class="img-responsive">
                  </div>
                  <div class="c-popup__userimg">
                    <img src="{{ baseUrl }}img/avatar.png" class="c-user__image">
                  </div>
                  <div class="p-16">
                  <div class="row p-l-r-16">
                    <p class="c-text_md">Battie Todd</p>
                    <p class="c-text_sm color-grey-dark">@battie</p>
                    <button type="button" class="btn btn-primary btn-sm pull-right m-t--32">Follow</button>
                  </div>
                    <div class="row p-l-r-16">
                    <p class="c-popup__follow"><strong>12K</strong> Followers</p>
                    <p class="c-popup__follow"><strong>12K</strong> Following</p>
                    <p class="c-popup__follow"><strong>12K</strong> Spots</p>
                    </div>
                  </div>
                </div>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}img/avatar.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}img/avatar2.jpg" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}img/opro.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar2.jpg" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}opro.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar2.jpg" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}opro.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar2.jpg" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}opro.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar.png" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}avatar2.jpg" >
              </a>
          </li>
          <li class="o-org-members__list">
              <a class="o-org-members__single" href="#">
                  <img width="100%;" src="{{ baseUrl }}opro.png" >
              </a>
          </li>
      </ul>
      <a href="#" class="c-text_md color-theme m-b-8">See all members</a>
  </div> -->