@import './src/assets/scss/helpers/_variables.scss';
// @import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/components/_feed-card.scss';
@import './src/assets/scss/helpers/_helpers.scss';
@import './src/assets/scss/components/_app.scss';
@import './src/assets/scss/base/_typography.scss';
@import '~sass-mq/_mq.scss';
// leftbar 
// members list
.o-org-members {
    width: 100%;
    float: left;
    // text-align: center;
}

.o-org-members-block {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.o-org-members__list {
    list-style-type: none;
    float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 16px;
    margin-bottom: 16px;
    &:nth-child(4n+1) {
        margin-left: 0px;
        @include mq($mobile_md) {
            margin-left: 16px;
        }
        @include mq($from: $tablet, $until: $desktop_sm) {
            margin-left: 0px!important;
        }
    }
    @include mq($mobile_md) {
        &:nth-child(5n+1) {
            margin-left: 0px;
        }
        @include mq($from: $tablet, $until: $desktop_sm) {
            margin-left: 16px!important;
        }
    }
}

.c-profile-follow {
    display: none;
}

.o-org-members__single {
    width: 100%;
    height: 100%;
}

.o-org-members__single:hover+.c-profile-follow {
    display: block;
    position: absolute;
    float: left;
    top: -176px;
    left: -95px;
}