<div id="posts" class="tab-pane fade in active">
  <div class="col-md-3 col-sm-4 col-xs-12 p-8">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__media">
          <a href="javascript:void(0)">
            <img src="https://ops-v2.netlify.com/assets/demo/photography3.jpg" alt="" class="c-card__image">
          </a>
          <span>
            <img src="https://ops-v2.netlify.com/assets/svg/ico_video.svg" alt="" class="c-card__icon">
          </span>
          <div class="c-media--hover">
              <div class="">
                  <div class="c-user">
                    <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                      <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar.jpg">
                    </a>
                    <a class="c-user__name2">Tobias Van</a>
                  </div>
                  <a href="javascript:void(0);">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_option_white.svg" alt="" class="c-status__options pull-right m-t-8">
                  </a>
              </div>
        </div>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
          <div class="c-text_sm">
              There are many variations of passages of Lorem Ipsum available, but the majority...
          </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-links">
                <div class="c-links__spots">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_spot.svg" class="c-links__image">
                    <span class="c-links__count">705</span>
                </div>
                <div class="c-links__comments">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_comment.svg" class="c-links__image">
                    <span class="c-links__count">24</span>
                </div>
                <div class="c-links__actions">
                    <span class="c-links__add">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_addtochannel.svg" class="c-action__image">
                </a>
            </span>
                    <span class="c-links__share">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_share-02.svg" class="c-action__image">
                </a>
            </span>
                </div>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 p-8">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__media">
          <a href="javascript:void(0)">
            <img src="https://ops-v2.netlify.com/assets/demo/dog2.jpg" alt="" class="c-card__image">
          </a>
          <div class="c-media--hover">
              <div class="">
                  <div class="c-user">
                    <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                      <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar.jpg">
                    </a>
                    <a class="c-user__name2">Tobias Van</a>
                  </div>
                  <a href="javascript:void(0);">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_option_white.svg" alt="" class="c-status__options pull-right m-t-8">
                  </a>
              </div>
        </div>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
          <div class="c-text_sm">
              There are many variations of passages of Lorem Ipsum available, but the majority...
          </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-links">
                <div class="c-links__spots">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_spot.svg" class="c-links__image">
                    <span class="c-links__count">705</span>
                </div>
                <div class="c-links__comments">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_comment.svg" class="c-links__image">
                    <span class="c-links__count">24</span>
                </div>
                <div class="c-links__actions">
                    <span class="c-links__add">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_addtochannel.svg" class="c-action__image">
                </a>
            </span>
                    <span class="c-links__share">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_share-02.svg" class="c-action__image">
                </a>
            </span>
                </div>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 p-8">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__media">
          <a href="javascript:void(0)">
            <img src="https://ops-v2.netlify.com/assets/demo/dog2.jpg" alt="" class="c-card__image">
          </a>
          <div class="c-media--hover">
              <div class="">
                  <div class="c-user">
                    <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                      <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar.jpg">
                    </a>
                    <a class="c-user__name2">Tobias Van</a>
                  </div>
                  <a href="javascript:void(0);">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_option_white.svg" alt="" class="c-status__options pull-right m-t-8">
                  </a>
              </div>
        </div>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
          <div class="c-text_sm">
              There are many variations of passages of Lorem Ipsum available, but the majority...
          </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-links">
                <div class="c-links__spots">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_spot.svg" class="c-links__image">
                    <span class="c-links__count">705</span>
                </div>
                <div class="c-links__comments">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_comment.svg" class="c-links__image">
                    <span class="c-links__count">24</span>
                </div>
                <div class="c-links__actions">
                    <span class="c-links__add">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_addtochannel.svg" class="c-action__image">
                </a>
            </span>
                    <span class="c-links__share">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_share-02.svg" class="c-action__image">
                </a>
            </span>
                </div>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 p-8">
    <div class="c-card">
        <!-- card media (img, video & audio) -->
        <div class="c-card__media">
          <a href="javascript:void(0)">
            <img src="https://ops-v2.netlify.com/assets/demo/photography6.jpg" alt="" class="c-card__image">
          </a>
          <span>
            <img src="https://ops-v2.netlify.com/assets/svg/ico_article.svg" alt="" class="c-card__icon">
          </span>
          <div class="c-media--hover">
              <div class="">
                  <div class="c-user">
                    <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                      <img class="c-user__image" src="https://ops-v2.netlify.com/assets/demo/avatar.jpg">
                    </a>
                    <a class="c-user__name2">Tobias Van</a>
                  </div>
                  <a href="javascript:void(0);">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_option_white.svg" alt="" class="c-status__options pull-right m-t-8">
                  </a>
              </div>
        </div>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
          <div class="c-text_sm">
              There are many variations of passages of Lorem Ipsum available, but the majority...
          </div>
        </div>
        <!-- //card body -->
        <!-- card footer links -->
        <div class="c-card__links p-t-0">
            <div class="c-links">
                <div class="c-links__spots">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_spot.svg" class="c-links__image">
                    <span class="c-links__count">705</span>
                </div>
                <div class="c-links__comments">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_comment.svg" class="c-links__image">
                    <span class="c-links__count">24</span>
                </div>
                <div class="c-links__actions">
                    <span class="c-links__add">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_addtochannel.svg" class="c-action__image">
                </a>
            </span>
                    <span class="c-links__share">
                <a href="javascript:void(0)">
                    <img src="https://ops-v2.netlify.com/assets/svg/ico_share-02.svg" class="c-action__image">
                </a>
            </span>
                </div>
            </div>
        </div>
        <!-- //card footer links -->
    </div>
  </div>
</div>