$pad-scale-1: 8px;
$pad-scale-2: 16px;
$pad-scale-3: 24px;
$pad-scale-4: 32px;

.test{
  display: none;
}

.add-post_choosechannel{
  color: #000000;
}

.o-create_channel{
  padding-left: $pad-scale-4;
  list-style: none;
}

.channel__form {
  list-style: none;
  padding-top: $pad-scale-2;
  margin-right: $pad-scale-3;
}

.form__textarea {
  width: 100%;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px #c1c1c1 solid;
  font-weight: 600;
  color: #000;
}

.ico__add {
  display: inline-block;
  vertical-align: top;
  margin-top: $pad-scale-2;
  margin-left: $pad-scale-2;
  margin-right: $pad-scale-2;
}

.ico__label{
  display: inline-block;
  vertical-align: top;
  margin-top: $pad-scale-2;
}

.icon__holder {
  padding-bottom: $pad-scale-1;
  text-align: left;
}

.form__select{
  box-shadow: none;
  padding: 0 0;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 0;
  height: 24px;
  font-weight: 600;
}

.channel-list-show{
  margin-left: $pad-scale-2;
  color: #444;
  text-align: left;
  padding-top: $pad-scale-2;
  &_img{
    display: inline-block;
  }
  &_txt {
    display: inline-block;
    vertical-align: top;
    margin-left: $pad-scale-2;
  }
  &_btn {
    display: inline-block;
    vertical-align: top;
    margin-right: $pad-scale-2;
    float: right;
  }
}

.sel .btn-sm {
    color: #9aa59b;
    background-color: #eee;
}

.channel-list-show_img {
  width: 49px;
  height: 49px;
  overflow: hidden;
}

.channel-list-show_img__img {
  max-width: 100%;
}

.channel-list-show_img__empty {
  width: 49px;
  height: 32px;
  background-color: #ddd;
}

.createchannelForm{
  padding-bottom: $pad-scale-3;
  .form_input, .form__select, .form__textarea{
    background-color: transparent;
  }
}

.createchannel {
  background-color: #fbfafa;
}
