<div id="choose_channel_details" style="">
  <div class="add-post_choosechannel">
    <div class="createchannel with_border_bottom">
      <div class="createchannel">
        <div (click)="showChannelForm()" class="icon__holder">
          <span class="ico__add">
            <img width="24" src="http://d33wubrfki0l68.cloudfront.net/ecd156ec380d4f55a1b0b797ccdef45d2fca54df/494c4/img/svg/ico_create-plus.svg">
          </span>
          <span class="ico__label">Create Channel</span>
        </div>
        <div *ngIf="addChannel" class="o-block_2 o-create_channel">
          <form class="createchannelForm" [formGroup]="channelForm" novalidate #myform="ngForm">
              <ul class="channel__form">
                  <li class="channel_title">
                    <div class="form_group">
                      <input formControlName="title" class="form_input" required="" type="text">
                      <span class="form_highlight"></span>
                      <span class="form_bar"></span>
                      <label>Title</label>
                    </div>
                  </li>
                  <li>
                    <div class="form_group">
                      <select formControlName="type" class="form-control form__select" id="sel1">
                        <option value="">Industry</option>
                        <option value="DANCE">Dance</option>
                        <option value="MUSIC">Music</option>
                        <option value="THEATRE">Theatre</option>
                        <option value="CINEMA">Cinema</option>
                        <option value="GRAPHICS">Graphics</option>
                        <option value="FASHION">Fashion</option>
                        <option value="TELEVISION">Television.</option>
                        <option value="FINE_ARTS">Fine Arts</option>
                        <option value="PHOTOGRAPHY">Photography</option>
                        <option value="PRODUCTION">Production</option>
                      </select>
                    </div>
                  </li>
                  <li class="channel_desc">
                    <div class="form_group">
                      <textarea placeholder="Description" class="form__textarea" formControlName="desc" name="desc" id="" cols="30" rows="2"></textarea>
                    </div>
                  </li>
                  <li class="list-inline-item discussion_post_topic">
                    <div class="form_group">
                      <select formControlName="privacy" class="form-control form__select" name="access"><br>
                        <option value="0">Public</option>
                        <option value="1">Private</option>
                      </select>
                    </div>
                  </li>
                  <li class="create_btn">
                    <button class="btn btn-normal btn-sm" type="submit" (click)="createChannel(channelForm.value)">Create Channel</button>
                  </li>
              </ul>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let channel of userChannels; let i = index" class="channel-list-show with_border_bottom">
    <div class="channel-list-show_img">
      <figure class="channel-list-show_img">
          <a (click)="chooseChannel(channel)">
            <img class="channel-list-show_img__img" *ngIf="channel.media[0]?.repoPath" src="{{ 'http://d206s58i653k1q.cloudfront.net/' + channel.media[0]?.repoPath }}"/>
            <div class="channel-list-show_img__empty" *ngIf="!channel.media[0]?.repoPath"></div>
          </a>
      </figure>
    </div>
    <div class="channel-list-show_txt">
        <p>{{ channel.spotfeedName }}</p>
    </div>
    <div class="channel-list-show_btn" [ngClass]="{ 'sel': isChosenChannel(channel) === true }">
        <a (click)="chooseChannel(channel)" type="button" class="btn btn-normal btn-sm">Select</a>
    </div>
  </div>
</div>
