.o-my-media {
  margin-top: 88px;
}
.o-my-media__title{
	padding-left: 15px;
	margin-bottom: 24px;
}
.o-my-media__link{
	padding: 10px 24px 10px 8px!important;
}
.filter-block{
	float: right;
}

.post-icons {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 24px;
    opacity: 0.3;
    margin-top: 4px;
}

.ops_tabs_li{
    display: inline-block
}
.o-my-media__active{
    color: #333!important;
}
.o-my-media__nav{
    border: none;
    a{
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        color: #979797;
        background: 0 0;
        border: none;
        text-transform: uppercase;
    }
    a:hover{
        border: none;
        color: #333;
    }
}
