<section class="obj-log_reg background-container ng-scope">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="reg_left">
               <div class="logo">
                <h1>Logo</h1>
               </div>
               <!-- logo end div -->
               <div class="">
                  <h1>Lorem Ipsium</h1>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit
                     sed do eiusmod tempor incididunt ut labore et dolore
                     magna aliqua. Ut enim ad minim veniam
                  </p>
               </div>
               <div class="create_acc">
                  <p>Already have an account? <a href="#login">Login Here</a></p>
               </div>
            </div>
            <!-- reg left end -->
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="reg_right">
               <form method="" name="" accept-charset="utf-8" class="">
                  <div class="photo_upload">
                     <div id="profile" image-upload="" class="">
                        <div class="dashes"></div>
                    </div>
                     <input id="mediaFile" accept="image/*" >
                  </div>
                  <!-- photo upload end -->
                  <label><input type="text" name="" value="" ></label>
                  <label><input type="text" name="" value="" ></label>
                  <br>
                  <label>
                    <strong>Gender</strong>
                    <label><input type="radio" value="M" class=""><span></span>Male</label>
                    <label><input type="radio" value="F" class=""><span></span>Female</label>
                    <label><input type="radio" value="X" class=""><span></span>Others</label>
                  </label>
                  <br><label><input type="email" name="" value="" placeholder="E-mail" required="" class="ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required"></label>
                  <br><label><input type="password" name="pwd" value="" placeholder="Password" required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"></label>
                  <label>
                     <!-- ngIf: showError -->
                  </label>
                  <label><input type="password" name="" value="" placeholder="Confirm Password" required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"></label>
                  <!-- ngIf: passMatch -->
                  <label>
                     <p>By clicking Create Account, you agree to our Terms and confirm that
                        you have read our Data Policy, including our Cookie Use Policy.
                     </p>
                  </label>
                  <label><button type="submit" class="">Add Account</button></label>
                  <label>
                     <p style="color: red" class="ng-binding"> </p>
                  </label>
               </form>
               <div class="progress_bar">
               </div>
            </div>
            <!-- reg right end -->
         </div>
      </div>
   </div>
</section>
