<div id="work">
    <div class="row m-0">
        <div class="col-md-6 col-sm-6">
            <div class="o-bio-add-sec m-t-b-16" *ngIf="ownProfile">
                <a (click)="addWorkUser()">
                    <span class="o-bio-add__icon"><img [src]="imageBaseUrl + 'img/svg/plus-red.svg'" alt=""></span>
                    <span class="o-bio-add__txt c-text_md ltr_space color-theme f-w_600">Add Work</span>
                </a>
                <div *ngIf="activateCreateForm && formType === 'create'" id="award-form">
                    <app-about-work-form (formSubmitted)="workFormSubmit($event)" (closeForms)="formsClose($event)" [workDetails]="formData"></app-about-work-form>
                </div>
            </div>

            <div class="o-bio-det-block o-bio-det-block--active" *ngFor="let work of userProfile?.extra?.work; let i = index">
                <div class="o-bio-det-edit-icon-block" *ngIf="ownProfile">
                    <span class="o-bio-det__edit-ico m-r-8" (click)="deleteCurrentWork(work.id)">
                        <img [src]="imageBaseUrl + 'img/svg/ico_delete.svg'">
                    </span>
                    <span class="o-bio-det__edit-ico" (click)="editCurrentWork(work)">
                        <img [src]="imageBaseUrl + 'img/svg/editpencil.svg'" alt="">
                    </span>
                </div>
                <div *ngIf="activateEditForm && work.id === currentId && formType === 'edit'" id="award-form">
                    <app-about-work-form (formSubmitted)="workFormSubmit($event)" (closeForms)="formsClose($event)" [workDetails]="formData"></app-about-work-form>
                </div>
                <div id="o-bio-det__work" class="o-bio-det__display" [hidden]="work.id === currentId && activateEditForm && formType === 'edit'">
                    <!-- <div class="o-bio-det-display__media">
                        <img [src]="imageBaseUrl + 'img/about/work.png'" alt="">
                    </div> -->
                    <div class="o-bio-det-display__info" *ngIf="work.currentlyWith === false">
                        <span class="c-text_md">{{ work.role }} at {{ work.organizationName }}</span>
                        <span class="c-text_sm color-grey-dark">From {{ work.from | date:'MMMM, y'}} To {{ work.to | date:'MMMM, y'}}</span>
                    </div>
                    <div class="o-bio-det-display__info" *ngIf="work.currentlyWith === true">
                        <span class="c-text_md">{{ work.role }} at {{ work.organizationName }}</span>
                        <span class="c-text_sm color-grey-dark">From {{ work.from | date:'MMMM, y'}} To Present</span>
                    </div>
                </div>
            </div>

            <!-- <div class="row sm_panel_body" *ngFor="let work of userProfile?.extra?.work">
                <div class="col-md-2 sm_panel_left">
                    <figure class="avatar_overview">
                        <img [src]="imageBaseUrl + 'img/event.jpg'" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-8 sm_panel_right" *ngIf="work.currentlyWith === false">
                    <div class="work-group">
                        <h3>{{ work.role }}<span> at </span> {{ work.organizationName }}</h3>
                        <p>From {{ work.from | date:'MMMM, y'}}</p>
                        <p>To {{ work.to | date:'MMMM, y'}}</p>
                    </div>
                    <div class="workplace_edit_remove_ico " *ngIf="ownProfile">
                        <a (click)="editCurrentWork(work)" class="edit_remove_ico"><img [src]="imageBaseUrl + 'img/svg/ico_edit.svg'"></a>
                        <a (click)="deleteCurrentWork(work.id)" class="edit_remove_ico"><img [src]="imageBaseUrl + 'img/svg/ico_delete.svg'"></a>
                    </div>
                </div>
                <div class="col-md-8 sm_panel_right" *ngIf="work.currentlyWith === true">
                    <div class="work-group">
                        <h3>{{ work.role }}<span> at </span> {{ work.organizationName }}</h3>
                        <p>From {{ work.from | date:'MMMM, y'}}</p>
                        <p>To Present</p>
                    </div>
                    <div class="workplace_edit_remove_ico " *ngIf="ownProfile">
                        <a (click)="editCurrentWork(work)" class="edit_remove_ico"><img [src]="imageBaseUrl + 'img/svg/ico_edit.svg'"></a>
                        <a (click)="deleteCurrentWork(work.id)" class="edit_remove_ico"><img [src]="imageBaseUrl + 'img/svg/ico_delete.svg'"></a>
                    </div>
                </div>

            </div> -->
        </div>
    </div>
</div>

                    
<!-- <div *ngIf="activateForm" id="award-form">
    <app-about-work-form (formSubmitted)="workFormSubmit($event)" [workDetails]="formData"></app-about-work-form>
</div> -->

<app-modal-new #deleteModal modalClass="o-comodal_main in">
    <modal-content>
      <app-confirm-box [message]="'Are you sure you want to permanently Delete?'" (confirmAction)="confirmation($event)"
        (closeModal)="closeCancelApplicationModal()"></app-confirm-box>
    </modal-content>
  </app-modal-new>