.c-search__block {
    width: 18%;
    height: auto;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    margin: 8px;
}

.width100 {
    width: 100% !important;
}

.c-searchprofile__postblock2 {
    width: 134px;
    height: 134px;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 auto;
    position: relative;
}

.c-searchchannel_left2 {
    width: 49%;
    float: left;
    height: 134px;
    margin-right: 1px;
    background: #f8f8f8;
    overflow: hidden;
}

.c-searchchannel_left2 img {
    height: 100%;
    width: auto;
}

.c-searchchannel_right2 {
    width: 48%;
    float: left;
    height: 134px;
    margin-left: 2px;
    background: #f8f8f8;
    overflow: hidden;
}

.c-searchchannel_r-t2 {
    width: 100%;
    float: left;
    height: 66px;
    overflow: hidden;
    margin-bottom: 1px;
}

.c-searchprofile__postimg {
    width: 100%;
}

.c-searchchannel_r-b2 {
    width: 100%;
    float: left;
    height: 66px;
    overflow: hidden;
    margin-top: 2px;
}

.c-searchprofile__name2 {
    color: #333333;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    display: block;
}

.c-searchprofile__post {
    color: #929292;
    font-size: 11px;
    line-height: 18px;
    display: block;
}