<div class="col-md-2 p-0">
  <div class="c-search__block width100 m-l-0">
    <div class="c-searchprofile__postblock2 m-l-r-8">
      <div class="c-searchchannel_left2">
        <img src="{{ baseUrl }}img/l08.jpg">
      </div>
      <div class="c-searchchannel_right2">
        <div class="c-searchchannel_r-t2">
          <img src="{{ baseUrl }}img/l09.jpg" class="c-searchprofile__postimg">
        </div>
        <div class="c-searchchannel_r-b2">
          <img src="{{ baseUrl }}img/l07.jpg" class="c-searchprofile__postimg">
        </div>
      </div>
    </div>
    <a href="" class="c-searchprofile__name2 m-l-8">John Mayer Coll...</a>
    <a href="" class="c-searchprofile__post color-theme text_uppercase m-0 m-l-8">Follow</a>
  </div>
</div>