.c-card {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
  background-color: #ffffff;
}

.c-text_md {
  font-size: 13px;
  line-height: 20px;
}

.c-follow__sec {
  max-height: 350px;
  padding-right: 8px;
  margin: 0 8px 16px 16px;
  overflow: auto;
}

.m-b-16 {
  margin-bottom: 16px !important;
}

.p-b-16 {
  padding-bottom: 16px !important;
}

.p-16 {
  padding: 16px !important;
}

.color-grey-dark {
  color: #929292 !important;
}

.f-w_600 {
  font-weight: 600 !important;
}

.ltr-space {
  letter-spacing: 1px;
}

.c-follow__sec {
  max-height: 350px;
  padding-right: 8px;
  margin: 0 8px 16px 16px;
  overflow: auto;
}

.c-invite__block {
  margin-bottom: 16px;
  margin-top: 8px;
}

.c-user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 50px;
  float: left;
}

.c-avatar--status {
  width: 34px;
  height: 34px;
}

.c-invite--btn {
  float: right;
  line-height: 30px;
}

.c-user__image {
  width: 100%;
}

.c-text_md {
  font-size: 13px;
  line-height: 20px;
}

.c-invite--user {
  line-height: 34px;
  padding: 8px;
}

.c-invite--btn {
  float: right;
  line-height: 30px;
}

.color-theme {
  color: #00badc !important;
}

.text_uppercase {
    text-transform: uppercase;
}