<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
  <div class="o-aplcnts-card">
    <div class="o-aplcnts-card__head">
      <div class="o-aplcnts__prof-img">
        <img src="assets/demo/avatar.jpg" alt="">
      </div>
      <div class="o-aplcnts__user c-text_lg">Ethel Kennedy</div>
    </div>
    <div class="o-aplcnts-card__body m-t-16">
      <div class="c-text_sm color-grey-dark ltr-space text_uppercase m-b-8">Skills</div>
      <div class="c-skill__tags">web</div>
      <div class="c-skill__tags">web</div>
      <div class="o-aplcnts__info">
        <div class="c-text_sm">
          Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches. He sells his farm and hikes off over the horizon, never to be heard from again. Rumors say that years later he died destitute, never having found the diamonds.
        </div>
      </div>
      <div class="o-aplcnts__resume">
        <a href="#">
          <span class="o-attachement-icon">
            
          </span>
          <span class="o-attachement__name">
            <span class="c-text_sm color-grey-dark">My resume.pdf</span>
          </span>
        </a>
      </div>
      <div class="o-aplcnts__footer">
        <button type="button" class="btn btn-default btn-sm">Remove</button>
        <button type="button" class="btn btn-primary btn-sm">Reach out</button>
      </div>
    </div>
  </div>
</div>