@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';

.modal-block{

}

.modal.in .modal-block{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade .modal-block {
    // -webkit-transform: translate(0, -25%);
    // transform: translate(0, -25%);
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

// create channel form
.modal-channel__create {
    width: 446px;
    margin: 100px auto;
    display: table;
}

// create channel form
.modal-communities__create {
    width: 600px;
    margin: 100px auto;
    display: table;
    background: #fff;
}
.modal-cus__sm{
    width: 675px;
    margin: 100px auto;
    display: table;
}

.modal-cus__footer{
    width: 675px;
    margin: 10px auto;
    display: table;
}

.modal-cus__footer{
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 100% !important;
    }
}

.modal-cus__md{
    width: 1075px;
    margin: 0 auto;
    margin-top: 50px;
    display: table;
}

.modal-cus-body{
    position: relative;
}

.modal-cus-body{
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin: 10px;
    }
}

.c-modal--size1 {
    width: 1170px;
    margin: auto;
    margin-top: 47px;
}

.pop-container-md{
    width: 564px;
    margin: 0px auto;
    background: #fff;
    border-radius: 3px;
    position: relative;
    margin-top: 50px;
}

.modal-profile-followers{
    width: 600px;
    margin: 30px auto;
    position: relative;
}