<!-- feed block -->
<div class="pro_channel_card">
  <div class="col-md-12 col-sm-12 feed_block">
    <div class="row">
      <div class="col-md-12 col-sm-12 pro_channel_img1" *ngIf="mediaData?.mtype!='status'">
          <!-- [routerLink]="['/speakers', {outlets: {'list': ['speakersList'], 'bio': ['none']}}]">           -->
        <a [routerLink]="['', { outlets: { media : ['media', mediaData?.id] } }]">
            <figure class="feed-avatar">
                <app-videplayer *ngIf="checkFileType(mediaData?.repopath, 'Video')" src="{{ imageLink + mediaData?.repopath }}"></app-videplayer>
                <img *ngIf="checkFileType(mediaData?.repopath, 'Image')" src="{{ imageLink + mediaData?.repopath }}" class="img-responsive">
                <app-audioplayer class="audio" *ngIf="checkFileType(mediaData?.repopath, 'Audio')" src="{{ imageLink + mediaData?.repopath }}" type="simple"></app-audioplayer>
            </figure>
        </a>
        <div class="feed_article" *ngIf="checkFileType(mediaData?.repopath, 'Image')"><img src="http://d33wubrfki0l68.cloudfront.net/e71f0fc9a8055ea597b62c0c1b3c9c94b2e5f2bc/ab7ce/img/svg/ico_media_img.svg"></div>
        <div class="feed_article" *ngIf="mediaData?.mtype === 'audio'"><img src="/assets/img/svg/ico_audio.svg"></div>
        <div class="feed_article" *ngIf="checkFileType(mediaData?.repopath, 'Video')"><img src="/assets/img/svg/ico_video.svg"></div>
      </div>
      <div class="col-md-12 col-sm-12 pro_channel_cont">
        <div class="pro_channel_name">
          <h3 class="feed-heading float-left">{{ mediaData?.title}}</h3>
          <span class="c-menu__dot" (click)="dotMenuOpen()">
            <img class="float-right" src="/assets/img/svg/ico_options.svg">
            <div class="c-menu__open" *ngIf="dotMenuState">
              <a (click)="deleteMedia(mediaData)">Delete</a>
            </div>
          </span>
        </div>
        <div class="ops_subheading extra-padding" *ngIf="mediaData?.mtype!='status'">{{ mediaData?.description }} </div>
        <div class="pro_channel-thumb">
            <img [src]="userImage">
            <a routerLink="{{ '/profile/u/' + mediaData?.ownerUserName }}">
              <p>{{ mediaData?.ownerName }}</p>
            </a>
            <a *ngIf="mediaData?.channelId" routerLink="{{ '/channel/' + mediaData?.channelId }}" class="small-txt" >{{ mediaData?.channelName }}</a>
        </div>
        <div class="status_block" *ngIf="mediaData?.mtype==='status'">
          <div class="status_container">
              {{ mediaData?.description }}
          </div>
        </div>
        <div class="pro_channel_count">
          <span>
              <img *ngIf="isSpotted === false" src="/assets/img/svg/ico_lik.svg">
              <img *ngIf="isSpotted === true" src="http://d33wubrfki0l68.cloudfront.net/8d58c78cd26eb1d103bb24ec6c1d786a0964b8b4/63aa4/img/svg/ico_spot.svg" width="14px">
            <div class="like_count">{{ mediaData?.spotsCount }}</div>
          </span>
          <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">{{ mediaData?.commentsCount }}</div></span>
          <div class="pull-right">
            <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
            <span><img src="/assets/img/svg/ico_share-02.svg"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // feed block -->
