@import '~sass-mq/_mq.scss';
@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_feed-card.scss';
@import './src/assets/scss/helpers/_helpers.scss';
@import './src/assets/scss/components/_cards.scss';
@import './src/assets/scss/components/_dropdowns.scss';
@import './src/assets/scss/components/_preloader.scss';
// ------------------------------------
.o-share__social {
  border-top: 1px solid #F3F5F7;
  padding-top: 16px;
}
.o-share__social-icon {
  display: inline;
  padding: 0 21px;
}

.o-share__profile{
  width: 260px;
  border: none;
  color: #808080;
  font-size: 13px;
  line-height: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  right: 0px;
}

.c-card__media {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f8f8f8;
  .c-card__image{
    min-height: 300px;
  }
}

.c-card__image {
  width: 100%;
  vertical-align: middle;
  outline: none;
}

.c-card__icon {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 10px;
  line-height: 0px;
  width: 22px;
  filter: drop-shadow(0px 0px 3px #222);
}

.c-card__media {
  &:hover {
      .c-media--hover {
      display: block;
    }
  }
  .c-card__image {
    min-height: auto;
  }
}
.c-media--hover {
  width: 100%;
  height: 52px;
  display: none;
  position: absolute;
  transition: .25s;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
  z-index: 3;
  bottom: 0;
  padding: 16px;
}

.c-card{
    margin-bottom: 18px;
}

.c-status-main {
  width: 100%;
  background: #ffffff;
  padding: 16px 16px 0px 16px;
  float: left;
}

.c-status__user-info {
  width: 100%;
  float: left;
}

.c-status__body {
  width: 100%;
  float: left;
  padding: 16px 0px;
}

.c-text_lg-bold {
  font-weight: 700;
}

.c-text_lg-bold {
  color: #333333;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}