<div class="c-card" *ngIf="!loader">
    <ng-container *ngIf="mediaData?.contentType !== 'status'">
        <!-- card media (img, video & audio) -->
        <div class="c-card__media">
            <a [routerLink]="['', { outlets: { media : ['media', mediaData?.id] } }]">
                <img [src]="imageLink + mediaData?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';" class="img-responsive c-card__image" [class.c-feed__adult-blur]="mediaData?.isNsfw && mediaData?.isOwner === false">
                <div class="c-feed__adult" id="c-feed__adult-hide" *ngIf="mediaData?.isNsfw && mediaData?.isOwner === false">
                    <div class="c-feed__adult-text c-feed__adult-text--feed">
                        <div>This post may contain sensitive information that could be disturbing to some individuals. Viewer's discretion is strongly advised.</div>
                        <a href="javascript:void(0)" class="c-feed__adult-a" id="feedRemove">see the video</a>
                    </div>
                </div>
            </a>
            <span *ngIf="checkFileType(mediaData?.repopath, 'Audio')">
                <img [src]="imageLink + 'img/svg/ico_audio.svg'" class="c-card__icon">
            </span>
            <span *ngIf="checkFileType(mediaData?.repopath, 'Video')">
                <img [src]="imageLink + 'img/svg/ico_video.svg'" class="c-card__icon">
            </span>
            <span *ngIf="checkFileType(mediaData?.repopath, 'Image')">
                <img [src]="imageLink + 'img/svg/ico_image.svg'" class="c-card__icon">
            </span>
            <div class="c-media--hover">
                <div class="">
                    <div class="c-user" *ngIf="!mediaData?.isOwner">
                        <a routerLink="{{ '/profile/u/' + mediaData?.ownerUserName }}" class="c-user__avatar c-avatar--feed2">
                            <img class="c-user__image" [src]="userImage">
                        </a>
                        <a routerLink="{{ '/profile/u/' + mediaData?.ownerUserName }}" class="c-user__name2">{{ mediaData?.ownerName }}</a>
                    </div>
                    <div class="c-user" *ngIf="mediaData?.isOwner">
                        <a routerLink="/profile" class="c-user__avatar c-avatar--feed2">
                            <img class="c-user__image" [src]="userImage">
                        </a>
                        <a routerLink="/profile" class="c-user__name2">{{ mediaData?.ownerName }}</a>
                    </div>
                    <div class="dropdown" *ngIf="mediaData?.isOwner">
                        <div class="dropup" appDropdown>
                            <a href="javascript:void(0);" appDropdownOpen>
                                <img [src]="imageLink + 'img/svg/ico_option_white.svg'" class="c-status__options pull-right m-t-8">
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" (click)="onContentDelete($event)">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //card media (img, video & audio) -->
        <!-- card body -->
        <div class="c-card__body">
            <div class="c-text_sm">
                {{ mediaData?.description | truncate:[70, '...'] }}
            </div>
        </div>
        <!-- //card body -->
    </ng-container>

    <!-- status card body -->
    <div *ngIf="mediaData?.contentType === 'status'" class="c-status-main">
        <div class="c-status__user-info">
            <a routerLink="{{ '/profile/u/' + mediaData?.ownerUserName }}" class="c-user__avatar c-avatar--feed">
                <img class="c-user__image" [src]="userImage">
            </a>
            <a routerLink="{{ '/profile/u/' + mediaData?.ownerUserName }}" class="c-text_md color-grey-darker m-l-8">{{ mediaData?.ownerName }}</a>
        </div>
        <a class="c-status__link">
            <div class="c-status__body">
                <p class="c-text_lg-bold">{{ mediaData?.description }}</p>
            </div>
        </a>
    </div>
    <!-- //status card body -->
    
    <!-- card footer links -->
    <div class="c-card__links p-t-0">
        <div class="c-links">
            <div class="c-links__spots" (click)="spotMedia(mediaData?.id)">
                <img *ngIf="following === false" [src]="imageLink + 'img/svg/spot_icon_default.svg'" class="c-links__image">
                <img *ngIf="following === true" [src]="imageLink + 'img/svg/spot_icon.svg'" class="c-links__image">
                <span class="c-links__count">{{ followingCount }}</span>
            </div>
            <div class="c-links__comments">
                <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
                <span class="c-links__count">{{ mediaData?.commentsCount }}</span>
            </div>
            <div class="c-links__actions">
                <span class="c-links__add">
                    <a href="javascript:void(0);">
                        <img [src]="imageLink + 'img/svg/ico_addtochannel.svg'" class="c-action__image">
                    </a>
                </span>
                <span class="c-links__share dropup c-dropup" appDropdown>
                    <a appDropdownOpen>
                        <img [src]="imageLink + 'img/svg/ico_share-02.svg'" class="c-action__image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right o-share__profile p-16">
                        <div class="c-text_md">Share this Profile</div>
                        <div class="o-share__social">
                            <div class="o-share__social-icon p-l-0" shareButton="google" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img [src]="imageLink + 'v2/svg/googleplus.svg'">
                            </div>
                            <div class="o-share__social-icon" shareButton="twitter" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img [src]="imageLink + 'v2/svg/twitter.svg'">
                            </div>
                            <div class="o-share__social-icon" [shareButton]="'facebook'" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img [src]="imageLink + 'v2/svg/facebook.svg'">
                            </div>
                            <div class="o-share__social-icon p-r-0" shareButton="twitter" [sbUrl]="domainLink + 'media/' + mediaData?.id">
                                <img [src]="imageLink + 'v2/svg/envelope.svg'">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Loader  -->

<div class="c-card m-t-8" *ngIf="loader">
    <div class="c-status--block">
        <div class="c-card__user m-0">
            <div class="c-user">
                <a class="pl_avatar"></a>
                <a class="pl_username c-user--align"></a>
                <a class="pl_userchannel"></a>
            </div>
        </div>
        <div class="pull-right">
            <div class="pl_posttime m-r-8"></div>
            <div class="pl_posttime m-r-8"></div>
            <div class="pl_posttime"></div>
        </div>
    </div>
    <div class="c-feed__img-status clearfix">
        <div class="pl_block100"></div>
        <div class="pl_block60"></div>
    </div>
    <div class="c-feed__img">
        <div class="pl_block100-2"></div>
    </div>
    <div class="c-status--block">
        <div class="c-links">
            <span class="pl_block80px"></span>
            <span class="pl_block80px m-l-8"></span>
            <div class="pull-right">
                <div class="c-post__time-blank m-r-8"></div>
                <div class="c-post__time-blank"></div>
            </div>
        </div>
    </div>
</div>

