<!-- feed block -->
<div class="col-md-4 col-sm-6 pro_channel_card">
    <div class="col-md-12 col-sm-12 feed_block">
        <div class="row">
            <div class="col-md-12 col-sm-12 pro_channel_img1">
                <figure class="feed-avatar">
                    <img src="{{imageLink + mediaData?.repopath}}" class="img-responsive">
                </figure>
                <div class="feed_article" *ngIf="mediaData?.mtype === 'image'"><img src="/assets/img/svg/ico_article.svg"></div>
                <div class="feed_article" *ngIf="mediaData?.mtype === 'audio'"><img src="/assets/img/svg/ico_audio.svg"></div>
                <div class="feed_article" *ngIf="mediaData?.mtype === 'video'"><img src="/assets/img/svg/ico_video.svg"></div>
            </div>
            <div class="col-md-12 col-sm-12 pro_channel_cont">
                <div class="pro_channel_name">
                    <h3 class="feed-heading float-left">{{ mediaData?.title}}</h3>
                    <span><img class="float-right" src="/assets/img/svg/ico_options.svg"></span>
                </div>
                <div class="ops_subheading extra-padding">{{ mediaData?.description }} </div>
                <div class="pro_channel-thumb">
                    <img src="{{ mediaData?.ownerImage }}">
                    <p>{{ mediaData?.ownerName }}</p>
                    <div class="small-txt">Cafe and Colors</div>
                </div>
                <div class="pro_channel_count">
                    <span><img src="/assets/img/svg/ico_lik.svg"><div class="like_count">{{ mediaData?.spotsCount }}</div></span>
                    <span><img src="/assets/img/svg/ico_comment.svg"> <div class="like_count">{{ mediaData?.commentsCount }}</div></span>
                    <div class="pull-right">
                        <span><img src="/assets/img/svg/ico_addtochannel.svg"></span>
                        <span><img src="/assets/img/svg/ico_share-02.svg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // feed block -->
