<section>
   <div class="prohead">
   </div>
   <div class="container pro-block">
      <div class="row">
         <div class="col-md-6 pro__img">
            <img src="img/avatar.jpg" class="img-responsive img-circle">
            <div class="pro__name">
               <h2>{{ userProfile.completed.name }}</h2>
               <p>@{{ userProfile.completed.extra.username }}</p>
            </div>
         </div>
         <div class="col-md-6"></div>
      </div>
      <div class="row pro__detail">
         <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline pro_nav_list">
               <li class="list-line-item">
                  <a href="">about</a>
               </li>
               <li class="list-line-item">
                  <a href="">portfolio</a>
               </li>
               <li class="list-line-item">
                  <a href="">planner</a>
               </li>
               <li class="list-line-item">
                  <a href="">project</a>
               </li>
            </ul>
         </div>
         <div class="col-md-3">
            <ul class="list-inline pro_nav_icon">
               <li class="list-line-item">
                  <a href="#"><img src="img/svg/ico_options.svg"></a>
               </li>
               <li class="list-line-item">
                  <a href="#"><img src="img/svg/ico_share.svg"></a>
               </li>
               <li class="list-line-item">
                  <a href="#"><img src="img/svg/ico_message.svg"></a>
               </li>
            </ul>
         </div>
         <div class="col-md-12 pro__detail__container">
            <div class="col-md-4 text-center pro__count">
               <div class="row">
                  <div class="col-md-4 pro__followers">
                     <h3>{{ userProfile.completed.followersCount }}</h3>
                     <p>Followers</p>
                  </div>
                  <div class="col-md-4 pro__following">
                     <h3>{{ userProfile.completed.followingCount }}</h3>
                     <p>Following</p>
                  </div>
                  <div class="col-md-4 pro__spots">
                     <h3>1.2M</h3>
                     <p>Spots</p>
                  </div>
                  <div class="col-md-8 pro__spotscore">
                     <button type="button" class="btn btn-normal btn-sm">Spotscore Comming Soon</button>
                  </div>
                  <div class="col-md-4 pro__postchannels">
                     <h4>560 <small>Post</small></h4>
                     <h4>34 <small>Channels</small></h4>
                  </div>
               </div>
            </div>
            <div class="col-md-4 pro_bio">
               <h3>BIO</h3>
               <p>{{ userProfile.completed.description }}</p>
            </div>
            <div class="col-md-4 pro_skills">
               <h3>SKILLS</h3>
               <button *ngFor="let skill of tempSkills" type="button" class="btn btn-default btn-xs">{{ skill }}</button>
            </div>
         </div>
      </div>
      <!--- ---------------------------- section ----------------------------- -->
      <div class="row pro_feed">
         <!-- left feed -->
         <div class="col-md-3 pro_feed-left">
            <div class="row">
               <!-- calender -->
               <div class="col-md-12 pro_calender">
                  <div class="row pro_canlender-head">
                     <h3>YOUR CALENDER</h3>
                     <button type="button" class="btn btn-primary btn-xs">ADD PLAN</button>
                  </div>
                  <h4 class="text-center">JULY, 2017</h4>
                  <ul class="list-inline pro_canlender-date">
                     <li class="list-inline-item active">14</li>
                     <li class="list-inline-item">15</li>
                     <li class="list-inline-item"><span class="upcoming">16</span></li>
                     <li class="list-inline-item"><span class="upcoming">17</span></li>
                     <li class="list-inline-item">18</li>
                     <li class="list-inline-item">19</li>
                  </ul>
                  <div class="alert alert-danger">
                     <strong>10:10 AM</strong><br> Metting with Mike Creative Mint
                  </div>
                  <div class="alert alert-danger">
                     <strong>11:10 AM - 1: 30 PM</strong><br> Metting with stebe Aovi
                  </div>
                  <p class="see_more">SEE MORE</p>
               </div>
               <!-- attend event -->
               <div class="col-md-12 attend_event">
                  <div class="row attend_event-head">
                     <h3>attending event</h3>
                     <p class="see_more">see more</p>
                  </div>
                  <div class="row attend_cont">
                     <div class="col-md-4">
                        <img src="img/event.jpg" class="img-responsive">
                     </div>
                     <div class="col-md-8">
                        <h3 class="feed-heading">DJ Night By DJ Tiesto</h3>
                        <h4 class="feed-heading">12, JUL</h4>
                        <p class="feed-sub-heading">Mohegan Sun Arena</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 attend_event">
                  <div class="row attend_event-head">
                     <h3>project</h3>
                     <p class="see_more">see more</p>
                  </div>
                  <div class="row attend_cont">
                     <div class="col-md-4">
                        <img src="img/event.jpg" class="img-responsive">
                     </div>
                     <div class="col-md-8">
                        <h3 class="feed-heading">Semplice- Designers portfolio system</h3>
                        <p class="feed-sub-heading">23 Collaborators</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 attend_event">
                  <div class="row attend_event-head">
                     <h3>Communities</h3>
                     <p class="see_more">see more</p>
                  </div>
                  <div class="row attend_cont">
                     <div class="col-md-4">
                        <img src="img/event.jpg" class="img-responsive">
                     </div>
                     <div class="col-md-8">
                        <h3 class="feed-heading">DJ Night By DJ Tiesto</h3>
                        <h4 class="feed-heading">12, JUL</h4>
                        <div class="feed_thumb">
                           <span class="feedfirst_thumb"><img src="img/opro.png" class="img-responsive"></span>
                           <span class="feedsecond_thumb"><img src="img/avatar2.jpg" class="img-responsive"></span>
                           <span class="feedthird_thumb"><img src="img/avatar.jpg" class="img-responsive"></span>
                        </div>
                        <p class="feed-sub-heading">+ 23 Members</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- //left feed -->
         <!-- right feed -->
         <div class="col-md-9 pro_feed-right">
            <div class="row">
               <div class="col-md-12">
                  <div class="quick_access">
                     <h2 class="feed-heading">
                        Quick Access
                     </h2>
                     <ul class="list-inline">
                        <li class="list-inline-item">
                           <div class="quick_access_img">
                              <img src="img/quick2.jpg">
                           </div>
                           <div class="quick_access_text">
                              <p class="quick_access_text_name">Events</p>
                              <p class="quick_access_text_post">10 Post</p>
                           </div>
                        </li>
                        <li class="list-inline-item">
                           <div class="quick_access_img">
                              <img src="img/quick3.jpg">
                           </div>
                           <div class="quick_access_text">
                              <p class="quick_access_text_name">Opportunity</p>
                              <p class="quick_access_text_post">05 Post</p>
                           </div>
                        </li>
                        <li class="list-inline-item">
                           <div class="quick_access_img">
                              <img src="img/quick2.jpg">
                           </div>
                           <div class="quick_access_text">
                              <p class="quick_access_text_name">My Media</p>
                              <p class="quick_access_text_post">12 Post</p>
                           </div>
                        </li>
                        <li class="list-inline-item">
                           <div class="quick_access_img">
                              <img src="img/quick3.jpg">
                           </div>
                           <div class="quick_access_text">
                              <p class="quick_access_text_name">Web Design</p>
                              <p class="quick_access_text_post">14 Post</p>
                           </div>
                        </li>
                        <li class="list-inline-item">
                           <div class="quick_access_img">
                              <img src="img/quick2.jpg">
                           </div>
                           <div class="quick_access_text">
                              <p class="quick_access_text_name">UI/UX</p>
                              <p class="quick_access_text_post">13 Post</p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="pro_channel">
                     <ul class="list-inline feed-heading">
                        <li class="list-inline-item">Channels</li>
                        <li class="list-inline-item">Post</li>
                        <li class="list-inline-item">Spotfeed</li>
                     </ul>
                     <div class="row pro_channel2">
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->
                        <!-- channel block -->
                        <div class="col-md-4 pro_channel_card">
                           <div class="col-md-12 pro_channel_block">
                              <div class="row">
                                 <div class="col-md-12 pro_channel_img1">
                                    <img src="img/pro_block.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img2">
                                    <img src="img/pro_block2.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-6 pro_channel_img3">
                                    <img src="img/pro_block3.jpg" class="img-responsive">
                                 </div>
                                 <div class="col-md-12 pro_channel_cont">
                                    <div class="pro_channel_name">
                                       <h3 class="feed-heading float-left">Motorhome Or Trailer</h3>
                                       <span><img class="float-right" src="img/svg/ico_options.svg"></span>
                                    </div>
                                    <div class="pro_channel-thumb">
                                       <img src="img/avatar.jpg">
                                       <p>Tobias Van Schneider</p>
                                    </div>
                                    <div class="pro_channel_count">
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                       <span><img src="img/svg/ico_follower.svg"> 705</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- // channel block -->

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- //right feed -->
      </div>
   </div>
</section>
