<app-navigation-logo></app-navigation-logo>
<!-- <section class="fixed-block2" *ngIf="forgotP.fp_create_success">
    <div class="update_error">
        <p>Password updated successfully! <a routerLink="/login">Go to login</a></p>
    </div>
</section> -->

<section class="ops_reset_password main_ht_fix">
  <div class="container">
    <!-- registraion middle container -->
    <div class="row" *ngIf="!showLogin">
      <div class="col-md-6 col-md-offset-3 col-xs-12 o-reset-pass-main">
        <h2 class="text-center">
          <a>Reset your password</a>
          <div *ngIf="forgotP.fp_userdata_loading_failed">
            <p class="c-form__validation mtb10"> Reset Email Link Expired. Please Request again.</p>
            <app-button routerLink="/account" [className]="'btn-default btn-sm'" [type]="'submit'">Reset Password</app-button>
          </div>
        </h2>
        <div class="row">
          <div class="col-md-12 text-center" *ngIf="!forgotP.fp_userdata_loading_failed">
            <div class="o-resetpsd__avatar m-t-32">
              <img *ngIf="forgotP.fp_userdata_resp?.profileImage" [src]="baseUrl + forgotP.fp_userdata_resp?.profileImage">
              <img *ngIf="!forgotP.fp_userdata_resp?.profileImage" [src]="baseUrl + 'images/defaultMale/03eed8d4-5659-463a-8fbf-9aa71034c19a.png'">
            </div>
            <div class="o-resetpsd__username c-text_lg m-t-b-8">{{ forgotP.fp_userdata_resp?.name?.firstName }}</div>
            <div class="c-text_md color-grey-dark">@{{forgotP.fp_userdata_resp?.username }}</div>
          </div>
        </div>
        <form [formGroup]="createPass" (submit)="submitForm(createPass.value)" #myform="ngForm" *ngIf="!forgotP.fp_userdata_loading_failed">
          <div class="c-form__group c-form--lg m-t-24">
            <button class="password-toggle pos-abs" type="button" (click)="passwordShowToggle()" title="{{ passwordShow ? 'Hide Password' : 'Show Password' }}">
              <span class="fa {{ passwordShow ? 'fa-eye' : 'fa-eye-slash' }}"></span>
            </button>
            <input class="c-form__input" type="{{ passwordShow ? 'text' : 'password' }}" formControlName="password" placeholder="Enter new password" required>
            <span class="c-form__highlight"></span>
            <span class="c-form__bar"></span>
            <!-- <label>Enter new password</label> -->
            <p class="c-form__validation" *ngIf="createPass.controls['password'].errors?.required && myform.submitted">Password is required</p>
            <!-- <p class="c-form__validation" *ngIf="createPass.controls['password'].errors?.isWeakPassword">Weak password! Please use special characters, numbers and capital letters</p> -->
            <p class="c-form__validation" *ngIf="createPass.controls['password'].errors?.isWeakPassword">Password should contain atleast 5 alphanumeric characters</p>
          </div>
          <div class="c-form__group c-form--lg m-t-24">
            <input class="c-form__input" required type="password" formControlName="confirmPassword" placeholder="Re-enter password">
            <span class="c-form__highlight"></span>
            <span class="c-form__bar"></span>
            <!-- <label>Re-enter password</label> -->
            <p class="c-form__validation" *ngIf="createPass.controls['confirmPassword'].errors?.required && myform.submitted">Confirm password is required</p>
            <p class="c-form__validation" *ngIf="createPass.controls['confirmPassword'].errors?.matchPassword && myform.submitted">Password not match</p>
            <p class="c-form__validation" *ngIf="forgotP.fb_pass_create_failed">You used this password recently. Please choose a different one.</p>
          </div>
          <div class="text-center m-t-32">
            <button class="btn btn-primary btn-md" type="submit" [disabled]="forgotP?.fb_uploading_data">UPDATE</button>
          </div>
        </form>
      </div>
    </div>
    <!-- //registraion middle container -->
    <div class="row" *ngIf="showLogin">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="o-resetpsd__avatar m-t-32">
              <img src="//ops-v2-2.netlify.com/assets/svg/tick-mark.svg">
            </div>
            <div class="c-h2 text-center m-t-24">Successful!</div>
            <div class="c-text_md color-grey-dark m-t-16">New Password updated successfully.</div>
            <div class="text-center m-t-24">
              <a routerLink="/login" class="btn btn-primary btn-md">go to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
