@import './src/assets/scss/helpers/_variables.scss';
@import '~sass-mq/_mq.scss';
// ---------------- reset password style -------------------------------------
// ---------------- reset password style -------------------------------------
.ops_reset_password {
  background: #fff;
  min-height: 100vh;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  form {
        margin: 0 86px;
        @include mq($from: $mobile_sm, $until: $mobile_lg){
          margin: 0px;
        }
  }
  .ops_reset_logo {
    img {
      width: 138px;
      margin-bottom: 48px;
    }
  }
  h2 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    a {
      color: #333333;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      cursor: auto;
    }
  }
  .ops_reset_avatar {
    float: left;
    img {
      width: 56px;
      height: 56px;
      border: solid 1px rgba(102, 45, 145, 0.1);
      border-radius: 50%;
    }
  }
  .reset_avatar_cont {
        padding: 40px 150px;
        .reset_avatar_name {
          color: #333333;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
              padding: 3px 0;
        }
        .reset_avatar_username {
          color: #979797;
          font-size: 14px;
          font-weight: 600;
          line-height: 19px;
        }
  }
  button {
    margin-top: 24px;
  }
  .check_phone_text {
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    font-weight: 300;
    margin: 24px 0;
  }
  .not_receive {
        margin-top: 16px;
   a {
    color: $color-theme;
    font-size: 13px;
    line-height: 20px;
  }
  }
  .check_mail {
        margin-left: 140px;
        @include mq($from: $mobile_sm, $until: $mobile_lg){
          margin-left: 0px;
        }
  }
  .c-radio__sm input[type="radio"]:checked + span:after {
    padding-left: 1px;
  }
  .o-countdown{
    color: $color-theme;
    font-size: 13px;
    float: right;
    margin-top: -22px;
  }
}

// new code 4 Dec 2017
.o-resetpsd__avatar {
  width: 98px;
  height: 98px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.o-reset-pass-main{
  @include mq($from: $mobile_sm, $until: $mobile_lg){
    width: 300px;
  }
}


.password-toggle {
  background: none;
  border: none;
  color: black;
  top: 5px;
  right: 0;
  outline: none;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.password-toggle {
  margin-top: 0 !important;
}

.form_group {
  margin-bottom: 0 !important;
}

.height-28 {
  height: 28px;
}

.mtop-18 {
  margin-top: 18px !important;
}

.fixed-block2{
    width: 100%;
    // position: fixed;
    height: 70px;
    .update_error{
      background: linear-gradient(139.47deg, $color-theme 0,#662d91 100%);
      padding: 16px 0;
    }
    p{
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
    }
    a{
      text-decoration: underline!important;
      font-weight: 700;
      font-size: 14px;
      color: #fff;
      padding-left: 5px;
    }
}

.mtb10 {
  margin: 10px 0;
}