<section class="fixed-block" *ngIf="forgotP.fb_pass_create_scs">
    <div class="update_error">
        <p>You are successfully update your password <a routerLink="/login">Go to login</a></p>
    </div>
</section>
<section class="ops_reset_password main_ht_fix">
        <div class="container">
            <!-- registraion middle container -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <p class="text-center ops_reset_logo"><img src="/assets/img/logo_black.svg" alt="One Page Spotlight"></p>
                  <h2 class="text-center">
                      <a>Reset your password</a>
                      <div *ngIf="forgotP.fp_userdata_loading_failed">
                          <p class="error_alert"> Reset Email Link Expired. Please Request again.</p>
                          <app-button routerLink="/account" [className]="'btn-default btn-sm'" [type]="'submit'">Reset Password</app-button>
                      </div>
                    </h2>
                  <div class="row">
                  <div class="col-md-12" *ngIf="!forgotP.fp_userdata_loading_failed">
                    <ul class="list-inline reset_avatar_cont">
                           <li class="list-inline-item ops_reset_avatar">
                             <img *ngIf="forgotP.fp_userdata_resp?.profileImage" src="{{ baseUrl + forgotP.fp_userdata_resp?.profileImage}}" class="img-responsive">
                             <img *ngIf="!forgotP.fp_userdata_resp?.profileImage" src="http://d206s58i653k1q.cloudfront.net/images/defaultMale/03eed8d4-5659-463a-8fbf-9aa71034c19a.png" class="img-responsive">
                           </li>
                           <li class="list-inline-item">
                              <h4 class="reset_avatar_name">{{ forgotP.fp_userdata_resp?.name?.firstName }}</h4>
                              <p class="reset_avatar_username">@{{forgotP.fp_userdata_resp?.username }}</p>
                           </li>
                    </ul>
                  </div>
                </div>
                <form [formGroup]="createPass" (submit)="submitForm(createPass.value)" #myform="ngForm" *ngIf="!forgotP.fp_userdata_loading_failed">
                    <div class="form_group">
                        <button class="password-toggle pos-abs" type="button" (click)="passwordShowToggle()" title="{{ passwordShow ? 'Hide Password' : 'Show Password' }}" >
                            <span class="fa {{ passwordShow ? 'fa-eye' : 'fa-eye-slash' }}"></span>
                        </button>
                        <input class="form_input" type="{{ passwordShow ? 'text' : 'password' }}" formControlName="password">
                        <span class="form_highlight"></span>
                        <span class="form_bar"></span>
                        <label>Enter new password</label>
                    </div>
                    <p class="error_alert" *ngIf="createPass.controls['password'].errors?.required && myform.submitted">Password is required</p>
                    <p class="error_alert" *ngIf="createPass.controls['password'].errors?.isWeakPassword">Weak password! Please use special char, numbers and capital letters</p>
                    <br class="height-28" >
                    <div class="form_group">
                        <input class="form_input" type="password" formControlName="confirmpassword">
                        <span class="form_highlight"></span>
                        <span class="form_bar"></span>
                        <label>Re-enter password</label>
                    </div>
                    <p class="error_alert" *ngIf="createPass.controls['confirmpassword'].errors?.required && myform.submitted">Confirm password is required</p>
                    <p class="error_alert" *ngIf="createPass.controls['confirmpassword'].errors?.passwordDoesNotMatch">Confirm password not matched</p>
                    <p class="error_alert" *ngIf="forgotP.fb_pass_create_failed">Please Select a different Password, you can not generate same password again.</p>
                    <div class="text-center mtop-18">
                        <app-button [className]="'btn-default btn-sm'" [type]="'submit'">UPDATE</app-button>
                    </div>
                </form>
                </div>
            </div>
            <!-- //registraion middle container -->
        </div>
    </section>