.event-row {
    margin-left: -7px;
    margin-right: -8px;
}

.ev-card {
    width: 209px;
    height: 340px;
    float: left;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
    box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
    background-color: #ffffff;
    overflow: hidden;
    margin: 8px;
}