@import './src/assets/scss/helpers/_variables.scss';
@import '~sass-mq/_mq.scss';

.o-add-post {
    width: 100%;
    background: #fff;
    padding-top: 70px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        padding-top: 70px;
    }
}

.o-AddPost-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.o-AddPost__item {
    display: inline-block;
    zoom: 1;
    padding: 0px 12px;
}

.o-AddPost__link {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 16px;
    &:hover {
        color: $color-theme;
        background: none;
        border-bottom: 2px $color-theme solid;
    }
}

.active {
    .o-AddPost__link {
        color: $color-theme !important;
        border-bottom: 2px $color-theme solid;
    }
}