<!-- add media pop up -->
<!-- <app-navigation></app-navigation> -->
<app-modal [modalTitle]="'Some title'" [open]="true" [blocking]='false' modalId='ViewMedia' class="media__modal" size="large" (onClose)="doClose($event)">
  <div class="ops_add-post" id="add_media_pop">
    <div class="AddPost__links">
      <a (click)="doClose()" class="btn__close">
        <img class="btn__img" src="http://d33wubrfki0l68.cloudfront.net/62eb03868e2435dd8f10598c37ef95c827a91134/081a5/img/svg/ico_close.svg"/>
      </a>
      <a class="AddPost__link" [routerLink]="['status']">Status</a>
      <a class="AddPost__link" [routerLink]="['media']">Media</a>
      <a class="AddPost__link" [routerLink]="['blog']">Blog</a>
    </div>
    <div class="AddPost__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-modal>
