.profile-cover {
    height: 220px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.profile-display {
    width:100%;
    position: absolute;
    box-shadow: 0 1px 12px rgba(0,0,0,0.1);
    height: 240px;
    background-color: #fff;
}
h6, p, .tags {
    text-align: center;
}

.grey-container {
  background: #cfcfcf;
  padding: 50px 0 70px 0;
}

.search-wrapper {
  top:-25px;
  position: absolute;
  width: 100%;
}

.dark-gery {
  display: inline-block;
  background: grey;
}

.relative {
  position: relative;
}

.search-title {
  height: 50px
}
