.edit-profile_head {
  width: 100%;
  float: left;
  padding: 0;
  border-bottom: 1px solid rgba(102, 45, 145, 0.1);
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 16px;
}

.edit-profile_head h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  padding: 8px 0px;
}
