<app-modal [modalTitle]="'Change Cover Image'" [closeHidden]="true" (onClose)="isClosed($event)" [blocking]='false' [open]="true" modalId='ChangeCoverImage' class="media__modal" size="tiny">
  <div class="edit-profile_head">
    <div class="col-md-6 padding_none">
        <h2>Change Cover Image</h2>
    </div>

    <div class="col-md-6 padding_none text-right">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" (click)="isClosed($event)" >Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="uploadCoverImage()">Save Image</button>
    </div>

  </div>
  <input #coverImage type="file" name="profile_image"/>
</app-modal>
