<app-modal [modalTitle]="'Change Cover Image'" [closeHidden]="true" (onClose)="isClosed($event)" [blocking]='false' [open]="true"
  modalId='ChangeCoverImage' class="media__modal">
  <div id="cover-upload">
    <div class="modal-content o-cover-upload">
      <div class="o-cover-upload__head">
        <h2 class="o-cover-head--heading">Edit Cover Image</h2>
        <span class="search_close" (click)="isClosed($event)">
          <img [src]="baseUrl + 'img/svg/ico_close-38.svg'" alt="">
        </span>
      </div>
      <div class="o-cover-upload__media">
        <!-- <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper> -->
        <image-cropper 
          class="o-cover-media__image"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="3 / 1"
          format="png"
          (imageCroppedBase64)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>
        <img [src]="croppedImage" *ngIf="!hidePreview" class="preview-image" />
        <div *ngIf="stateProfile?.cover_upload_loading">
          <div class="sticky sticky__top">
            <div class="loader">Loading...</div>
          </div>
        </div>
      </div>
      <div class="o-cover-media__browse">
        <div class="upload-btn-wrapper">
          <button class="btn btn-network">Browse</button>
          <input type="file" accept="image/*" name="myfile" (change)="fileChangeEvent($event)" />
        </div>
      </div>
      <div class="o-cover-upload-footer">
        <p class="p_text" *ngIf="stateProfile.cover_img_upload_success">Successfully updated</p>
        <div class="o-cover-footer__btn">
          <button type="button" (click)="isClosed($event)" class="btn btn-network btn-sm text_uppercase">Cancel</button>
          <button type="button" (click)="uploadCoverImage()" class="btn btn-primary btn-sm o-cover-btn__mod" [disabled]="disableSave">
          &nbsp; Save &nbsp; </button>
        </div>
      </div>
    </div>
  </div>
</app-modal>
