<!-- primary navigation -->
<!-- <app-dashboard-primary-navbar></app-dashboard-primary-navbar> -->
<app-navigation></app-navigation>
<!-- primary navigation -->

<div class="grey-cover">

  <div class="container">

    <div class="row">

      <div class="col-sm-3">

        <div class="card top-cards">

          <div class="col-sm-4">
            <img class="card-img-top" style="width:100%;" src="https://via.placeholder.com/180x180" alt="Card image cap">
          </div>

          <div class="col-sm-8">
            <div class="card-block">
              <h4 class="card-title">audition</h4>
              <p class="card-text">14 opportunities</p>
            </div>
          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="card top-cards">

          <div class="col-sm-4">
            <img class="card-img-top" style="width:100%;" src="https://via.placeholder.com/180x180" alt="Card image cap">
          </div>

          <div class="col-sm-8">
            <div class="card-block">
              <h4 class="card-title">projects</h4>
              <p class="card-text">12 opportunities</p>
            </div>
          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="card top-cards">

          <div class="col-sm-4">
            <img class="card-img-top" style="width:100%;" src="https://via.placeholder.com/180x180" alt="Card image cap">
          </div>

          <div class="col-sm-8">
            <div class="card-block">
              <h4 class="card-title">jobs</h4>
              <p class="card-text">09 opportunities</p>
            </div>
          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="card top-cards">

          <div class="col-sm-4">
            <img class="card-img-top" style="width:100%;" src="https://via.placeholder.com/180x180" alt="Card image cap">
          </div>

          <div class="col-sm-8">
            <div class="card-block">
              <h4 class="card-title">internship</h4>
              <p class="card-text">12 opportunities</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- main container -->
<div class="container">

  <!-- searchbar -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 search-wrapper">
      <div class="input-group">
          <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              	<span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#option1">option 1</a></li>
                <li><a href="#option2">option 2</a></li>
                <li><a href="#option3">option 3</a></li>
              </ul>
          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" name="x" placeholder="Search term...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
      </div>
    </div>
	</div>
  <!-- searchbar -->

  <div class="row search-result-wrapper">

    <!-- search result element -->
    <div class="col-sm-3" *ngFor="let job of jobs">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/640x360" alt="Card image cap">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text">Jobs</p>
            </div>
            <div class="col-sm-6">
              <p class="card-text">2 days ago</p>
            </div>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><strong>{{ job.position }}</strong></h4>
          <p class="card-text">experience: <strong>{{ job.experience }}</strong> years</p>
          <p class="card-text">{{ job.location }}</p>
        </div>
        <hr>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text">links</p>
            </div>
            <div class="col-sm-6">
              <p class="card-text">view</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- search result element -->

  </div>

</div>