<!--<app-comment-list *ngFor="let comment of comments; let i = index" [commentData]="comment"></app-comment-list>-->
<div class="c-post__comment with_border_top">
  <a class="c-user__avatar c-avatar--status">
      <img class="c-user__image" src="{{ imageLink + userData?.profileImage }}">
  </a>
  <div class="c-post__input">
    <div class="form_group form__bottom--0">
      <input class="form_input" type="text" [(ngModel)]="messageText" required (keyup.enter)="keyDownFunction(mediaId)">
      <span class="form_highlight"></span>
      <span class="form_bar"></span>
      <label>Write a comment.... </label>
    </div>
  </div>
</div>