<div *ngIf="commentsType === 'media-popup'">
  <div *ngIf="comments?.length > 0">
    <app-comment-list *ngFor="let comment of comments; let i = index" [commentsListType]="'media-popup'" [commentData]="comment"
      (commentDelete)="onCommentDelete(comment, $event)" (commentEdited)="onCommentEdit(comment, $event)">
    </app-comment-list>
  </div>
  <div *ngIf="commentsLoaded === true && comments.length == 0" class="c-post__comment__blank">Be the first one to comment</div>
  <div *ngIf="commentsLoading === true" class="c-post__comment__blank">Loading....</div>
  <div class="has-flex space-btw c-post-comment">
      <a class="c-user__avatar c-avatar--status">
        <img class="c-user__image" [src]="(userData?.profileImage !== '') ? imageLink + userData?.profileImage : imageLink + 'avatars/user-avatar-male.png'">
      </a>
    <div class="is-flex m-l-8">
      <div class="c-form__group c-form--noeffect">
        <form class="card comment-form" #commentForm="ngForm" (ngSubmit)="postComment(commentForm)" autocomplete="off">
          <input class="c-form__input with_border_none c-post_extraspace" placeholder="Write a comment..." type="text"
            name="comment" ngModel>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="commentsType === 'media-list'">
  <app-comment-list *ngFor="let comment of comments; let i = index" [commentData]="comment" (commentDelete)="onCommentDelete(comment)"
    (commentEdited)="onCommentEdit(comment, $event)">
  </app-comment-list>
  <div class="c-post_viewmore2" *ngIf="commentCount > 3 && !(comments.length >= commentCount)">
    <a (click)="loadMedia()">View more comments</a>
  </div>
  <div class="c-post__comment p-t-0 with_border_top">
    <div class="c-post__comment--left m-t-16">
      <a class="c-user__avatar c-avatar--status5">
        <img class="c-user__image" [src]="(userData?.profileImage !== '') ? imageLink + userData?.profileImage : imageLink + 'avatars/user-avatar-male.png'">
      </a>
    </div>
    <div class="c-post__comment--right p-l-0">
      <div class="c-form__group c-form--noeffect m-b-8">
        <div>
          <form class="card comment-form" #commentForm="ngForm" (ngSubmit)="postComment(commentForm)" autocomplete="off">
            <input class="c-form__input with_border_none c-post_extraspace" placeholder="Write a comment..." type="text"
              name="comment" ngModel>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
