//@import '/assets/scss/helpers/_variables.scss';
@import './../../../assets/scss/helpers/_variables.scss';

/* ------------------------- search style --------------------------- */

.ops_search {
    background-color: rgba(243, 245, 247, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1033;
    overflow-y: scroll;
    .search_close {
      float: right;
      margin: 20px;
      img {
            width: 30px;
      }
    }
    .search_top_input {
        margin-top: 160px;
        .form_group {
            .form_input {
                background-color: transparent;
                height: 80px;
                font-size: 48px;
                padding-right: 40px;
            }
            label {
                font-size: 48px;
                color: #979797;
            }
            .form_input:focus ~ label,
            .form_input:valid ~ label {
            //    display: none;
            }
        }
    }
    .search_top_icon {
        img {
            width: 32px;
            float: right;
            margin-top: -45px;
        }
    }
    // ops tab
    .nav-tabs > li {
        float: none;
        display: inline-block;
        zoom: 1;
    }
    .nav-tabs {
        text-align: center;
    }
    .ops_explore_head {
      margin: 16px 8px;
  }
}
.list-inline>li {
display: inline-block;
padding-left: 15px;
padding-right: 15px;
    }
.text_uppercase {
        text-transform: uppercase;
          }

.ops_heading {
    font-size: 14px;
    font-weight: 700;
    color: #333;
        }
.ops_heading2 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
      }




// ------------------------ channel card style -------------------------------
.ops_channel_card {
    padding: 0 8px;
    margin: 8px 0;
    .ops_channel_block {
        //margin: 0 10px;
        height: 390px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
        .ops_channel_top {
            padding: 0px;
            img {
                border-radius: 5px;
            }
        }
        .ops_channel_bottom1 {
            padding: 4px 2px 0 0;
        }
        .ops_channel_bottom2 {
            padding: 4px 0 0 2px;
        }
    }
    .pro_channel_cont {
        //margin: 15px 0;
        padding: 0px;
        span {
            width: 5%;
            display: inline-block;
            img {
                width: 14px;
            }
        }
        .feed-heading {
            width: 95%;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.36;
            text-align: left;
            margin: 0;
            padding: 0;
            color: #0b0a0a
        }
        p {
            float: right;
            width: 20%;
        }
        .channel_name {
            height: 50px;
            margin: 15px;
            .channel_heading {
                width: 95%;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.36;
                text-align: left;
                margin: 0;
                padding: 0;
                color: #333333;
            }
        }
        .channel-thumb {
            border-bottom: solid 1px #efefef;
            padding: 0 10px 10px 15px;
            img {
                width: 23px;
                border-radius: 50%;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
            }
            p {
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                color: #979797;
                width: 85%;
            }
        }
        .channel_count {
            font-size: 12px;
            font-weight: bold;
            text-align: left;
            color: #333333;
            padding: 15px;
            .btn-follow {
                span {
                    margin: 0px;
                    width: auto;
                }
            }
            span {
                margin: 0 5px;
                width: 20%;
            }
        }
        .pro_channel-thumb {
            border-bottom: solid 1px #efefef;
            padding: 0 10px 10px 15px;
            img {
                width: 23px;
                border-radius: 50%;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
            }
            p {
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                color: #979797;
                width: 85%;
            }
        }
        .pro_channel_count {
            img {
                width: 14px;
            }
            span {
                margin: 0 5px;
                width: 20%;
            }
            font-size: 12px;
            font-weight: 700;
            text-align: left;
            color: #333333;
            padding: 15px;
        }
    }
    .channel_avatar_full {
        width: 100%;
        height: 113px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        img {
            width: 100%;
            border-radius: 5px;
        }
    }
    .channel_avatar_helf {
        width: 100%;
        height: 104px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        background: #f8f8f8;
        img {
            width: 100%;
        }
    }
}


// search tab people
.ops_search_people {
  .panel-default {
    background-color: transparent;
     box-shadow: none;
  }
  .panel20 {
        margin: 7px;
&:first-child {
    margin: 7px;
}
&:last-child {
  margin: 7px;
}
  }
}

/* ------------------------- community style --------------------------- */

// .ops_search {
//     .pro_channel_block {
//         height: auto;
//     }
// }
.community_top {
  background-color: rgba(102,45,145,0.1);
  padding-top: 42px;
  height: 184px;
  .community_tags {
    .btn-tag {
      margin: 3px 0px;
      text-transform: lowercase;
    }
  }
}
.ops_community {
  .community_top_nav {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 13px 0 rgba(102,45,145,0.19);
    padding: 24px 16px;
    margin-top: -45px;
    margin-bottom: 40px;
    .community_filter {
              padding-top: 6px;
          .btn-primary {
            padding: 2px 7px;
          }
          img {
                margin-right: 8px;
          }
    }
  }
}





// small channel card (registratio page)
.ops_channel_card_sm {
    padding: 0 4px;
    .ops_channel_block {
        height: 324px;
    }
    .channel_avatar_full {
        height: 94px;
    }
    .channel_avatar_helf {
        height: 84px;
    }
    .pro_channel_cont {
        .channel_name {
            height: 32px;
        }
        .channel_count {
            padding: 8px;
            .btn-follow {
                font-size: 11px;
            }
        }
    }
}
.tab-content>
   .active {
    display: block;
  }
/* -------------------- artist follow style ---------------------*/
.ops_artist_follow {
  padding: 0 8px;

  .panel20 {
    width: 216px;
    height: auto;
    float: left;
    background: #fff;
    border: 1px solid rgba(102,45,145,0.1);
    border-radius: 3px;
    padding: 24px;
    margin: 0 10px 10px 0;
    .ops_heading {
          margin-top: 8px;
          font-size: 14px;
          font-weight: 700;
          color: #333;
    }
    .ops_heading12 {
          margin: 8px 0 16px 0;
          font-size: 12px;
          font-weight: 700;
          color: #333;
    }
  }
}

.avatar_artist_follow {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    line-height: 2.5;
    border: 0.2px solid #f8f8f8;
    img {
      width: 100%
    }
}
.text-center {
    text-align: center;
}

.avatar_artist_follow img {
    width: 100%;
}
.ops_artist_follow .panel20 .ops_heading {
    margin-top: 8px;
}

/* -------------------- spotfeed style ---------------------*/

.ops_spotfeed_card {
    padding: 0 8px;
    margin: 8px 0;
    .ops_spotfeed_cont {
        padding: 0px;
    }
    .ops_spotfeed_block {
        height: 350px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
        .spotfeed_img {
            padding: 0px;
            img {
                border-radius: 5px;
            }
        }
    }
    .ops_spotfeed_name {
        line-height: 28px;
        height: 50px;
        margin: 15px;
    }
}

.avatar_spotfeed_card {
    width: 100%;
    height: 265px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    img {
        width: 100%;
    }
}

// spotfeed ------------------------------------
.avatar_spotfeed {
    width: 100%;
    height: 265px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    img {
      width: 100%;
    }
}
.ops_spotfeed {
  .pro_channel_name {
    line-height: 28px;
  }
  .pro_channel_block {
    height: 390px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(102,45,145,.15);

  }
}

.feed_block .pro_channel_img1 img {
    border-radius: 3px;
        padding: 0;
}

.feed-avatar img {
    width: 100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------------- community card style --------------------------- */

.ops_community_card {
    padding: 0 8px;
    margin: 8px 0;
    .ops_community_block {
        padding: 8px 24px;
        height: auto;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
        .ops_community_img {
            padding: 0px;
            img {
                border-radius: 5px;
            }
        }
        .ops_community_cont {
            padding: 0px;
            .ops_community_name {
                height: 50px;
                margin: 15px;
            }
            .btn-default {
                  padding: 1px 12px;
            }
        }
    }
}

.avatar_community_card {
    width: 100%;
    height: 213px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background: #f8f8f8;
    img {
        width: 100%;
    }
}

// overlapthumb
.overlap_thumb {
    margin: 0 16px;
    .over1_thumb img,
    .over2_thumb img,
    .over3_thumb img {
        height: 24px;
        width: 24px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }
    span {
        width: 7%;
        display: inline-block;
        float: left;
    }
    .overlap_thumb_text {
        color: #979797;
        display: inline;
        font-size: 12px;
        padding-left: 15px;
    }
    .btn-default {
        background-color: #ffffff;
        border: solid 1px #c1c1c1;
        color: #c1c1c1;
        float: right;
    }
}

/* -------------------- One Page Spotlight buttons ---------------------*/


/* --------------------------- Button Size ---------------------------- */

.btn-xs {
    padding: 1px 7px;
    font-size: 11px;
    line-height: 1.8;
    border-radius: 3px;
}

.btn-sm {
    padding: 6px 18px;
    font-size: 14px;
    line-height: 1.0;
    border-radius: 3px;
    font-weight: 800;
}

.btn-md {
    padding: 4px 20px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: 800;
}


/* ------------------------------ Button ------------------------------ */

.btn-plus {
    padding: 0px 11px 0px 6px;
    font-weight: 500;
    font-size: 12px;
    background-color: #5C5B5B !important;
    p {
        display: -webkit-inline-box;
        vertical-align: top;
        margin-top: 7px;
        font-size: 12px;
    }
    &:hover {
        background: #5C5B5B !important;
        border-color: #5C5B5B !important;
        .btn-label-skill {
            background: none;
        }
    }
}
.btn-plus-slected {
    padding: 0px 11px 0px 6px;
    font-weight: 500;
    font-size: 12px;
    background-color: none;
    p {
        display: -webkit-inline-box;
        vertical-align: top;
        margin-top: 7px;
        font-size: 12px;
    }
    &:hover {
        background: #5C5B5B !important;
        border-color: #5C5B5B !important;
        .btn-label-skill {
            background: none;
        }
    }
}
.btn-tag-close {
    padding: 0px 7px 0px 3px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    &:hover {
        background: #5C5B5B !important;
        border-color: #5C5B5B !important;
        .btn-label-skill {
            background: none;
        }
    }
    .btn-label-tag {
      img {
        width: 11px;
        margin-top: 0px;
        vertical-align: middle;
            margin-left: 6px;
      }
    }
}
.btn-follow {
    padding: 0px 9px 0px 1px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    .btn-label-follow {
      img {
        width: 11px !important;
        margin-top: 0px;
        vertical-align: middle;
        margin-left: 6px;
        height: auto;
        box-shadow: none;
        border: none;
      }
    }
}
.btn-following {
    padding: 0px 4px 0 7px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
}
.btn-label-skill {
    position: relative;
    left: -6px;
    display: inline-block;
    padding: 4px 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
    img {
        width: 13px;
        padding-top: 2px;
    }
}

.btn-label-follow {
    position: relative;
    left: -6px;
    display: inline-block;
    padding: 1px 0px 1px 10px;
    border-radius: 3px 0 0 3px;
}
.btn-label-tag {
    position: relative;
    left: 0;
    display: inline-block;
    padding: 0px 0px 0px 5px;
    border-radius: 3px 0 0 3px;
    i {
        font-size: 8px;
        padding-left: 5px;
    }
}


/* --------------------------- Default Button ------------------------- */

.btn-default {
    color: $theme_red;
    background-color: $white;
    border-color: $theme_red;
    &:focus {
        color: $white;
        background-color: $theme_red_dark;
        border-color: $theme_red_dark;
        outline: 0px !important;
    }
    &:hover {
        color: $white;
        background-color: $theme_red;
        border-color: $theme_red;
    }
    &:active {
        color: $white;
        background-color: $theme_red_dark;
        border-color: $theme_red_dark;
        outline: 0px !important;
        &:hover {
            color: $white;
            background-color: $theme_red_dark;
            border-color: $theme_red_dark;
        }
        &:focus {
            color: $white;
            background-color: $theme_red_dark;
            border-color: $theme_red_dark;
        }
    }
}


/* --------------------------- Primary Button ------------------------- */

.btn-primary {
    color: $white;
    background-color: $theme_red;
    border-color: $theme_red;
    &:focus {
        color: $white;
        background-color: $theme_red_dark;
        border-color: $theme_red_dark;
        outline: 0px !important;
    }
    &:hover {
        color: $white;
        background-color: $theme_red_dark;
        border-color: $theme_red_dark;
    }
    &:active {
        color: $white;
        background-color: $theme_red_dark;
        border-color: $theme_red_dark;
        outline: 0px !important;
        &:hover {
            color: $white;
            background-color: $theme_red_dark;
            border-color: $theme_red_dark;
        }
        &:focus {
            color: $white;
            background-color: $theme_red_dark;
            border-color: $theme_red_dark;
        }
    }
}


/* --------------------------- Basic Button ------------------------- */

.btn-basic {
    color: $white;
    background-color: $basic_color;
    border-color: $basic_color;
    &:focus {
        color: $white;
        background-color: $theme_red;
        border-color: $theme_red;
        outline: 0px !important;
    }
    &:hover {
        color: $white;
        background-color: $theme_red;
        border-color: $theme_red;
    }
    &:active {
        color: $white;
        background-color: $theme_red_dark;
        border-color: $theme_red_dark;
        outline: 0px !important;
        &:hover {
            color: $white;
            background-color: $theme_red_dark;
            border-color: $theme_red_dark;
        }
        &:focus {
            color: $white;
            background-color: $theme_red_dark;
            border-color: $theme_red_dark;
        }
    }
}


/* --------------------------- Basic Button ------------------------- */

.btn-tag {
    color: #333;
    background-color: $white;
    border-color: $white;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid rgba(102,45,145,0.1);
    font-size: 10px;
    padding: 6px 7px;
    &:focus {
      color: $theme_red;
      background-color: $white;
      border: 1px solid rgba(102,45,145,0.1);
        outline: 0px !important;
    }
    &:hover {
        color: $theme_red;
        background-color: $white;
        border: 1px solid rgba(102,45,145,0.1);
    }
    &:active {
        color: $theme_red;
        background-color: $white;
        border: 1px solid rgba(102,45,145,0.1);
        outline: 0px !important;
        &:hover {
          color: $theme_red;
          background-color: $white;
          border: 1px solid rgba(102,45,145,0.1)
        }
        &:focus {
          color: $theme_red;
          background-color: $white;
          border: 1px solid rgba(102,45,145,0.1)
        }
    }
}


/* --------------------------- Normal Button ------------------------- */

.btn-normal2 {
    color: $theme_gray;
    background-color: $white;
    border-color: $theme_gray;
    &:focus {
        color: $white;
        background-color: $basic_color;
        border-color: $basic_color;
        outline: 0px !important;
    }
    &:hover {
        color: $white;
        background-color: $basic_color;
        border-color: $basic_color;
    }
    &:active {
        color: $white;
        background-color: $basic_color;
        border-color: $basic_color;
        outline: 0px !important;
        &:hover {
            color: $white;
            background-color: $basic_color;
            border-color: $basic_color;
        }
        &:focus {
            color: $white;
            background-color: $basic_color;
            border-color: $basic_color;
        }
    }
}


/* --------------------------- Normal Button ------------------------- */

.btn-normal {
    color: $white;
    background-color: $theme_gray;
    border-color: $theme_gray;
    &:focus {
        color: $white;
        background-color: $basic_color;
        border-color: $basic_color;
        outline: 0px !important;
    }
    &:hover {
        color: $white;
        background-color: $basic_color;
        border-color: $basic_color;
    }
    &:active {
        color: $white;
        background-color: $basic_color;
        border-color: $basic_color;
        outline: 0px !important;
        &:hover {
            color: $white;
            background-color: $basic_color;
            border-color: $basic_color;
        }
        &:focus {
            color: $white;
            background-color: $basic_color;
            border-color: $basic_color;
        }
    }
}

/* -------------------- spotfeed style ---------------------*/
.ops_tabs {
    // margin-top: 8px;
    .nav-tabs > li > a {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: #979797;
        background: transparent;
        border: none;
        text-transform: uppercase;
    }
    .nav-tabs li .active a {
        color: #000000;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #000000;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        cursor: default;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px 10px 0;
    }
    .nav-tabs {
        border-bottom: none;
    }
    #home_channel, #home_feed, #home_spotfeed {
        margin-left: -19px;
    }
}


.pro_channel_cont .pro_channel_name {
    height: 50px;
    margin: 15px;
}

.pro_channel_card {
    padding: 0 8px;
    margin: 8px 0;
}
.pro_channel_cont .pro_channel-thumb {
    border-bottom: solid 1px #efefef;
    padding: 0 10px 10px 15px;
}



.pro_channel_cont .pro_channel-thumb img {
    width: 23px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(102,45,145,.15);
}

.pro_channel_cont .pro_channel-thumb p {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #979797;
    width: 85%;
}
.pro_channel_cont p {
    float: right;
    width: 20%;
}
.pro_channel_cont .pro_channel_count img {
    width: 14px;
}

.pro_channel_cont .pro_channel_count span {
    margin: 0 5px;
    width: 20%;
}
.pro_channel_cont span {
    display: inline-block;
}
.float-left {
    float: left;
}
.pro_channel_cont {
    //margin: 15px 0;
    padding: 0px;
    span {
        width: 5%;
        display: inline-block;
        img {
            width: 14px;
        }
    }
  }


  .pro_channel_block {
    height: 390px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(102,45,145,.15);
  }

  .pro_channel_cont .feed-heading {
      width: 95%;
      font-size: 14px;
      font-weight: 700;
      color: black;
      line-height: 1.36;
      text-align: left;
      margin: 0;
      padding: 0;
  }

  .pro_channel_card {
      padding: 0 8px;
      margin: 8px 0;
  }

  .feed_block {
    .pro_channel_name {
      height: 0;
  }
  .extra-padding {
    padding: 0 15px 15px;
}
.small-txt {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
    margin-left: 35px;
    margin-top: -8px;
}
.pro_channel_img1 img {
    border-radius: 3px;
        padding: 0;
}

    height: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(102,45,145,.15);

}
.feed-avatar {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    line-height: 2.5;
    border-radius: 3px;
    border: .2px solid #f8f8f8;
    background-color: #f8f8f8;
}

.ops_subheading {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
}
.pro_channel_cont .pro_channel_count {
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    color: #333;
    padding: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.feed_block .feed_article {
    position: absolute;
    top: 0;
    padding: 10px;
}
.feed_block .pro_channel_name {
    height: 0;
}
.feed_block .extra-padding {
    padding: 0 15px 15px;
}
.pro_channel_block .pro_channel_img1 {
    padding: 0;
}
.pro_channel_block .pro_channel_img2 {
    padding: 4px 2px 0 0;
}
.pro_channel_block .pro_channel_img3 {
    padding: 4px 0 0 2px;
}
.channel-avatar-full img {
    width: 100%;
}

#search-placeholder {
    top: 15px !important;
}

ul.nav-tabs li a {
    cursor: pointer;
}


/* user search */
.ops_artist_follow {
    padding: 0 8px;
}
.ops_artist_follow .panel20 {
    width: 216px;
    height: auto;
    float: left;
    background: #fff;
    border: 1px solid rgba(102, 45, 145, 0.1);
    border-radius: 3px;
    padding: 24px 32px;
    margin: 0 10px 10px 0;
}
.text-center {
    text-align: center !important;
}
.avatar_artist_follow {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    line-height: 2.5;
    border: 0.2px solid #f8f8f8;
    background-color: #f8f8f8;
    .avatar_artist_follow img {
        width: 100%;
    }
}
.people-wrapper {
    padding-bottom: 100px;
}
.artists-not-found {
    text-align: center;
    color: black;
    padding-top: 50px;
    font-size: 20px;
}
/* user search */