@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_helpers.scss';
@import './src/assets/scss/components/_radio-checkbox.scss';
@import './src/assets/scss/base/_base.scss';
@import '~sass-mq/_mq.scss';

/* ------------------------- search style --------------------------- */

// search new
.search-result-container {
    padding: 200px 0;
}
.o-search-top-sec{
    width: 100%;
    float: left;
    height: 151px;
    background: linear-gradient(139.48deg, #FF7B84 0%, #F7D022 100%);
    margin-top: 50px;
}

// top search

.o-search{
  width: 767px;
  margin:0px auto;
  background: #fff;
  height: 46px;
  border-radius: 3px;
  box-shadow: 0 11px 4px 0 rgba(102,45,145,0.1);
  padding:8px 16px;
}
.o-search__input{
  width: 95%;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  border :none;
  float: left;
  color:#333;
  &:focus{
    outline: none;
  }
}
.o-search__input::placeholder {
  color: $color-grey;
}
.o-search__icon{
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 6px;
  svg, img {
    width: 20px;
    height: 20px;
  }
}
.o-search-empty__txt{
  text-align: center;
}

// search empty;

.o-search-empty{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
}
.o-search-empty__icon{
  width: 62px;
  height: 62px;
  img{
    width: 100%;
  }
}

 // // // search result container

.o-search-result-container{
  width: 100%;
  float: left;
  border-radius: 3px;
  min-height: 100vh;
  // margin: 100px 0;
}
// // left block 

.o-search-left-block{
  width: 99%;
  float: left;
  background: #fff;
  border-radius: 3px;
}
.o-search-select--box{
  border:none!important;
}

// for checkbox
.o-search-filter-block{
  float: left;
  width: 100%;
}
.form-check {
  font-size: 14px;
  text-transform: capitalize;
  margin: 16px 0px 0px 0px;
  position: relative;
}
.form-check label {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 11px;
  font-weight: normal;
  color: #929292;
  text-transform: uppercase;
  letter-spacing: 1px;
  pointer-events: auto;
  top: 0;
}
.form-check input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 9px 0 0;
  position: relative;
  outline: 0;
  left: 0;
  background-image: url(https://cdn.onepagespotlight.com/img/svg/checkboxdisabled.svg);
  float: left;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: cover;
  border:none!important;
}
.form-check input[type="checkbox"]:checked{
  background: url(https://cdn.onepagespotlight.com/img/svg/checkboxactived.svg);
  background-size: cover;
}

// right block 
.o-search-result-block{
  width: 100%;
  float: left;
  background: #fff;
  // min-height: 300px;
  border-radius: 3px;
  padding:16px 24px;
}

// top result block
.o-search-info-top{
  width: 100%;
  float: left;
  // padding-bottom: 16px;
  // border-bottom: 1px solid #F3F5F7;
}
.o-search-info_txt{
  font-size: 13px;
  color:#929292;
  float: left;
}
.o-search-result_count{
  float: right;
  font-size: 13px;
  color:#929292;
}

.o-top-result-block{
  width: 100%;
  float: left;
}

// people result

.o-people-result-block{
  width: 100%;
  float: left;
  margin-top: 16px;
  display: flex;
  align-items:center;
}
.o-people-result__prof-pic{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #c1c1c1;
  overflow: hidden;
  float: left;
  img{
    width: 100%;
  }
}
.o-people-result__name{
  float: left;
  margin-left: 16px;
  span{
    display: block;
  }
}
.o-people-result__btn{
  float: right;
  text-align: right;
}
.o-people-result__follow-btn{
  color: $color-theme;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
}

// post result

.o-post-result-block{
  width: 100%;
  float: left;
  margin-top: 16px;
}
.o-post-result__prof-pic{
  width: 56px;
  height: 56px;
  border-radius: 2px;
  background: #c1c1c1;
  overflow: hidden;
  float: left;
  img{
    width: 100%;
  }
}
.o-post-result__name{
  width: 80%;
  float: left;
  margin-left: 16px;
  span{
    display: block;
  }
}


.o-search-result-single-block{
  width: 100%;
  float: left;
  // margin-top: 24px;
}

// people result

.o-search-people-single{
  width: 100%;
  float: left;
  padding:24px 0px;
  border-bottom: 1px solid #F3F5F7;
}
.o-search-people__prof-pic{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #c1c1c1;
  float: left;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.o-search-people__info{
  width: 25%;
  float: left;
  margin-left: 16px;
}
.o-search-people__post-img{
  width: 61%;
  float: right;
}
.o-search-people-post__block{
  width: 90px;
  height: 90px;
  float: left;
  background: #F3F5F7;
  border-radius: 3px;
  margin-left:8px;
  overflow: hidden;
}
.o-search-people-post__seemore{
  width: 90px;
  height: 90px;
  opacity: 0.59;  
  border-radius: 3px; 
  background-color: #000;
  display: block;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items:center;
  text-transform: uppercase;
}






// old search styles

.ops_search {
    background-color: rgba(243, 245, 247, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1033;
    display: none;
    overflow-y: auto;
    .search_close {
      float: right;
      margin: 20px;
      img {
            width: 30px;
      }
    }
    .search_top_input {
        margin-top: 160px;
        .form_group {
            .form_input {
                background-color: transparent;
                height: 80px;
                font-size: 48px;
                padding-right: 40px;
            }
            label {
                font-size: 48px;
                color: #979797;
            }
            .form_input:focus ~ label,
            .form_input:valid ~ label {
                display: none;
            }
        }
    }
    .search_top_icon {
        img {
            width: 32px;
            float: right;
            margin-top: -48px;
        }
    }
    // ops tab
    .nav-tabs > li {
        float: none;
        display: inline-block;
        zoom: 1;
    }
    .nav-tabs {
        text-align: center;
    }
    .ops_explore_head {
      margin: 16px 8px;
    }
}

.h-50-auto {
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.o-top-result-block {
  width: 100%;
  float: left;
}

.o-search-info_txt {
  font-size: 13px;
  color: #929292;
  float: left;
}

.o-search-result_count {
  float: right;
  font-size: 13px;
  color: #929292;
}

.c-text_lg, .c-text_lg-light, .c-text_lg-bold {
  color: #333333;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.c-search__block {
  width: 18%;
  height: auto;
  float: left;
  border-radius: 3px;
  overflow: hidden;
  margin: 8px;
}

.c-searchprofile__imgblock {
  width: 118px;
  height: 118px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  background: #929292;
}

.c-searchprofile__name {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  display: block;
}

.c-searchprofile__prof {
  color: #929292;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  display: block;
}

.c-searchprofile__postblock {
  width: 118px;
  height: 118px;
  overflow: hidden;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
}

.c-searchprofile__name2 {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  display: block;
}

.c-searchprofile__postblock {
  width: 118px;
  height: 118px;
  overflow: hidden;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
}

.c-searchprofile__name2 {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  display: block;
}

.c-searchprofile__post {
  color: #929292;
  font-size: 11px;
  line-height: 18px;
  display: block;
}


/* people */
.c-card--artist {
  padding: 16px;
  text-align: center;
}

.c-card {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(102,45,145,.15);
  background-color: #fff;
  overflow: hidden;
}

.c-avatar--artist {
  width: 90px;
  height: 90px;
}

.c-artist__avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.c-artist__avatar.c-avatar--artist img {
  width: 100%;
}

.c-artist__name {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}

.margin_t_16 {
  margin-top: 16px;
}

.c-artist__username {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

.c-artist--btn {
  margin-top: 16px;
}

.btn-normal {
  color: #fff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}

.btn-follow {
  padding: 0 9px 0 1px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 3px;
}

.btn-label-follow {
  position: relative;
  left: -6px;
  display: inline-block;
  padding: 1px 0 1px 10px;
  border-radius: 3px 0 0 3px;
}

.result-not-found {
  margin-top: 80px;
  text-align: center;
  font-size: 15px;
  color: #000;
}

.pad-bot-25 {
  padding-bottom: 25px;
}

.o-people-result-block {
  width: 100%;
  float: left;
  margin-top: 16px;
  display: flex;
  align-items: center;
}


.width-100 {
  width: 100%;
}

.o-people-result-block2 {
  height: 50vh;
  overflow-y: auto;
}
/* people */


/* post */
.c-card {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(102,45,145,.15);
  background-color: #fff;
  overflow: hidden;
}
.c-card__media {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f8f8f8;
}
a {
  text-decoration: none!important;
}
.c-card__image {
  width: 100%;
  vertical-align: middle;
  outline: 0;
}
.c-card__icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  line-height: 0;
  width: 22px;
  filter: drop-shadow(0 0 3px #222);
}
.c-card__body {
  width: 100%;
  float: left;
  clear: both;
  padding: 16px;
  position: relative;
}
.c-card__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #333;
  text-transform: uppercase;
}
.c-card__desc {
  font-size: 12px;
  font-weight: 600;
  color: #979797;
}
.c-card__options {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 10px;
  line-height: 0;
  width: 14px;
}
.c-card__user {
  margin-top: 16px;
}
.c-avatar--feed {
  width: 24px;
  height: 24px;
}
.c-user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 50px;
  float: left;
}
.c-user__name {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #000;
  float: left;
  cursor: pointer;
  width: calc(100% - 24px);
  // margin-left: 8px;
  padding-left: 8px;
  margin-top: 2px;
}
.c-user__channel {
  font-size: 12px;
  font-weight: 600;
  color: #979797;
  display: block;
  margin-left: 32px;
  clear: both;
  cursor: pointer;
}
.c-user__image {
  width: 100%;
}
.c-card__links {
  width: 100%;
  float: left;
  padding: 16px;
  border-top: 1px solid #efefef;
}
.c-links {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #333;
  line-height: 17px;
}
.c-links__spots {
  display: inline;
  float: left;
  margin-right: 24px;
  cursor: pointer;
}
.c-links__image {
  width: 14px;
  float: left;
}
.c-links__count {
  float: left;
  margin-top: -2px;
  margin-left: 6px;
}
.c-links__comments {
  display: inline;
  float: left;
  margin-right: 24px;
  cursor: pointer;
}
.c-links__image {
  width: 14px;
  float: left;
}
.c-links__actions {
  text-align: right;
}
.c-action__image {
  width: 14px;
  margin-left: 8px;
}

.result-not-found {
  margin-top: 80px;
  text-align: center;
  font-size: 15px;
  color: #000;
}

.c-user__status {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  line-height: 31px;
  clear: both;
  padding-top: 10px;
}

.pad-bot-25 {
  padding-bottom: 25px;
}

.o-post-result-block {
  width: 100%;
  float: left;
  margin-top: 16px;
}

.o-post-result-block2 {
  height: 50vh;
  overflow-y: auto;
}
/* post */

/* channel */
.result-not-found {
  margin: 80px 0;
  text-align: center;
  font-size: 15px;
  color: #000;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}
/* channel */