<div id="posts" class="tab-pane fade active in" infinite-scroll (scrolled)="onScroll($event)">

    <div class="col-md-4 fill-white m-t-8 p-0 hidden-xs">
        <div class="o-trending-block">
          <div class="o-trending-heading m-b-8">Trending</div>

          <ul class="o-trending-list">
            <li class="o-trending-items">
              <a href="javascript:void(0);" class="c-text_md color-theme">#GoldenGlobes2018</a>
              <p class="c-text_sm color-grey-dark">51.2K Posts</p>
            </li>
            <li class="o-trending-items">
              <a href="javascript:void(0);" class="c-text_md color-theme">#MondayMotivation</a>
              <p class="c-text_sm color-grey-dark">51.2K Posts</p>
            </li>
            <li class="o-trending-items">
              <a href="javascript:void(0);" class="c-text_md color-theme">#fire</a>
              <p class="c-text_sm color-grey-dark">51.2K Posts</p>
            </li>
            <li class="o-trending-items">
              <a href="javascript:void(0);" class="c-text_md color-theme">#LGBT</a>
              <p class="c-text_sm color-grey-dark">51.2K Posts</p>
            </li>
            <li class="o-trending-items">
              <a href="javascript:void(0);" class="c-text_md color-theme">#MondayMotivation</a>
              <p class="c-text_sm color-grey-dark">51.2K Posts</p>
            </li>
          </ul>

          <div class="o-trending-heading m-t-b-8">Trending Post</div>
            <div class="col-md-12 float_left p-0">
              <div class="c-card o-trending-post">
                <!-- card media (img, video & audio) -->
                <div class="c-card__media">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#imgModal">
                    <img src="{{ imageLink }}img/s05.jpg" class="c-card__image">
                  </a>
                 <!--  <span>
                    <img src="assets/svg/ico_image.svg" alt="" class="c-card__icon">
                  </span> -->
                  <div class="c-media--hover">
                    <div class="c-user">
                      <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                        <img class="c-user__image" src="{{ imageLink }}img/avatar.jpg">
                      </a>
                      <a class="c-user__name2">Tobias Van1</a>
                    </div>
                    <div class="dropup c-dropdown c-dropdown__options">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                          <img [src]="imageLink + 'img/svg/ico_option_white.svg'" class="c-status__options m-r-16">
                        </span>
                        <ul class="dropdown-menu dropdown-menu-right m-r-16">
                          <li>
                            <a href="javascript:void(0);">Edit</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">Delete</a>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <!-- //card media (img, video & audio) -->
                <!-- card body -->
                <div class="c-card__body">
                  <div class="c-text_sm">
                    There are many variations of passages of Lorem Ipsum available, but the majority...
                  </div>
                </div>
                <!-- //card body -->
                <!-- card footer links -->
                <div class="c-card__links p-t-0">
                  <div class="c-links">
                    <div class="c-links__spots">
                      <img [src]="imageLink + 'img/svg/spot_icon_default.svg'" class="c-links__image">
                      <span class="c-links__count">705</span>
                    </div>
                    <div class="c-links__comments">
                      <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
                      <span class="c-links__count">24</span>
                    </div>
                    <div class="c-links__actions">
                        <span class="c-links__add">
                          <a href="javascript:void(0);">
                            <img [src]="imageLink + 'img/svg/ico_addtochannel.svg'" class="c-action__image">
                          </a>
                        </span>
                        
                    </div>
                  </div>
                </div>
                  <!-- //card footer links -->
              </div>
            </div>

          <div class="o-trending-heading m-t-b-8">Sponsored Post</div>
            <div class="col-md-12 float_left p-0">
              <div class="c-card o-trending-post">
                <!-- card media (img, video & audio) -->
                <div class="c-card__media">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#videoModal">
                    <img src="{{ imageLink }}img/s06.jpg" alt="" class="c-card__image">
                  </a>
                  <span>
                    <img [src]="imageLink + 'img/svg/ico_video.svg'" alt="" class="c-card__icon">
                  </span>
                  <div class="c-media--hover">
                    <div class="">
                      <div class="c-user">
                        <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                          <img class="c-user__image" src="{{ imageLink }}img/avatar.jpg">
                        </a>
                        <a class="c-user__name2">Tobias Van3</a>
                      </div>
                      <div class="dropup c-dropdown c-dropdown__options">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                          <img [src]="imageLink + 'img/svg/ico_option_white.svg'" class="c-status__options m-r-16">
                        </span>
                        <ul class="dropdown-menu dropdown-menu-right m-r-16">
                          <li>
                            <a href="javascript:void(0);">Edit</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">Delete</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //card media (img, video & audio) -->
                <!-- card body -->
                <div class="c-card__body">
                  <div class="c-text_sm">
                    There are many variations of passages of Lorem Ipsum available, but the majority...
                  </div>
                </div>
                <!-- //card body -->
                <!-- card footer links -->
                <div class="c-card__links p-t-0">
                  <div class="c-links">
                    <div class="c-links__spots">
                      <img [src]="imageLink + 'img/svg/spot_icon_default.svg'" class="c-links__image">
                      <span class="c-links__count">705</span>
                    </div>
                    <div class="c-links__comments">
                      <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
                      <span class="c-links__count">24</span>
                    </div>
                    <div class="c-links__actions">
                      <span class="c-links__add">
                        <a href="javascript:void(0);">
                          <img [src]="imageLink + 'img/svg/ico_addtochannel.svg'" class="c-action__image">
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- //card footer links -->
              </div>
            </div>
        </div>
      </div>
    <div class="col-md-8 o-homefeed-posts">
        <app-post *ngFor="let userMedia of posts; let i = index" [className]="'c-card m-t-8'" [mediaData]="userMedia"></app-post>
        <div *ngIf="userProfile.user_following_posts_loading">
            <app-post-card [className]="'c-card m-t-8'" [loader]=true *ngFor="let number of [0,1]" ></app-post-card>
        </div>
    </div>
    
    <!-- <div *ngIf="userProfile.user_following_posts_loading">
        <div class="msg__loading">
            <div class="loader">Loading...</div>
        </div>
    </div> -->

</div>
<div *ngIf="!userProfile.user_following_posts_loading && posts.length < 1 && isOwner === true" class="empty__state">
    <h4>No posts to show here</h4>
    <p>Follow People & Channels to get updates from them here</p>
</div>
