@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';

.spotted-users-wrapper {
  height: 200px;
  overflow: auto;
}

.spotted-users-container {
  width: 200px;
  margin: auto;
}

.cursor_pointer {
  cursor: pointer;
}
.pb15 {
  padding-bottom: 15px;
}
.tab-content>.active {
  display: block;
}

.fade.in {
  opacity: 1;
}

.col-md-3 {
  width: 25%;
}

.col-md-9 {
  width: 75%;
}

.m-t-16 {
  margin-top: 16px !important;
}

.c-status--block {
  width: 100%;
  float: left;
  clear: both;
  padding: 16px 24px;
  position: relative;
}

.margin_none {
  margin: 0px !important;
}

.c-user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 50px;
}

.c-avatar--status {
  width: 34px;
  height: 34px;
}

a {
  color: #979797;
  text-decoration: none !important;
  outline: none;
}

.c-user__image {
  width: 100%;
}

.c-user__name {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #000;
  margin-left: 8px;
  margin-top: 2px;
  float: left;
  cursor: pointer;
}

.c-user__channel {
  font-size: 11px;
  line-height: 18px;
  color: #979797;
  display: block;
  margin-left: 32px;
  clear: both;
  cursor: pointer;
}

.c-user__channel-align {
  margin-top: 24px;
  position: absolute;
  margin-left: 50px;
}

.pull-right {
  float: right !important;
}

.c-post__time {
  float: left;
  color: #b4b4b4;
  font-size: 11px;
  line-height: 18px;
  margin-top: 8px;
}

a {
  cursor: pointer;
}

.c-status__options {
  width: 14px;
  height: 14px;
  float: left;
  margin-top: 9px;
  margin-left: 8px;
  cursor: pointer;
}

.c-dropdown .dropdown-menu {
  min-width: auto;
}

.pull-right>.dropdown-menu {
  right: 0;
  left: auto;
}

.c-dropdown .dropdown-menu>li>a {
  padding: 4px 20px;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.c-card {
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
}

.c-user__status {
  color: #333;
  font-size: 15px;
  line-height: 24px;
}

.c-links {
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  color: $color-grey-darker;
}

.c-links__spots {
  font-weight: 500;
  color: $color-grey-dark;
}

.c-links__image {
  width: 24px;
}

.c-links__count {
  font-size: 11px;
  font-weight: 500;
  padding-left: 6px;
  line-height: 18px;
  color: $color-grey-dark;
}

.c-links__comments {
  padding-left: 20px;
}

.c-links__actions {
  text-align: right;
}

.c-action__image {
  width: 24px;
  margin-left: 8px;
}

.c-action__image {
  width: 24px;
  margin-left: 8px;
}

.c-post__comment {
  padding: 8px 16px;
  position: relative;
  clear: both;
}

.fill-grey-light {
  background-color: #F3F5F7 !important;
}

.p-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.c-post__comment--left {
  width: 7%;
  float: left;
}

.c-avatar--status2 {
  width: 24px;
  height: 24px;
}

.c-post__comment--right {
  width: 90%;
  float: left;
}

.p-l-0 {
  padding-left: 0 !important;
}

.c-post__commenter {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
}

.c-post__comment_text {
  color: #929292;
  font-size: 11px;
  line-height: 18px;
  margin-left: 0;
  display: block;
}

.c-post__comment--time {
  color: #c1c1c1;
  font-size: 11px;
  line-height: 18px;
  margin-top: 3px;
  padding-right: 8px;
}

.c-dropdown__options {
  position: absolute;
  right: 0;
}

.m-r-24 {
  margin-right: 24px !important;
}

.c-options--img {
  width: 10px;
  cursor: pointer;
}

.p-t-0 {
  padding-top: 0 !important;
}

.c-mediamodal__input {
  padding: 4px 0 0 16px;

  @include mq($from: $mobile_sm, $until: $mobile_lg) {
    margin-left: 5px;
  }
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.c-form__group {
  position: relative;
  margin-bottom: 14px;
}

.c-form__input {
  font-size: 13px;
  padding: 10px 10px 2px 0px;
  display: block;
  width: 100%;
  border: none;
  color: #333333;
  border-bottom: 1px solid #929292;
  background: none;
  line-height: 20px;
}

label {
  color: #929292;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 13px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.empty__state h4 {
  font-size: 15px;
}

.empty__state {
  margin-top: 2rem;
}

.empty__center {
  text-align: center
}

// trending block
.o-trending-block {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.o-trending-heading {
  font-size: 13px;
  padding: 8px 0px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  color: $color-grey-dark;
}

.o-trending-list {
  list-style: none;
}

.o-trending-items {
  list-style-type: none;
  margin-top: 8px;
}

.o-trending-post {
  box-shadow: none;
}

.grid-item {
  width: 270px;
  float: left;
}

.o-homefeed-posts {
  @include mq($from: $mobile_sm, $until: $tablet) {
    padding: 0px !important;
  }
}

.c-card__image {
  width: 100%;
  vertical-align: middle;
  outline: none;
}

.c-card__media,
  {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f8f8f8;
}

.c-media--hover {
  width: 100%;
  height: 52px;
  display: none;
  position: absolute;
  transition: .25s;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 3;
  bottom: 0;
  padding: 16px;
}

.c-avatar--feed2 {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
}

.c-user__name2 {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  margin-left: 8px;
  margin-top: 4px;
  float: left;
  cursor: pointer;
}

.p-vertical-16 {
  padding: 16px 0px;
}

.c-card__icon {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 10px;
  line-height: 0px;
  width: 22px;
  filter: drop-shadow(0px 0px 3px #222);
}

// user card -----

.o-hf_usertimeline {
  height: 79px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);

  img {
    width: 100%;
  }
}

.o-hf_usercont {
  padding: 0px 12px;
}

.o-hf_userimg {
  width: 74px;
  height: 74px;
  margin-top: -30px;
  
  img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid $color-white;
  }
}

.o-hf_username {
  margin-left: 8px;
}

.fans-activity-counts {
  margin: 0;
  padding: 24px 12px;
  & > li {
    text-align: left;
    list-style-type: none;
    display: inline-block;
  }
}