<div id="posts" class="tab-pane fade active in" infinite-scroll (scrolled)="onScroll($event)">

    <div class="col-md-3"></div>
    <div class="col-md-9">
        <app-post *ngFor="let userMedia of posts; let i = index" [className]="'c-card m-t-8'" [mediaData]="userMedia"></app-post>
    </div>
    <div *ngIf="userProfile.user_following_posts_loading">
        <div class="msg__loading">
            <div class="loader">Loading...</div>
        </div>
    </div>

</div>
<div *ngIf="!userProfile.user_following_posts_loading && posts.length < 1 && isOwner === true" class="empty__state">
    <h4>No posts to show here</h4>
    <p>Follow People & Channels to get updates from them here</p>
</div>
