<div id="posts" class="tab-pane fade active in column-container" infinite-scroll (scrolled)="onScroll($event)">
  <div class="left-columns p-0 hidden-xs">
    <div class="c-card">
      <div class="o-hf_usertimeline bg-img" [ngStyle]="{'background-image': 'url(' + (userData?.coverImage ? imageLink + userData?.coverImage : 'https://cdn.onepagespotlight.com/img/profile-cover.png') + ')'}">
      </div>
      <div class="o-hf_usercont has-flex align-base">
        <div class="o-hf_userimg">
          <img [src]="imageLink + userData?.profileImage" alt="User Photo" />
        </div>
        <div class="o-hf_username f0">
          <p class="c-text_lg cursor_pointer" routerLink="/profile/user">{{ userData?.name | truncate:[20, '...']}}
          </p>
          <span class="c-text_sm color-grey-dark">@ {{ userData?.username }}</span>
        </div>
      </div>
      <ul class="fans-activity-counts has-flex space-around text-center">
        <li>
          <p class="c-text_sm">Following</p>
          <span class="color-grey-dark">{{ userData?.followingCount }}</span>
        </li>
        <li>
          <p class="c-text_sm">Followers</p>
          <span class="color-grey-dark">{{ userData?.followersCount }}</span>
        </li>
        <li>
          <p class="c-text_sm">Spots</p>
          <span class="color-grey-dark">{{ userData?.spotsCount }}</span>
        </li>
      </ul>
    </div>

    <div class="c-card m-t-16 top-stick stick-to-viewport">
      <div class="o-trending-block">
        <p class="o-trending-heading text-uppercase">Trending Post</p>
        <div class="c-card o-trending-post pb15" *ngFor="let trending of trendingPost | slice:0:1">
          <!-- card media (img, video & audio) -->
          <div class="c-card__media">
            <a class="block relative" [routerLink]="['', { outlets: { media : ['media', trending?.id]}}]">
              <img [src]="imageLink + trending?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';"
                class="c-card__image">
              <span>
                <img [src]="imageLink + 'img/svg/ico_video.svg'" *ngIf="trending?.mtype === 'video'" class="c-card__icon">
                <img [src]="imageLink + 'img/svg/ico_image.svg'" *ngIf="trending?.mtype === 'image'" class="c-card__icon">
                <img [src]="imageLink + 'img/svg/ico_volume3.svg'" *ngIf="trending?.mtype === 'audio'" class="c-card__icon">
              </span>
            </a>
            <div class="c-media--hover">
              <div class="c-user">
                <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                  <img class="c-user__image" [src]="imageLink + 'img/avatar.jpg'">
                </a>
                <a class="c-user__name2">Tobias Van1</a>
              </div>
              <div class="dropup c-dropdown c-dropdown__options">
                <span class="dropdown-toggle" data-toggle="dropdown">
                  <img [src]="imageLink + 'img/svg/ico_option_white.svg'" class="c-status__options m-r-16">
                </span>
                <ul class="dropdown-menu dropdown-menu-right m-r-16">
                  <li>
                    <a href="javascript:void(0)">Edit</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- //card media (img, video & audio) -->
          <!-- card body -->
            <p class="p-vertical-16 c-text_sm">
              {{ trending?.title }}
            </p>
          <!-- //card body -->
          <!-- card footer links -->
          <div class="c-links has-flex">
            <a class="c-links__spots has-flex" (click)="spotAction(trending)">
              <img [src]="trending?.isSpotted ? imageLink + 'img/svg/spot_icon.svg' : imageLink + 'img/svg/spot_icon_default.svg'"
                class="c-links__image">
              <span class="c-links__count">{{ trending?.counts?.spotsCount }}</span>
            </a>
            <a class="c-links__comments has-flex">
              <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
              <span class="c-links__count">{{ trending?.counts?.commentsCount }}</span>
            </a>
          </div>
          <!-- //card footer links -->
        </div>

        <p class="o-trending-heading text-uppercase">Sponsored Post</p>
        <div class="c-card o-trending-post" *ngFor="let trending of trendingPost | slice:1:2">
            <!-- card media (img, video & audio) -->
            <div class="c-card__media">
              <a class="block relative" [routerLink]="['', { outlets: { media : ['media', trending?.id]}}]">
                <img [src]="imageLink + trending?.thumbNails?.mediumLarge" onError="this.src='https://cdn.onepagespotlight.com/img/placeholder-image.jpg';"
                  class="c-card__image">
                <span>
                  <img [src]="imageLink + 'img/svg/ico_video.svg'" *ngIf="trending?.mtype === 'video'" class="c-card__icon">
                  <img [src]="imageLink + 'img/svg/ico_image.svg'" *ngIf="trending?.mtype === 'image'" class="c-card__icon">
                  <img [src]="imageLink + 'img/svg/ico_volume3.svg'" *ngIf="trending?.mtype === 'audio'" class="c-card__icon">
                </span>
              </a>
              <div class="c-media--hover">
                  <div class="c-user">
                    <a href="javascript:void(0);" class="c-user__avatar c-avatar--feed2">
                      <img class="c-user__image" [src]="imageLink + 'img/avatar.jpg'">
                    </a>
                    <a class="c-user__name2">Tobias Van3</a>
                  </div>
                  <div class="dropup c-dropdown c-dropdown__options">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                      <img [src]="imageLink + 'img/svg/ico_option_white.svg'" class="c-status__options m-r-16">
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right m-r-16">
                      <li>
                        <a href="javascript:void(0)">Edit</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Delete</a>
                      </li>
                    </ul>
                  </div>
               
              </div>
            </div>
            <!-- //card media (img, video & audio) -->
            <!-- card body -->
            <p class="p-vertical-16 c-text_sm">
                {{ trending?.title}}
            </p>
            <!-- //card body -->
            <!-- card footer links -->
            <div class="c-links has-flex">
              <a class="c-links__spots has-flex" (click)="spotAction(trending)">
                <img [src]="trending?.isSpotted ? imageLink + 'img/svg/spot_icon.svg' : imageLink + 'img/svg/spot_icon_default.svg'"
                  class="c-links__image">
                <span class="c-links__count">{{ trending?.counts?.spotsCount }}</span>
              </a>
              <a class="c-links__comments has-flex">
                <img [src]="imageLink + 'img/svg/ico_comment.svg'" class="c-links__image">
                <span class="c-links__count">{{ trending?.counts?.commentsCount }}</span>
              </a>
            </div>
            <!-- //card footer links -->
        </div>
      </div>
    </div>
</div>

  <div class="columns o-homefeed-posts">
    <app-post (elemViewportStatus)="elemInViewportStatus($event)" *ngFor="let userMedia of posts; let i = index"
      [className]="'c-card m-t-8'" (postDelete)="postDelete(userMedia)" [mediaData]="userMedia" [userData]="userData"></app-post>
    <div *ngIf="userProfile.user_following_posts_loading">
      <app-post-card [className]="'c-card m-t-8'" [loader]=true *ngFor="let number of [0,1]"></app-post-card>
    </div>
    <div *ngIf="!userProfile.user_following_posts_loading && posts.length < 1 && isOwner === true" class="empty__state empty__center">
      <h4>No posts to show here</h4>
      <p>Follow People & Channels to get updates from them here</p>
    </div>
  </div>
</div>