<section class="o-opportunities-form">
  <div class="container">
    <div class="o-opportunities-form-container m-t-32">
      <form action="">
        <div class="o-opportunities-form-block p-t-32">
          <h4 class="c-h4 text-center">Create Opportunity</h4>
          <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-24 text_uppercase ltr-space">
            Opportunity details
          </div><!-- subtitle end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <span class="c-text_md">Opportunity type</span>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-radio__sm">
                <label class="col-md-2 p-0">
                  <input name="demo" type="radio" class="c-form__bar2"><span></span>Audition
                </label>
                <label class="col-md-2 p-0">
                  <input name="demo" type="radio" class="c-form__bar2"><span></span>Projects
                </label>
                <label class="col-md-2 p-0">
                  <input name="demo" type="radio"><span></span>Jobs
                </label>
                <label class="col-md-2 p-0">
                  <input name="demo" type="radio"><span></span>Internship
                </label>
                <label class="col-md-2 p-0">
                  <input name="demo" type="radio"><span></span>Freelance
                </label>
                <label class="col-md-2 p-0">
                  <input name="demo" type="radio"><span></span>Volunteer
                </label>
              </div>
            </div>
          </div><!-- Opportunity type end -->
          
          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Role</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" required="" type="text">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>eg: Manager/Director</label>
              </div>
            </div>
          </div><!-- Role end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Description</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm">
                <textarea class="c-textarea__block c-textarea--style" placeholder="Describe about opportunity"></textarea>
              </div>
            </div>
          </div><!-- Description end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Experience</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <div class="c-text_md color-grey-dark p-8">to</div>
              </div>
              <div class="col-md-2 p-0">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
            </div>
          </div><!-- Experience end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Salary</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-4 p-l-0">
                <div class="c-form__group c-form--sm c-form--noeffect">
                  <input class="c-form__input" required="" type="text">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <label>eg: Manager/Director</label>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0">
                    <option>Annualy</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0">
                    <option>Currency</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
            </div>
          </div><!-- Salary end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Duration</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-4 p-0">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0">
                    <option>Full time</option>
                    <option>part time</option>
                  </select>
                </div>
              </div>
            </div>
          </div><!-- Duration end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Location</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" required="" type="text">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>Where is the opportunity</label>
              </div>
            </div>
          </div><!-- Location end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Includes travel</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                <div class="c-radio__sm p-t-8 float_left width100">
                  <label class="col-md-6 p-0 p-t-8">
                    <input name="demo" type="radio" class="c-form__bar2"><span></span>yes
                  </label>
                  <label class="col-md-6 p-0 p-t-8">
                    <input name="demo" type="radio" class="c-form__bar2"><span></span>No
                  </label>
                </div>
              </div>
              <div class="col-md-9 p-r-0">
                <div class="c-form__group c-form--sm c-form--noeffect">
                  <input class="c-form__input" required="" type="text">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <label>Country</label>
                </div>
              </div>
            </div>
          </div><!-- Location end -->

          <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
            Candidate details
          </div><!-- subtitle end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Skills</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" required="" type="text">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>eg: #Uidesign #photoshop #sketch</label>
              </div>
            </div>
          </div><!-- Skills end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Qualifications</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" required="" type="text">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>eg: Garduate </label>
              </div>
            </div>
          </div><!-- Qualifications end -->

          <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
            organization details
          </div><!-- subtitle end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Organization Name</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" required="" type="text">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>Name of organization </label>
              </div>
            </div>
          </div><!-- Organization Name end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Attach files</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="o-oppo-form__file-type">
                <input class="o-oppo-file" type="file">
                <p class="c-text_sm o-oppo-file__text"> upload<br>image or video</p>
              </div>
              <div class="o-oppo-form__img-show">
                
              </div>
            </div>
          </div><!-- file attach end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0"></div>
            <div class="col-md-9 p-0 ">
              <button type="button" class="btn btn-primary btn-md m-t-16">Create</button>
            </div>
          </div><!-- btn end -->

        </div><!-- form block end -->
      </form>
    </div>
  </div>
</section>