@import './src/assets/scss/helpers/_variables.scss';

.pen {
  pointer-events: none;
}

.dropdown-menu {
  display: block;
}

.c-opsdropdown--size1 {
  width: 109px;
}

.o-action-list--space {
  margin-top: 24px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a {
  font-size: 12px;
  text-align: left;
  color: #979797;
  padding: 10px 20px;
}

.c-opsdropdown--icons {
  width: 12px;
  display: inline;
  margin: 0 !important;
  float: left;
  padding-top: 3px;
}

.c-opsdropdown--text {
  font-size: 12px;
  text-align: left;
  color: #979797;
  padding: 10px 20px;
}

.o-create-channel__action {
  float: right;
  margin-left: 16px;
  margin-top: 12px;
}

.o-action__ico img {
  width: 100%;
}

.o-action__ico-arrow {
  width: 10px;
  height: 6px;
  float: left;
  margin-top: 3px;
  margin-left: 8px;
}

.o-action__ico {
  width: 12px;
  height: 12px;
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}

.show {
  display: block !important;
}

// opportunity form css
.o-add-media-channel {
  width: 100%;
  background: #fff;
  padding: 24px 32px;
  float: left;
}

.o-add-media-channel__link {
  cursor: pointer;
}

.o-add-media-channel-main {
  width: 863px;
  margin: 0px auto;
}

.o-add-media-channel__head {
  float: left;
  width: 100%;
}

.o-channel-search {
  width: 99%;
  float: left;
  margin-top: 16px;
  padding: 0px 100px;
}

.c-form__group {
  position: relative;
  margin-bottom: 0 !important;
}

.o-channel-input {
  border: none !important;
}

.fpadding_l32 {
  padding-left: 32px;
}

.c-form__input {
  font-size: 13px;
  padding: 10px 10px 5px 0px;
  display: block;
  width: 100%;
  border: none;
  color: #333333;
  border-bottom: 1px solid #929292;
  background: none;
  line-height: 20px;
}

.o-add-channel-container {
  width: 100%;
  float: left;
  padding: 0px 100px;
  max-height: 328px;
  min-height: 328px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.o-channel-list-container {
  width: 100%;
  float: left;
  margin-bottom: 16px;
}

.o-channel-items {
  list-style-type: none;
  display: block;
  cursor: pointer;
}

.o-channel-items input[type=radio] {
  display: none;
}

.o-channel-items input[type="radio"] + label {
  margin-right: 0px;
  vertical-align: middle;
}

.o-channel-items input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  height: 56px;
  width: 100%;
  border-radius: 3px;
  padding: 8px;
}

.o-channel-label {
  pointer-events: all;
  position: static;
}

.o-create-channel {
  width: 100%;
  padding: 0px 100px;
  float: left;
  border-top: 1px solid #F3F5F7;
}

.o-create-channel-container {
  width: 100%;
  min-height: 480px;
  position: absolute;
  top: -25px;
  background: #fff;
  transition: .25s;
  left: 0px;
}

.c-form__input {
  font-size: 13px;
  padding: 10px 10px 5px 0px;
  display: block;
  width: 100%;
  border: none;
  color: #333333;
  border-bottom: 1px solid #929292;
  background: none;
  line-height: 20px;
}

.fpadding_l32 {
  padding-left: 32px;
}

.c-form__input--lefticon {
  margin-top: -21px;
  position: absolute;
  width: 12px;
  margin-left: 8px;
}

.c-radio__sm input span, .c-radio__sm input[type="radio"] + span {
  text-align: center;
}

.c-radio__sm label {
  text-align: left;
}

select {
  color: #333333 !important;
}
.o-opportunities-form{
	width: 100%;
	padding: 50px 0 80px 0;
}
.o-opportunities-form-container{
	width: 100%;
	float: left;
	background: #fff;
}
.o-opportunities-form-block{
	width: 767px;
	margin:0px auto;
	min-height: 1000px;
}
.o-oppo-form__subtitle{
	border-bottom: 1px solid #F3F5F7;
}
.o-oppo-form__single{
	width: 100%;
	float: left;
	padding-bottom: 25px;
}
.o-oppo-form-title{
	padding:10px 0px;
}

// for attachment

.o-oppo-form__file-type{
	width: 120px;
	height: 120px;
	float: left;
	display: flex;
	align-items:center;
	justify-content:center;
	border: 1px solid #C1C1C1;	
	border-radius: 3px;
	position: relative;
	float: left;
}
.o-oppo-file{
	opacity: 0;
	width: 120px;
	height: 120px;
	margin-left: 35px;
}
.o-oppo-file__text{
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

// img lilst

.o-oppo-form__img-show{
	width: 150px;
	height: 120px;
	overflow: hidden;
	border-radius: 3px;
	background: url(/assets/img/quick3.jpg) no-repeat;
	background-size: cover;
	margin-left: 16px;
	float: left;
}

// add to channel

.o-add-to-channel-sec{
  margin-top: 82px;
}
.o-add-channel-container{
  width: 100%;
  float: left;
  padding:0px 100px;
  max-height: 328px;
  min-height: 328px;
  overflow-y: scroll;
  overflow-x: hidden;
}

// channel search

.o-channel-search{
  width: 99%;
  float: left;
  margin-top: 16px;
  padding:0px 100px;
}
// channel list

.o-back-arrow{
  width: 16px;
  float: left;
  // margin-right:8px;
  margin-top: 3px;
  img{
    margin-left: -6px;
    width: 100%;
  }
}
.o-channel-list-container{
  width: 100%;
  float: left;
  margin-bottom: 16px;
}
.o-channel-block{
  list-style:none;
}
.o-channel-items{
  list-style-type: none;
  display: block;
  // margin:16px 0px 0px;
  cursor: pointer;
}
.o-channel-items input[type=radio] {
  display: none;
}
.o-channel-items input[type=radio] + label {
  display: inline-block;
  // line-height: 1.5rem;
  // height: 32px;
  cursor: pointer;
  // position: relative;
  height: 56px; 
  width: 100%; 
  border-radius: 3px; 
  padding:8px;
}
.o-channel-items input[type="radio"] + label{
  margin-right: 0px;
  vertical-align: middle;
}
.o-channel-items input[type="radio"]:hover + label {
  background-color: #F3F5F7;
}
.o-channel-items input[type="radio"]:checked + label {
  background-color: $color-theme;
}
.o-channel-items input[type="radio"]:checked + label .o-channel__font--color{
  color: #fff;
}
.o-channel-label{
  pointer-events:all;
  position: static;
}
.o-channel-content{
  width: 100%;
  float: right;
}
.o-channel-content__thumb{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 16px;
  background: #333;
  img{
    width: 100%;
  }
}
.o-channel-content__name{
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40px;
}

// create channel

.o-create-channel{
  width: 100%;
  padding:0px 100px;
  float: left;
  border-top: 1px solid #F3F5F7;
}
.o-create-channel__link{

}
.o-create-channel__ico{
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 8px;
}
.o-create-channel__title{
  font-size: 15px;
  color: #FF7B84;
  font-weight: normal;
  float: left;
}

.o-create-channel-container{
  width: 100%;
  min-height: 480px;
  position: absolute;
  top: -25px;
  background: #fff;
  transition: .25s;
  left: 0px;
}
.o-create-channel__heading{
  float: left;
   width: 100%;
}
.o-create-channel__form{
  float: left;
  width: 100%;
  margin-top: 20px;
  padding:0px 100px;
}
.o-create-channel__input{
  width: 90%;
  float: left;
}
.o-create-channel__action{
  float: right;
  margin-left: 16px;
  margin-top: 12px;
}
.o-create-channel__btn{
  margin-top: 12px;
  width: 100%;
  float: left;
}

// private public check

.o-channel__private{
  width: 16px;
  height: 16px;
  margin: 12px 16px;
}
.o-channel-private__img{
  opacity: 0.5;
  width: 100%;
  transition:.25s;
}
.o-channel-items input[type="radio"]:hover + label .o-channel-private__img{
  opacity: 1;
}
.o-channel-items input[type="radio"]:checked + label .o-channel-private__img{
  display:none;
}
.o-channel-private__img-tic{
  display: none;
  width: 100%;
  transition:.25s;
}
.o-channel-items input[type="radio"]:checked + label .o-channel-private__img-tic{
  display:block;
}

/* helpers */
// ===================================== PADDING ============================================

// padding 0, 8, 16, 24 =========================
.p-0 {
	padding: 0 !important;
  }
  .p-8 {
	padding: 8px !important;
  }
  .p-16 {
	padding: 16px !important;
  }
  .p-24 {
	padding: 24px !important;
  }
  .p-32 {
	padding: 32px !important;
  }
  // padding-top 0, 8, 16, 24 ======================
  .p-t-0 {
	padding-top: 0 !important;
  }
  .p-t-8 {
	padding-top: 8px !important;
  }
  .p-t-16 {
	padding-top: 16px !important;
  }
  .p-t-24 {
	padding-top: 24px !important;
  }
  .p-t-32 {
	padding-top: 32px !important;
  }
  // padding-right 0, 8, 16, 24 ======================
  .p-r-0 {
	padding-right: 0 !important;
  }
  .p-r-8 {
	padding-right: 8px !important;
  }
  .p-r-16 {
	padding-right: 16px !important;
  }
  .p-r-24 {
	padding-right: 24px !important;
  }
  // padding-bottom 0, 8, 16, 24 ======================
  .p-b-0 {
	padding-bottom: 0 !important;
  }
  .p-b-8 {
	padding-bottom: 8px !important;
  }
  .p-b-16 {
	padding-bottom: 16px !important;
  }
  .p-b-24 {
	padding-bottom: 24px !important;
  }
  // padding-left 0, 8, 16, 24 ======================
  .p-l-0 {
	padding-left: 0 !important;
  }
  .p-l-8 {
	padding-left: 8px !important;
  }
  .p-l-16 {
	padding-left: 16px !important;
  }
  .p-l-24 {
	padding-left: 24px !important;
  }
  .p-l-32 {
	padding-left: 32px !important;
  }
  // padding left right 8, 16, 24 ===============================================
  .p-l-r-8 {
	padding-left: 8px !important;
	padding-right: 8px !important;
  }
  .p-l-r-16 {
	padding-left: 16px !important;
	padding-right: 16px !important;
  }
  .p-l-r-24 {
	padding-left: 24px !important;
	padding-right: 24px !important;
  }
  // padding top bottom 8, 16, 24 ===============================================
  .p-t-b-8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
  }
  .p-t-b-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
  }
  .p-t-b-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
  }
  // padding-top minus -8, -16, -24 ===============================================
  .p-t--8 {
	padding-top: -8px !important;
  }
  .p-t--16 {
	padding-top: -16px !important;
  }
  .p-t--24 {
	padding-top: -24px !important;
  }
  .p-t--32 {
	padding-top: -32px !important;
  }
  // padding-right minus -8, -16, -24 ===============================================
  .p-r--8 {
	padding-right: -8px !important;
  }
  .p-r--16 {
	padding-right: -16px !important;
  }
  .p-r--24 {
	padding-right: -24px !important;
  }
  .p-r--32 {
	padding-right: -32px !important;
  }
  // padding-bottom minus -8, -16, -24 ===============================================
  .p-b--8 {
	padding-bottom: -8px !important;
  }
  .p-b--16 {
	padding-bottom: -16px !important;
  }
  .p-b--24 {
	padding-bottom: -24px !important;
  }
  .p-b--32 {
	padding-bottom: -32px !important;
  }
  // padding-left minus -8, -16, -24 ===============================================
  .p-l--8 {
	padding-left: -8px !important;
  }
  .p-l--16 {
	padding-left: -16px !important;
  }
  .p-l--24 {
	padding-left: -24px !important;
  }
  .p-l--32 {
	padding-left: -32px !important;
  }
  
  
  
  // ===================================== MARGIN ============================================
  
  // margin 0, 8, 16, 24 =========================
  .m-0 {
	margin: 0 !important;
  }
  .m-8 {
	margin: 8px !important;
  }
  .m-16 {
	margin: 16px !important;
  }
  .m-24 {
	margin: 24px !important;
  }
  // margin-top 0, 8, 16, 24 ======================
  .m-t-0 {
	margin-top: 0 !important;
  }
  .m-t-8 {
	margin-top: 8px !important;
  }
  .m-t-16 {
	margin-top: 16px !important;
  }
  .m-t-24 {
	margin-top: 24px !important;
  }
  .m-t-32 {
	margin-top: 32px !important;
  }
  // margin-right 0, 8, 16, 24 ======================
  .m-r-0 {
	margin-right: 0 !important;
  }
  .m-r-8 {
	margin-right: 8px !important;
  }
  .m-r-16 {
	margin-right: 16px !important;
  }
  .m-r-24 {
	margin-right: 24px !important;
  }
  // margin-bottom 0, 8, 16, 24 ======================
  .m-b-0 {
	margin-bottom: 0 !important;
  }
  .m-b-8 {
	margin-bottom: 8px !important;
  }
  .m-b-16 {
	margin-bottom: 16px !important;
  }
  .m-b-24 {
	margin-bottom: 24px !important;
  }
  .m-b-32 {
	margin-bottom: 32px !important;
  }
  // margin-left 0, 8, 16, 24 ======================
  .m-l-0 {
	margin-left: 0 !important;
  }
  .m-l-8 {
	margin-left: 8px !important;
  }
  .m-l-16 {
	margin-left: 16px !important;
  }
  .m-l-24 {
	margin-left: 24px !important;
  }
  // margin left right 8, 16, 24 ===============================================
  .m-l-r-8 {
	margin-left: 8px !important;
	margin-right: 8px !important;
  }
  .m-l-r-16 {
	margin-left: 16px !important;
	margin-right: 16px !important;
  }
  .m-l-r-24 {
	margin-left: 24px !important;
	margin-right: 24px !important;
  }
  // margin top bottom 8, 16, 24 ===============================================
  .m-t-b-8 {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
  }
  .m-t-b-16 {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
  }
  .m-t-b-24 {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
  }
  .m-t-b-32 {
	margin-top: 32px !important;
	margin-bottom: 32px !important;
  }
  // margin-top minus -8, -16, -24 ===============================================
  .m-t--8 {
	margin-top: -8px !important;
  }
  .m-t--16 {
	margin-top: -16px !important;
  }
  .m-t--24 {
	margin-top: -24px !important;
  }
  .m-t--32 {
	margin-top: -32px !important;
  }
  // margin-right minus -8, -16, -24 ===============================================
  .m-r--8 {
	margin-right: -8px !important;
  }
  .m-r--16 {
	margin-right: -16px !important;
  }
  .m-r--24 {
	margin-right: -24px !important;
  }
  .m-r--32 {
	margin-right: -32px !important;
  }
  // margin-bottom minus -8, -16, -24 ===============================================
  .m-b--8 {
	margin-bottom: -8px !important;
  }
  .m-b--16 {
	margin-bottom: -16px !important;
  }
  .m-b--24 {
	margin-bottom: -24px !important;
  }
  .m-b--32 {
	margin-bottom: -32px !important;
  }
  // margin left -8, -16, -24 ===============================================
  .m-l--8 {
	margin-left: -8px !important;
  }
  .m-l--16 {
	margin-left: -16px !important;
  }
  .m-l--24 {
	margin-left: -24px !important;
  }
  .m-l--32 {
	margin-left: -32px !important;
  }
  // ============================================================================== //
  
  // ===================================== WIDTH ====================================
  
  .width9{
	width: 9px;
  } 
  .width11{
	width: 11px;
  } 
  .width12{
	width: 12px;
  } 
  .width14{
	width: 14px;
  } 
  .width20{
	width: 20px;
  } 
  .width24{
	width: 24px;
  } 
  .width100{
	width: 100%;
  }
  /* helpers */