<section class="o-opportunities-form" *ngIf="!createClicked">
  <div class="container">
    <div class="o-opportunities-form-container m-t-32">
      <form [formGroup]="createOppFrm" (ngSubmit)="channelSelection(createOppFrm.value)" >
        <div class="o-opportunities-form-block p-t-32">
          <h4 class="c-h4 text-center">Create Opportunity</h4>
          <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-24 text_uppercase ltr-space">
            Opportunity details
          </div><!-- subtitle end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <span class="c-text_md">Opportunity type</span>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-radio__sm">
                <label class="col-md-2 p-0">
                  <input type="radio" value="Audition" name="oppType" formControlName="oppType" class="c-form__bar2">
                  <span></span>Audition
                </label>
                <label class="col-md-2 p-0">
                  <input type="radio" value="Projects" name="oppType" formControlName="oppType" class="c-form__bar2">
                  <span></span>Projects
                </label>
                <label class="col-md-2 p-0">
                  <input type="radio" value="Jobs" name="oppType" formControlName="oppType">
                  <span></span>Jobs
                </label>
                <label class="col-md-2 p-0">
                  <input type="radio" value="Internship" name="oppType" formControlName="oppType">
                  <span></span>Internship
                </label>
                <label class="col-md-2 p-0">
                  <input type="radio" value="Freelance" name="oppType" formControlName="oppType">
                  <span></span>Freelance
                </label>
                <label class="col-md-2 p-0">
                  <input type="radio" value="Volunteer" name="oppType" formControlName="oppType">
                  <span></span>Volunteer
                </label>
              </div>
              <p class="error_alert" *ngIf="createOppFrm.controls['oppType'].errors?.required">Opportunity type is required</p>
            </div>
          </div><!-- Opportunity type end -->
          
          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Role</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" type="text" formControlName="role">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>eg: Manager/Director</label>
              </div>
              <p class="error_alert" *ngIf="createOppFrm.controls['role']?.errors?.required && createOppFrm.controls['role'].touched">Role is required</p>
            </div>
          </div><!-- Role end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Description</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm">
                <textarea formControlName="description" class="c-textarea__block c-textarea--style" placeholder="Describe about opportunity"></textarea>
              </div>
            </div>
            <p class="error_alert" *ngIf="createOppFrm.controls['description']?.errors?.required">Description is required</p>
          </div><!-- Description end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Experience</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0" formControlName="yearsExpFrom">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <div class="c-text_md color-grey-dark p-8">to</div>
              </div>
              <div class="col-md-2 p-0">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0" formControlName="yearsExpTo">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <div class="c-text_md color-grey-dark p-8">years</div>
              </div>
            </div>
          </div><!-- Experience end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Salary</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-4 p-l-0">
                <div class="c-form__group c-form--sm c-form--noeffect">
                  <input class="c-form__input" type="number" formControlName="salaryAmount">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <label>500K, 7,50,000</label>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0" formControlName="salaryDuration">
                    <option value="Annualy">Annualy</option>
                    <option value="Monthly">Monthly</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0" formControlName="salaryCurrency">
                    <option value="">Currency</option>
                    <option value="INR">INR</option>
                    <option value="USD">USD</option>
                  </select>
                </div>
              </div>
            </div>
          </div><!-- Salary end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Duration</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-4 p-0">
                <div class="c-form__group">
                  <select class="c-form-control p-l-0" formControlName="oppDuration">
                    <option value="full-time">Full time</option>
                    <option value="part-time">Part time</option>
                  </select>
                </div>
              </div>
            </div>
          </div><!-- Duration end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Location</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" type="text" formControlName="oppLocation">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>Where is the opportunity</label>
              </div>
            </div>
          </div><!-- Location end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Includes travel</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="col-md-2 p-0">
                <div class="c-radio__sm p-t-8 float_left width100">
                  <label class="col-md-6 p-0 p-t-8">
                    <input formControlName="oppLevel" name="oppLevel" value="Yes" type="radio" class="c-form__bar2"><span></span>Yes
                  </label>
                  <label class="col-md-6 p-0 p-t-8">
                    <input formControlName="oppLevel" name="oppLevel" value="No" type="radio" class="c-form__bar2"><span></span>No
                  </label>
                </div>
              </div>
              <div class="col-md-9 p-r-0">
                <div class="c-form__group c-form--sm c-form--noeffect">
                  <input class="c-form__input" type="text" formControlName="country">
                  <span class="c-form__highlight"></span>
                  <span class="c-form__bar"></span>
                  <label>Country</label>
                </div>
              </div>
            </div>
          </div><!-- Location end -->

          <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
            Candidate details
          </div><!-- subtitle end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Skills</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" type="text" formControlName="userSkills">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>eg: #Uidesign #photoshop #sketch</label>
              </div>
            </div>
          </div><!-- Skills end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Qualifications</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" type="text"  formControlName="userQualifications">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>eg: Garduate </label>
              </div>
            </div>
          </div><!-- Qualifications end -->

          <div class="o-oppo-form__subtitle c-text_sm color-grey-dark p-b-8 m-t-b-32 text_uppercase ltr-space">
            organization details
          </div><!-- subtitle end -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Organization Name</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="c-form__group c-form--sm c-form--noeffect">
                <input class="c-form__input" type="text" formControlName="orgName">
                <span class="c-form__highlight"></span>
                <span class="c-form__bar"></span>
                <label>Name of organization </label>
              </div>
            </div>
          </div><!-- Organization Name end -->

          <!-- <div class="o-oppo-form__single">
            <div class="col-md-3 p-0">
              <div class="c-text_md o-oppo-form-title">Attach files</div>
            </div>
            <div class="col-md-9 p-0">
              <div class="o-oppo-form__file-type">
                <input class="o-oppo-file" type="file" formControlName="attachments">
                <p class="c-text_sm o-oppo-file__text"> upload<br>image or video</p>
              </div>
              <div class="o-oppo-form__img-show"></div>
            </div>
          </div> -->

          <div class="o-oppo-form__single">
            <div class="col-md-3 p-0"></div>
            <div class="col-md-9 p-0 ">
              <button type="submit" class="btn btn-primary btn-md m-t-16">Create</button>
            </div>
          </div><!-- btn end -->

        </div><!-- form block end -->
      </form>
    </div>
  </div>
</section>

<section class="o-add-to-channel-sec " *ngIf="createClicked" >
  <div class="container">
    <!-- add media channel  -->
    <div class="o-add-media-channel-main p-0">
      <div class="o-add-media-channel">
        <div class="col-md-12 p-0">
          <div class="o-add-media-channel__head">
            <div class="col-md-4 p-0">
              <a class="c-text_lg o-add-media-channel__link" (click)="createClicked = false">
                <div class="o-back-arrow"><img src="/assets/img/svg/back_arrow.svg" alt=""></div>
              </a>
            </div>
            <div class="col-md-4">
              <div class="o-add-media-channel__head text-center">
                <span class="c-text_lg o-add-media-channel__link">Select Channel</span>
              </div><!-- add media channel head sec end -->
            </div>
            <div class="col-md-4 p-0 text-right">
              <!-- <p class="c-text_sm color-grey-dark">12 Media selected</p> -->
            </div>
          </div><!-- add media channel head sec end -->
        </div>
        <div class="col-md-12 p-0">
          <div class="o-channel-search m-t-16">
            <div class="c-form__group fill-grey-light">
                <input class="c-form__input fpadding_l32 o-channel-input" type="text" placeholder="Search" #search>
                <span><img src="/assets/img/svg/ico_search.svg" class="c-form__input--lefticon"></span>
            </div>
          </div><!-- channel search end -->
          <div id="ops_scrollbar" class="o-add-channel-container">
            <div class="o-channel-list-container">
              <ul class="o-channel-block">
                <li class="o-channel-items" *ngFor="let channel of channelList | searchunique: 'spotfeedName' : search.value; let i = index" >
                  <input class="" type="radio" name="channel" id="{{ 'channel_'+ i }}" (click)="chooseChannel(channel)">
                  <label for="{{ 'channel_'+ i }}" class="o-channel-label">
                    <span class="o-channel-content">
                      <span class="o-channel-content__thumb"  *ngFor="let media of channel?.media | slice:0:1">
                        <img src="{{ baseUrl + media?.repoPath }}" alt="">
                      </span>
                      <span class="o-channel-content__thumb" *ngIf="(channel?.media).length === 0">
                        <img width="32" height="32" src="" alt="">
                      </span>
                      <span class="o-channel-content__name">
                        <p class="c-text_lg o-channel__font--color">{{ channel?.spotfeedName }}</p>
                      </span>
                      <!-- <span class="o-channel__private float_right">
                        <img src="/assets/img/svg/lock.svg" alt="" class="o-channel-private__img">
                        <img src="/assets/img/svg/ico_tick_white.svg" class="o-channel-private__img-tic">
                      </span> -->
                    </span>
                  </label>
                </li>
              </ul>
            </div>
          </div><!-- add to channel container end -->
          <div class="o-create-channel m-t-8 m-l-8 p-t-16">
            <a class="o-create-channel__link cursor-pointer" (click)="showCreateChannel = true">
              <span class="o-create-channel__ico"><img width="17" src="/assets/img/svg/ico_create-plus.svg"></span>
              <span class="o-create-channel__title">Create Channel</span>
            </a>
            <div id="create-channel" class="o-create-channel-container" *ngIf="showCreateChannel">
              <div class="col-md-12 p-0">
                <div class="o-add-media-channel__head m-b-16">
                  <div class="col-md-4 p-0">
                    <a class="c-text_lg o-add-media-channel__link cursor-pointer" (click)="showCreateChannel = false">
                      <div class="o-back-arrow"><img src="/assets/img/svg/back_arrow.svg" alt=""></div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <div class="o-add-media-channel__head text-center">
                      <span class="c-text_lg o-add-media-channel__link"> Create Channel</span>
                    </div><!-- add media channel head sec end -->
                  </div>
                  <div class="col-md-4 p-0 text-right">
                    <!-- <p class="c-text_sm color-grey-dark">12 Media selected</p> -->
                  </div>
                </div><!-- add media channel head sec end -->
              </div>
              <div class=" c-text_lg o-add-media-channel__link">
              </div>
              <div class="o-create-channel__form">
                <form action="">
                  <div class="col-md-12 p-0 m-b-16" >
                    <div class="c-form__group ">
                        <input class="c-form__input" required="" type="text">
                        <span class="c-form__highlight"></span>
                        <span class="c-form__bar"></span>
                        <label>Name of channel</label>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 m-b-16">
                    <div class="c-form__group">
                      <input class="c-form__input" required="" type="text">
                      <span class="c-form__highlight"></span>
                      <span class="c-form__bar"></span>
                      <label>Description</label>
                    </div>
                  </div>
                  <div class="col-md-12 p-0 m-b-16">
                    <div class="c-form__group o-create-channel__input">
                      <select class="c-form-control p-l-0">
                          <option>Industry</option>
                          <option>Select list 2</option>
                          <option>Select list 3</option>
                          <option>Select list 4</option>
                      </select>
                    </div>

                    <div class="o-create-channel__action">
                      <div class="dropdown">   
                        <span class="com-head" data-toggle="dropdown" aria-expanded="true">
                          <div class="o-action__ico">
                            <img src="/assets/img/svg/ico_web.svg">
                          </div>
                          <div class="o-action__ico-arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 10" version="1.1">
                                <!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
                                <title>Path 2 Copy</title>
                                <desc>Created with Sketch.</desc>
                                <defs/>
                                <g id="Create" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polyline id="Path-2-Copy" stroke="#333" stroke-width="1" transform="translate(8.000000, 4.500000) rotate(-360.000000) translate(-8.000000, -4.500000) " points="1 1 8 8 15 1"/>
                                </g>
                            </svg>
                          </div>
                        </span>
                        <ul class="dropdown-menu c-opsdropdown--size1 o-action-list--space">
                          <li>
                            <a href="#" class="c-opsdropdown__list">
                              <img src="/assets/img/svg/ico-public.svg" class="c-opsdropdown--icons">
                              <span class="c-opsdropdown--text">Public</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="c-opsdropdown__list">
                              <img src="/assets/img/svg/Ico-private.svg" class="c-opsdropdown--icons">
                              <span class="c-opsdropdown--text">Private</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="o-create-channel__btn">
                    <button type="button" class="btn btn-default btn-md m-r-8 float_left" (click)="showCreateChannel = false">Cancel</button>
                    <a href="channel_inner.html" class="btn btn-primary btn-md float_right">Save</a>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- add media channel end --> 
  </div>
</section>
