<div class="o-people-result__prof-pic" routerLink="{{ '/profile/u/' + artist?.extra?.username }}">
    <a routerLink="{{ '/profile/u/' + artist?.extra?.username }}" class="c-artist__avatar">
        <img *ngIf="artist?.physical?.profileImages?.profileImage_medium; else default_profile_image" [src]="artist?.extra?.isExternallySourced ? artist?.physical?.profileImages?.profileImage_medium :baseUrl + artist?.physical?.profileImages?.profileImage_medium" class="c-artist__img">
        <ng-template #default_profile_image>
            <img [src]="baseUrl + 'img/avatar.png'" class="c-artist__img">
        </ng-template>
    </a>
</div>
<div class="o-people-result__name" routerLink="{{ '/profile/u/' + artist?.extra?.username + ( artist?.extra?.isImported === true ? '/about' : '' ) }}">
    <span class="c-text_lg">{{ artist?.name | truncate:[12, '...'] }}</span>
    <span class="c-text_sm color-grey-dark">@{{ artist?.extra?.username }}</span>
</div>
<ng-container *ngIf="!hideActions">
    <div class="o-people-result__btn" *ngIf="artist?.handle !== ownerHandle">
        <div *ngIf="artist?.extra?.isImported; else not_imported">
            <a routerLink="{{ '/profile/u/' + artist?.extra?.username }}" class="o-people-result__follow-btn">CLAIM</a>
        </div>
        <ng-template #not_imported>
            <a (click)="unfollowUser(artist)" *ngIf="artist?.extra?.isFollowing" class="o-people-result__follow-btn">UNFOLLOW</a>
            <a (click)="followUser(artist)" *ngIf="!artist?.extra?.isFollowing" class="o-people-result__follow-btn">FOLLOW</a>
        </ng-template>
    </div>
</ng-container>