<app-navigation></app-navigation>
<div class="o-event-top-slider">
	<div class="eventslider">
		<ngx-carousel
      [inputs]="carouselOne"
      [moveToSlide]="1"
      (onMove)="onmoveFn($event)"
      (afterCarouselViewed)="afterCarouselViewedFn($event)">

          <ngx-item NgxCarouselItem class="bannerStyle" >
						<div class="o-event-slider__media">
							<img src="https://ops-v2.netlify.com/img/e4.jpg">
							<div class="o-event-slider_info-txt">
								<div class="o-event-slider__date">
									<div class="c-h2 color-theme">30</div>
									<p class="c-text_sm color-theme text_uppercase ltr-space">Dec</p>
								</div>
								<div class="o-event-slider__det-text">
									<h3 class="c-h3 color-white f-w_500">Ola Sunburn Festival 2017</h3>
									<p class="c-text_md color-grey-dark">1st Floor, Gopala Krishna, Complex, 45/3 Residency Road, bengaluru, karnataka</p>
								</div>
							</div>
						</div>
          </ngx-item>

					<ngx-item NgxCarouselItem class="bannerStyle" >
						<div class="o-event-slider__media">
							<img src="https://ops-v2.netlify.com/img/e1.jpg">
							<div class="o-event-slider_info-txt">
								<div class="o-event-slider__date">
									<div class="c-h2 color-theme">30</div>
									<p class="c-text_sm color-theme text_uppercase ltr-space">Dec</p>
								</div>
								<div class="o-event-slider__det-text">
									<h3 class="c-h3 color-white f-w_500">Ola Sunburn Festival 2017</h3>
									<p class="c-text_md color-grey-dark">1st Floor, Gopala Krishna, Complex, 45/3 Residency Road, bengaluru, karnataka</p>
								</div>
							</div>
						</div>
          </ngx-item>

					<ngx-item NgxCarouselItem class="bannerStyle" >
						<div class="o-event-slider__media">
							<img src="https://ops-v2.netlify.com/img/e3.jpg">
							<div class="o-event-slider_info-txt">
								<div class="o-event-slider__date">
									<div class="c-h2 color-theme">30</div>
									<p class="c-text_sm color-theme text_uppercase ltr-space">Dec</p>
								</div>
								<div class="o-event-slider__det-text">
									<h3 class="c-h3 color-white f-w_500">Ola Sunburn Festival 2017</h3>
									<p class="c-text_md color-grey-dark">1st Floor, Gopala Krishna, Complex, 45/3 Residency Road, bengaluru, karnataka</p>
								</div>
							</div>
						</div>
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle" >
						<div class="o-event-slider__media">
							<img src="https://ops-v2.netlify.com/img/e3.jpg">
							<div class="o-event-slider_info-txt">
								<div class="o-event-slider__date">
									<div class="c-h2 color-theme">30</div>
									<p class="c-text_sm color-theme text_uppercase ltr-space">Dec</p>
								</div>
								<div class="o-event-slider__det-text">
									<h3 class="c-h3 color-white f-w_500">Ola Sunburn Festival 2017</h3>
									<p class="c-text_md color-grey-dark">1st Floor, Gopala Krishna, Complex, 45/3 Residency Road, bengaluru, karnataka</p>
								</div>
							</div>
						</div>
          </ngx-item>

          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>

	</div>
</div>

<div class="o-event-contentarea">
	<div class="container">

		<div class="o-event-filter-sec with_border_top c-ops__tabs o-event-tabs m-t--32">
  		<div class="col-md-6 p-0">
  			<ul class="nav nav-tabs">
          <li class="active"><a class="p-l-0 p-t-b-16" [routerLink]="['/event']" [queryParams]="{ cate: 'recommended' }">Recommended</a></li>
          <li class=""><a class="p-t-b-16" [routerLink]="['/event']" [queryParams]="{ cate: 'attending' }">Attending</a></li>
          <li class=""><a class="p-t-b-16" [routerLink]="['/event']" [queryParams]="{ cate: 'created' }">Created</a></li>
        </ul>
  		</div>
  		<div class="col-md-6 p-0">
  			<a routerLink="/event/create" class="btn btn-primary btn-md float_right m-t-8 m-l-8">Create</a>
  			<ul class="o-calendar float_right">
  				<li class="o-calendar__list">
  					<div class="o-calander__date" [routerLink]="['/event']" [queryParams]='myQueryParms'>
  						<span class="c-h5 o-calendar--color"> {{ day | date:"dd, MMM" }}</span>
  						<span class="c-text_sm text_uppercase ltr-space o-calendar--color">Today</span>
  					</div>
  				</li>
  				<li class="o-calendar__list o-calendar--active">
  					<div class="o-calander__date">
  						<span class="c-h5 o-calendar--color">{{ tomorrow | date:"dd, MMM" }}</span>
  						<span class="c-text_sm text_uppercase ltr-space o-calendar--color">tomorrow</span>
  					</div>
  				</li>
  				<li class="o-calendar__list">
  					<div class="o-calander__date">
  						<span class="c-h5 o-calendar--color">{{ weekend | date:"dd, MMM" }}</span>
  						<span class="c-text_sm text_uppercase ltr-space o-calendar--color">Weekend</span>
  					</div>
  				</li>
  				<li class="o-calendar__list--icon">
  					<a>
	  					<div class="o-calendar__icon">
	  						<img src="/assets/img/svg/calendar_gray.svg" alt="">
	  					</div>
  					</a>
  				</li>
  			</ul>
  			<!-- <ul class="o-event-filter-list-block">
  				<li class="o-event-filter-list__item">
  					<a href="#" class="o-event-filter-item__location">
  						<span class="o-event-select-location c-text_md color-grey-dark">
  							<span class="o-event-select-location__ico">
  								<img src="img/svg/location.svg" alt="">
  							</span>
  							Select Location
  						</span>
  					</a>
  				</li>
  				<li class="o-event-filter-list__item">
  					<div class="o-event-filter__fil-icon">
  						<img width="17" src="img/svg/fiter.svg" alt="">
  					</div>
  				</li> 
  				<li class="o-event-filter-list__item m-r-0">
  					<a href="events_form.html" class="btn btn-primary btn-md ">Create</a>
  				</li>
  			</ul> -->
  		</div>
  	</div><!-- event tab end -->

  	<div class="o-event-sort-link">
  		
      <div class=" c-dropdown">
	  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a dropdown-toggle p-l-0" data-toggle="dropdown" aria-expanded="true">
	  			All
	  		</a>
	  		<ul class="dropdown-menu event-drop">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
	  	</div><!-- all link end-->

	  	<div class=" c-dropdown">
	  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	  			Comedy
	  		</a>
	  		<ul class="dropdown-menu event-drop">
          <li><a href="#">Standup</a></li>
          <li><a href="#">comedy</a></li>
        </ul>
	  	</div><!-- Comedy link end-->

	  	<div class=" c-dropdown">
	  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	  			Conferences & Workshops
	  		</a>
	  		<ul class="dropdown-menu event-drop">
          <li><a href="#">Test</a></li>
          <li><a href="#">test2</a></li>
        </ul>
	  	</div><!-- Conferences & Workshops link end-->

	  	<div class=" c-dropdown">
	  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	  			Exhibition & Performances
	  		</a>
	  		<ul class="dropdown-menu event-drop">
          <li><a href="#">WORKSHOPS</a></li>
          <li><a href="#">CONFERENCES</a></li>
          <li><a href="#">TALKS</a></li>
        </ul>
	  	</div><!-- Exhibition & Performances link end-->
  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a">Food & Drink</a>
  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a">Music</a>
  		<a href="#" class="c-text_md f-w_600 text_uppercase color-grey-dark o-event-sort__a">Travel & Activities</a>
  	</div>
		<div class="o-select-loc float_right">
	  	<div class=" c-dropdown  p-t-b-16">
	  		<a  class=" o-event-filter-item__location c-text_md f-w_600 color-grey-dark dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<span class="o-event-select-location c-text_md color-grey-dark">
						<span class="o-event-select-location__ico">
							<img src="/assets/img/svg/location.svg" alt="">
						</span>
						Select Location
					</span>
	  		</a>
	  		<ul class="dropdown-menu event-drop o-location--drop">
	        <li>
	        	<div class="c-form__group c-form--lg">
                <input class="c-form__input" required="" type="text">
                <label>Value</label>
            </div>
	        </li>
	      </ul>
	  	</div>
  	</div><!-- location end-->

		<div class="col-md-12 p-0">
  		<div class="tab-content m-t-32">
	      <div id="recommended" class="tab-pane fade  active in">
	      	<div class="row">
            <app-event-card *ngFor="let event of eventList" [eventData]="event"></app-event-card>
	      	</div>
	    </div>
  	</div>
	</div>
</div>