<section class="o-opportunity-top-block">
  <div class="container p-0">

  	<h3 class="c-h3 o-top-main__title color-white">Explore opportunities to grow as an Artist.</h3>

	  <div class="o-opportunity-search m-t-32">
	  	<form action="">
        <input #searchQueryElement #searchInput="ngModel" type="text" [ngModel]="searchString" [ngModelOptions]="{standalone: true}" class="o-opp-search__input" placeholder="Search opportunities">
        <select class="c-form-control o-opp-search__select m-0" [ngModel]="insdustryType" [ngModelOptions]="{standalone: true}">
		  <option value="Industry">Industry</option>
		  <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
        </select>
        <div class="o-opp-search__icon">
			<img *ngIf="!isSearching" [src]="baseUrl + 'img/svg/ico_search.svg'" class="search-spinner">
            <img *ngIf="isSearching" [src]="baseUrl + 'img/search-preloader.gif'" class="search-spinner">
        </div>
	  	</form>
	  </div><!-- search end -->

  	<div class="o-top-quicklink">
  		<ul class="o-quicklink-list">
  			<li class="o-quicklink__item">
  				<input type="radio" name="audition" value="Option1" id="1"/>
				  <label for="1">
				  	<span class="o-quicklink__ico">
				  		<img width="62" [src]="baseUrl + 'img/opportunities/audition.png'" alt="">
				  	</span>
				  	<span class="o-quicklink__title">
				  		<p class="c-text_lg">Audition</p>
				  		<p *ngIf="opportunitiesCount.Audition" class="c-text_sm color-grey-dark">{{ opportunitiesCount.Audition }} Oppurtunities</p>
				  	</span>
				  	<span class="o-quicklink__title-show">
				  		<p class="c-text_md color-theme">Audition</p>
				  		<p class="c-text_sm color-theme">What does it take to be successful?</p>
				  	</span>
				  </label>
  			</li><!-- audition end -->
  			<li class="o-quicklink__item">
  				<input type="radio" name="audition" value="Option1" id="1"/>
				  <label for="1">
				  	<span class="o-quicklink__ico">
				  		<img width="62" [src]="baseUrl + 'img/opportunities/projects.png'" alt="">
				  	</span>
				  	<span class="o-quicklink__title">
				  		<p class="c-text_lg">Projects</p>
				  		<p *ngIf="opportunitiesCount.Projects" class="c-text_sm color-grey-dark">{{ opportunitiesCount.Projects }} Oppurtunities</p>
				  	</span>
				  	<span class="o-quicklink__title-show">
				  		<p class="c-text_md color-theme">Projects</p>
				  		<p class="c-text_sm color-theme">What does it take to be successful?</p>
				  	</span>
				  </label>
  			</li><!-- Projects end -->
  			<li class="o-quicklink__item">
  				<input type="radio" name="audition" value="Option1" id="1"/>
				  <label for="1">
				  	<span class="o-quicklink__ico">
				  		<img width="62" [src]="baseUrl + 'img/opportunities/job.png'" alt="">
				  	</span>
				  	<span class="o-quicklink__title">
				  		<p class="c-text_lg">Jobs</p>
				  		<p *ngIf="opportunitiesCount.Jobs" class="c-text_sm color-grey-dark">{{ opportunitiesCount.Jobs }} Oppurtunities</p>
				  	</span>
				  	<span class="o-quicklink__title-show">
				  		<p class="c-text_md color-theme">Jobs</p>
				  		<p class="c-text_sm color-theme">What does it take to be successful?</p>
				  	</span>
				  </label>
  			</li><!-- Jobs end -->
  			<li class="o-quicklink__item">
  				<input type="radio" name="audition" value="Option1" id="1"/>
				  <label for="1">
				  	<span class="o-quicklink__ico">
				  		<img width="62" [src]="baseUrl + 'img/opportunities/internship.png'" alt="">
				  	</span>
				  	<span class="o-quicklink__title">
				  		<p class="c-text_lg">Internship</p>
				  		<p *ngIf="opportunitiesCount.Internship" class="c-text_sm color-grey-dark">{{ opportunitiesCount.Internship }} Oppurtunities</p>
				  	</span>
				  	<span class="o-quicklink__title-show">
				  		<p class="c-text_md color-theme">Internship</p>
				  		<p class="c-text_sm color-theme">What does it take to be successful?</p>
				  	</span>
				  </label>
  			</li><!-- Internship end -->
  			<li class="o-quicklink__item">
  				<input type="radio" name="audition" value="Option1" id="1"/>
				  <label for="1">
				  	<span class="o-quicklink__ico">
				  		<img width="62" [src]="baseUrl + 'img/opportunities/freelance.png'" alt="">
				  	</span>
				  	<span class="o-quicklink__title">
				  		<p class="c-text_lg">Freelance</p>
				  		<p *ngIf="opportunitiesCount.Freelance" class="c-text_sm color-grey-dark">{{ opportunitiesCount.Freelance }} Oppurtunities</p>
				  	</span>
				  	<span class="o-quicklink__title-show">
				  		<p class="c-text_md color-theme">Freelance</p>
				  		<p class="c-text_sm color-theme">What does it take to be successful?</p>
				  	</span>
				  </label>
  			</li><!-- Freelance end -->
  			<li class="o-quicklink__item m-r-0">
  				<input type="radio" name="audition" value="Option1" id="1"/>
				  <label for="1">
				  	<span class="o-quicklink__ico">
				  		<img width="62" [src]="baseUrl + 'img/opportunities/volunteer.png'" alt="">
				  	</span>
				  	<span class="o-quicklink__title">
				  		<p class="c-text_lg">Volunteer</p>
				  		<p *ngIf="opportunitiesCount.Volunteer" class="c-text_sm color-grey-dark">{{ opportunitiesCount.Volunteer }} Oppurtunities</p>
				  	</span>
				  	<span class="o-quicklink__title-show">
				  		<p class="c-text_md color-theme">Volunteer</p>
				  		<p class="c-text_sm color-theme">What does it take to be successful?</p>
				  	</span>
				  </label>
  			</li><!-- Volunteer end -->
  		</ul>
  	</div><!-- quick link end -->

  	<!-- <div class="o-opp-taglist">
		<span class="c-skill__tags c-skill__tags--font">#web</span>
		<span class="c-skill__tags c-skill__tags--font">#entertainment</span>
		<span class="c-skill__tags c-skill__tags--font">#projects</span>
		<span class="c-skill__tags c-skill__tags--font">#uiux</span>
		<span class="c-skill__tags c-skill__tags--font">#artlovers</span>
		<span class="c-skill__tags c-skill__tags--font">#artdirection</span>
		<span class="c-skill__tags c-skill__tags--font">#art</span>
		<span class="c-skill__tags c-skill__tags--font">#branding</span>
		<span class="c-skill__tags c-skill__tags--font">#typography</span>
		<span class="c-skill__tags c-skill__tags--font">#webdesign</span>
		<span class="c-skill__tags c-skill__tags--font">#web</span>
		<span class="c-skill__tags c-skill__tags--font">#entertainment</span>
		<span class="c-skill__tags c-skill__tags--font">#projects</span>      
	</div> -->
	<!--tag list end -->

  </div>
</section><!---- opportunity top block end ---->

<section class="o-opportunity-list-block">
	<div class="container p-0">
		<div class="o-oppertunity-filter-sec with_border_top c-ops__tabs o-opportunity-tabs p-t-b-16">
  		<div class="col-md-6 p-0">
  			<ul class="nav nav-tabs">
				<li [ngClass]="{'active': searchType === 'recommended'}">
					<a (click)="switchSearchType('recommended')" class="p-l-0">Recommended</a>
				</li>
				<li [ngClass]="{'active': searchType === 'applied'}">
					<a (click)="switchSearchType('applied')">Applied</a>
				</li>
				<li [ngClass]="{'active': searchType === 'created'}">
					<a (click)="switchSearchType('created')">Created</a>
				</li>
			</ul>
  		</div>
  		<div class="col-md-6 p-0">
  			<ul class="o-filter-list-block">
  				<!--<li class="o-filter-list__item">
  					<a href="#" class="o-filter-item__location">
  						<span class="o-select-location c-text_md color-grey-dark">
  							<span class="o-select-location__ico">
  								<img [src]="baseUrl + 'img/svg/location.svg" alt="">
  							</span>
  							Select Location
  						</span>
  					</a>
  				</li>-->
				  <!-- select location end -->
  				<!--<li class="o-filter-list__item">
  					<div class="o-filter__fil-icon">
  						<img width="17" [src]="baseUrl + 'img/svg/fiter.svg" alt="">
  					</div>
  				</li> -->
				  <!-- filter ico end -->
  				<li class="o-filter-list__item m-r-0">
  					<a routerLink="/opportunity/create" class="btn btn-primary btn-md ">Create job</a>
  				</li><!-- create button end -->
  			</ul>
  		</div>
  	</div><!-- filter section end -->
		<div class="tab-content m-r--8 m-l--8" *ngIf="!isSearching">
			<app-opportunity-search-recommended *ngIf="searchType === 'recommended'"></app-opportunity-search-recommended>
			<app-opportunity-search-applied 	*ngIf="searchType === 'applied'"></app-opportunity-search-applied>
			<app-opportunity-search-created 	*ngIf="searchType === 'created'"></app-opportunity-search-created>
		</div>
		<!-- search prelaoder -->
		<div *ngIf="showPreloader">
			<div class="sticky">
				<div class="loader">Loading...</div>
			</div>
		</div>
		<!-- search prelaoder -->
	</div>
</section>

<div class="clearfix"></div>
