@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
// @import './src/assets/scss/vendors/bootstrap/stylesheets/bootstrap/_navbar.scss';
// @import './src/assets/scss/vendors/bootstrap/stylesheets/bootstrap/_nav.scss';
@import '~sass-mq/_mq.scss';

/* landing page */

// new style for top nav
// top nav left side
// top nav right side
.nav__right {
    float: right !important;
    li>a {
        display: flow-root;
        height: 50px;
        padding-right: 12px;
        padding-left: 12px;
        &:hover {
            background-color: #F3F5F7 !important;
        }
        .caret {
            color: #D8D8D8;
            border-top: 6px dashed;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            margin-left: 8px;
            height: 36px;
        }
    }
}

.notif-scroll {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
}

.nav__avatar__img {
    width: 34px !important;
    height: 34px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    margin-top: -6px;
}

.nav__dropdown {
    width: 264px;
    padding: 16px 24px;
    border: none;
    color: #808080;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); // border: 1px solid #F3F5F7;
    a:hover {
        color: #333333;
    }
}

.nav__dropdown2 {
    width: 188px;
    padding: 16px 24px;
    border: none;
    color: #808080;
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); // border: 1px solid #F3F5F7;
    a:hover {
        color: #333333;
    }
}

.nav__dropdown3 {
    width: 420px;
    border: none;
    color: #808080;
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); // border: 1px solid #F3F5F7;
    right: -117px;
    padding: 0px;
    a:hover {
        color: #333333;
    }
}

.nav__dropdown4 {
    width: 420px;
    border: none;
    color: #808080;
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); // border: 1px solid #F3F5F7;
    right: -78px;
    padding: 0px;
    a:hover {
        color: #333333;
    }
}

.dropdown__item {
    width: 100%;
    float: left;
    position: relative;
}

.navdrop__imgblock {
    width: 48px;
    height: 48px;
    float: left;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
    cursor: pointer;
}

.navdrop__imgblock2 {
    width: 24px;
    height: 24px;
    float: left;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
    cursor: pointer;
}

.navdrop__img {
    width: 100%;
}

.navdrop__name {
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #333;
    margin-left: 8px;
    margin-top: 2px;
    float: left;
    cursor: pointer;
}

.navdrop__name2 {
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    color: #333;
    margin-left: 8px;
    float: left;
    cursor: pointer;
}

.navdrop__userhandal {
    position: absolute;
    left: 56px;
    top: 26px;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
    cursor: pointer;
}

.navdrop__switchto {
    font-size: 11px;
    line-height: 18px;
    color: #B4B4B4;
    margin-bottom: 4px;
}

.dropnoti__head {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #808080;
    text-transform: uppercase;
    padding: 8px 16px;
    a {
        color: #FC6371;
    }
}

.dropnoti__avatar {
    width: 40px;
    height: 40px;
    float: left;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    overflow: hidden;
    cursor: pointer;
}

.dropnoti__detail {
    width: 80%;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
    float: left;
    margin-left: 8px;
    p {
        font-size: 13px;
        line-height: 20px;
    }
}

.dropnoti__bold {
    color: #333;
}

.dropnoti__icon {
    position: absolute;
    right: 12px;
    top: 12px;
    img {
        width: 24px;
    }
}

.msg__unread {
    background-color: #F3F5F7;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
}

.msg__read {
    background-color: #ffffff;
    border-top: 0.5px solid #f2f5f3;
    border-bottom: 0.5px solid #f2f5f3;
}

.msg__time {
    color: #B4B4B4;
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    bottom: 6px;
    right: 12px
}

.msg__time2 {
    color: #B4B4B4;
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    top: 20px;
    right: 12px;
}

.dropnoti__permission {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 47px;
    margin-top: 8px;
    width: 100%;
    float: left;
}

.dropnoti__viewall {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: center;
    color: #FC6371;
    text-transform: uppercase;
}

.dropdown__arrow {
    width: 100%;
    text-align: right;
    position: absolute;
    top: -13px;
    right: 124px;
    img {
        filter: drop-shadow(0px -2px 1px #f3f5f7);
    }
}

.dropdown__arrow2 {
    width: 100%;
    text-align: right;
    position: absolute;
    top: -13px;
    right: 85px;
    img {
        filter: drop-shadow(0px -2px 1px #f3f5f7);
    }
}

.dropdown__arrow3 {
    width: 100%;
    text-align: right;
    position: absolute;
    top: -23px;
    right: 13px;
    img {
        filter: drop-shadow(0px -2px 1px #f3f5f7);
    }
}

// ends -------------------------------------

/* landing page */

.lheader {
    width: 100%;
    padding-top: 25px;
    display: block;
    min-height: 80px;
}

.lheader_logo {
    width: 158px;
    float: left;
    overflow: hidden;
}

.lheader_login_button {
    width: 92px;
    float: right;
    overflow: hidden;
}

// --------------------------- header ----------------------------------------
// ops header style
// .opsheader {
// }
.opsheader-paddingt6 {
    margin-top: -6px;
    img {
        width: 48px !important;
        height: 48px !important;
        border: solid 1px rgba(102, 45, 145, 0.1);
        border-radius: 50%;
    }
}

.header-prof-img {
    width: 34px !important;
    height: 34px !important;
    border: solid 1px rgba(102, 45, 145, 0.1);
    border-radius: 50%;
    margin-top: -6px;
}

.opsheader-lineheight30 {
    line-height: 30px !important;
}

.account-opt {
    padding: 20px 0px 0px!important;
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 6px dashed;
        color: #D8D8D8; // border-top: 4px solid 9;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
}

//bootstrap overwrited style
.navbar-default {
    background-color: $white;
    border-color: #e7e7e7;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.navbar-brand>img {
    width: 40px;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #747474;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 16px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: $theme_black;
    background-color: $white;
}

.nav>li>a>img {
    width: 15px;
    float: left;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: $white;
}

// .nav_right > li > a {
//     padding: 12px;
//     line-height: 22px;
//     font-size: 14px !important;
// }
// .head_drop_thumb {
//     // padding: 10px 15px;
//     h4 {
//         font-size: 14px;
//         font-weight: bold;
//         text-align: left;
//         color: #333333;
//     }
//     p {
//         font-size: 13px;
//         text-align: left;
//         color: #c1c1c1;
//     }
// }
// .dropdown-menu > li > a {
//     font-size: 13px;
//     line-height: 20px;
//     text-align: left;
//     color: #979797;
//     padding: 8px 20px;
//     &:hover {
//         color: $black;
//         background-color: $white;
//     }
// }
// .navbar-nav > li > .dropdown-menu {
//     width: auto;
//     margin-top: 6px;
//     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
//     border: none;
// }
// opsheader message box
.opsheader-message {
    .messsage_dropdown {
        width: 420px !important;
        margin-right: -64px;
        img {
            width: 40px !important;
            height: 40px !important;
            border: solid 1px rgba(102, 45, 145, 0.1);
            border-radius: 50%;
        }
        .msg_time {
            font-size: 12px;
            text-align: right;
            color: #979797;
        }
    }
    .header_ym a {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        text-transform: uppercase;
    }
    .header_compose a {
        font-size: 12px;
        font-weight: bold;
        color: #ff7b84;
        text-transform: uppercase;
    }
    li>ul {
        padding: 16px 24px;
    }
    ul>li {
        .head_msg_name {
            font-size: 13px;
            font-weight: normal;
            text-align: left;
            color: #333333;
        }
        .head_msg_short {
            font-size: 12px;
            text-align: left;
            color: #979797;
        }
    }
    .fill_grey ul>li {
        .head_msg_short {
            color: #333333;
            font-weight: 600;
        }
    }
    .msg_viewall {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ff7b84
    }
}

// opsheader notification box
.noti_cont {
    width: 63%;
}

.noti_cont_time {
    width: 20%;
}

.opsheader-notification {
    .messsage_dropdown {
        width: 420px !important;
        margin-right: -100px;
        img {
            width: 40px !important;
            height: 40px !important;
            border: solid 1px rgba(102, 45, 145, 0.1);
            border-radius: 50%;
        }
        .msg_time {
            font-size: 12px;
            text-align: right;
            color: #979797;
            img {
                width: 16px !important;
                height: 16px !important;
                border: none;
                float: right;
                border-radius: 0;
            }
            p {
                float: right; // font-size: 12px;
            }
        }
    }
    .header_ym a {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        text-transform: uppercase;
    }
    .header_compose a {
        font-size: 12px;
        font-weight: bold;
        color: #ff7b84;
        text-transform: uppercase;
    }
    li>ul {
        padding: 16px 24px;
    }
    ul>li {
        .head_msg_name {
            font-size: 13px;
            font-weight: normal;
            text-align: left;
            color: #333333;
            display: inline;
        }
        .head_msg_short {
            font-size: 12px;
            text-align: left;
            color: #979797;
            display: inline;
        }
    }
    .fill_grey ul>li {
        .head_msg_short {
            color: #979797;
            font-weight: 600;
            display: inline;
        }
    }
    .msg_viewall {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ff7b84
    }
}

// search tab people
.ops_search_people {
    .panel-default {
        background-color: transparent;
        box-shadow: none;
    }
    .panel20 {
        margin: 7px;
        &:first-child {
            margin: 7px;
        }
        &:last-child {
            margin: 7px;
        }
    }
}

.create_drop {
    margin-top: 20px!important;
}

// --- signup-header -----------------------------------
.signup_next {
    .btn-network {
        margin-top: 12px;
        float: right;
    }
    .btn-continue {
        margin-top: 12px;
        float: right;
    }
}

.o-nav__star {
    position: absolute;
    width: 12px !important;
    top: 12px;
    right: 2px;
}

.o-nav__dwc a {
    color: #FC6371 !important;
}

.signIn {
    display: inline-block;
    border: solid 1px #FFACB2;
    color: #FFACB2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 11px;
    text-transform: uppercase;
}

.o-logout__btn {
    float: right;
    margin: 9px;
    right: 0;
    position: absolute;
    display: none;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        display: block;
    }
}

.m-nav {
    display: none;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        display: block;
        margin-top: 16px;
        float: right;
    }
}

.m-nav__icons {
    padding: 10px;
    img {
        width: 16px;
    }
}

.m-nav__dropdown {
    display: inline;
    .nav__dropdown {
        width: 320px;
        margin-top: 12px;
        height: 440px;
        overflow-y: scroll;
    }
    .nav__dropdown2 {
        width: 155px;
        font-size: 12px;
        margin-top: 12px;
    }
    .nav__dropdown3 {
        width: 310px;
        right: -72px;
        top: 32px;
        .dropnoti__detail {
            font-size: 11px;
            font-size: 11px;
        }
        .dropdown__arrow {
            right: 80px;
        }
    }
    .nav__dropdown4 {
        width: 310px;
        right: -31px;
        top: 32px;
    }
    .dropdown__arrow2 {
        right: 40px;
    } // .dropdown__arrow2 {
    //     right: -18px;
    // }
}
.o-not__alert {
    width: 9px;
    height: 9px;
    background-color: #FC6371;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
}
.dropnoti__permission {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 47px;
    margin-top: 8px;
    width: 100%;
    float: left;
}
.o-alert_scroll {
    width: 100%;
    float: left;
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
}