<header class="opsheader">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home"><img src="/assets/img/ops_icon.png"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                    <li routerLinkActive="active"><a routerLink="/explore">Explore</a></li>
                    <li routerLinkActive="active"><a routerLink="/opportunity/search">Opportunity</a></li>
                    <li routerLinkActive="active"><a routerLink="/event">Event</a></li>
                    <li routerLinkActive="active"><a routerLink="/learn">Learn</a></li>
                    <li routerLinkActive="active"><a routerLink="/resources">Resource</a></li>
                    <li routerLinkActive="active"><a routerLink="/communities">Community</a></li>
                    <li routerLinkActive="active"><a routerLink="/directory">Directory</a></li>
                    <li class="o-nav__dwc">
                        <a routerLink="/dwc/details">dwc <img src="/assets/img/svg/nav_star.svg" class="o-nav__star"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav nav__right" *ngIf="isProfileSet === false">
                    <a class="signIn" routerLink="/login">
                    Sign in
                  </a>
                </ul>
                <ul class="nav navbar-nav nav__right" *ngIf="isProfileSet === true">
                    <li>
                        <a routerLink="/post"><img src="/assets/img/svg/ico_create-post.svg"></a>
                    </li>
                    <li class="dropdown" appDropdown>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" appDropdownOpen>
                            <img src="/assets/img/svg/ico_add.svg">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav__dropdown2">
                            <div class="dropdown__item p-b-16">
                                <a [routerLink]="['', { outlets: { media : ['channel', 'add'] } } ]">Create Channel</a>
                            </div>
                            <!--<div class="dropdown__item p-b-16">
                                <a (click)="createCommunity()">Create Community</a>
                            </div>-->
                            <div class="dropdown__item p-b-16">
                                <a routerLink="/opportunity/create">Create Opportunity</a>
                            </div>
                            <div class="dropdown__item">
                                <a routerLink="/events/create">Create Event</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/search"><img src="/assets/img/svg/ico_search.svg"></a>
                    </li>
                    <li class="dropdown" appDropdown>
                        <a class="dropdown-toggle" appDropdownOpen>
                            <img src="/assets/img/svg/ico_notification.svg">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav__dropdown3">
                            <div class="dropdown__item dropnoti__head msg__read">
                                <a routerLink="/notification">Your Notification</a>
                                <a (click)="markAllAsRead()" class="pull-right">Mark all as read</a>
                                <div class="dropdown__arrow"><img src="/assets/img/arrow.png"></div>
                            </div>
                            <div class="dropdown__item p-16 msg__unread" *ngFor="let notification of notifications" [ngClass]="{'fill_grey': !notification.isRead}">
                                <div class="dropnoti__avatar">
                                    <!-- <img class="navdrop__img" src="/assets/img/new/avatar2.png"> -->
                                    <img *ngIf="!notification.profileImage" src="https://d33wubrfki0l68.cloudfront.net/9d6de60375507b449ad07f5acb73667fe02171fc/ea558/img/avatar.jpg" class="img-responsive">
                                    <img *ngIf="notification.profileImage" src="{{ baseUrl + notification.profileImage }}" class="img-responsive">
                                </div>
                                <div class="dropnoti__detail">
                                    <span><a [routerLink]="['', 'profile', 'u', notification.username, 'user']">
                                        <span class="dropnoti__bold"> {{ notification.name }}</span>
                                    </a>{{ notification.message }}
                                    </span>
                                </div>
                                <div class="dropnoti__icon">
                                    <img src="/assets/img/svg/spot_icon.svg">
                                </div>
                                <p class="msg__time">--</p>
                            </div>
                            <!-- <div class="dropdown__item p-16 msg__unread">
                                <div class="dropnoti__avatar">
                                    <img class="navdrop__img" src="">
                                </div>
                                <div class="dropnoti__detail">
                                    <span class="dropnoti__bold">Tommy Russell</span> add your post to <span class="dropnoti__bold">Paper Work</span></div>
                                <div class="dropnoti__icon">
                                    <img src="/assets/img/svg/ico_addtochannel.svg">
                                </div>
                                <p class="msg__time">10:05 PM</p>
                            </div>
                            <div class="dropdown__item p-16 msg__read">
                                <div class="dropnoti__avatar">
                                    <img class="navdrop__img" src="/assets/img/new/avatar3.png">
                                </div>
                                <div class="dropnoti__detail">
                                    <span class="dropnoti__bold">Prince Keshav</span> and <span class="dropnoti__bold">Anie Ukim</span> have their birthdays today. Wish them all the best!</div>
                                <p class="msg__time">10:01 PM</p>
                            </div>
                            <div class="dropdown__item p-16 msg__read">
                                <div class="dropnoti__avatar">
                                    <img class="navdrop__img" src="/assets/img/new/avatar.png">
                                </div>
                                <div class="dropnoti__detail">
                                    <span class="dropnoti__bold">Tobis Russell</span> added you a member of organization <span class="dropnoti__bold">Prapt Institutions</span></div>
                                <p class="msg__time">10:01 PM</p>
                                <div class="dropnoti__permission">
                                    <a href="" class="color-theme">Accept</a>
                                    <a href="">Decline</a>
                                </div>
                            </div> -->
                            <div class="dropdown__item p-16 msg__read">
                                <p class="dropnoti__viewall">View All</p>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" routerLink="/user/message" routerLinkActive="active">
                            <img src="/assets/img/svg/ico_message.svg">
                        </a>
                    </li>

                    <li class="dropdown" appDropdown>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" appDropdownOpen>
                            <img src="{{ baseUrl + this.userCards.active.image }}" class="nav__avatar__img" *ngIf="this.userCards.active.isOrg === false">
                            <img src="{{ baseUrl + this.userCards.active.image }}" class="nav__avatar__img" *ngIf="this.userCards.active.isOrg === true">
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav__dropdown" [ngClass]="{'open': this.topNav['profile'].open }">
                            <div class="dropdown__item with_border_bottom p-b-16">
                                <a routerLink="{{ this.userCards.active.page_path }}">
                                    <div class="navdrop__imgblock">
                                        <img class="navdrop__img" src="{{ baseUrl + this.userCards.active.image }}">
                                    </div>
                                    <div class="navdrop__name">{{ this.userCards.active.name }}</div>
                                    <div class="navdrop__userhandal">@{{ this.userCards.active.username }}</div>
                                </a>
                            </div>
                            <div *ngIf="!showCreateOrg" class="dropdown__item with_border_bottom p-t-b-16">
                                <div class="navdrop__switchto">Switch to</div>
                                <div class="navdrop__imgblock2">
                                    <img class="navdrop__img" src="{{ baseUrl + this.userCards.other.image }}">
                                </div>
                                <div class="navdrop__name2">
                                    <a (click)="changeProfile(this.userCards, $event)">
                                    {{ this.userCards.other.name }}
                                  </a>
                                </div>
                            </div>
                            <div class="dropdown__item p-t-16" *ngIf="showCreateOrg">
                                <a routerLink="/org/registration">Create Organisation</a>
                            </div>
                            <div class="dropdown__item p-t-b-16 with_border_bottom">
                                <a *ngIf="this.userCards.active.isOrg === false" routerLink="/user/settings">Settings</a>
                                <a *ngIf="this.userCards.active.isOrg === true" routerLink="/org/settings">Settings</a>
                            </div>
                            <div class="dropdown__item p-t-b-16">
                                <a routerLink="/invite/friends">Invite Friends</a>
                            </div>
                            <div class="dropdown__item p-b-16 with_border_bottom">
                                <a routerLink="/about">About One Page Spotlight</a>
                            </div>
                            <div class="dropdown__item p-t-16">
                                <a routerLink="/logout">Signout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>