@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';

/* landing page */
.lheader {
width: 100%;
padding-top: 25px;
display: block;
min-height: 80px;
}
.lheader_logo {
width: 158px;
float: left;
overflow: hidden;
}
.lheader_login_button {
width: 92px;
float: right;
overflow: hidden;
}
// --------------------------- header ----------------------------------------
// ops header style
// .opsheader {
// }
.opsheader-paddingt6{
margin-top: -6px;
img {
width: 32px !important;
border: 1px solid #979797;
border-radius: 50%;
}
}
.opsheader-lineheight30{
line-height: 30px !important;
}
//bootstrap overwrited style
.navbar-default {
background-color: $white;
border-color: #e7e7e7;
}
.navbar-brand > img {
width: 40px;
}
.navbar-brand {
padding: 5px 15px;
}
.navbar-default .navbar-nav > li > a {
color: $text-gray;
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
padding-top: 16px;
padding-bottom: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: $theme_black;
background-color: $white;
}
.nav > li > a > img {
width: 15px;
float: left;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: $white;
}
.nav_right > li > a {
padding: 10px;
line-height: 22px;
font-size: 14px !important;
}
.head_drop_thumb{
padding: 10px 15px;
h4{
font-size: 14px;
font-weight: bold;
text-align: left;
color: #333333;
cursor: pointer;
}
p{
font-size: 13px;
text-align: left;
color: #c1c1c1;
}
}
.dropdown-menu > li > a {
font-size: 12px;
text-align: left;
color: #979797;
padding: 10px 20px;
&:hover{
color: $black;
background-color: $white;
}
}
.navbar-nav > li > .dropdown-menu{
width: 235px;
margin-top: 8px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
}

.open {
    display: block !important;
}

.hide {
    display: none;
}

/* ------------------------- search style --------------------------- */
.ops_search {
    background-color: rgba(243, 245, 247, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1033;
    display: none;
    overflow-y: auto;
    .search_close {
      float: right;
      margin: 20px;
      img {
            width: 30px;
      }
    }
    .search_top_input {
        margin-top: 160px;
        .form_group {
            .form_input {
                background-color: transparent;
                height: 80px;
                font-size: 48px;
                padding-right: 40px;
            }
            label {
                font-size: 48px;
                color: #979797;
            }
            .form_input:focus ~ label,
            .form_input:valid ~ label {
                display: none;
            }
        }
    }
    .search_top_icon {
        img {
            width: 32px;
            float: right;
            margin-top: -48px;
        }
    }
    // ops tab
    .nav-tabs > li {
        float: none;
        display: inline-block;
        zoom: 1;
    }
    .nav-tabs {
        text-align: center;
    }
    .ops_explore_head {
      margin: 16px 8px;
    }
}
/* ------------------------- search style --------------------------- */

/* ------------------------- messages css --------------------------- */
.messages_block {
    background: #f1f1f1;
    min-height: 82vh;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.messages_block_container {
    border-radius: 5px;
    background-color: $white;
    -webkit-box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
}

// message left section style
.msg_left {
    background-color: #ffffff;
    padding: 0;
    .msg_search_block li > ul {
        padding: 10px 24px !important;
        img {
            width: 14px !important;
            float: left !important;
            margin-top: 6px;
        }
        .form_group {
          margin-bottom: 0px;
          .form_input {
                border-bottom: none;
          }
        }
        .search_input {
          width: 90%;
        }
        label {
          font-size: 14px;
          font-weight: bold;
          text-align: left;
        }
        .form_input:focus ~ label, .form_input:valid ~ label {
          display: none;
        }
    }
    .msg_select_action li > ul {
        padding: 8px 24px !important;
        img {
            margin-top: 7px !important;
        }
    }
    .msg_unread li  > ul {
        .msg_friend_text {
            font-size: 12px;
            text-align: left;
            color: #333333 !important;
            font-weight: bold;
        }
        .msg_time {
            color: #333333 !important;
            font-weight: bold;
        }
    }
    .msg_name_list li > ul {
        padding: 20px 24px;
        .msg_action {
            a {
                font-size: 12px;
                font-weight: bold;
                color: #333333;
                cursor: pointer;
                img {
                    width: 12px;
                    display: inline;
                    margin: 0 !important;
                    float: left;
                    padding-top: 3px;
                }
                span {
                    margin-left: 8px;
                    font-size: 12px;
                    text-align: left;
                    color: #333333;
                    font-weight: 600;
                }
            }
            .dropdown-menu {
                min-width: 109px;
                li a {
                    &:hover {
                        background-color: #fff;
                        color: #ff7b84;
                    }
                }
            }
        }
        .msg_inbox_name {
            span {
                font-size: 14px;
                font-weight: bold;
                color: #333333;
                margin-left: 12px;
            }
            img {
                width: 20px;
                float: left;
            }
        }
        .msg_avatar {
            img {
                width: 40px !important;
                height: 40px !important;
                border: solid 1px rgba(102, 45, 145, 0.1);
                border-radius: 50%;
            }
        }
        .msg_friend_name {
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color: #333333;
        }
        .msg_friend_text {
            font-size: 12px;
            text-align: left;
            color: #979797;
        }
        .msg_time {
            font-size: 12px;
            text-align: right;
            color: #979797;
        }
        .msg_online {
              // margin-top: 5px;
            img {
                width: 10px;
                margin-top: 14px;
            }
            label {
              font-size: 14px;
              font-weight: bold;
              text-align: left;
              color: #333333;
            }
        }
    }
}
.msg_friend_list {
  height: 380px;
overflow-y: scroll;
}

// message right section style
.msg_right {
    background-color: #ffffff;
    height: 540px;
    padding: 0;
    .msg_no_message {
        font-size: 24px;
        font-weight: bold;
        color: #d8d8d8;
        margin-top: 250px;
    }
}

// message02 style ---------------------------------------
.msg_to_list {
    .msg_with {
        font-size: 18px;
        color: #333;
    }
    li > ul {
        height: 62px;
        padding: 16px 24px;
    }
    .msg_to_input {
        width: 84%;
        .form_input {
            border-bottom: none;
        }
    }
    li img {
        width: 16px;
        padding-top: 10px;
    }
    .msg_name_list {
        li > ul {
            padding: 20px 24px;
        }
    }
    .msg_to_name {
        span {
            font-size: 18px;
            text-align: left;
            color: #333333;
        }
    }
}

.msg_container_block {
    height: 400px;
    overflow-y: scroll;
}

.msg_container {
    padding: 16px;
    float: left;
    .msg_cont_block {
        background-color: #f0f0f0;
        border: solid 1px #e4e4e4;
        border-radius: 2px;
        width: 60%;
        float: left;
        p {
            font-size: 14px;
            line-height: 1.64;
            text-align: left;
            color: #333333;
            padding: 16px;
        }
    }
    .msg_cont_block2 {
        background-color: #d4d4d5;
        border: solid 1px #d8d8d8;
        border-radius: 2px;
        width: 60%;
        float: right;
        p {
            font-size: 14px;
            line-height: 1.64;
            text-align: left;
            color: #333333;
            padding: 16px;
        }
    }
}

.msg_footer_input {
    // background-color: #f8f8f8;
    position: absolute;
    bottom: 0px;
    .form_input {
        border-bottom: 1px solid #c1c1c1 !important;
    }
    .btn-primary {
        margin-top: 5px;
    }
}

.avatar_msg_input {
    img {
        width: 40px !important;
        height: 40px !important;
        border: solid 1px rgba(102, 45, 145, 0.1);
        border-radius: 50%;
        padding-top: 0;
    }
}
// message setting -----------
.msg_setting {
  .dropdown-menu {
    min-width: 109px;
    // &::before {
    //   width: 0;
    //   height: 0;
    //   border: 0 solid transparent;
    //   border-right-width: 0px;
    //   border-left-width: 112px;
    //   border-bottom: 97px solid black;
    // }
  }
  .msg_setting_icon {
    width: 16px;
    padding-top: 10px;
  }
  a {
    span {
            margin-left: 8px;
            font-size: 12px;
            text-align: left;
            color: #333333;
            font-weight: 600;
        }
        img {
                width: 12px;
                display: inline;
                margin: 0 !important;
                float: left;
                padding-top: 3px;
            }
  }
}
/* ------------------------- messages css --------------------------- */
.AddMedia{
  color: #000;
}

app-modal.media__modal .ng-modal {
  width: 80%;
  left: 10%;
}

// opsheader notification box
.noti_cont {
    width: 63%;
}

.noti_cont_time {
    width: 20%;
}

.opsheader-notification {
    .messsage_dropdown {
        width: 420px !important;
        margin-top: 19px !important;
        margin-right: -100px;
        img {
            width: 40px !important;
            height: 40px !important;
            border: solid 1px rgba(102, 45, 145, 0.1);
            border-radius: 50%;
        }
        .msg_time {
            font-size: 12px;
            text-align: right;
            color: #979797;
            img {
              width: 16px !important;
            height: 16px !important;
            border: none;
            float: right;
            border-radius: 0;
            }
            p {
                float: right;
                // font-size: 12px;
            }
        }
    }
    .header_ym a {
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        text-transform: uppercase;
    }
    .header_compose a {
        font-size: 12px;
        font-weight: bold;
        color: #ff7b84;
        text-transform: uppercase;
    }
    li > ul {
        padding: 16px 24px;
    }
    ul > li {
        .head_msg_name {
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color: #333333;
            display: inline;
        }
        .head_msg_short {
            font-size: 12px;
            text-align: left;
            color: #979797;
            display: inline;
        }
    }
    .fill_grey ul > li {
        .head_msg_short {
            color: #979797;
            font-weight: 600;
            display: inline;
        }
    }
    .msg_viewall {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ff7b84
    }
}

.noti_cont_footer {
    display: none;
}

.opsheader-notification {
    .dropdown-menu.messsage_dropdown {
        height: 500px;
        overflow-y: auto;
    }
}
