.o-oppo-post-right-block {
    width: 100%;
    float: left;
    padding: 16px;
    background: #fff;
    border-radius: 3px;
    max-height: 500px;
}

.text_uppercase {
    text-transform: uppercase;
}

.c-text_sm, .c-text_sm-light, .c-text_sm-bold {
    color: #333333;
    font-size: 11px;
    line-height: 15px;
    font-weight: 500;
}

.color-grey-dark {
    color: #929292 !important;
}

.m-t-16 {
    margin-top: 16px !important;
}

.m-b-16 {
    margin-bottom: 16px !important;
}

a {
    color: #979797;
    text-decoration: none !important;
    outline: none;
}

.m-r-8 {
    margin-right: 8px !important;
}

.p-t-8 {
    padding-top: 8px !important;
}