@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_feed-card.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import './src/assets/scss/helpers/_helpers.scss';
@import '~sass-mq/_mq.scss';
.pad0 {
    padding: 0;
}

.tab-content>.active {
    display: block;
}

.fade.in {
    opacity: 1;
}

.m-r-8 {
    margin-right: 8px !important;
}

// .c-channel__card {
//     width: 24%;
//     float: left;
//     margin: 5px;
//     position: relative;
// }
.m-l-0 {
    margin-left: 0 !important;
}

.c-card--overflow {
    overflow: hidden;
}

.c-card {
    width: 100%;
    height: auto;
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(102, 45, 145, 0.15);
    background-color: #ffffff;
}