<!-- <div id="home_feed" class="tab-pane fade in active">
    <div class="pro_channel2 row">
        <masonry [useImagesLoaded]="true">
            <masonry-brick class="col-md-3 col-sm-6 c-card padding_8" *ngFor="let channel of channelList; let i = index">
                <app-channel [channelData]="channel" (onFollow)="followChannel($event)"></app-channel>
            </masonry-brick>
        </masonry>
    </div>
</div> -->
<div *ngIf="userState.user_following_channels_loaded === true && channelList.length < 1" class="empty__state">
    <h4>You have not followed any channels</h4>
</div>

<div id="channel" class="tab-pane fade in active in m-r-8" infinite-scroll (scrolled)="onScroll($event)">
    <masonry [useImagesLoaded]="true">
        <masonry-brick class="col-md-3 p-r-16 p-l-0 m-t-b-8 m-home_channel" *ngFor="let channel of channelList; let i = index">
            <app-channel [channelData]="channel" (onFollow)="followChannel($event)"></app-channel>
        </masonry-brick>
    </masonry>
</div>