/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.padding_none{
	padding: 0px;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* line 1, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /*color: #fff;*/
  position: relative;
}

/* line 31, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
nav ul {
  list-style: none;
}

/* line 40, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 59, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 66, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 73, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 77, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 82, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 88, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 97, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 100, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
.margin_0 {
  margin: 0 !important;
}

/* line 103, C:/OPS_Sass/ops_sass/scss/base/_reset.scss */
.padding_0 {
  margin: 0 !important;
}

/* top section */
/* line 2, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.top_section {
  /*background: url("../img/home_top_bg.png") no-repeat;*/
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 70px;
}

/* line 10, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.top_banner {
  width: 80%;
  margin: 0 auto;
}

/* line 14, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.top_banner_heading {
  line-height: 65px;
  margin-bottom: 25px;
  color: #ffffff;
}

/* line 19, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.top_banner_button {
  margin-top: 30px;
}

/* line 22, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.top_banner_video {
  border-radius: 10px;
  margin: 8% 0 -25% 0;
}

/* */
/* line 28, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_contain {
  margin: 3% 0;
  clear: both;
}

/* line 32, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_heading {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 10%;
}

/* line 38, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_text {
  font-size: 14px;
  color: #95989A;
  margin: 5% 0;
}

/* line 44, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_feature {
  /*background: url(../img/feature_bg.png) no-repeat;*/
  background-size: cover;
  background-position: center;
  height: 960px;
  padding: 5% 0;
}

/* line 51, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_feature_box {
  background-color: #3C3C3C;
  padding: 12%;
  margin: 2%;
  border-radius: 5px;
}

/* line 57, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_feature_box_heading {
  font-size: 20px;
  font-weight: bold;
  padding: 5% 0;
}

/* line 62, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.landing_feature_box_text {
  font-size: 14px;
  font-weight: 300;
}

/* line 67, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.bottom_section {
  /*background: url("../img/bottom_cover.png") no-repeat;*/
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* line 73, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.bottom_section_space {
  padding: 15% 0 5% 0;
}

/* line 76, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.bottom_section_heading {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

/* line 81, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.bottom_section_text {
  color: #ffffff;
  margin: 2% 0;
  font-size: 14px;
}

/* line 86, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.bottom_section_login {
  margin-top: 5%;
}

/* line 89, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.bottom_section_login a {
  color: #ffffff;
  font-weight: bold;
}

/* registration progress bar*/
/* line 97, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar {
  border-bottom: 0;
  width: 100%;
  margin: 0 auto;
}

/* line 102, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar .fa {
  color: #fff;
  font-size: 12px;
  margin: 4px;
  position: absolute;
}

/* line 108, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.progress {
  background-color: #e5e5e5;
}

/* line 111, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step {
  padding: 0;
  position: relative;
}

/* line 115, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step > .bs-wizard-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: #ff7b84;
  top: 25px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

/* line 127, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step > .progress {
  position: relative;
  border-radius: 0px;
  height: 2px;
  box-shadow: none;
  margin: 20px 0;
}

/* line 134, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #ff7b84;
}

/* line 139, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step.complete > .progress > .progress-bar {
  width: 100%;
}

/* line 142, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step.active > .progress > .progress-bar {
  width: 50%;
}

/* line 145, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

/* line 148, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

/* line 151, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step.disabled > .bs-wizard-dot {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* line 155, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

/* line 158, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step:first-child > .progress {
  left: 50%;
  width: 50%;
}

/* line 162, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_progress_bar_step:last-child > .progress {
  width: 50%;
}

/* ///prgress bar */
/* registration process  step 1 */
/* line 168, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_steps {
  background: #f1f1f1;
  /*min-height: 100vh;*/
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 176, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_middle_container {
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
}

/* line 185, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_left_section {
  background-color: #ffffff;
  height: 620px;
  padding-top: 4%;
}

/* line 191, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_right_section {
  background-image: linear-gradient(149deg, #fdc2c7, #ff7b84);
  padding: 40px;
  height: 620px;
}

/* line 196, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_right_section_text {
  margin-top: 2%;
}

/* line 199, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_right_section_text h3 {
  margin: 5% 0;
}

/* line 202, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_steps_logo {
  text-align: center;
}

/* line 205, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_right_section_text p {
  font-size: 14px;
  padding-top: 8%;
  clear: both;
  text-align: center;
}

/* line 211, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_right_section_text p a {
  color: #ffffff;
  font-weight: bold;
}

/* line 215, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_graph {
  width: 170px;
  margin: 0 auto;
  margin-top: 40px;
}

/* line 220, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* line 226, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_rectangle {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.57);
  float: right;
  margin-top: -35%;
}

/* line 234, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_form {
  padding: 3% 12%;
}

/* line 237, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_photo {
  width: 105px;
  height: 105px;
  text-align: center;
  background-color: #e5e5e5;
  color: #ffffff;
  margin-top: 10px;
  padding: 0;
}

/* line 246, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_photo label {
  color: #fff;
  cursor: pointer;
  width: 100%;
  line-height: 105px;
  left: 0;
}

/* line 253, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_photo input[type=file]#upload-photo {
  /*
    display: none;
    width: 80px;
    background: red;
    height: 90px;
    */
  opacity: 0;
  display: block;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* line 268, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender input[type="radio"] {
  display: none;
}

/* line 271, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender label {
  position: static;
  text-align: center;
  margin-bottom: 15px;
  pointer-events: auto;
}

/* line 277, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender label strong {
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 300;
  margin-right: 10px;
}

/* line 283, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender input[type="radio"] + span {
  border: 2px solid #c1c1c1;
  border-radius: 50px;
  display: inline-block;
  float: left;
  margin-right: 7px;
  /*padding: 7px;*/
  position: relative;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  margin-top: 3px;
}

/* line 297, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender input[type="radio"]:checked + span {
  color: #000;
}

/* line 301, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender input[type="radio"]:checked + span:after {
  background: #ff7b84;
  border-radius: 50px;
  content: " ";
  left: -2px;
  position: absolute;
  top: -2px;
  width: 15px;
  height: 15px;
  font-family: FontAwesome;
  content: "\f10c";
  color: #ffffff;
  font-size: 12px;
}

/* line 317, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_gender .gender_single {
  margin: 0px;
  padding: 0 20px;
  color: #c1c1c1;
  font-size: 14px;
  font-weight: 300 !important;
}

/* line 324, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_form .button_tranparent_red {
  margin-top: -5px;
}

/* registration process step 1 otp */
/* line 328, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_otp {
  margin-top: 5%;
}

/* line 331, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
#otpModal .modal-title {
  padding: 7% 0;
}

/* line 334, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_otp h5 {
  color: #333333;
  line-height: 24px;
}

/* line 338, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_otp p {
  margin-top: 5%;
}

/* line 341, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_otp p a {
  color: #ff7b84;
}

/* line 344, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step1_otp form {
  width: 80%;
  margin: 0 auto;
  padding: 10% 0;
}

/* registration process step 1 otp */
/* line 350, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks {
  margin-top: 11%;
}

/* line 353, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
#thankyouModal .modal-title {
  padding: 7% 0;
}

/* line 356, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks .reg_circle {
  background-color: rgba(255, 123, 132, 0.52);
}

/* line 359, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks .reg_rectangle {
  background-color: rgba(255, 123, 132, 0.52);
}

/* line 362, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks h3 {
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  clear: both;
}

/* line 368, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks p {
  color: #333;
  margin: 7%;
}

/* line 372, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks h5 {
  font-size: 18px;
  color: #333333;
  font-size: 16px;
  margin-top: 8%;
}

/* line 378, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_thanks .button_tranparent_red {
  margin: 3% 0 16% 0;
}

/* registration process welcome  */
/* line 382, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_steps_welcome {
  padding: 0;
  text-align: center;
}

/* line 386, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section {
  margin: 20% 18%;
}

/* line 389, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section p {
  font-size: 14px;
  color: #333333;
  text-align: center;
  padding: 8% 0;
}

/* line 395, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section label {
  text-align: center;
  margin-bottom: 15px;
  clear: both;
  width: 100%;
  pointer-events: auto;
}

/* line 402, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section .welcome_label {
  margin: 0px;
  font-weight: 300 !important;
  clear: both;
  margin-bottom: 15px;
  font-size: 26px;
  color: #333333;
  text-align: center;
}

/* line 411, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section input[type="checkbox"] {
  display: none;
}

/* line 414, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section input[type="checkbox"]:checked + span {
  color: #ffffff;
}

/* line 417, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section input[type="checkbox"] + span {
  border: 1px solid #c1c1c1;
  border-radius: 50px;
  display: inline-block;
  margin: 5px 7px -3px 0px;
  position: relative;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
}

/* line 427, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_left_section input[type="checkbox"]:checked + span:after {
  color: #ff7b84;
  border: 1px solid #ff7b84;
  border-radius: 50px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 25px;
  height: 25px;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 18px;
}

/* line 443, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_right_section h3 {
  margin-top: 12%;
}

/* line 446, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_welcome_right_section h4 {
  margin: 5% 0;
  font-size: 18px;
  text-align: center;
}

/* registration process  step 2 */
/* line 457, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 {
  margin-top: 2%;
}

/* line 460, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2_box {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 2px #e4e4e4;
  padding: 17px 30px;
  cursor: pointer;
  text-align: left;
}

/* line 469, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2_box:hover {
  border: solid 2px #ff7b84;
  box-shadow: 0 1.5px 4.5px 0 rgba(0, 0, 0, 0.26);
}

/* line 474, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 h3 {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

/* line 479, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 hr {
  margin: 20px 0 15px 0;
}

/* line 482, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 p {
  color: #333;
  font-size: 16px;
}

/* line 486, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 label {
  text-align: center;
  margin-bottom: 15px;
  clear: both;
  width: 100%;
  pointer-events: auto;
}

/* line 493, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 .step2_selection {
  margin: 0px;
  color: #000;
  font-size: 14px;
  font-weight: 300 !important;
  clear: both;
  margin-bottom: 15px;
}

/* line 501, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 input[type="checkbox"] {
  display: none;
}

/* line 504, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 input[type="checkbox"]:checked + span {
  color: #ffffff;
}

/* line 507, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 input[type="checkbox"] + span {
  border: 1px solid #c1c1c1;
  border-radius: 50px;
  display: inline-block;
  margin: 5px 7px -3px 0px;
  position: relative;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
}

/* line 517, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 input[type="checkbox"]:checked + span:after {
  color: #ff7b84;
  border: 1px solid #ff7b84;
  border-radius: 50px;
  content: " ";
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
  height: 20px;
  font-family: FontAwesome;
  content: "\f00c";
}

/* line 533, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 input[type="checkbox"] + .reg_profile_types {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
}

/* line 538, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step2 input[type="checkbox"]:checked + .reg_profile_types:after {
  border: 2px solid #ff7b84;
  box-shadow: 0 1.5px 4.5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  content: " ";
  left: 0;
  top: 0;
  color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

/* registration process  step 3 */
/* line 552, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_step3 {
  margin: 5% 14% 0;
}

/* line 555, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest {
  padding: 0 5px;
}

/* line 559, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box {
  background: #555;
  width: 110px;
  padding: 20px 15px;
  border-radius: 5px;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

/* line 572, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box_img {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 577, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box_img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 582, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box_name {
  width: 100%;
  position: absolute;
  color: #ffffff;
  background: rgba(30, 11, 43, 0.76);
  height: 110px;
}

/* line 589, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box_name p {
  line-height: 110px;
  text-align: center;
}

/* line 593, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box_name_active {
  width: 100%;
  position: absolute;
  color: #ffffff;
  background: rgba(255, 123, 132, 0.71);
  height: 110px;
}

/* line 600, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_interest_box_name_active p {
  line-height: 110px;
  text-align: center;
}

/* registration process  step 3 add skills */
/* line 605, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_select_interest {
  height: 370px;
  overflow-y: scroll;
}

/* line 609, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills {
  background-color: #ffffff;
  height: 620px;
  border-left: 1px solid #e6e6e6;
}

/* line 614, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills .button_tranparent_red {
  margin-top: 20px;
}

/* line 617, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_contant {
  margin: 10% 7% 0 10%;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 623, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_sec {
  margin-top: 5%;
  padding-right: 5%;
}

/* line 627, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_contant h3 {
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 4%;
}

/* line 633, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_contant .fa {
  font-size: 10px;
  font-weight: inherit;
}

/* line 637, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_skills_img img {
  width: 80%;
}

/* line 640, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_sec h4 {
  font-size: 16px;
  color: #333333;
  margin: 10px 0;
}

/* line 645, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_sec h5 {
  font-size: 14px;
  color: #c1c1c1;
  margin-bottom: 10px;
}

/* line 650, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_channel {
  border: solid 1px #e9e9e9;
  border-radius: 5px;
  float: left;
}

/* line 655, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_img img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 660, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_contant {
  padding: 10px;
  width: 100%;
  float: left;
}

/* line 665, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_add_skills_channel hr {
  width: 100%;
  margin: 0;
}

/* line 669, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_contant h3 {
  font-weight: bold;
}

/* line 672, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_contant h4 {
  font-size: 14px;
  padding-left: 10px;
  float: left;
  width: 80%;
}

/* line 678, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_contant p {
  color: #c1c1c1;
  font-size: 12px;
}

/* line 682, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_contant_img {
  width: 20%;
  float: left;
}

/* line 686, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_follow {
  width: 100%;
  border: 1px solid #333;
}

/* line 690, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
.reg_channel_contant .btn-primary {
  color: #fff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}

/* scrollbar for registration  */
/* line 697, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
#ops_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

/* line 703, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
#ops_scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #e5e5e5;
}

/* line 709, C:/OPS_Sass/ops_sass/scss/base/_base.scss */
#ops_scrollbar::-webkit-scrollbar-thumb {
  background-color: #999;
}

/* // scrollbar for registration  */
/* landing page */
/* line 2, C:/OPS_Sass/ops_sass/scss/layouts/_header.scss */
.header {
  width: 100%;
  padding-top: 25px;
  display: block;
  min-height: 80px;
}

/* line 8, C:/OPS_Sass/ops_sass/scss/layouts/_header.scss */
.header_logo {
  width: 158px;
  float: left;
  overflow: hidden;
}

/* line 13, C:/OPS_Sass/ops_sass/scss/layouts/_header.scss */
.header_login_button {
  width: 92px;
  float: right;
  overflow: hidden;
}

/* line 1, C:/OPS_Sass/ops_sass/scss/layouts/_footer.scss */
footer {
  height: 100px;
}

/* line 1, C:/OPS_Sass/ops_sass/scss/modules/_typography.scss */
h1 {
  font-weight: 300;
  font-size: 48px;
}

/* line 5, C:/OPS_Sass/ops_sass/scss/modules/_typography.scss */
h2 {
  font-weight: 300;
  font-size: 36px;
}

/* line 9, C:/OPS_Sass/ops_sass/scss/modules/_typography.scss */
h3 {
  font-weight: 300;
  font-size: 24px;
}

/* line 16, C:/OPS_Sass/ops_sass/scss/modules/_typography.scss */
p {
  font-size: 16px;
  line-height: 26px;
}

/* line 20, C:/OPS_Sass/ops_sass/scss/modules/_typography.scss */
a {
  text-decoration: none !important;
}

/* line 23, C:/OPS_Sass/ops_sass/scss/modules/_typography.scss */
a:hover {
  text-decoration: none !important;
}

/* line 1, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.button_tranparent {
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

/* line 12, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.button_tranparent:hover {
  background-color: #FF7B84;
  color: #ffffff;
  border: 1px solid #FF7B84;
}

/* line 17, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.button_tranparent_red {
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #ff7b84;
  color: #ff7b84;
  font-size: 14px;
  cursor: pointer;
}

/* line 28, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.button_tranparent_red:hover {
  background-color: #ff7b84;
  color: #ffffff;
  border: 1px solid #ff7b84;
}

/* line 33, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.button_white {
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  color: #FF7B84;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

/* line 44, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.button_white:hover {
  background-color: #FF7B84;
  color: #ffffff;
}

/* */
/* line 49, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-label {
  position: relative;
  left: -6px;
  display: inline-block;
  padding: 2px 8px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

/* line 57, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  padding-left: 5px;
}

/* line 63, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-primary {
  color: #fff;
  background-color: #5c5b5b;
  border-color: #000000;
}

/* line 68, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-primary:hover {
  background-color: #ff7b84;
  border-color: #ff7b84;
}

/* line 72, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-danger {
  color: #fff;
  background-color: #ff7b84;
  border-color: #e7626b;
}

/* line 77, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-group-sm > .btn, .btn-sm {
  border-radius: 5px;
}

/* line 80, C:/OPS_Sass/ops_sass/scss/modules/_buttons.scss */
.btn-danger:hover {
  background-color: #ff7b84;
  border-color: #ff7b84;
}

/* form */
/* line 2, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_group {
  position: relative;
  margin-bottom: 25px;
}

/* line 6, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_input {
  font-size: 14px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  color: #000000;
  border-bottom: 1px solid #c1c1c1;
}

/* line 15, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_input:focus {
  outline: none;
}

/* line 18, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
label {
  color: #c1c1c1;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* line 31, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_input:focus ~ label, .form_input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #c1c1c1;
}

/* line 37, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_bar {
  position: relative;
  display: block;
}

/* line 41, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_bar:before, .form_bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #888;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* line 52, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_bar:before {
  left: 50%;
}

/* line 55, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_bar:after {
  right: 50%;
}

/* active state */
/* line 60, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_input:focus ~ .form_bar:before, .form_input:focus ~ .form_bar:after {
  width: 50%;
}

/* active state */
/* line 66, C:/OPS_Sass/ops_sass/scss/modules/_components.scss */
.form_input:focus ~ .form_highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/*# sourceMappingURL=../css/main.map */
