// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
// bootstrap fonts
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
// Vendors */
@import '~sass-mq/_mq.scss';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~ngx-toastr/toastr";
// @import '~ngx-sharebuttons/styles/share-buttons';
// @import '~ngx-sharebuttons/styles/themes/default/default-theme';
// /* Helpers */
@import '/assets/scss/helpers/_variables.scss';
@import '/assets/scss/helpers/_functions.scss';
@import '/assets/scss/helpers/_mixins.scss';
@import '/assets/scss/helpers/_helpers.scss';
// /* Base scss */
@import '/assets/scss/base/_reset.scss';
@import '/assets/scss/base/_base.scss';
@import '/assets/scss/base/_color.scss';
@import '/assets/scss/base/_typography.scss';
// /* Components scss */
@import '/assets/scss/components/_buttons.scss';
@import '/assets/scss/components/_form.scss';
@import '/assets/scss/components/_progress-bar.scss';
@import '/assets/scss/components/_flag.scss';
@import '/assets/scss/components/_radio-checkbox.scss';
// /* Themes scss */
@import '/assets/scss/themes/_ops-theme.scss';

/* ------------------------- Registration css --------------------------- */

body {
    overflow-y: scroll;
}

.reg_steps {
    background: #f1f1f1;
    min-height: 100vh;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reg_middle_container {
    border-radius: 5px;
    background-color: $white;
    -webkit-box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 12.5px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
}

// left section
.reg_left_section {
    background-color: $white;
    height: 614px;
    padding: 2% 8%!important;
    @include mq($from: mobile, $until: tablet) {
        height: 720px;
    }
}

// right section
.reg_right_section {
    background-image: $theme_gradient;
    /* Old browsers */
    background-image: $theme_gradient2;
    /*Safari5.1+ */
    color: #fff;
    padding: 40px;
    height: 614px;
    h2 {
        margin: 7% 0;
    }
    .right_container {
        margin-top: 5%;
    }
    .reg_steps_logo {
        text-align: center;
    }
    p {
        padding-top: 8%;
        clear: both;
        text-align: center;
        line-height: 26px;
    }
    p a {
        color: $white;
        font-weight: bold;
    }
}

// Right section graph
.reg_graph {
    width: 170px;
    margin: 0 auto;
    margin-top: 40px;
    .reg_circle {
        width: 130px;
        height: 130px;
        @include border-radius(50%);
        background-color: $white;
    }
    .reg_rectangle {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.57);
        float: right;
        margin-top: -47%;
    }
}


/** Selector **/

.cs-icon-input {
    float: left;
    padding: 8px;
}

.choices {
    /* width: 70px !important; */
    float: left;
    font-family: arial;
}

.choices[data-type*=select-one]:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #cabcbc transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 7px;
    top: 13px;
    margin-top: 0;
    pointer-events: none;
}

.choices__inner {
    /* display: inline-block; */
    vertical-align: top;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    min-height: 27px;
    overflow: hidden;
}

.cc-code,
.hh {
    display: none;
}

.is-open .hh,
.is-open .cc-code {
    display: block;
}

.choices__list--dropdown.is-active {
    display: block;
    width: 300px;
}

.choices__inner {
    padding: 0;
}

.choices__list.choices__list--dropdown.is-active .hh {
    display: block;
    font-weight: 100;
    color: #777;
    font-size: 12px;
    padding-bottom: 5px;
}

.choices__list--dropdown {
    color: #000;
    font-family: 'open sans', sans-serif;
}

app-country-selector {
    position: absolute;
    top: 8px;
}

vg-scrub-bar {
    height: 3px !important;
    bottom: 0 !important;
}
app-audioplayer vg-scrub-bar{
    margin: 23px 10px!important;
}

.otp__modal {
    .ng-modal.small {
        padding-top: 0;
    }
}

.modal__large {
    .nav-tabs {
        font-size: 14px;
        border-bottom: none;
        width: 30%;
        margin: auto;
        min-width: 300px;
        text-align: center;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        color: $color-theme!important;
        background-color: transparent;
        border: 0;
        border-bottom-color: transparent;
        cursor: default;
    }
    .nav-tabs>li>a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 0;
        border-radius: 4px 4px 0 0;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }
}


/** Tiny Theme - Modal **/

.btn-primary {
    color: #fff;
    background-color: $color-theme;
    border-color: $color-theme;
}

.modal__tiny {
    .body {
        background-color: #fff;
        color: #000;
        border-radius: 4px;
        overflow: auto;
    }
}

.modal__media .ng-modal {
    padding-top: 0 !important;
}

.ng-modal.tiny {
    width: 30% !important;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.ng2-imgcrop canvas {
    // margin-top: 1rem;
    width: 100%;
}

.media-selector {
    background-color: #fff;
    padding: 0.5rem 1rem;
    padding-top: 0;
    border-radius: 3px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.msg__error {
    background-color: #F4ACAC;
    padding: 1rem;
    margin-left: 1.25rem;
    border-radius: 3px;
    color: #651212;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #69318a;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -2.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 2.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 1.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.blog__textarea,
.c-input {
    color: #444;
    text-align: left;
}

.c-textarea textarea {
    border: 0;
    float: none;
    width: 100%;
    color: #999;
}

#medium-editor-toolbar-1 {
    z-index: 4000;
}

#medium-editor-toolbar-actions1 {
    color: #444;
    box-shadow: 1px 1px 3px #eee;
    border: solid 1px #eee;
    border-radius: 2px;
}

.medium-editor-toolbar li button {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.33;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    border: 0;
    background-color: #fff;
    box-shadow: none;
}

.main_ht_fix {
    margin-top: -2%;
}

.block.drop {
    border: dotted 3px #b5c8cc;
}

.ng2-tag-input.ops-theme {
    border-bottom: 1px solid #c1c1c1 !important;
}

.ng2-tag-input__text-input {
    padding-left: 0 !important;
    font-family: inherit !important;
    font-size: 14px;
    color: #333;
}

.ng2-tags-container tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05rem;
    color: #444;
    border-radius: 16px;
    transition: all 0.3s;
    margin: 0.1rem 0.3rem 0.1rem 0;
    padding: 0px 12px 8px 16px !important;
    height: 32px;
    line-height: 34px;
    background: #efefef;
    user-select: none;
    overflow: hidden;
    outline: 0;
    cursor: pointer;
    position: relative;
}

.ng2-dropdown-menu {
    z-index: 3000 !important;
    color: #000 !important;
}

.ng2-menu-item {
    height: auto !important;
    line-height: normal !important;
}

.dp-material {
    color: #000;
    font-size: 12px;
    span.dp-calendar-weekday {
        font-size: 12px;
        background: #fff;
    }
    .dp-calendar-nav-container {
        color: #333;
        height: 45px!important;
    }
    .dp-calendar-day.dp-selected {
        background: $color-theme;
    }
    .dp-material .dp-current-day {
        border: 1px solid $color-theme;
    }
    
}
app-events-create dp-date-picker{
    display: block!important;
}

app-events-create quill-editor p {
    color: #000!important;
}

.dp-material .dp-calendar-wrapper {
    padding: 1rem;
}

.eventslider .ngxcarousel-items .item {
    width: 750px!important;
}

button.sb-wrapper.sb-facebook {
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0;
    margin-top: 16px;
    margin-right: 8px;
}

.sb-content {
    display: inline-block;
}

.sb-text {
    display: none;
}

.sb-template {
    display: inline-block;
}

//slider home page
.hero {
    .leftRs {
        display: block;
        position: absolute;
        top: 50%;
        left: 20px;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        border: 1px #fff solid;
        background: none;
        text-align: center;
        z-index: 999;
        svg {
            margin-top: 8px;
        }
        &:hover {
            background-color: rgba( 250, 250, 250, 0.5);
        }
        &:focus{
            outline: none!important;
        }
        @include mq($from: $mobile_sm, $until: $tablet){
            width: 30px;
            height: 30px;
            svg{
                margin-top:2px;
                margin-left: -6px;
            }
        }
    }
    .rightRs {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        border: 1px #fff solid;
        background: none;
        text-align: center;
        z-index: 999;
        svg {
            margin-top: 8px;
        }
        &:hover {
            background-color: rgba( 250, 250, 250, 0.5);
        }
        &:focus{
            outline: none!important;
        }
        @include mq($from: $mobile_sm, $until: $tablet){
            width: 30px;
            height: 30px;
            svg{
                margin-top:2px;
                margin-left: -6px;
            }
        }
    }
}

.leftRs {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 1px #fff solid;
    background: none;
    text-align: center;
    svg {
        margin-top: 8px;
    }
    &:hover {
        background-color: rgba( 250, 250, 250, 0.5);
    }
    &:foucs{
        outline: none!important;
    }
    @include mq($from: $mobile_sm, $until: $tablet){
        width: 30px;
        height: 30px;
        svg{
            margin-top:2px;
            margin-left: -6px;
        }
    }
}

.rightRs {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 1px #fff solid;
    background: none;
    text-align: center;
    svg {
        margin-top: 8px;
    }
    &:hover {
        background-color: rgba( 250, 250, 250, 0.5);
    }
    &:foucs{
        outline: none!important;
    }
    @include mq($from: $mobile_sm, $until: $tablet){
        width: 30px;
        height: 30px;
        svg{
            margin-top:2px;
            margin-left: -6px;
        }
    }
}

.im-checkout {
    margin: auto;
    max-width: 200px!important;
    display: inline-block;
    float: inherit;
    margin-top: 15px;
    a {
        background-color: $color-theme !important;
        border-radius: 0!important;
        padding: 0.3em 1em!important;
        &:hover{
            color: #fff!important;
        }
    }
}

.toast-success {
  background-color: #fff;
  border-radius: 0 !important;
  color: #83a591 !important;
  padding-left: 24px;
}

.o-event-content-container{
    p{
        color:#929292!important;
    }
    ul{
        margin-left: 16px;
        margin-bottom: 16px;
        margin-top: 8px;
        li{
            width: 100%;
            color:#929292!important;
        }
    }
    ol{
        margin-left: 16px;
        margin-bottom: 16px;
        margin-top: 8px;
        li{
            width: 100%;
            color:#929292!important;
        }
    }
}