@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/components/_form.scss';
@import './src/assets/scss/components/_feed-card.scss';
@import './src/assets/scss/components/_dropdowns.scss';
@import '~sass-mq/_mq.scss';
// common
.c-user--addpost {
    width: 100%;
    float: left;
}

.o-add-status__txt {
    float: left;
    margin-top: 8px;
    width: 100%;
}

.float-right {
    float: right;
}

// status container
.o-add-status {
    margin-top: 24px;
}

.o-add-status__block {
    height: 188px;
    width: 784px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.18);
    padding: 24px 40px;
    margin: 0px auto;
}

.o-add-status--textarea {
    padding: 24px 0px;
    width: 100%;
    border: none;
    height: auto;
    resize: none;
    &:focus {
        outline: none;
    }
}

.o-add-status_actions {
    // padding:16px 32px;
}

.c-user__name--addpost {
    font-size: 13px!important;
    font-weight: normal !important;
    color: #333!important;
}

.o-add-status_actions {
    width: 100%;
    float: left;
}

.o-status-action {
    list-style: none;
}

.o-status-action--select {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    width: 138px;
    &:focus {
        box-shadow: none;
    }
}

.o-action-list {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.o-action__ico {
    width: 12px;
    height: 12px;
    float: left;
    img {
        width: 100%;
    }
}

.o-action__ico-arrow {
    width: 10px;
    height: 6px;
    float: left;
    margin-top: -3px;
    margin-left: 8px;
    img {
        width: 100%;
    }
}

.o-action-list--space {
    margin-top: 24px;
}

.o-status-action__count {
    color: #747474;
    font-size: 11px;
    font-weight: normal;
    margin-right: 16px;
    margin-top: 8px;
    display: inline-block;
}

// for upload file btn
.o-add-media_upload {
    width: 114px;
    height: 34px;
    margin: 0px auto;
    opacity: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: block!important;
}

.o-add-media-btn {
    position: relative;
    width: 114px;
    height: 34px;
    margin: 0px auto;
    cursor: pointer;
}

.o-add-media__upload-btn {
    position: absolute;
    top: 0px;
    left: 0px;
}

.o-add-media {
    margin-top: 24px;
}

.o-add-media__block {
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 24px 24px;
    margin: 0px auto;
    float: left;
    width: 100%;
    height: 150px;
}

.o-add-post--textarea {
    padding: 12px 0px;
    width: 100%;
    border: none;
    height: auto;
    resize: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        font-size: 13px;
        min-height: 85px;
    }
}

.o-add-status__tag {
    width: 100%;
    float: left;
    border-bottom: 1px #f3f5f7 solid;
}

// right bar
.o-add-post-rightbar {
    background: #fff;
    width: 100%;
    float: left;
}

.o-media-upload-btn {
    background-image: url(https://cdn.onepagespotlight.com/img/svg/uploadwhite.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

// .o-add-post-rightbar {
//     background: #fff;
//     width: 94%;
//     margin-left: 24px;
//     float: left;
// }
.o-add-post__block {
    padding: 24px 32px;
}

.o-add-media__upload {
    width: 100%;
    float: left;
}

.o-add-media-upload__icon {
    width: 95px;
    margin: 83px auto 24px;
    img {
        width: 100%;
    }
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        width: 32px;
        margin: 56px auto 0px;
    }
}

.o-add-media-upload__type {
    margin: 16px;
    color: #979797!important;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        font-size: 11px;
        font-weight: 500;
        margin: 8px 0px;
    }
}

.o-upload__head {
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        font-size: 13px;
        font-weight: 500;
    }
}

// channel search
.o-channel-search {
    width: 100%;
    float: left;
    margin-top: 16px;
}

// channel list
.o-channel-list-container {
    width: 100%;
    float: left;
    min-height: 254px;
    max-height: 254px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 16px;
}

.o-channel-block {
    list-style: none;
}

.o-channel-items {
    list-style-type: none;
    display: block;
    margin: 16px 0px 0px;
    cursor: pointer;
}

.o-channel-items input[type=radio] {
    display: none;
}

.o-channel-items input[type=radio]+label {
    display: inline-block;
    line-height: 1.5rem;
    height: 32px;
    cursor: pointer;
    position: relative;
}

.o-channel-items input[type="radio"]+label:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #979797;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.o-channel-items input[type="radio"]:checked+label:before {
    content: '';
    display: inline-block;
    border: 2px solid #FF7B84;
}

.o-channel-items input[type="radio"]:checked+label:after {
    content: '';
    display: inline-block;
    background: #FF7B84;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 10px;
}

.o-channel-label {
    pointer-events: all;
    position: static;
}

.o-channel-content {
    width: 100%;
    float: right;
    margin-top: -24px;
    padding-left: 22px;
}

.o-channel-content__thumb {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 16px;
    background: #333;
    img {
        width: 100%;
    }
}

.o-channel-content__name {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 32px;
}

// rightbar footer
.o-rightbar-footer {
    float: left;
    width: 100%;
    background-color: #FF7B84;
    padding: 24px 32px 32px 32px;
    height: 150px;
}

.c-form-control--color {
    color: #fff!important;
    padding-left: 0px!important;
    border-bottom: 1px #fff solid!important;
}

.o-add-post-right__actions {
    width: 100%;
    float: left;
    padding: 2px 0px;
}

.o-add-post__switch_btn {
    width: 40px;
    float: left;
    margin-top: 4px;
}

.o-add-post__switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    pointer-events: all;
    top: 0px;
}

.o-add-post__switch input {
    display: none;
}

.o-add-post__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #747474;
    -webkit-transition: .4s;
    transition: .4s;
}

.o-add-post__slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.o-add-post__switch input:checked+.o-add-post__slider {
    background-color: #F7D022;
}

.o-add-post__switch input:focus+.o-add-post__slider {
    box-shadow: 0 0 1px #2196F3;
}

.o-add-post__switch input:checked+.o-add-post__slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.o-add-post__slider.o-add-post__round {
    border-radius: 34px;
}

.o-add-post__slider.o-add-post__round:before {
    border-radius: 50%;
}

.o-action-help {
    color: #fff;
    font-size: 8px;
    font-weight: normal;
    &:hover {
        color: #fff;
    }
}

.help_ico {
    width: 12px;
    height: 12px;
    border-radius: 50% 50%;
    background: #fff;
    padding: 2px 4px;
    color: #FF7B84;
    font-size: 8px;
    font-weight: bold;
    display: inline-block;
}

// media add block
.o-file-list {
    list-style: none;
    padding-top: 24px;
    display: flex;
    justify-content: inherit;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    @include mq($from: $mobile_sm, $until: $tablet) {
        justify-content: center;
    }
}

.o-file_item {
    list-style-type: none;
    margin: 0px 0px 16px 16px;
    display: inline-block;
}

.selected {
    &:hover {
        .o-media_delet {
            display: block;
        }
    }
    .o-media-block {
        border: 2px solid #FF7B84;
    }
    .o-media_delet {
        display: block;
    }
}

// .o-file_item:nth-child(6n+1) {
//     margin-left: 0px;
//     @include mq($from: $mobile_sm, $until: $desktop_sm) {
//         margin-left: 16px;
//     }
// }

.o-media-block {
    width: auto;
    height: 138px;
    overflow: hidden;
    float: left;
    position: relative;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    &:hover {
        .o-media_delet {
            display: block;
        }
    }
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        width: 136px;
        height: 136px;
    }
}

.o-media__info {
    width: 100%;
    position: absolute;
    background: linear-gradient(0deg, transparent 0%, #000 60%);
    top: 0px;
    left: 0;
    right: 0;
    height: 40px;
}

.o-media_delet {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 19px;
    height: 19px;
}

.o-media_img {
    width: auto;
    overflow: hidden;
    height: 138px;
    .obj-fit-fill {
        width: auto;
        overflow: hidden;
        height: 138px;
    }
}

.o-media_type {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    img {
        filter: drop-shadow(0 0 2px 0 rgba(0, 0, 0, 0.5));
    }
}

.o-media-more {
    width: 138px;
    height: 138px;
    overflow: hidden;
    float: left;
    border: 2px dashed #C1C1C1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        width: 136px;
        height: 136px;
    }
}

.o-media_upload {
    width: 138px;
    height: 138px;
    opacity: 0;
    display: block!important;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.o-media_add-icon {
    width: 100%;
    text-align: center;
    img {
        width: 40px;
        height: 40px
    }
}

.o-media_add-txt {
    width: 100%;
    margin-top: 16px;
    p {
        color: #C1C1C1;
        font-size: 14px;
    }
}

// create channel
.o-create-channel {
    width: 100%;
    padding: 24px 0px;
    float: left;
    padding-top: 0;
}

.o-create-channel__link {}

.o-create-channel__ico {
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 8px;
}

.o-create-channel__title {
    font-size: 13px;
    color: #FF7B84;
    font-weight: normal;
    float: left;
}

.o-create-channel-container {
    // width: 82%;
    min-height: 460px;
    // position: absolute;
    // top: 60px;
    background: #fff;
}

.o-create-channel__heading {
    float: left;
    width: 100%;
}

.o-create-channel__form {
    float: left;
    width: 100%;
    margin-top: 20px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        padding: 0px;
    }
}

.o-create-channel__input {
    width: 90%;
    float: left;
}

.o-create-channel__action {
    float: left;
    margin-left: 16px;
    margin-top: 12px;
}

.o-create-channel__btn {
    margin-top: 12px;
    width: 100%;
    float: left;
}

// selected media pop container
.o-media-pop-container {
    width: 100%;
    min-height: 212px;
    background: #fff;
    float: left;
    padding: 16px 24px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.o-media-pop__title {
    margin-bottom: 16px;
}

.o-media-pop__close {
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.o-media-pop__select {
    width: 100%;
    float: left;
}

.c-form-control--pop {
    padding-left: 0px!important;
}

.o-media-pop__thumb-upload {
    float: left;
    margin-top: 8px;
}

.o-media-pop-thumb__upload {
    width: 127px;
    height: 102px;
    overflow: hidden;
    float: left;
    border: 2px dashed #C1C1C1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
}

.o-media-pop__thumb {
    width: 127px;
    height: 102px;
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.o-media-pop__txt {
    width: 100%;
    margin-top: 16px;
}

.c-text_md--color {
    color: #747474;
}

.o-media-pop__sub-title {
    color: #747474;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

// video thumb
.o-media-pop__video-thumb {
    list-style: none;
}

.o-video-thumb__list {
    list-style-type: none;
    margin-right: 16px;
    margin-top: 8px;
    display: inline-block;
}

.o-video-thumb-block {
    height: 77px;
    width: 88px;
    border-radius: 3px;
    overflow: hidden;
}

.o-media-video-thumb-upload {
    float: left;
    margin-top: 8px;
}

.o-media-video-thumb__upload {
    width: 90px;
    height: 79px;
    overflow: hidden;
    float: left;
    border: 2px dashed #C1C1C1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
}

.o-media-video__thumb {
    width: 90px;
    height: 79px;
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.o-media-video__txt {
    width: 100%;
    margin-top: 0px;
}

.c-text_sm--color {
    color: #747474;
}

.o-block__fade {
    opacity: 0.5
}

.Overlay {
    background-color: #c5f5c5;
    left: 0;
    right: 0;
    top: 0;
    &__status {
        color: #0b540b;
        font-size: 18px !important;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
        display: block;
    }
}

.o-channel-content__thumb img {
    width: 100%;
    height: auto;
}

.o-channel-search {
    width: 99%;
    float: left;
    margin-top: 16px;
    padding: 0px 100px;
}

.o-add-media-channel__link {
    font-weight: 600;
}

.o-create-channel__heading.c-text_md {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

div#create-channel form {
    padding-left: 100px;
    padding-right: 100px;
}

.c-text_lg.o-add-media-channel__link {
    margin-left: 16px;
    display: inline-block;
    margin-top: 16px;
}

.o-add-media {
    margin-top: 24px;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        margin-top: 8px;
    }
}

// for progress bar
.o-media-progress-main {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);
}

.o-media-progress__bar {
    height: 6.4px;
    width: 95%;
    background-color: #C1C1C1;
    position: relative;
    border-radius: 5px;
}

.o-media-progress__value {
    height: 6.4px;
    width: 51.83px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    border-radius: 5px;
}

.o-add-media-channel-main {
    width: 863px;
    margin: 0px auto;
    background: #fff;
    padding: 10px 32px;
    overflow: hidden;
    
    @include mq($from: $mobile_sm, $until: $tablet) {
        width: 100%;
    }
    @include mq($from: $tablet, $until: $desktop_sm) {
        width: 100%;
    }
}

.o-add-media-channel {
    width: 100%;
    background: #fff;
    padding: 24px 32px;
    float: left;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
        padding:16px 16px;
    }
}

.o-add-media-channel__head {
    float: left;
    width: 100%;
}

.o-add-media-channel__link {
    font-weight: 600;
    &:hover {
        color: #333;
    }
}

.o-add-media-img-list {
    list-style: none;
    float: left;
    display: flex;
    justify-content: inherit;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 428px;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 410px;
}

.o-add-media-img-list__item {
    list-style-type: none;
    height: 112px;
    width: 112px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 16px;
    margin-top: 16px;
}

.o-add-media-item__img {
    max-width: 100%;
    height: auto;
}

.o-channel-input {
    border: none!important;
}