@import './src/assets/scss/helpers/_variables.scss';
@import './src/assets/scss/helpers/_functions.scss';
@import './src/assets/scss/helpers/_mixins.scss';
@import '~sass-mq/_mq.scss';
@import "~ngx-chips/dist/modules/core/styles/core/_core.scss";

// Chips
$ops-theme: (
  container-border-bottom: 1px solid #c1c1c1
);

.ng2-tag-input.ops-theme {
  @include tag-input-theme($ops-theme);
}

label {
  padding-bottom: 0.5rem;
  display: inline-block;
  padding-top: 0.5rem;
}

label.upload-button {
  background-color: #ff7b84;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: auto;
}

.btn.btn-save{
  background-color: #ff7b84;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: auto;
}

.add_media_info ul li .form_group label {
  font-weight: 600;
}

.form_input:valid~label {
  top: -10px;
  font-size: 12px;
  color: #c1c1c1;
}

.block{
  /* border: 2px dotted #ecf3f2; */
  padding: 1rem 2rem;
  border-radius: 3px;
  padding-bottom: 3em;
  margin-top: 2rem;
  color: #eee !important;
  padding-top: 3rem;
  position: relative;
  margin-right: 2rem;
  margin-left: 1rem;
}
.clicker{
  color: blue;
  border-bottom: solid 2px blue;
}

.uploader ul li {
  border: solid 1px #999;
  width: auto;
  height: 200px;
  float: left;
  margin-right: 12px;
  border-radius: 2px;
}
.uploader ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


.uploader img {
  width: auto;
  height: 100%;
}

.uploader video {
  width: auto;
  height: 100%;
}

.sider{
  width: 30%;
  float: right;
}

.sider li{
  list-style: none;
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
}

.saveBtn{
  border: solid 1px blue;
  padding: 3px;
  border-radius: 3px;
  color: blue;
}

.channelCreate {
  text-align: left;
}

/*
 *   OVERLAY
 *   +++++++
 */

.Overlay{
  position: fixed;
  background-color: #c5f5c5;
  left: 0;
  right: 0;
  top: 0;
  &__status {
    color: #0b540b;
    font-size: 18px !important;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 10000;
    font-weight: bold;
  }
}

/*   +++++++   */


.btn{
  color: #fff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}


.media_info,
.media_content_report{
  list-style: none;
  border-bottom: 1px rgba(102,45,145,.1) solid;
  padding: 32px;
}

.select_media_ico img {
  width: 150px;
  height: 158px;
}

.select_media_info {
  padding: 20px 0 50px;
}

.select_media_info p {
  font-size: 18px;
  font-weight: 400;
  color: #979797;
}

.select_media_format p {
  font-size: 12px;
  font-weight: 400;
  color: #979797;
}

.ops_add-post .add-post_container .add_media_more_inner .add_media_info ul li .form_group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px #c1c1c1 solid;
  font-weight: 600;
  color: #000;
}

.add_media_info__form{
  text-align: left;
}


.add_media_container {
  // width: 174px;
  height: 174px;
  overflow: hidden;
  float: left;
  position: relative;
  border-radius: 3px;
  margin-bottom: 8px;
}

.media_info textarea {
  width: 100%;
  border: none;
  border-bottom: 1px #c1c1c1 solid;
  font-weight: 600;
  color: #000;
}

.media_content_report select{
  box-shadow: none;
  padding: 0 0;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 0;
  height: 24px;
  font-weight: 600;
}

.ops_radio_sm label {
  position: static;
  text-align: center;
  pointer-events: auto;
  font-weight: 600;
  font-size: 12px;
  color: #000;
}

.channel-list-show_img {
  width: 49px;
  height: 49px;
  border-radius: 3px;
  overflow: hidden;
  float: left;
}

.ops_radio_sm input[type=checkbox]+span {
  border: 2px solid #c1c1c1;
  border-radius: 50px;
  display: inline-block;
  float: left;
  margin-right: 7px;
  position: relative;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  margin-top: 1px;
}

.add_media_info {
  border-left: 1px rgba(102,45,145,.1) solid;
  height: 578px;
  padding: none!important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ops_radio_sm input[type=checkbox] {
  display: none;
}

.list-item{
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.add_media_more_inner ul {
  list-style: none;
  padding-top: 40px;
  padding-left: 12px;
}

.add_media_more_inner ul li {
  list-style-type: none;
  margin: 0 5px 16px;
  display: inline-block;
}

.add_media_more_inner li .add_media_container {
  max-width: 174px;
  max-height: 174px;
  overflow: hidden;
  float: left;
  position: relative;
  border-radius: 3px;
}

.media-selector{
  color: #000;
  padding-right: 0;
  box-shadow: 0px 1px 7px #bfb9b9;
  background-color: #fff;
  padding: 24px 24px;
  padding-top: 0;
  border-radius: 3px;
  padding-right: 0;
}

.media-selector__list {
  margin-top: 24px;
}

.upload-buttonf{
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
  margin-bottom: 3rem;
  padding: 3px 16px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.not__filled{ }
.not__filled .file__editor{
  display: none;
}
.not__filled .file__viewer{
  width: 100% !important;
}

.dropZone2 {
  text-align: center;
}

.add_media_container img {
  height: 100%;
  width: auto;
}

.media-selector ul {
  list-style: none;
  clear: both;
  float: none;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

.media_create_channel {
  border-bottom: 1px rgba(102,45,145,.1) solid;
}

.add-post_choosechannel {
  width: 100%;
  padding: 16px 0 0;
  height: 100%;
  background: rgba(190,190,190,.1);
  display: inline-block;
}

.media_create_channel a {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 16px;
  color: #000;
  display: block;
}

.createchannel {
  font-size: 14px;
  color: #ff7b84;
  width: 100%;
  display: block;
  padding: 10px 16px;
}

.with_border_bottom {
  border-bottom: solid 1px rgba(0,0,0,.1);
}

.add_media_img {
  width: auto;
  height: 174px;
}

.file__item {
  margin-right: 12px;
  display: inline-block;
}

.media_info{
  margin-top: 0;
}


.add_media_container:hover .add_media_delet {
  display: block;
}

.add_media_container .add_media_delet {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 19px;
  height: 19px;
}

#choose_channel_details .o-block_1 {
  padding: 16px;
}

.channel-list-show {
  width: 100%;
  margin: 0 auto;
  padding: 8px 0 8px;
  float: left;
}

.channel-list-show .channel-list-show_img {
  width: 49px;
  height: 49px;
  border-radius: 3px;
  overflow: hidden;
  float: left;
}
.channel-list-show .channel-list-show_txt {
  width: 166px;
  padding: 10px 0;
  margin: 0 16px;
  float: left;
}

.channel-list-show_txt p {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.add_media_info ul {
  list-style: none;
  border-bottom: 1px rgba(102,45,145,.1) solid;
  padding: 16px 32px;
  overflow: hidden;
}

.channel__form{
  padding-left: 0 !important;
  padding-top: 10px !important;
}

.channel__form .form_input{
  background-color: transparent;
}

.createchannel_ico {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #ff7b84;
  overflow: hidden;
  float: left;
  margin-right: 8px;
}


/* ------------------------- add post style --------------------------- */

.ops_add-post {
  background-color: rgba(243, 245, 247, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1033;
  display: none;
  overflow-y: auto;
  padding-top:40px;
  .search_close {
      float: right;
      margin: 3px;
      width: 20px;
      img {
          width: 12px;
          height: 12px;
      }
  }
  .home_tabs{
      width: 1172px;
      margin: 0px auto;
  }
  .search_top_icon {
      img {
          width: 32px;
          float: right;
          margin-top: -48px;
      }
  }
  // ops tab
  .nav-tabs > li {
      float: none;
      display: inline-block;
      zoom: 1;
      a{
          font-size: 14px;
          color: #000;
          padding:0px 16px;
          &:hover{
              color: #FF7B84;
          }
      }
  }

  .nav-tabs {
      text-align: center;
      padding-bottom:16px;
      .active{
          a{
              color: #FF7B84!important;
          }
      }
  }
  // add post style start
  .add-post_container{
      margin: 0px auto;
      .add_status_inner{
          width: 800px;
          margin: 0px auto;
          padding-top:24px;
          background:#fff;
          border-radius:3px;
          box-shadow: 0 2px 4px 0 rgba(102, 45, 145, 0.15);
      }
      .com_in_middle {
          ul li {
              list-style: none;
          }
          .middle_block {
              border-radius: 3px;
              background-color: #FFFFFF;
              box-shadow:none;
              li ul {
                  padding: 16px;
              }
              .head_name {
                  color: #333333;
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 19px;
                  margin: 10px 0;
                  span {
                      img {
                          width: 10px;
                          margin-left: 8px;
                      }
                  }
              }
              .head_msg {
                  color: #979797;
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 19px;
                  text-transform: capitalize;
                  margin: 10px 0;
              }
          }
          .discussion_input {
              width: 100%;
              .form_group {
                  margin-bottom: 0px;
                  position:relative;
                  textarea {
                      width: 100%;
                      border: none;
                      color: #979797;
                      font-size: 18px;
                      outline: none;
                      min-height: 60px;
                      &:focus{
                          outline: none;
                      }
                  }
                  .word_count{
                      position:absolute;
                      color: #c1c1c1;
                      font-size: 14px;
                      bottom:0px;
                      right: 0px;
                  }
              }
          }
          .discussion_post {
              .discussion_post_options {
                  float: left;
                  img {
                      width: 24px;
                      margin: 0 8px;
                  }
              }
          }
          .discussion_post_topic {
              width: 20%;
              float: left;
              .form_group {
                  margin-bottom: 0px;
                      textarea{
                          height: 90px!important;
                          &:focus{
                              outline: none;
                          }
                      }
                  .form-control {
                      box-shadow: none;
                      padding: 0 12px;
                      border: none;
                      border-bottom: 1px solid #C1C1C1;
                      border-radius: 0px;
                      height: 24px;
                  }

              }
          }
          .add-post_status{
              width: 20%;
              float: left;
              .form_group {
                  margin-bottom: 0px;
                      textarea{
                          height: 60px;
                          &:focus{
                              outline: none;
                          }
                      }
                  .form-control {
                      box-shadow: none;
                      padding: 0 12px;
                      border: none;
                      border-bottom: 1px solid #C1C1C1;
                      border-radius: 0px;
                      height: 24px;
                  }
              }
          }
          .add-post_status_dropdown{
              a{
                  color: #FF7B84;
                  font-size: 14px;
                  padding:0px 10px;
                  font-weight: 700;
              }
              .add-post_choosechannel{
                  width: 324px;
                  padding: 0px;
                  position: absolute;
                  left: -100px;
              }
              .txt-3{
                  font-size: 12px;
                  color: #333333;
                  width: 100%;
                  display: block;
                  padding: 16px 16px;
                  font-weight: 700;
              }
              .createchannel{
                  font-size: 12px;
                  color: #333333;
                  width: 100%;
                  display: block;
                  padding: 10px 16px;
                  .createchannel_ico{
                      width: 20px;
                      height: 20px;
                      font-size: 12px;
                      color: #FF7B84;
                      overflow: hidden;
                      float: left;
                      margin-right: 8px;
                      img{
                          width: 100%;
                      }
                  }
              }
              ul.msg_name_list {
                  padding: 0px;
                  width: 100%;
                  li>ul{
                      padding:0px;
                  }
              }
              .msg_search_block li > ul {
                      padding: 3px 0px !important;
                      width: 90%;
                      margin: 0px auto;
                  img {
                      width: 14px !important;
                      float: left !important;
                      margin-top: 6px;
                  }
                  .form_group {
                    margin-bottom: 0px;
                    .form_input {
                          border-bottom: none;
                    }
                  }
                  .search_input {
                    width: 85%;
                  }
                  label {
                    font-size: 14px;
                    font-weight: bold;
                    text-align: left;
                  }
                  .form_input:focus ~ label, .form_input:valid ~ label {
                    display: none;
                  }
              }
              .channel-list-show{
                  width: 100%;
                  margin: 0px auto;
                  padding:8px 16px 8px;
                  float: left;
                  .channel-list-show_img{
                      width: 36px;
                      height: 36px;
                      border-radius:3px;
                      overflow: hidden;
                      float: left;
                      a{
                          padding:0px;
                          img{
                              width: 100%;
                          }
                      }
                  }
                  .channel-list-show_txt{
                      width: 133px;
                      padding:10px 0px;
                      margin: 0px 16px;
                      float: left;
                      p{
                          font-size: 12px;
                          color: $black;
                          font-weight: 600;
                      }
                  }
                  .channel-list-show_btn{
                      float: right;
                      padding-top: 5px;
                      .btn-normal {
                          color: $white;
                          background-color: $theme_gray;
                          border-color: $theme_gray;
                          &:focus {
                              color: $white;
                              background-color: $theme_red;
                              border-color: $theme_red;
                              outline: 0px !important;
                          }
                          &:hover {
                              color: $white;
                              background-color: $theme_red;
                              border-color: $theme_red;
                          }
                          &:active {
                              color: $white;
                              background-color: $theme_red;
                              border-color: $theme_red;
                              outline: 0px !important;
                              &:hover {
                                  color: $white;
                                  background-color: $theme_red;
                                  border-color: $theme_red;
                              }
                              &:focus {
                                  color: $white;
                                  background-color: $theme_red;
                                  border-color: $theme_red;
                              }
                          }
                      }
                  }
              }
              .o-create_channel{
                  width: 100%;
                  padding:16px 8px;
                  float: left;
                  .channel_title{
                      width: 100%;
                      .form_group{
                          .form_input {
                              font-size: 14px;
                              padding: 10px 10px 5px 0;
                              display: block;
                              width: 100%;
                              border: none;
                              color: #000;
                              border-bottom: 1px solid #c1c1c1;
                              font-weight: 700;
                          }
                          label {
                              color: #333333;
                              font-size: 14px;
                              font-weight: 600;
                              position: absolute;
                              pointer-events: none;
                              top: 10px;
                              transition: 0.2s ease all;
                              -moz-transition: 0.2s ease all;
                              -webkit-transition: 0.2s ease all;
                          }
                      }
                  }
                  .discussion_input {
                      width: 100%;
                      .form_group {
                          margin-bottom: 0px;
                          textarea {
                              width: 100%;
                              border: none;
                              color: #979797;
                              font-size: 18px;
                              outline: none;
                              &focus{
                                  outline: none;
                              }
                          }
                      }
                  }
                  .discussion_post {
                      .discussion_post_options {
                          float: left;
                          img {
                              width: 24px;
                              margin: 0 8px;
                          }
                      }
                  }
                  .discussion_post_topic {
                      width: 100%;
                      float: left;
                      .form_group {
                          margin-bottom: 0px;
                              textarea{
                                  height: 90px!important;
                                  &:focus{
                                      outline: none;
                                  }
                              }
                          .form-control {
                              box-shadow: none;
                              padding: 0 12px 0px 0px;
                              border: none;
                              border-bottom: 1px solid #C1C1C1;
                              border-radius: 0px;
                              height: 24px;
                              font-weight: 600;
                          }
                      }
                  }
                  .create_btn{
                      padding: 8px 0px;
                      float: left;
                      text-align: right;
                      width: 100%;
                  }
              }
          }
      }
      .add_media_inner{
          width: 1172px;
          min-height: 578px;
          padding-top:40px;
          background:#fff;
          border-radius:3px;
          display: flex;
          justify-content: center;
          flex-direction:column;
          text-align:center;
          .select_media_ico{
              img{
                  width: 150px;
                  height: 158px;
              }
          }
          .select_media_btn{
              padding-top:50px;
              .btn{
                  text-transform: uppercase;
              }
          }
          .select_media_info{
              padding:20px 0px 50px;
              p{
                  font-size: 18px;
                  font-weight: normal;
                  color: #979797;
              }
          }
          .select_media_format{
              p{
                  font-size: 12px;
                  font-weight: normal;
                  color: #979797;
              }
          }
      }
      .add_media_more_inner{
          width: 1172px;
          min-height: 578px;
          background:#fff;
          border-radius:3px;
          ul{
              list-style: none;
              padding-top:40px;
              padding-left:12px;
              li{
                  list-style-type: none;
                  margin: 0px 5px 16px;
                  display: inline-block;
                  .add_media_container{
                      width: 174px;
                      height: 174px;
                      overflow: hidden;
                      float: left;
                      position:relative;
                      border-radius:3px;
                      .add_media_delet{
                          display: none;
                          position: absolute;
                          top: 16px;
                          right: 16px;
                          width: 19px;
                          height: 19px;
                      }
                      &:hover{
                          .add_media_delet{
                              display: block;
                          }
                      }
                      .add_media_img{
                          width: 174px;
                          overflow: hidden;
                          .obj-fit-fill{
                              object-fit: fill
                          }
                      }
                      .add_media_type_ico{
                          position: absolute;
                          top: 16px;
                          left: 16px;
                          width: 24px;
                          height: 24px;
                      }
                  }
                  .add_media_plus{
                      width: 174px;
                      height: 174px;
                      overflow: hidden;
                      float: left;
                      border:2px #ccc solid;
                      display: flex;
                      justify-content: center;
                      flex-direction:column;
                      text-align:center;
                      border-radius:3px;
                      input{
                          width: 172px;
                          height: 172px;
                          opacity: 0;
                          display: block;
                          position: absolute;
                          z-index: 1;
                          cursor: pointer;
                      }
                      .add_media_plus_ico{
                          width:100%;
                          text-align: center;
                          img{
                              width: 40px;
                              height: 40px
                          }
                      }
                      .add_more_media{
                          width: 100%;
                          margin-top: 16px;
                          p{
                              color: #C1C1C1;
                              font-size: 14px;
                          }
                      }
                  }
              }
          }
          .add_media_info{
              border-left:1px rgba(102,45,145,0.1) solid;
              height: 578px;
              padding:none!important;
              overflow-y: scroll;
              overflow-x: hidden;
              ul{
                  list-style: none;
                  border-bottom:1px rgba(102,45,145,0.1) solid;
                  padding:32px;
                  li{
                      list-style-type:none;
                      margin: 0px;
                      width: 100%;
                      .form_group{
                          width: 100%;
                          label{
                              font-weight: 600;
                          }
                          textarea{
                              width: 100%;
                              border:none;
                              border-bottom:1px #C1C1C1 solid;
                              font-weight: 600;
                              color: #000;
                              &:focus{
                                  outline: none;
                              }
                          }
                      }
                      .form_group{
                          width: 100%;
                          margin-bottom: 24px;
                          label{
                              font-weight: 600;
                          }
                          .form-control{
                              box-shadow: none;
                              padding: 0 0px;
                              border: none;
                              border-bottom: 1px solid #C1C1C1;
                              border-radius: 0px;
                              height: 24px;
                              font-weight: 600;
                          }
                      }
                  }
              }
              ul.media_content_report{
                  list-style: none;
                  border-bottom:1px rgba(102,45,145,0.1) solid;
                  padding:16px 32px;
                  li{
                      list-style-type:none;
                      margin: 0px;
                      width: 100%;
                      .form_group{
                          width: 100%;
                          margin-bottom: 24px;
                          label{
                              font-weight: 600;
                          }
                          .form-control{
                              box-shadow: none;
                              padding: 0 0px;
                              border: none;
                              border-bottom: 1px solid #C1C1C1;
                              border-radius: 0px;
                              height: 24px;
                              font-weight: 600;
                          }
                      }
                      .ops_radio_sm label {
                          color: #979797;
                          font-size: 12px;
                          line-height: 17px;
                      }
                      .ops_radio_sm input[type="checkbox"] {
                          display: none;
                      }
                      .ops_radio_sm label {
                          position: static;
                          text-align: center;
                          pointer-events: auto;
                          font-weight: 600;
                          font-size: 12px;
                          color: #000;
                      }
                      .ops_radio_sm input[type="checkbox"] + span {
                          border: 2px solid #c1c1c1;
                          border-radius: 50px;
                          display: inline-block;
                          float: left;
                          margin-right: 7px;
                          position: relative;
                          -webkit-appearance: none;
                          width: 15px;
                          height: 15px;
                          margin-top: 1px;
                      }
                      .ops_radio_sm input[type="checkbox"]:checked + span:after {
                          background: #ff7b84;
                          position: absolute;
                          border-radius: 50px;
                          left: -2px;
                          top: -2px;
                          width: 15px;
                          height: 15px;
                          font-family: FontAwesome;
                          content: "\f10c";
                          color: #ffffff;
                          font-size: 12px;
                          padding-left: 1px;
                      }
                  }
              }
              .media_create_channel_container{
                  .media_create_channel{
                      border-bottom:1px rgba(102,45,145,0.1) solid;
                      a{
                          font-size:14px;
                          font-weight: 600;
                          padding:16px 16px;
                          color: #000;
                          display: block;
                          span{
                              width: 14px;
                              height: 7px;
                              float: right;
                              img{
                                  width: 100%;
                              }
                          }
                      }
                  }
                  #choose_channel_details{
                      height: 100%;
                      width: 100%;
                      background:#fff;
                      .add-post_choosechannel{
                          width: 100%;
                          padding: 16px 0px 0px;
                          height: 100%;
                          background: rgba(190, 190, 190, 0.1);
                          display: inline-block;
                      }
                      .createchannel{
                          font-size: 14px;
                          color: #FF7B84;
                          width: 100%;
                          display: block;
                          padding: 10px 16px;
                          .createchannel_ico{
                              width: 20px;
                              height: 20px;
                              font-size: 12px;
                              color: #FF7B84;
                              overflow: hidden;
                              float: left;
                              margin-right: 8px;
                              img{
                                  width: 100%;
                              }
                          }
                          .o-create_channel{
                              width: 100%;
                              padding:16px 8px;
                              float: left;
                              ul{
                                  border:none;
                                  li{
                                      float: left;
                                  }
                              }
                              .channel_title{
                                  width: 100%;
                                  .form_group{
                                      .form_input {
                                          font-size: 14px;
                                          padding: 10px 10px 5px 0;
                                          display: block;
                                          width: 100%;
                                          border: none;
                                          color: #000;
                                          border-bottom: 1px solid #c1c1c1;
                                          font-weight: 700;
                                      }
                                      label {
                                          color: #333333;
                                          font-size: 14px;
                                          font-weight: 600;
                                          position: absolute;
                                          pointer-events: none;
                                          top: 10px;
                                          transition: 0.2s ease all;
                                          -moz-transition: 0.2s ease all;
                                          -webkit-transition: 0.2s ease all;
                                      }
                                  }
                              }
                              .discussion_input {
                                  width: 100%;
                                  .form_group {
                                      margin-bottom: 0px;
                                      textarea {
                                          width: 100%;
                                          border: none;
                                          color: #979797;
                                          font-size: 18px;
                                          outline: none;
                                          &focus{
                                              outline: none;
                                          }
                                      }
                                  }
                              }
                              .discussion_post {
                                  .discussion_post_options {
                                      float: left;
                                      img {
                                          width: 24px;
                                          margin: 0 8px;
                                      }
                                  }
                              }
                              .discussion_post_topic {
                                  width: 100%;
                                  float: left;
                                  .form_group {
                                      margin-bottom: 0px;
                                          textarea{
                                              height: 90px!important;
                                              &:focus{
                                                  outline: none;
                                              }
                                          }
                                      .form-control {
                                          box-shadow: none;
                                          padding: 0 12px 0px 0px;
                                          border: none;
                                          border-bottom: 1px solid #C1C1C1;
                                          border-radius: 0px;
                                          height: 24px;
                                          font-weight: 600;
                                      }
                                  }
                              }
                              .create_btn{
                                  padding: 8px 0px;
                                  float: left;
                                  text-align: right;
                                  width: 100%;
                              }
                          }
                      }
                      .o-block_1{
                          padding:16px;
                          ul.msg_name_list {
                              padding: 0px;
                              li>ul{
                                  padding:0px;
                                  li{
                                      width: 10%;
                                  }
                              }
                          }
                      }
                      .msg_search_block li > ul {
                              padding: 3px 0px !important;
                              width: 100%;
                              margin: 0px auto;
                          img {
                              width: 14px !important;
                              float: left !important;
                              margin-top: 6px;
                          }
                          .form_group {
                              margin-bottom: 0px;
                              .form_input {
                                  border-bottom: none;
                                  background:none;
                              }
                          }
                          .search_input {
                              width: 85%!important;
                          }
                          label {
                              font-size: 14px;
                              font-weight: bold;
                              text-align: left;
                          }
                          .form_input:focus ~ label, .form_input:valid ~ label {
                              display: none;
                              background:none;
                          }
                      }
                      .channel-list-show{
                          width: 100%;
                          margin: 0px auto;
                          padding: 8px 0px 8px;
                          float: left;
                          .channel-list-show_img{
                              width: 49px;
                              height: 49px;
                              border-radius:3px;
                              overflow: hidden;
                              float: left;
                              a{
                                  padding:0px;
                                  img{
                                      width: 100%;
                                  }
                              }
                          }
                          .channel-list-show_txt{
                              width: 166px;
                              padding:10px 0px;
                              margin: 0px 16px;
                              float: left;
                              p{
                                  font-size: 14px;
                                  color: $black;
                                  font-weight: 600;
                              }
                          }
                          .channel-list-show_btn{
                              float: right;
                              padding-top: 5px;
                              .btn-normal {
                                  color: $white;
                                  background-color: $theme_gray;
                                  border-color: $theme_gray;
                                  &:focus {
                                      color: $white;
                                      background-color: $theme_red;
                                      border-color: $theme_red;
                                      outline: 0px !important;
                                  }
                                  &:hover {
                                      color: $white;
                                      background-color: $theme_red;
                                      border-color: $theme_red;
                                  }
                                  &:active {
                                      color: $white;
                                      background-color: $theme_red;
                                      border-color: $theme_red;
                                      outline: 0px !important;
                                      &:hover {
                                          color: $white;
                                          background-color: $theme_red;
                                          border-color: $theme_red;
                                      }
                                      &:focus {
                                          color: $white;
                                          background-color: $theme_red;
                                          border-color: $theme_red;
                                      }
                                  }
                              }
                          }
                      }
                      .o-create_channel{
                          width: 100%;
                          padding:16px 16px;
                          float: left;
                          ul{
                              padding:0px;
                              margin-top: 16px;
                              li.discussion_post_topic{
                                  width: 100%;
                                  float: left;
                                  .form_group {
                                      margin-bottom: 0px;
                                      .form-control {
                                          box-shadow: none;
                                          padding: 0 12px 0px 0px;
                                          border: none;
                                          border-bottom: 1px solid #C1C1C1;
                                          border-radius: 0px;
                                          height: 24px;
                                          font-weight: 600;
                                          background:none;
                                      }
                                  }
                              }
                              li.channel_title{
                                  width: 100%;
                                  .form_group{
                                      .form_input {
                                          font-size: 14px;
                                          padding: 10px 10px 5px 0;
                                          display: block;
                                          width: 100%;
                                          border: none;
                                          color: #000;
                                          border-bottom: 1px solid #c1c1c1;
                                          font-weight: 700;
                                          background:none;
                                      }
                                      label {
                                          color: #333333;
                                          font-size: 14px;
                                          font-weight: 600;
                                          position: absolute;
                                          pointer-events: none;
                                          top: 10px;
                                          transition: 0.2s ease all;
                                          -moz-transition: 0.2s ease all;
                                          -webkit-transition: 0.2s ease all;
                                      }
                                  }
                              }
                          }
                      }
                  }
                  .choose_channel_post_btn{
                      width: 100%;
                      text-align: right;
                      padding:16px;
                  }
              }
              ul.upload_cover{
                  list-style: none;
                  border-bottom:1px rgba(102,45,145,0.1) solid;
                  padding:32px;
                  li{
                      list-style-type:none;
                      margin: 0px;
                      width: 100%;
                      h3{
                          font-size: 14px;
                          color: #333333;
                          font-weight: 700;
                          margin-bottom: 24px;
                      }
                      .add_media_plus{
                          width: 100%;
                          height: 174px;
                          overflow: hidden;
                          float: left;
                          border:2px #ccc solid;
                          display: flex;
                          justify-content: center;
                          flex-direction:column;
                          text-align:center;
                          border-radius:3px;
                          input{
                              width: 100%;
                              height: 172px;
                              opacity: 0;
                              display: block;
                              position: absolute;
                              z-index: 1;
                              cursor: pointer;
                          }
                          .add_media_plus_ico{
                              width:100%;
                              text-align: center;
                              img{
                                  width: 28px;
                                  height: 28px
                              }
                          }
                          .add_more_media{
                              width: 100%;
                              margin-top: 16px;
                              p{
                                  color: #C1C1C1;
                                  font-size: 14px;
                              }
                          }
                      }
                  }
              }
              .upload_tumbnails{
                  list-style: none;
                  border-bottom:1px rgba(102,45,145,0.1) solid;
                  padding:32px;
                  li{
                      list-style-type:none;
                      margin: 0px;
                      width: 100%;
                      h3{
                          font-size: 14px;
                          color: #333333;
                          font-weight: 700;
                          margin-bottom: 8px;
                      }
                      ul{
                          list-style: none;
                          padding:0px;
                          border:none;
                          li{
                              list-style-type: none;
                              float: left;
                              margin: 16px 16px 16px 0px;
                              display: inline-block;
                              width: 140px;
                              .media_thumb_block{
                                  width: 140px;
                                  height: 100px;
                                  overflow: hidden;
                                  border-radius: 3px;
                                  .thumb_img{

                                  }
                              }
                              .add_media_plus{
                                  width: 100%;
                                  height: 100px;
                                  overflow: hidden;
                                  float: left;
                                  border:2px #ccc solid;
                                  display: flex;
                                  justify-content: center;
                                  flex-direction:column;
                                  text-align:center;
                                  border-radius:3px;
                                  input{
                                      width: 100%;
                                      height: 172px;
                                      opacity: 0;
                                      display: block;
                                      position: absolute;
                                      z-index: 1;
                                      cursor: pointer;
                                  }
                                  .add_media_plus_ico{
                                      width:100%;
                                      text-align: center;
                                      img{
                                          width: 28px;
                                          height: 28px
                                      }
                                  }
                                  .add_more_media{
                                      width: 100%;
                                      margin-top: 4px;
                                      p{
                                          color: #C1C1C1;
                                          font-size: 12px;
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }
          .blog_title{
              width: 100%;
              padding:32px;
              .form_group {
                  position: relative;
                  margin-bottom: 18px;
                  .form_input {
                      font-size: 14px;
                      padding: 10px 10px 5px 0px;
                      display: block;
                      width: 100%;
                      border: none;
                      color: #000000;
                      border-bottom: 1px solid #c1c1c1;
                  }
                  label {
                      color: #333333;
                      font-size: 18px;
                      font-weight: normal;
                      position: absolute;
                      pointer-events: none;
                      //top: 10px;
                      transition: 0.2s ease all;
                      -moz-transition: 0.2s ease all;
                      -webkit-transition: 0.2s ease all;
                  }
              }
          }
          .media_icons_list_block{
              width: 216px;
              margin: 0px auto;
              .add_blog_img{
                  width:32px;
                  height: 32px;
                  margin: 0px auto;
                  img{
                      width: 100%;
                  }
              }
              .media_icons_list{
                  width: 216px;
                  background:#fff;
                  padding:0px;
                  margin:0px;
                  border:none;
                  position:relative;
                  top:15px;
                  &:before{
                      position: absolute;
                      content: ' ';
                      width: 0;
                      height: 0;
                      border-style: solid;
                      border-width: 0 10px 10px 10px;
                      border-color: transparent transparent #fff transparent;
                      top: -10;
                      left: 45%;
                  }
                  li{
                      display: inline-block;
                      width: 24px;
                      margin: 13px;
                      a{
                          width: 24px;
                          height: 24px;
                          margin: 0px;
                          overflow: hidden;
                          padding:0px;
                          img{
                              width: 100%;
                          }
                      }
                  }
              }
          }
      }
  }
}

.add_media_container.selected {
  opacity: 0.85;
  border: solid 1px #9BBEB3;
}


.channel-list-show_btn.sel .btn-sm {
  background-color: green;
  border: solid 1px green;
}


.add_media_inner {
  text-align: center;
}

.file__editor {
  position: relative;
}

.post__top {
  background-color: #fff;
  padding: 24px;
  border-bottom: solid 1px #eee;
  // margin-bottom: 16px;
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.post__options {
  width: 100%;
  float: none;
  text-align: left;
  @include clearfix();
}

.btn-saveUpload {
  border: none;
  background-color: #ff7b84;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  pointer-events: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn-saveUpload--lite {
  @extend .btn-saveUpload;
  border: none;
  background-color: #fff;
  border: solid 1px  #ff7b84;
  color: #ff7b84;
}

.form__item {
  position: relative;
}

.form__group {
  overflow: auto;
}

.options {
  position: relative;
  padding-top: 0;
  vertical-align: middle;
  input {
    display: inline-block;
    margin-right: 16px;
    padding: 0;
    vertical-align: top;
  }
}

.media__video,
.media__audio{
  max-width: 240px;
}

.add_media_info {
  padding-top: 0;
}

.file__add {
  position: relative;
  width: 174px;
  height: 174px;
  border: 2px #ccc solid;
  border-radius: 2px;
  vertical-align: top;
  .upload-button {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    font-weight: normal;
    color: #C1C1C1;
    font-size: 14px;
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      background-image: url(http://d33wubrfki0l68.cloudfront.net/b2db74eef243b31664217b57fa83bfb74e5c8105/fec5e/img/svg/ico_add-grey.svg);
      display: inline-block;
      text-align: center;
      position: absolute;
      left: 40%;
      top: 33%;
    }
  }
}


.add_media_inner.is__filled {
  opacity: 0;
}

.channel__holder {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px #e1e1e1;
}

#choose_channel_details {
  background-color: #eee;
}

.bg__dim{
  background-color: #eee;
}

.text-upppercase {
    text-transform: uppercase;
}

.float-right {
    float: right;
}