<app-navigation></app-navigation>

<section class="o-org-hero">
  <div class="container">
    <div class="col-md-6">
      <div class="o-hero__head-container">
        <div class="o-hero-logo">
          <img class="o-logo__img" src="https://ops-v2-2.netlify.com/assets/logo_white.svg" alt="">
        </div>
        <div class="o-hero-head-title">
          <h3 class="c-h3 o-head--title">Organisation</h3>
        </div>
      </div>
      <div class="o-hero__content-container">
        <h2 class="c-h2 o-hero-content__title">Create an organisation</h2>
        <p class="c-text_md-light o-hero-content__det">
          Connect your organisation to the One Page Spotlight community. Highlight your brand. Exhibit your products and services. Reach out to a wide customer pool.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="o-hero">
        <img class="o-hero__img" src="{{ imageBaseLink }}img/organization/hero.png" alt="">
      </div>
    </div>
  </div>
</section><!-- hero end -->

<section class="o-org-container">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 o-org-content-block">
        <h3 class="c-h3 o-org__create-head">Create an organisation</h3>
        <div class="o-org-reg-block">
          <form [formGroup]="orgReg" novalidate (ngSubmit) = "submitForm(orgReg.value)"  #orgForm="ngForm">
            <div class="c-form__group">
              <input class="c-form__input" required="" type="text" formControlName="org_name" placeholder="Name of the organisation">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <!-- <label>Name of the organisation</label> -->
              <p class="c-form__validation" *ngIf="orgReg.controls['org_name'].errors?.required && orgForm.submitted">Name of the organisation is required</p>
            </div>
            <div class="c-form__group">
              <input class="c-form__input" required="" type="text" formControlName="org_username" placeholder="Username">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <!-- <label>Username</label> -->
              <p class="c-form__validation" *ngIf="orgReg.controls['org_username'].errors?.whitespace || orgReg.controls['org_username'].errors?.capitalLetters || orgReg.controls['org_username'].errors?.specialChars">Capital letters, spaces and special characters are not allowed</p>
              <!-- <p class="c-form__validation" *ngIf="orgReg.controls['org_username'].errors?.whitespace">White spaces are not allowed</p>
              <p class="c-form__validation" *ngIf="orgReg.controls['org_username'].errors?.capitalLetters">Capital letters are not allowed</p> -->
              <p class="c-form__validation" *ngIf="orgReg.controls['org_username'].errors?.required && orgForm.submitted">Username is required</p>
              <p class="c-form__validation" *ngIf="orgReg.controls['org_username'].errors?.isUsernameUnique || orgState?.user_unique">This username is already taken</p>
              <p class="c-form__validation" *ngIf="orgReg.controls['org_username'].errors?.invalidLength">Username length limit is 3 to 15 characters</p>
              <ul class="username_error" *ngIf="orgState?.user_unique">
                <!-- <li *ngFor="let username of orgState?.user_exist; let isLast=last">
                  <span title="{{username}}" class="suggestions" (click)="useThisUsername(username)">{{username}}{{isLast ? '' : ',&nbsp;'}}</span>
                </li> -->
              </ul>
            </div>
            <h6 class="c-text_md o-org--type">Select organisation type</h6>
            <div class="o-org-reg__choose">
              <select class="c-form-control p-0" formControlName="org_type">
                <option value="">Select</option>
                <option value="Education - University /  Academy /  School / College" >Education - University /  Academy /  School / College</option>
                <option value="Non Profit / Foundation">Non Profit / Foundation</option>
                <option value="Museum / Gallery / Libraries">Museum / Gallery / Libraries</option>
                <option value="Theatre / Venue / Stadium">Theatre / Venue / Stadium</option>
                <option value="Studio / Fitness Centre">Studio / Fitness Centre</option>
                <option value="Production House / Play Production">Production House / Play Production</option>
                <option value="Band / Artist Group">Band / Artist Group</option>
                <option value="Club / Association / Union">Club / Association / Union</option>
                <option value="Media / Broadcasting">Media / Broadcasting</option>
                <option value="Brands / Business / Retailer">Brands / Business / Retailer</option>
                <option value="Internet - Online Market Place / Social Media">Internet - Online Market Place / Social Media</option>
                <option value="Location / Landmark">Location / Landmark</option>
                <option value="Festivals / Awards">Festivals / Awards</option>
                <option value="Research & Developement / Science / Technology">Research &amp; Developement / Science / Technology</option>
                <option value="Corporate / Industrial Company">Corporate / Industrial Company</option>
                <option value="Others">Others</option>
              </select>
              <p class="c-form__validation" *ngIf="orgReg.controls['org_type'].errors?.required && orgForm.submitted">Type of organisation is required</p>
            </div>
            <h6 class="c-text_md o-org--type">Select organisation type</h6>
            <div class="c-form__group margin_b_32 m-t-0">
              <select class="c-form-control p-0" formControlName="org_industry_type">
                  <option value="">Select</option>
                  <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
              </select>
              <!-- <label>Select organisation industry</label> -->
              <p class="c-form__validation" *ngIf="orgReg.controls['org_industry_type'].errors?.required && orgForm.submitted">Type of industry is required</p>
            </div>
            <div class="c-form__group margin_b_32">
              <input class="c-form__input" required="" type="text" formControlName="org_service" [placeholder]="'Add services'">
              <!-- <tag-input formControlName="org_service" [placeholder]="'Add Services'"></tag-input> -->
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <!-- <label>Add your skills</label> -->
              <div class="eg">Eg:UI Design, UX Design, Branding</div>
              <p class="c-form__validation" *ngIf="orgReg.controls['org_service'].errors?.required && orgForm.submitted">Services are required</p>
            </div>
            <div class="c-form__group margin_b_32">
              <input class="c-form__input" required="" placeholder="Location" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" #search formControlName="org_location">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <!-- <label>Location</label> -->
              <p class="c-form__validation" *ngIf="orgReg.controls['org_location'].errors?.required && orgForm.submitted">Location is required</p>
            </div>
            <div class="create-btn">
               <button *ngIf="!uploadingData" [className]="'btn btn-primary btn-md'" type="submit">Create</button>
            </div>
            <!-- preloader -->
            <div *ngIf="uploadingData">
              <div class="sticky">
                  <div class="loader">Loading...</div>
              </div>
            </div>
            <!-- preloader -->
          </form>
        </div>
      </div>
  </div>
</section>