<section class="o-org-hero">
  <div class="container">
    <div class="col-md-6">
      <div class="o-hero__head-container">
        <div class="o-hero-logo">
          <img class="o-logo__img" src="/assets/img/logo_white.svg" alt="">
        </div>
        <div class="o-hero-head-title">
          <h3 class="c-h3 o-head--title">Organization</h3>
        </div>
      </div>
      <div class="o-hero__content-container">
        <h2 class="c-h2 o-hero-content__title">Lorem ipsum dolor</h2>
        <p class="c-text_md-light o-hero-content__det">
          Internal motivation in performing a task occurs when the task in itself is experienced as rewarding and there is no need for any external reward before it is performed. Examples are love of the task, self-satisfaction, sense of achievement and relaxation.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="o-hero">
        <img class="o-hero__img" src="/assets/img/organization/hero.png" alt="">
      </div>
    </div>
  </div>
</section><!-- hero end -->

<section class="o-org-container">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 o-org-content-block">
        <h3 class="c-h3 o-org__create-head">Create Organization</h3>
        <div class="o-org-reg-block">
          <form [formGroup]="orgReg" novalidate (ngSubmit) = "submitForm(orgReg.value)"  #orgForm="ngForm">
            <div class="c-form__group">
              <input class="c-form__input" required="" type="text" formControlName="org_name">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <label>Name of organization</label>
              <p class="error_alert" *ngIf="orgReg.controls['org_name'].errors?.required && orgForm.submitted">Name of organization is required</p>
            </div>
            <div class="c-form__group">
              <input class="c-form__input" required="" type="text" formControlName="org_username">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <label>Username</label>
              <p class="error_alert" *ngIf="orgReg.controls['org_username'].errors?.required && orgForm.submitted">Username is required</p>
              <p class="error_alert" *ngIf="orgReg.controls['org_username'].errors?.isUsernameUnique">This username is already taken</p>
            </div>
            <h6 class="c-text_md o-org--type">Choose organization type</h6>
            <div class="o-org-reg__choose">
              <select class="c-form-control p-0" formControlName="org_type">
                <option [selected]="true" value="Education - University /  Academy /  School / College" >Education - University /  Academy /  School / College</option>
                <option value="Non Profit / Foundation">Non Profit / Foundation</option>
                <option value="Museum / Gallery / Libraries">Museum / Gallery / Libraries</option>
                <option value="Theatre / Venue / Stadium">Theatre / Venue / Stadium</option>
                <option value="Studio / Fitness Centre">Studio / Fitness Centre</option>
                <option value="Production House / Play Production">Production House / Play Production</option>
                <option value="Band / Artist Group">Band / Artist Group</option>
                <option value="Club / Association / Union">Club / Association / Union</option>
                <option value="Media / Broadcasting">Media / Broadcasting</option>
                <option value="Brands / Business / Retailer">Brands / Business / Retailer</option>
                <option value="Internet - Online Market Place / Social Media">Internet - Online Market Place / Social Media</option>
                <option value="Location / Landmark">Location / Landmark</option>
                <option value="Festivals / Awards">Festivals / Awards</option>
                <option value="Research & Developement / Science / Technology">Research &amp; Developement / Science / Technology</option>
                <option value="Corporate / Industrial Company">Corporate / Industrial Company</option>
                <option value="Others">Others</option>
              </select>
              <p class="error_alert" *ngIf="orgReg.controls['org_type'].errors?.required && orgForm.submitted">Type of organization is required</p>
            </div>
            <h6 class="c-text_md o-org--type">Select organization industry</h6>
            <div class="c-form__group margin_b_32">
              <select class="c-form-control p-0" formControlName="org_industry_type">
                  <option *ngFor="let industry of industries" [value]="industry.code" >{{ industry.name }}</option>
              </select>
              <!-- <label>Select organization industry</label> -->
              <p class="error_alert" *ngIf="orgReg.controls['org_industry_type'].errors?.required && orgForm.submitted">Type of industry is required</p>
            </div>
            <div class="c-form__group margin_b_32">
              <input class="c-form__input" required="" type="text" formControlName="org_service">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <label>Add your skills</label>
              <div class="eg">eg:UI Design, UX Design, Branding</div>
              <p class="error_alert" *ngIf="orgReg.controls['org_service'].errors?.required && orgForm.submitted">Services are required</p>
            </div>
            <div class="c-form__group margin_b_32">
              <input class="c-form__input" required="" placeholder="" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" #search formControlName="org_location">
              <span class="c-form__highlight"></span>
              <span class="c-form__bar"></span>
              <label>Location</label>
              <p class="error_alert" *ngIf="orgReg.controls['org_location'].errors?.required && orgForm.submitted">Location is required</p>
            </div>
            <div class="create-btn">
               <button [className]="'btn btn-primary btn-md'" type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</section>