<div class="temp">
  <div class="container">
    <h5>Coming soon</h5>
  </div>
</div>
<div class="blog__editor row" *ngIf="isActive === true">
  <div class="col-md-8" >
    <div class="BlogAdd">
      <div class="BlogAdd--title">
          <div class="form_group">
              <input id="title" class="form_input" required="" type="text">
              <label>Title</label>
          </div>
      </div>
      <!-- <app-medium-editor ngModel name="content" class="BlogAdd--body editable" #content="ngModel" [config]="getConfig()"></app-medium-editor> -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="add_media_info padding_none c-sidebar--right">
      <form>
        <ul class="media_info u-pad--full">
            <li>
                <div class="form_group">
                    <input class="form_input" required="" type="text">
                    <span class="form_highlight"></span>
                    <span class="form_bar"></span>
                    <label>Tags</label>
                </div>
            </li>
        </ul>
        <ul class="upload_cover u-pad--full">
            <li>
                <h3>Upload Cover</h3></li>
            <li>
                <div class="add_media_plus">
                    <input type="file" name="photo" id="upload-photo">
                    <div class="add_media_plus_ico">
                        <img width="28" height="28" src="http://d33wubrfki0l68.cloudfront.net/b2db74eef243b31664217b57fa83bfb74e5c8105/fec5e/img/svg/ico_add-grey.svg" alt="">
                    </div>
                    <div class="add_more_media">
                        <p>Upload Cover</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="media_content_report u-pad--full">
            <li>
                <div class="form_group">
                    <select class="form-control form__select" id="sel1">
                        <option>Public</option>
                        <option>Private</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="form_group">
                    <select class="form-control form__select" id="sel1">
                        <option>Copyright and License type</option>
                        <option>CC: Attribution Share Alike</option>
                        <option>CC: Attribution Non-Derivative</option>
                        <option>CC: Attribution-NonCommercial</option>
                        <option>CC: Attribution-NonCommercial-ShareAlike</option>
                        <option>CC: Attribution-NonCommercial-NoDerivs No License</option>
                    </select>
                </div>
            </li>
            <li class="ops_radio_sm">
                <div class="form_group ops_radio_sm">
                    <label>
                        <label class="gender_single">
                            <input type="checkbox" name="demo"><span></span>This media contain adult content
                        </label>
                    </label>
                </div>
            </li>
        </ul>
        <div class="media_create_channel_container">
            <div id="choose_channel_details" style="display: none;">
                <app-channel-selector (onSelection)="onChannelSelection($event)" [userChannels]="userChannels"></app-channel-selector>
                <div class="choose_channel_post_btn">
                    <button type="button" class="btn btn-primary btn-sm">Post</button>
                </div>
            </div>
          </div>
      </form>

    </div>
  </div>
</div>
