<section class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-6 p-0">
        <ul class="f-menu">
            <li class="f-menu__list"><a class="f-menu__link">Help</a></li>
            <li class="f-menu__list"><a class="f-menu__link" routerLink="/about">About</a></li>
            <li class="f-menu__list"><a class="f-menu__link" routerLink="/terms">Terms</a></li>
            <li class="f-menu__list"><a class="f-menu__link" routerLink="/privacy-policy">Privacy Policy</a></li>
            <li class="f-menu__list"><a class="f-menu__link">Blog</a></li>
            
        </ul>                    
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 p-0">
        <p class="f-copy-txt">One Page Spotlight © 2017 - 18</p>
    </div>
  </div>
</section>
