<div class="c-card">
  <div class="c-search-industry">
    <div class="c-search-industry__img">
      <img src="assets/demo/new/l05.jpg">
    </div>
    <div class="c-search-industry__info">
      <div class="c-text_lg f-w_600">Photography</div>
      <p class="c-search-industry__info-txt">
        France 3 Picardie is one France 3's regional services, broadcasting to people in the Picardy region. France 3
        Picardie is headquartered in Amiens. France 3 Picardie produces news programs and other content. The channel
        was founded in 1950 as RTF Télé-Lillee
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
