<section class="o-org-cover">
    <div class="o-org-cover__img">
        <img width="100%" src="{{ baseUrl + orgProfile?.organization_details?.coverImage }}" alt="">
    </div>
    <div class="o-org-cover__edit p-t-16">
        <div class="container p-0">
            <!-- <button type="button" class="btn btn-primary btn-sm btn-inverse" routerLink="/org/page/about/cover-image"> -->
            <button type="button" class="btn btn-primary btn-sm btn-inverse" routerLink="/org/page/about/cover-image">
                <span class="o-org-prof-edit-ico m-r-5">
                </span> CHANGE COVER
            </button>
        </div>
    </div>
</section>
<!-- cover end -->
<section class="o-org-prof-block">
    <div class="container">
        <div class="o-org-prof-det">
            <div class="o-org-prof__img">
                <div class="o-org-prof__media">
                    <img width="100%;" height="100%" src="{{ baseUrl + orgProfile?.organization_details?.profileImage }}" alt="">
                </div>
                <div class="o-org-prof__btn">
                    <button type="button" class="btn btn-primary btn-sm btn-inverse" routerLink="/org/page/about/profile-image">
                        <span class="o-org-prof-edit-ico m-r-5">
                        </span> Change Picture
                    </button>
                </div>
            </div>
            <div class="o-org-prof__name c-profile__username">
                <h3 class="c-h3 o-org-prof--white">{{ orgProfile?.organization_details?.name }}
                    <span class="org-label-ico"><img width="24" src="{{ baseUrl }}img/svg/Organization.svg" alt=""></span>
                </h3>
                <span class="c-text_md o-org-prof--white">@{{ orgProfile?.organization_details?.extra?.username }}</span>
                <span class="c-text_md o-org-prof--white margin_l_16">{{ orgProfile?.organization_details?.accountType?.name }}</span>
            </div>
            <div class="o-org-prof__account-det">
                <div class="col-md-6 padding_none">
                    <!-- <div class="o-org-account-stat">
                        <span class="c-text_lg-bold c-text-semibold">
                            {{ orgProfile?.organization_details?.followersCount }}
                        </span>
                        <span class="c-text_sm color-grey-dark">
                            Followers
                        </span>
                    </div>
                    <div class="o-org-account-stat">
                        <span class="c-text_lg-bold c-text-semibold">
                            {{ orgProfile?.organization_details?.followingCount }}
                        </span>
                        <span class="c-text_sm color-grey-dark">
                            Following
                        </span>
                    </div>
                    <div class="o-org-account-stat">
                        <span class="c-text_lg-bold c-text-semibold">
                            {{ orgProfile?.organization_details?.extra?.spotsCount }}
                        </span>
                        <span class="c-text_sm color-grey-dark">
                            Spots
                        </span>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- org prof det -->
    </div>
</section>
<!-- org prof end -->
<router-outlet></router-outlet>