$theme_red: 		#ff7b84;
$theme_black:		#333333;
$theme_gray:	 	#c1c1c1;
$white: 			#ffffff;
$black:				#000000;
$light_violet: 		rgba(29, 9, 45, 0.66);
$dark_violet: 		rgba(30, 11, 43, 0.76);
$theme_gradient:	linear-gradient(143deg, #ffe7e7, #ff7b84);
$theme_gradient2:	-webkit-linear-gradient(143deg, #ff7b84, #ffe7e7);

$theme_red_dark:  	#f0616b;
$black_color: 		#000000;
$basic_color : 		#5c5b5b;
$gray_color:		#e5e5e5;


$desktop_lg: 	1200px;
$desktop_sm: 	992px;
$tablet:		768px;
$mobile_lg: 	480px;
$mobile_sm: 	320px;
